<div class="login p-fixed d-flex text-center bg-primary" ng-controller="AdminController as vm">
    <div class="container-fluid">
        <div class="row col-sm-12">
            <div class="login-card card-block auth-body">
                <div class="div-form">
                    <form class="md-float-material" ng-submit="vm.loginAdmin()" data-toggle="validator" role="form">
                        <div class="text-center">
                            <img src="../../images/externe/logo-footer.png" alt="Theme-Logo">
                        </div>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left txt-primary">Administration</h3>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="vm.user.login" placeholder="Email"
                                    required>
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" ng-model="vm.user.password" placeholder="Mot de passe"
                                    required>
                                <span class="md-line"></span>
                            </div>
                            <div ng-if="vm.loginError">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{vm.loginError}}
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" ng-click="vm.loginAdmin()" class="btn btn-primary btn-md btn-block  text-center m-b-20">Connexion</button>
                                </div>
                            </div>
                            <% if ( !_.isUndefined(success) ) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <%= success %>
                            </div>
                            <% } %>
                            <% if ( !_.isUndefined(error) ) { %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%= error %>
                            </div>
                            <% } %>
                            <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                                <a href="javascript:void(0)" class="learn-more toggle-form"> Mot de passe oublié?</a>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Merci pour votre visite sur notre site.</p>
                                    <p class="text-inverse text-left"><b>Votre équipe d'authentification</b></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="div-form" style="display: none;">
                    <form class="steps-form" ng-submit="vm.getResetPassword()" data-toggle="validator" role="form">
                        <div class="text-center">
                            <img src="../../images/externe/logo-footer.png" alt="Theme-Logo">
                        </div>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left txt-primary">Administration</h3>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" ng-model="vm.user.resetemail"
                                    placeholder="EMAIL" required>
                                <span class="md-line"></span>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-md btn-block text-center">Envoyer</button><br>
                                <a href="javascript:void(0)" class="learn-more toggle-form">Connexion ?</a>
                            </div>
                            <div ng-if="vm.resetSuccess">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{vm.resetSuccess}}
                                </div>
                            </div>
                            <div ng-if="vm.resetError">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{vm.resetError}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Merci pour votre visite sur notre site.</p>
                                    <p class="text-inverse text-left"><b>Votre équipe d'authentification</b></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>