<%- partial('../../partials/header-page', {'title': 'QUI SOMMES NOUS ?'}); %>
<div class="content-section">
	<div class="container">
		<div class="text-justify">
			<h2 class="title-section color-blue">À PROPOS</h2>
			<div class="row m-b-50">
				<div class="col-lg-6">
					<p class="l-height-30">VETOPTIM est
						<span class="bold">exclusivement dédié aux vétérinaires.</span> Nos garanties sont élaborées pour répondre aux
						besoins spécifiques de
						votre métier.</p>
					<p>Imaginé avec et pour les vétérinaires, VETOPTIM, ce sont des interlocuteurs qui connaissent
						<span class="bold">vraiment</span> votre activité, vos contraintes, et qui vous accompagnent efficacement.</p>
					<p>Nous couvrons tous vos besoins, qu'ils soient
						<span class="bold">professionnels</span> ou
						<span class="bold">personnels</span> afin de vous assurer une sérénité totale au quotidien.</p>
					<p>Tout est prévu pour vous
						<span class="bold">faire gagner du temps :</span> souscription en ligne, conditions simplifiées, espace personnel
						pour gérer vos contrats...</p>
					<p>
						<span class="bold">Nous sommes courtiers :</span> nous cherchons et co-construisons les produits qui seront
						<span class="bold">parfaitement adaptés</span> aux vétérinaires, et
						<span class="bold">au meilleur prix</span>.</p>
				</div>
				<div class="col-lg-6">
					<img src="images/externe/apropos.jpg" class="img-fluid">
				</div>
			</div>
			<h2 class="title-section color-blue m-t-50">NOTRE MÉTIER</h2>
			<div class="row flex-column-reverse flex-lg-row m-b-50">
				<div class="col-lg-6">
					<img src="images/externe/metier.jpg" class="img-fluid">
				</div>
				<div class="col-lg-6">
					<div class="content-table">
						<div class="content-vertical">
							<ul class="metier-liste">
								<li>Nous couvrons tous vos besoins professionnels et personnels en matière d’assurances : un seul partenaire
									pour
									assurer
									votre protection financière (assurance, placement, crédit et service) !</li>
								<li>Nous vous conseillons et nous suivons l’évolution de vos besoins</li>
								<li>Nous vous informons régulièrement sur vos risques, les évolutions règlementaires, les nouveautés, les
									outils
									…</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- <h2 class="title-section color-blue m-t-50">POLITIQUE DE PARTENARIAT</h2>
			<div class="row m-b-50">
				<div class="col-lg-6">
					<p class="l-height-30">Notre partenariat avec l’association OGV nous permet d’être à l’écoute des avis des
						vétérinaires pour rechercher la
						meilleure solutions à vos besoins actuels et futurs.</p>
					<ul class="metier-liste">
						<li class="bold">100 % des membres vétérinaires ou directement liés à la profession</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-8 offset-lg-1 offset-md-3 offset-sm-2 text-center">
					<img src="images/externe/ogv.jpg" class="img-fluid">
				</div>
			</div> -->
		</div>
		<div class="section-dirigeants-carousel m-t-50 m-b-50">
			<h2 class="title-section color-blue">LES DIRIGEANTS VETOPTIM</h2>
			<div class="dirigeants-carousel owl-carousel owl-theme">
				<div class="item">
					<div class="row row-eq-height">
						<div class="col-md-4">
							<div class="section-image vertical">
								<div class="content">
									<img src="images/externe/user1.png">
									<h3 class="title">Christophe RIGAUD</h3>
									<p class="job">50 ans, Directeur & Associé</p>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="section-description vertical">
								<div class="content">
									<h4 class="title">Parcours:</h4>
									<ul>
										<li>
											<p>6 ans comme directeur France d’une branche de laboratoire pharmaceutique vétérinaire dont le leader
												Mondial, ZOETIS.</p>
										</li>
										<li>
											<p>18 ans d’expérience de management commercial de force de vente sur le marché vétérinaire, dont 5 ans chez
												le leader Français MERIAL.</p>
										</li>
										<li>
											<p>27 ans d’expérience au contact des vétérinaires sur l’ensemble du territoire national.</p>
										</li>
										<li>
											<p>Formation et expérience dans la comptabilité, la banque et l’assurance.</p>
										</li>
									</ul>
									<h4 class="title">Atouts:</h4>
									<ul>
										<li>
											<p>Connaissance du milieu vétérinaire, des clients, de leurs problématiques, des organisations, des
												instances représentatives (ordre, syndicat, centrale d’achat, CARPV, GIE etc..).</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row row-eq-height">
						<div class="col-md-4">
							<div class="section-image vertical">
								<div class="content">
									<img src="images/externe/user2.png">
									<h3 class="title">Radouane FAR</h3>
									<p class="job">45 ans, Actionnaire</p>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="section-description vertical">
								<div class="content">
									<h4 class="title">Parcours:</h4>
									<ul>
										<li>
											<p>25 ans d'expérience (marchés des particuliers, professionnels, entreprises toutes branches)</p>
										</li>
										<li>
											<p>Formation Master Assurance & Banque</p>
										</li>
									</ul>
									<h4 class="title">Atouts:</h4>
									<ul>
										<li>
											<p>Maitrise de la Protection Financière et des offres d’assurances (mono et groupement). Création de marque
												blanche</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row row-eq-height">
						<div class="col-md-4">
							<div class="section-image vertical">
								<div class="content">
									<img src="images/externe/user3.png">
									<h3 class="title">Nicolas Grégoire</h3>
									<p class="job">52 ans, Associé</p>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="section-description vertical">
								<div class="content">
									<h4 class="title">Parcours:</h4>
									<ul>
										<li>
											<p>Président et créateur de l’agence Colicoba, agence de communication spécialisée dans l’entertainment.
												<a href="http://www.agence-colicoba.com/" target="_blank">http://www.agence-colicoba.com/</a>
											</p>
										</li>
										<li>
											<p>32 ans d’expérience dans le monde de la communication et de la publicité</p>
										</li>
									</ul>
									<h4 class="title">Atouts:</h4>
									<ul>
										<li>
											<p>Gestionnaire et créateur d’entreprises, spécialiste du lancement de produit depuis plus de 20 ans ;
												maîtrise complète de la création de marque et de la communication globale B2B et B2C</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- partial('../../components/avantages-vetoptim'); %>
		<div class="m-b-50"></div>
		<%- partial('../../components/domaines-interventions'); %>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>