<%- partial('../../partials/header-page', {'title': 'Association OGV ?'}); %>
<div class="content-section">
	<div class="container">
		<h2 class="title-section color-blue">A PROPOS OGV</h2>
		<div class="row m-b-50">
			<div class="col-lg-6">
				<h3 class="form-title">VETOPTIM CONÇOIT ET OPTIMISE SES GARANTIES EN PARTENARIAT AVEC L'ASSOCIATION OGV</h3>
				<p class="l-height-30">L'association pour l'optimisation des garanties de la profession vétérinaire, dont les
					membres sont vétérinaires ou affiliés à la profession, a pour objet de recueillir les besoins spécifiques des
					vétérinaires et de faire évoluer les garanties en fonction des risques liés au métier.</p>
			</div>
			<div class="col-lg-6 text-center">
				<img src="images/externe/ogv.jpg" class="img-fluid" style="width:60%;">
			</div>
		</div>
		<div class="row flex-column-reverse flex-lg-row m-b-50">
			<div class="col-lg-6">
				<img src="images/externe/ogv-image.jpg" class="img-fluid">
			</div>
			<div class="col-lg-6">
				<div class="content-table">
					<div class="content-vertical">
						<p class="l-height-30">Elle permet également à ses adhérents de pouvoir bénéficier
							individuellement, des avantages d'un contrat collectif.</p>
						<ul class="metier-liste">
							<li>100 % des membres vétérinaires ou directement liés à la profession</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<%- partial('../../components/avantages-vetoptim'); %>
	</div>
</div>