<%- partial('../../partials/header-page', {'title': 'CONTACTEZ- NOUS'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div>
					<h3 class="title-section-small color-blue">Par Mail</h3>
				</div>
				<form ng-submit="vm.saveContact()" class="steps-form" data-toggle="validator" role="form" name="contactForm">
					<div class="form-group">
						<div class="inline-group">
							<label>VOUS ÊTES CLIENT VETOPTIM<span class="required">*</span></label>
							<div class="inline-div">
								<div class="form-check form-check-inline">
									<label class="label-radio">
										<input type="radio" name="client" ng-model="vm.customer" value="oui" ng-checked="vm.customer === true"
										 required />
										OUI
										<div class="radio"></div>
									</label>
								</div>
								<div class="form-check form-check-inline">
									<label class="label-radio">
										<input type="radio" name="client" ng-model="vm.customer" value="non" ng-checked="vm.customer === false" />
										NON
										<div class="radio"></div>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="inline-group">
							<label>NOM<span class="required">*</span></label>
							<div class="inline-div">
								<input type="text" name="lastname" ng-model="vm.lastname" ng-value="vm.lastname" pattern="^[a-zA-Z ]*$" class="form-control"
								 placeholder="NOM" required>
							</div>
						</div>
						<div class="help-block with-errors text-right"></div>
					</div>
					<div class="form-group">
						<div class="inline-group">
							<label>PRÉNOM<span class="required">*</span></label>
							<div class="inline-div">
								<input type="text" name="firstname" ng-model="vm.firstname" ng-value="vm.firstname" pattern="^[a-zA-Z ]*$"
								 class="form-control" placeholder="PRÉNOM" required>
							</div>
						</div>
						<div class="help-block with-errors text-right"></div>
					</div>
					<div class="form-group">
						<div class="inline-group">
							<label>MOBILE<span class="required">*</span></label>
							<div class="inline-div">
								<input type="text" name="mobile" ng-model="vm.mobile" ng-value="vm.mobile" minlength="10" maxlength="15"
								 pattern="^[0-9 +]+$" class="form-control" placeholder="MOBILE" required>
							</div>
						</div>
						<div class="help-block with-errors text-right"></div>
					</div>
					<div class="form-group">
						<div class="inline-group m-b-20">
							<label>EMAIL<span class="required">*</span></label>
							<div class="inline-div">
								<input type="email" name="email" ng-model="vm.contactEmail" ng-value="vm.contactEmail" class="form-control"
								 placeholder="EMAIL" required>
							</div>
						</div>
						<div class="help-block with-errors text-right"></div>
					</div>
					<div class="form-group">
						<div class="inline-group">
							<label>OBJET<span class="required">*</span>
							</label>
							<div class="inline-div">
								<select ng-model="vm.objet" class="form-control" required>
									<option class="d-none" value="">OBJET</option>
									<option value="Demande de devis">Demande de devis</option>
									<option value="Demande de Renseignement">Demande de Renseignement</option>
									<option value="Déclarer un sinistre">Déclarer un sinistre</option>
									<option value="Prendre un RDV avec un conseiller">Prendre un RDV avec un conseiller</option>
									<option value="Demande d’audit d’assurance">Demande d’audit d’assurance</option>
									<option value="Autre">Autre</option>
								</select>
							</div>
						</div>
						<div class="help-block with-errors text-right"></div>
					</div>
					<div class="form-group">
						<div class="inline-group">
							<label>MESSAGE<span class="required">*</span></label>
							<div class="inline-div">
								<textarea name="message" ng-model="vm.message" ng-value="vm.message" class="form-control" placeholder="MESSAGE"
								 required></textarea>
							</div>
						</div>
						<div class="help-block with-errors text-right"></div>
					</div>
					<div class="required-info">
						<p>*Champs obligatoires</p>
					</div>
					<div class="form-check-validation">
						<label for="rappeler" class="label-checkbox">
							<input type="checkbox" id="rappeler" name="rappeler" value="oui" ng-model="vm.rappeler" />
							Je souhaite être rappelé
							<div class="checkbox"></div>
						</label>
					</div>
					<div ng-if="vm.error">
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{vm.error}}
						</div>
					</div>
					<div ng-if="vm.success">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{vm.success}}
						</div>
					</div>
					<div class="form-group text-center m-t-30">
						<button type="submit" class="button button-skyblue"><span class="icon icon-neswletter"></span>ENVOYER !</button>
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<h3 class="title-section-small color-blue">PAR COURRIER</h3>
				<p>Notre Service Client est à votre disposition pour toute question sur nos assurances, nos garanties ou encore
					pour déclarer un sinistre.</p>
				<ul class="contact-info">
					<li><span class="info">ADRESSE</span> 39 avenue Gambetta 75020 Paris</li>
					<li><span class="info">EMAIL</span> <a href="mailto:contact@vetoptim.com">contact@vetoptim.com</a></li>
				</ul>
				<h3 class="title-section-small color-blue m-t-50">PAR TÉLÉPHONE</h3>
				<ul class="contact-info">
					<li>
						<span class="info">TÉL</span>
						<div class="phone-contact">
							<a href="javascript:void(0)">
								<span class="bold font-s-22">01 77 66 40 89</span>
							</a>
							<span class="appel">Du Lundi au Vendredi de 9h00 à 18h00
								<br>Coût d’un appel local depuis un poste fixe</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<section class="contact-map-section">
	<!-- Map Column -->
	<div class="map-column">
		<!--Map Outer-->
		<div class="map-outer">
			<div class="map-canvas" data-zoom="12" data-lat="48.864494" data-lng="2.393150" data-type="roadmap" data-hue="#ffc400"
			 data-title="VETOPTIM ASSURANCE" data-icon-path="images/externe/marker.png" data-content="
                				<ul class='contact-info'>
                					<li><span class='info'>ADRESSE</span> 39 avenue Gambetta 75020 PARIS</li>
                					<li><span class='info'>EMAIL</span> <a href='mailto:contact@vetoptim.com'>contact@vetoptim.com</a></li> 
                					<li><span class='info'>TÉL</span> 01 77 66 40 89</li>
								</ul>
							">
			</div>
		</div>
	</div>
</section>
<%- partial('../../components/right-sidebar'); %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyB6YJu2gWq_4ABpOPGLy0c4JKg82U7a_JM"></script>
<script src="/js/map-script.js"></script>