<%- partial('../../partials/header-page', {'title': "NOS ENGAGEMENTS"}); %>
<div class="content-section">
	<div class="container">
		<div class="text-information-content">
			<h6>VETOPTIM ASSURANCE s’engage:</h6>
			<h2 class="title-section color-blue">VIS-À-VIS DE SES CLIENTS</h2>
			<div class="row m-b-50">
				<div class="col-lg-12">
					<div class="responsabilite-content">
						<ul class="responsabilite-liste">
							<li>A construire ou sélectionner des produits de qualités adaptés aux risques de la profession.
							</li>
							<li>A faire évoluer les garanties pour optimiser la protection des vétérinaires et de leurs salariés.</li>
							<li>A être disponible et à l’écoute en cas de sinistre pour vous conseiller et vous aider.</li>
							<li>Toujours prendre en compte l’intérêt de nos adhérents pour la construction de nos contrats.</li>
							<li>A faire des points réguliers pour suivre les évolution de vos besoin et travailler avec une relation<br> de
								confiance basée sur la transparence et le respect des conditions contractuelles.</li>
						</ul>
					</div>
				</div>
			</div>
			<h2 class="title-section color-blue">VIS-À-VIS DE SES SALARIÉS</h2>
			<div class="row m-b-50">
				<div class="col-lg-12">
					<div class="responsabilite-content">
						<ul class="responsabilite-liste">
							<li>A respecter l’équité , la pluralité et la diversité.
							</li>
							<li>A pratiquer l’égalité des salaires Hommes / Femmes.</li>
							<li>Les consulter sur les sujets qui peuvent impacter leur vie au travail.</li>
							<li>Les impliquer dans la vie de l’entreprise et leur permettre de proposer des solutions d’amélioration.</li>
							<li>Respecter l’équilibre entre vie professionnelle et vie privée.</li>
						</ul>
					</div>
				</div>
			</div>
			<h2 class="title-section color-blue">VIS-À-VIS DE L’ENVIRONNEMENT</h2>
			<div class="col-lg-12">
				<div class="responsabilite-content" style="width: 70%;">
					<ul class="responsabilite-liste">
						<li>Rationaliser les consommateurs d’ énergie dans l’entreprise en choisissant systématiquement ceux qui ont
							l’impact environnemental le plus faible.
						</li>
						<li>Développer des outils digitaux pour minimiser l’impact de l’utilisation du papier.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>