<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="content-section">
    <div class="container">
        <div class="row m-b-50">
            <div class="col-lg-6">
                <p>Votre demande a été enregistrée avec succès.</p>
                <p>Un conseiller <span class="color-skyblue">100% Vetos</span> prendra contact avec vous
                    prochainement.</p>
                <div class="vetos-100 m-t-20">
                    <p>100%vétos</p>
                </div>
                <br>
                <a href="/" class="button button-blue m-t-50"><span class="icon icon-user"></span>Retour à la page
                    d'accueil</a>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
                <img src="images/externe/partenariat-bourgelat.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<%- partial('../../components/right-sidebar'); %>