<%- partial('../../partials/header-page', {'title': 'Partenariat Bourgelat / Vetoptim Assurance'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
    <div class="container">
        <div class="row m-b-50">
            <div class="col-lg-6">
                <p class="l-height-30">Je souhaite bénéficier d'un audit de mes assurances professionnelles (sans
                    engagement).</p>
                <form class="steps-form" ng-submit="vm.savePartnership()" data-toggle="validator" role="form"
                    name="partnershipForm">
                    <div class="form-group">
                        <div class="inline-group">
                            <label>NOM<span class="required">*</span></label>
                            <div class="inline-div">
                                <input type="text" name="lastname" ng-model="vm.partnership.lastname"
                                    pattern="^[a-zA-Z ]*$" class="form-control" placeholder="NOM" required>
                            </div>
                        </div>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group">
                        <div class="inline-group">
                            <label>PRÉNOM<span class="required">*</span></label>
                            <div class="inline-div">
                                <input type="text" name="firstname" ng-model="vm.partnership.firstname"
                                    pattern="^[a-zA-Z ]*$" class="form-control" placeholder="PRÉNOM" required>
                            </div>
                        </div>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group">
                        <div class="inline-group">
                            <label>Ville<span class="required">*</span></label>
                            <div class="inline-div">
                                <input type="text" name="city" ng-model="vm.partnership.city" class="form-control"
                                    placeholder="Ville" required>
                            </div>
                        </div>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group">
                        <div class="inline-group m-b-20">
                            <label>EMAIL<span class="required">*</span></label>
                            <div class="inline-div">
                                <input type="email" name="email" ng-model="vm.partnership.email" class="form-control"
                                    placeholder="EMAIL" required>
                            </div>
                        </div>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group">
                        <div class="inline-group">
                            <label>Téléphone<span class="required">*</span></label>
                            <div class="inline-div">
                                <input type="text" name="mobile" ng-model="vm.partnership.phone" minlength="10"
                                    maxlength="15" pattern="^[0-9 +]+$" class="form-control" placeholder="Téléphone"
                                    required>
                            </div>
                        </div>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <p>Me contacter de préférence le:</p>
                    <div class="form-group">
                        <div class="inline-group">
                            <label>Jour<span class="required">*</span></label>
                            <div class="inline-div">
                                <select name="day" class="form-control" ng-model="vm.partnership.day" required>
                                    <option value="" class="d-none">-- Jour --</option>
                                    <option value="Lundi">Lundi</option>
                                    <option value="Mardi">Mardi</option>
                                    <option value="Mercredi">Mercredi</option>
                                    <option value="Jeudi">Jeudi</option>
                                    <option value="Vendredi">Vendredi</option>
                                    <option value="Samedi">Samedi</option>
                                </select>
                            </div>
                        </div>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group" ng-init="vm.isPartnershipFromHourSelected()">
                        <div class="inline-group">
                            <label>Heure<span class="required">*</span></label>
                            <div class="inline-div inline-div-flex">
                                <select name="hourFrom" class="form-control m-r-10" ng-model="vm.partnership.fromHour"
                                    required>
                                    <option value="" class="d-none">-- De --</option>
                                    <option value="08"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 8">
                                        08:00</option>
                                    <option value="09"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 9">
                                        09:00</option>
                                    <option value="10"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 10">
                                        10:00</option>
                                    <option value="11"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 11">
                                        11:00</option>
                                    <option value="12"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 12">
                                        12:00</option>
                                    <option value="13"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 13">
                                        13:00</option>
                                    <option value="14"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 14">
                                        14:00</option>
                                    <option value="15"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 15">
                                        15:00</option>
                                    <option value="16"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 16">
                                        16:00</option>
                                    <option value="17"
                                        ng-if="!vm.isPartnershipToHourSelected() || vm.partenariatParseInt(vm.partnership.toHour) > 17">
                                        17:00</option>
                                </select>
                                <select name="hourTo" class="form-control" ng-model="vm.partnership.toHour" required>
                                    <option value="" class="d-none">-- À --</option>
                                    <option value="09"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 9">
                                        09:00
                                    </option>
                                    <option value="10"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 10">
                                        10:00
                                    </option>
                                    <option value="11"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 11">
                                        11:00
                                    </option>
                                    <option value="12"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 12">
                                        12:00
                                    </option>
                                    <option value="13"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 13">
                                        13:00
                                    </option>
                                    <option value="14"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 14">
                                        14:00
                                    </option>
                                    <option value="15"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 15">
                                        15:00
                                    </option>
                                    <option value="16"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 16">
                                        16:00
                                    </option>
                                    <option value="17"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 17">
                                        17:00
                                    </option>
                                    <option value="18"
                                        ng-if="!vm.isPartnershipFromHourSelected() || vm.partenariatParseInt(vm.partnership.fromHour) < 18">
                                        18:00
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="required-info">
                        <p>*Champs obligatoires</p>
                    </div>
                    <div class="form-check-validation">
                        <label for="offres" class="label-checkbox">
                            <input type="checkbox" id="offres" name="offres" value="oui" ng-model="vm.offres" />
                            J'accepte de recevoir les offres de vetoptim assurance.
                            <div class="checkbox"></div>
                        </label>
                        <label for="traitement" class="label-checkbox">
                            <input type="checkbox" id="traitement" name="traitement" value="oui"
                                ng-model="vm.traitement" />
                            J'accepte le traitement de mes données personnelles.
                            <div class="checkbox"></div>
                        </label>
                    </div>
                    <div ng-if="vm.error">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{vm.error}}
                        </div>
                    </div>
                    <div ng-if="vm.success">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{vm.success}}
                        </div>
                    </div>
                    <div class="form-group text-center m-t-30">
                        <button type="submit" class="button button-skyblue"><span
                                class="icon icon-neswletter"></span>ENVOYER
                            !</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
                <img src="images/externe/partenariat-bourgelat.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<%- partial('../../components/right-sidebar'); %>