<%- partial('../../partials/header-page', {'title': 'RECRUTEMENT'}); %>
<div class="content-section">
	<div class="container">
		<div class="sticky-content m-b-50">
			<div class="row">
				<div class="col-lg-7">
					<h3 class="form-title">VETOPTIM EST EN PHASE DE DÉVELOPPEMENT</h3>
					<p class="m-b-50">L’ENTREPRISE EST À LA RECHERCHE DE COLLABORATEURS INDÉPENDANTS OU SALARIÉS À TRAVERS TOUTE LA
						FRANCE.</p>
					<h3 class="form-title color-skyblue">DIRECTEUR DE FILIALE</h3>
					<p>Vous êtes proche du monde vétérinaire et vous aimez la relation client.</p>
					<p>Vous êtes de nature bienveillante et vous aimez apporter la meilleure solution à vos clients.</p>
					<p>Vous voulez être indépendant tout en étant accompagné pour développer votre activité.</p>
					<p>Rejoignez VETOPTIM et venez diriger une de nos 9 filiales régionales.
						Vous gérez la relation client et développez le portefeuille. VETOPTIM vous soutient et gère le back office,
						l’informatique, la communication et la gestion.</p>
					<p>Votre portefeuille vous appartient et vous pouvez le valoriser.</p>
					<h3 class="form-title color-skyblue">Conseillers en assurance – gestionnaires de clientèles</h3>
					<p>Poste sédentaire, basé à Paris.</p>
				</div>
				<div class="col-lg-5">
					<div class="sidebar">
						<div class="widget-service text-center">
							<div class="postule">
								<h3 class="form-title color-blue">VOUS SOUHAITEZ POSTULER</h3>
								<p class="m-b-30">ADRESSEZ NOUS VOTRE CANDIDATURE</p>
								<a href="mailto:mail contact@vetoptim.com" class="underline">mail contact@vetoptim.com</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>