<footer ng-controller="SimulationCRController as vm" class="uppercase">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 text-center">
				<a href="/" class="logo">
					<img src="images/externe/logo-footer.png">
				</a>
			</div>
			<div class="col-lg-3 d-none d-lg-block">
				<h4>DÉCOUVRIR VETOPTIM</h4>
				<ul>
					<li>
						<a href="/a-propos">QUI SOMMES NOUS ?</a>
					</li>
					<!-- <li>
						<a href="javascript:void(0)">NOTRE METIER</a>
					</li> -->
					<!-- <li>
						<a href="javascript:void(0)">NOS DOMAINES D INTERVENTION</a>
					</li> -->
					<li>
						<a href="/responsabilite-societale">RESPONSABILITÉ SOCIÉTALE DE L'ENTREPRISE</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-md-6 d-none d-lg-block">
						<h4>OBTENIR VOTRE TARIF</h4>
						<ul>
							<li>
								<a href="/simulation?offerType=CR">SIMULATION TARIF RC</a>
							</li>
							<li>
								<a href="/simulation?offerType=PMR">SIMULATION DE TARIF MRP</a>
							</li>
							<li>
								<a href="/simulation?offerType=PMRCR">SIMULATION TARIF MRP + RC</a>
							</li>
							<li>
								<a href="/custom-quote">SIMULATION DE TARIF SANTE COLLECTIVE</a>
							</li>
							<li>
								<a href="/custom-quote">SIMULATION DE TARIF SANTE INDIVIDUELLE</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-6">
						<div class="d-none d-lg-block">
							<h4>LE SAVIEZ VOUS ?</h4>
							<ul>
								<!-- <li>
									<a href="javascript:void(0)">FAQ DE L'ASSURANCE</a>
								</li> -->
								<!-- <li>
									<a href="javascript:void(0)">ACTUALITÉS</a>
								</li> -->
								<li>
									<a href="/ogv">ASSOCIATION OGV</a>
								</li>
							</ul>
						</div>
						<!-- <h4 class="m-t-30">SUIVEZ-NOUS SUR</h4> -->
						<!-- <ul class="social-network">
							<li>
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-youtube-play"></i>
								</a>
							</li>
						</ul> -->
					</div>
				</div>
				<!-- <h4>newsletter</h4>
				<form class="newsletter" ng-submit="vm.subscribeToNewsLetter()">
					<input type="email" name="email" ng-model="vm.newsletter.email" class="form-control" placeholder="ECRIVEZ VOTRE EMAIL"
					 required>
					<button type="submit">
						<span class="icon-neswletter"></span>
					</button>
				</form> -->
			</div>
		</div>
		<ul class="footer-menu">
			<li>
				<a href="/contact">CONTACT VETOPTIM</a>
			</li>
			<li>
				<a href="/journal">ESPACE ASSURÉ</a>
			</li>
			<li>
				<a href="/rappeler">AIDE</a>
			</li>
			<li>
				<a href="/pdf/mentions-legales.pdf" target="_blank">MENTIONS LÉGALES</a>
			</li>
			<li>
				<a href="/recrutement">RECRUTEMENT</a>
			</li>
			<li>
				<a href="/pdf/politique-confidentialite.pdf" target="_blank">POLITIQUE de confidentialité</a>
			</li>
		</ul>
	</div>
</footer>