<div class="container">
  <div class="top-header-content">
    <a href="/" class="logo">
      <img src="images/externe/logo.png" />
    </a>
    <a href="javascript:void(0)" class="button-menu button-menu-open">
      <span class="icon icon-menu-open"></span>
      <span>Menu</span>
    </a>
    <div class="menu-center">
      <ul>
        <li>
          <span class="icon icon-activite icon-blue"></span>
          <a href="javascript:void(0)" class="menu-link">PROTECTION DE L’ACTIVITÉ</a>
          <ul class="sub-menu">
            <li>
              <a href="/mrp-plus-rc">MULTIRISQUE + RC PRO</a>
            </li>
            <li>
              <a href="/multirisque-professionelles">MULTIRISQUE PRO</a>
            </li>
            <li>
              <a href="/responsabilite-civile">RESPONSABLITÉ CIVILE PRO</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="icon icon-vieprive icon-skyblue"></span>
          <a href="javascript:void(0)" class="menu-link">PROTECTION DES DIRIGEANTS</a>
          <ul class="sub-menu">
            <li>
              <a href="/responsabilite-civile-dirigeants">RESPONSABLILITÉ CIVILE DES DIRIGEANTS</a>
            </li>
            <li>
              <a href="/mutuelle-entreprise-sante">SANTÉ</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="icon icon-salarier icon-green"></span>
          <a href="javascript:void(0)" class="menu-link">PROTECTION DES SALARIÉS</a>
          <ul class="sub-menu">
            <li>
              <a href="/custom-quote">SANTÉ</a>
            </li>
            <li>
              <a href="/custom-quote">PRÉVOYANCE</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="icon icon-dirigants icon-pink"></span>
          <a href="javascript:void(0)" class="menu-link">PROTECTION DE LA VIE PRIVÉE</a>
          <ul class="sub-menu">
            <li>
              <a href="/custom-quote">AUTO</a>
            </li>
            <li>
              <a href="/custom-quote">HABITATION</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="icon icon-vetoptim icon-grey"></span>
          <a href="javascript:void(0)" class="menu-link">DÉCOUVRIR VETOPTIM</a>
          <ul class="sub-menu">
            <li>
              <a href="/a-propos">QUI SOMMES NOUS ?</a>
            </li>
            <!-- <li>
              <a href="/nos-engagements">NOS ENGAGEMENTS</a>
            </li> -->
            <li>
              <a href="/contact">CONTACTEZ-NOUS</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav-info-right" ng-controller="AuthController as vm">
      <div class="header-page-desc">
        <a href="javascript:void(0)">
          <span class="bold font-s-22">01 77 66 40 89</span>
        </a>
        <span class="appel">Du Lundi au Vendredi de 9h00 à 18h00
          <br>Coût d’un appel local depuis un poste fixe</span>
      </div>
      <!-- <a href="javascript:void(0)" class="phone-number"> <span class="bold font-s-22">01 77 66 40 89</span> </a> -->
      <a href="#" data-toggle="modal" data-target="#{{ vm.user.user.login ? 'connect' : 'login' }}" class="button button-skyblue-over espace-assure {{ vm.user.user.login ? 'connect' : '' }}">
        <span class="icon {{ vm.user.user.login && vm.user.user.isCommercial  ? 'icon-blue icon-conseiller' : 'icon-user' }}"></span>{{
        vm.user.user.login ? vm.user.user.name + ' ' + vm.user.user.lastname :
        'ESPACE ASSURÉ' }}
      </a>
      <div class="header-page-mobile">
        <a href="#" data-toggle="modal" data-target="#appel">
          <span class="icon icon-phone"></span>
        </a>
        <a href="#" data-toggle="modal" data-target="#{{ vm.user.user.login ? 'connect' : 'login' }}" class="{{ vm.user.user.login ? 'connect' : '' }}">
          <span class="icon icon-user"></span>
        </a>
      </div>
    </div>
  </div>
</div>