<div class="top-header">
	<ul class="top-header-liste">
		<li>
			<div class="top-header-section top-header-pink">
				<div class="top-header-content">
					<a href="javascript:void(0)">
						<span class="icon icon-vieprive"></span>
						<h2>PROTECTION DE<br>LA VIE PRIVÉ</h2>
					</a>
				</div>
			</div>
		</li>
		<li>
			<div class="top-header-section top-header-green">
				<div class="top-header-content">
					<a href="javascript:void(0)">
						<span class="icon icon-salarier"></span>
						<h2>PROTECTION<br>DES SALARIÉS</h2>
					</a>
				</div>
			</div>
		</li>
		<li>
			<div class="top-header-section top-header-skyblue">
				<div class="top-header-content">
					<a href="javascript:void(0)">
						<span class="icon icon-dirigants"></span>
						<h2>PROTECTION<br>DES DIRIGEANTS</h2>
					</a>
				</div>
			</div>
		</li>
		<li>
			<div class="top-header-section top-header-blue">
				<div class="top-header-content">
					<a href="javascript:void(0)">
						<span class="icon icon-activite"></span>
						<h2>PROTECTION DE<br>L’ACTIVITÉ</h2>
					</a>
				</div>
			</div>
		</li>
	</ul>
</div>