<div class="header-page">
	<%- partial('header-top'); %>
	<% if (title != '') { %>
	<div class="container">
		<div class="m-t-80"></div>
		<h2 class="title-top">
			<%= title %>
		</h2>
	</div>
	<% } %>
</div>