<div class="menu">
	<div class="nav-close">
		<a href="javascript:void(0)" class="button-menu button-menu-close">
			<span class="icon icon-menu-close"></span>
		</a>
	</div>
	<div class="nav-content">
		<h4 class="menu-title color-skyblue">NOS OFFRES</h4>
		<ul class="menu-liste">
			<li class="sub-menu active">
				<a href="javascript:void(0)">
					<span class="icon icon-blue icon-activite"></span>
					<span>PROTECTION DE L’ACTIVITÉ</span>
				</a>
				<span class="btn-accordion active"></span>
				<ul>
					<li>
						<a href="/responsabilite-civile">RESPONSABLITÉ CIVILE PRO</a>
					</li>
					<li>
						<a href="/multirisque-professionelles">MULTIRISQUE PROFESSIONNELLE</a>
					</li>
					<li>
						<a href="/mrp-plus-rc">MULTIRISQUE + RC PRO</a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="javascript:void(0);">
					<span class="icon icon-skyblue icon-salarier"></span>
					<span>PROTECTION DES DIRIGEANTS</span>
				</a>
				<span class="btn-accordion"></span>
				<ul>
					<li>
						<a href="/responsabilite-civile-dirigeants">RESPONSABLITÉ CIVILE DES DIRIGEANTS</a>
					</li>
					<li>
						<a href="/mutuelle-entreprise-sante">SANTÉ</a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="javascript:void(0);">
					<span class="icon icon-green icon-dirigants"></span>
					<span>PROTECTION DES SALARIÉS</span>
				</a>
				<span class="btn-accordion"></span>
				<ul>
					<li>
						<a href="/custom-quote">SANTÉ</a>
					</li>
					<li>
						<a href="/custom-quote">PRÉVOYANCE</a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="javascript:void(0);">
					<span class="icon icon-pink icon-vieprive"></span>
					<span>PROTECTION DE LA VIE PRIVÉE</span>
				</a>
				<span class="btn-accordion"></span>
				<ul>
					<li>
						<a href="/custom-quote">AUTO</a>
					</li>
					<li>
						<a href="/custom-quote">HABITATION</a>
					</li>
				</ul>
			</li>
		</ul>
		<h4 class="menu-title color-skyblue">NOS SERVICES</h4>
		<ul class="menu-liste">
			<li>
				<a href="/offres">OBTENEZ UN TARIF</a>
			</li>
			<li>
				<a href="/journal">ESPACE ASSURÉ</a>
			</li>
		</ul>
		<h4 class="menu-title color-skyblue">DÉCOUVRIR VETOPTIM</h4>
		<ul class="menu-liste">
			<li>
				<a href="/a-propos">QUI SOMMES NOUS ?</a>
			</li>
			<!-- <li>
				<a href="/nos-engagements">NOS ENGAGEMENTS</a>
			</li> -->
			<li>
				<a href="/ogv">ASSOCIATION OGV</a>
			</li>
			<li>
				<a href="/contact">CONTACTEZ-NOUS</a>
			</li>
		</ul>
	</div>
</div>