<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Vetoptim">
        <meta name="author" content="Coderthemes">

        <!-- App favicon -->
        <link rel="icon" type="image/png" href="/images/externe/favicon.ico">
        <!-- App title -->
        <title>Vetoptim</title>
        <link rel="manifest" href="/manifest.json">
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="/css/vendors.chunk.css">
        <!-- VENDOR CSS END -->
        <!-- CSS -->
        <link rel="stylesheet" href="/css/js/admin.css">
        <!-- CSS END -->
        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>


    <body class="fixed-left ng-cloak">
        <div id="loader-app">
            <div id="center"> 
                <div class="skype-loader">
                <div class="dot">
                    <div class="first"></div>
                </div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                </div>
                Chargement en cours...
            </div>
        </div>

    	<%- body %>
        <!--SCRIPTS-->
        <script src="/js/sails.io.js"></script>
        <% if(sails.config.environment === 'development') { %>
          <!-- FOR DEV ONLY -->
        <script src="http://localhost:35729/livereload.js"></script>
        <% } %>
        <script src="/js/admin.js"></script>
        <script defer src="/vendors.chunk.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>