<!DOCTYPE html>
<html ng-app="app">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-');</script>
  <!-- End Google Tag Manager -->
  <title>Vetoptim</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="theme-color" content="#2196f3" />
  <meta name="robots" content="index,follow" />

  <meta name="description" content="VETOPTIM est exclusivement dédié aux vétérinaires. Nos garanties sont élaborées pour répondre aux besoins spécifiques de votre métier.">
  <meta name="title" content="VETOPTIM">
  <meta name="keywords" content="VETOPTIM, assurence, vetoptim assurence, vitérinaire, assurence vitérinaire, contrat, PROTECTION DE L’ACTIVITÉ, PROTECTION DES DIRIGEANTS, PROTECTION DES SALARIÉS, PROTECTION DE LA VIE PRIVÉE">

  <meta property="og:title" content="Des produits d'assurance uniques, exclusivement dédiés aux vétérinaires" />
  <meta property="og:description" content="VETOPTIM est exclusivement dédié aux vétérinaires. Nos garanties sont élaborées pour répondre aux besoins spécifiques de votre métier." />
  <meta name="twitter:domain" content="vetoptim.com/" />

  <link rel="icon" type="image/png" href="/images/externe/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="/css/vendors.chunk.css">
  <!-- VENDOR CSS END -->
  <!-- CSS -->
  <link rel="stylesheet" href="/css/js/bundle.css">
  <!-- CSS END -->
</head>

<body ng-cloak>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="loader-app">
    <div id="center">
      <div class="skype-loader">
        <div class="dot">
          <div class="first"></div>
        </div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      Chargement en cours...
    </div>
  </div>

  <div class="blocker" data-trigger="menu"></div>
  <% include ../partials/menu %>
  <% include ../partials/header %>
  <%- body %>
  <% include ../partials/footer %>
  <% include ../components/popup-login %>
  <% include ../components/popup-connect %>
  <% include ../components/popup-appel %>
  <% include ../components/popup-demande-sauvegarder %>
  <% include ../components/popup-newsletter %>
  <% include ../components/cookies %>
  <!--SCRIPTS-->
  <script src="/js/sails.io.js"></script>
  <% if(sails.config.environment === 'development') { %>
  <!-- FOR DEV ONLY -->
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  <script src="/js/bundle.js"></script>
  <script defer src="/vendors.chunk.js"></script>
  <!--SCRIPTS END-->
</body>

</html>