<div class="section-advantage-carousel">
	<h2 class="title-section color-blue">les avantages VETOPTIM</h2>
	<div class="advantage-carousel owl-carousel owl-theme">
		<div class="item">
			<span class="icon icon-skyblue icon-vetoptim"></span>
			<h3>Exclu</h3>
			<p>Entièrement dédié aux vétérinaires</p>
		</div>
		<div class="item">
			<span class="icon icon-blue icon-vetoptim"></span>
			<h3>PRO</h3>
			<p>Imaginé avec et pour les vétérinaires</p>
		</div>
		<div class="item">
			<span class="icon icon-pink icon-vetoptim"></span>
			<h3>Complet</h3>
			<p>Tous les domaines sont concernés</p>
		</div>
		<div class="item">
			<span class="icon icon-green icon-vetoptim"></span>
			<h3>Simple</h3>
			<p>Tout est prévu pour vous faire gagner du temps</p>
		</div>
		<div class="item">
			<span class="icon icon-grey icon-vetoptim"></span>
			<h3>Optimal</h3>
			<p>Meilleurs partenaires et meilleurs prix garantis</p>
		</div>
	</div>
</div>