<div class="cookies" style="display: none;">
	<div class="container">
		<div class="left">
			<p>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies destinés à améliorer la
				performance du site et à vous proposer des offres, contenus et services adaptés à vos besoins et à vos centres
				d’intérêt.</p>
			<a href="#" class="underline">En savoir plus sur notre Charte cookies</a>
		</div>
		<div class="right">
			<a href="javascript:void(0)" class="button button-pink accept-cookies">J’ACCEPTE</a>
		</div>
		<button class="close"><i class="fa fa-times"></i></button>
	</div>
</div>