<h2 class="title-section color-blue">NOS DOMAINES D’INTERVENTION</h2>
<div class="row row-eq-height">
	<div class="col-lg-6">
		<div class="panel-intervention equal-height panel-blue">
			<div class="panel-intervention-content active">
				<h3>
					<span class="icon icon-activite"></span>
					<a href="javascript:void(0)">PROTECTION DE L’ACTIVITÉ</a>
					<span class="btn-accordion active"></span>
				</h3>
				<ul>
					<li>
						<a href="/mrp-plus-rc">
							<span class="icon icon-multirisque"></span>Multirisque + RC
							<span class="uppercase">pro</span>
						</a>
						<a href="/mrp-plus-rc" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
					<li>
						<a href="/multirisque-professionelles">
							<span class="icon icon-multirisque"></span>Multirisque
							<span class="uppercase">pro</span>
						</a>
						<a href="/multirisque-professionelles" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
					<li>
						<a href="/responsabilite-civile">
							<span class="icon icon-responsabilite"></span>Responsabilité civile
							<span class="uppercase">pro</span>
						</a>
						<a href="/responsabilite-civile" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>


				</ul>
			</div>
			<div class="panel-intervention-img">
				<img src="images/externe/intervention1.png">
			</div>
			<!-- <a href="javascript:void(0)" class="button button-blue">VOIR LES OFFRES</a> -->
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel-intervention equal-height panel-skyblue">
			<div class="panel-intervention-content">
				<h3>
					<span class="icon icon-dirigants"></span>
					<a href="javascript:void(0)">PROTECTION DES DIRIGEANTS</a>
					<span class="btn-accordion"></span>
				</h3>
				<ul>
					<li>
						<a href="/responsabilite-civile-dirigeants">Responsabilité
							civile des dirigeants</a>
						<a href="/responsabilite-civile-dirigeants" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
					<li>
						<a href="mutuelle-entreprise-sante">Santé</a>
						<a href="mutuelle-entreprise-sante" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="panel-intervention-img">
				<img src="images/externe/intervention2.png">
			</div>
			<!-- <a href="" class="button button-blue">VOIR LES OFFRES</a> -->
		</div>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-lg-6">
		<div class="panel-intervention equal-height panel-green">
			<div class="panel-intervention-content">
				<h3>
					<span class="icon icon-salarier"></span>
					<a href="javascript:void(0)">PROTECTION DES SALARIÉS</a>
					<span class="btn-accordion"></span>
				</h3>
				<ul>
					<li>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Santé')">Santé</a>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Santé')" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
					<li>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Prévoyance')">Prévoyance</a>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Prévoyance')" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="panel-intervention-img">
				<img src="images/externe/interventionsalarie.png">
			</div>
			<!-- <a href="" class="button button-blue">VOIR LES OFFRES</a> -->
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel-intervention equal-height panel-pink">
			<div class="panel-intervention-content">
				<h3>
					<span class="icon icon-vieprive"></span>
					<a href="javascript:void(0)">PROTECTION DE LA VIE PRIVÉE</a>
					<span class="btn-accordion"></span>
				</h3>
				<ul>
					<li>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Auto')">Auto</a>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Auto')" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
					<li>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Habitation')">Habitation</a>
						<a href="/custom-quote" ng-click="vm.chosenOfferIndex('Habitation')" class="btn-search">
							<span class="icon-search"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="panel-intervention-img">
				<img src="images/externe/intervention4.png">
			</div>
			<!-- <a href="" class="button button-blue">VOIR LES OFFRES</a> -->
		</div>
	</div>
</div>