<div class="modal fade modal-center" id="demande-sauvegarder" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <div class="popup-content" ng-controller="SimulationCRController as vm">
                    <span class="icon icon-sauvgarde"></span>
                    <h2 class="title-section-simple">VOUS AVEZ UNE DEMANDE SAUVEGARDÉE !</h2>
                    <h3>SOUHAITEZ-VOUS CONTINUER<br>VOTRE SUSCRIPTION ?</h3>
                    <a href="javascript:void(0)" ng-click="vm.continueSubscription(true)" class="button button-pink disabled">OUI,
                        JE
                        CONTINUE MA SOUSCRIPTION<span class="icon-right icon-arrow-right"></span></a>
                    <a href="javascript:void(0)" ng-click="vm.continueSubscription(false)" class="learn-more"
                        data-dismiss="modal" aria-label="Close">Non , je supprime cette demande</a>
                </div>
            </div>
        </div>
    </div>
</div>