<div class="modal fade modal-fullscreen" id="connect" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-connect">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
        <div class="menu-vertical">
          <ul>
            <% if(req.user && !req.user.isCommercial && !req.user.isAdmin) { %>
            <li><a href="/journal">MON PROFIL</a></li>
            <% } %>
            <% if(req.user && (!req.user.isCommercial || req.user.isAdmin)) { %>
            <li><a href="/informations">MODIFIER MES INFORMATIONS</a></li>
            <% } %>
            <% if(req.user && req.user.isCommercial) { %>
            <li><a href="/contrats-crees">CONTRATS CRÉÉS</a></li>
            <% } %>
            <% if(req.user && req.user.isCommercial) { %>
            <li><a href="/ajouter-contrat">AJOUTER CONTRAT</a></li>
            <% } %>
            <% if(req.user && req.user.isAdmin) { %>
            <li><a href="/contrats-crees">CONTRATS CRÉÉS</a></li>
            <li><a href="/devis">DEVIS CRÉÉS</a></li>
            <% } %>
            <% if(req.user && !req.user.isCommercial && !req.user.isAdmin) { %>
            <li><a href="/declare-sinistre">DÉCLARER UN SINISTRE</a></li>
            <% } %>
            <li><a href="/logout" class="color-pink">DÉCONNEXION</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>