<% if (type==='CR') { %>
<div ng-controller="SimulationCRController as vm" class="modal fade modal-fullscreen" id="rc-garanties" tabindex="-1"
 role="dialog" aria-labelledby="modalLargeLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times"></i>
					</span>
				</button>
				<div class="garanties garanties-rc">
					<div class="fixed-title">
						<h2 class="title-section color-grey">LES GARANTIES VETOPTIM</h2>
					</div>
					<div class="content-modal">
						<div class="container">
							<ul class="garanties-rc-liste">
								<li>
									<div class="garanties multiple">
										<ul class="liste-garantie">
											<li class="fixed-head">
												<div class="left bg-blue">
													<div class="content">GARANTIES</div>
												</div>
												<div class="right">
													<ul class="right-liste header">
														<li>
															<div class="content">NATURE DES DOMMAGES</div>
														</li>
														<li>
															<div class="content">MONTANTS MAXIMA DES GARANTIES</div>
														</li>
														<li>
															<div class="content">FRANCHISE PAR SINISTRE</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5 class="bold">1. RC. Exploitation</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">
																<p>Dommages
																	<strong>corporels, matériels</strong> et
																	<strong>immatériels</strong> confondus
																	<strong>sans pouvoir dépasser pour</strong> :</p>
																<p>- maladies professionnelles et faute inexcusable</p>
																<p>- dommages
																	<strong>matériels</strong> et
																	<strong>immatériels consécutifs</strong>
																</p>
																<p>- dommages
																	<strong>immatériels non consécutifs</strong>
																</p>
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 7000000 | currencyFormat}}</span> par sinistre</p>
																<p>
																	<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par année d'assurance et quelque
																	soit le nombre de victime</p>
																<p>
																	<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par sinistre</p>
																<p>
																	<span class="bold color-skyblue">non garantis</span>
																</p>
														</li>
														<li>
															<div class="content">
																<p> Néant</p>
																<br>
																<p>
																	<span class="bold color-skyblue">{{ 500 | currencyFormat}}</span>
																</p>
															</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5 class="bold">2. RC. VOL
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content bold">
																Tous dommages confondus
															</div>
														</li>
														<li>
															<div class="content">
																<span class="bold color-skyblue">{{ 30000 | currencyFormat}}</span> par sinistre
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
																</p>
															</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5 class="bold">3. Effets personnels
															<br> des préposés
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">
																Dommages
																<strong>matériels</strong>
															</div>
														</li>
														<li>
															<div class="content">
																<span class="bold color-skyblue">{{ 30000 | currencyFormat}}</span> par sinistre
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
																</p>
															</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5 class="bold">4. Détériorations accidentelles aux véhicules des clients en stationnement dans
															l’enceinte de l’établissement
															exploité par l’assuré
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">
																<p>Dommages
																	<strong>matériels</strong>
																</p>
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 50000 | currencyFormat}}</span> par sinistre
																</p>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">10% </span>du montants
																	<br> des dommages
																	<br> Mini
																	<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
																	<br> Maxi
																	<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
																</p>
															</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5 class="bold">5. Atteintes à
															<br>l’environnement
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">
																<p>Dommages
																	<strong>corporels, matériels et immatériels</strong> confondus
																	<strong>sans pouvoir dépasser pour </strong>:</p>
																<p>- dommages
																	<strong>matériels et immatériels</strong>
																</p>
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 600000 | currencyFormat}}</span> par année d'assurance</p>
																<p>
																	<span class="bold color-skyblue">{{ 80000 | currencyFormat}}</span> par sinistre</p>
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
																	<br>
																	<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
																</p>
															</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5 class="bold">6. Responsabilité Civile Professionnelle et Après Livraison de produits
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">
																<p>Dommages corporels, matériels et immatériels confondus sans pouvoir dépasser pour :</p>
																<p>- dommages
																	<strong>matériels et immatériels consécutifs</strong>(y compris dommages aux animaux)</p>
																<p>- dommages
																	<strong>matériels et immatériels consécutifs</strong> aux biens confiés chez l’assuré (hors animaux
																	selon paragraphe
																	56 b) des Conditions Générales)</p>
																<p>- dommages causés par des produits vendus ou fabriqués par l’assuré</p>
																<p>- dommages
																	<strong>immatériels non consécutifs</strong>
																</p>
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 3000000 | currencyFormat}}</span> par sinistre et par année
																	d'assurance dont :</p>
																<p>
																	<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par sinistre et par année
																	d'assurance avec un maximum de {{ 30000 |
																	currencyFormat}} par animal</p>
																<p>
																	<span class="bold color-skyblue">{{ 50000 | currencyFormat}}</span> par sinistre et par année</p>
																<p>
																	<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par sinistre et par année
																	d'assurance </p>
																</p>
																<p>
																	<span class="bold color-skyblue">{{ 150000 | currencyFormat}}</span> par sinistre et par année
																	d'assurance </p>
																</p>
															</div>
														</li>
														<li>
															<div class="content">
																<p>
																	<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
																</p>
																<br>
																<p>
																	<span class="bold color-skyblue">10% </span>du montants
																	<br> des dommages
																	<br> Mini
																	<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
																	<br> Maxi
																	<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
																</p>
																<br>
																<p>
																	<span class="bold color-skyblue">{{ 500 | currencyFormat}}</span>
																</p>
																<br>
																<p>
																	<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
																</p>
																<br>
																<p>
																	<span class="bold color-skyblue">{{ 1500 | currencyFormat}}</span>
																</p>
															</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5 class="bold">7. Défense pénale
															<br>et recours suite à accident
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">
																Tous frais confondus
															</div>
														</li>
														<li>
															<div class="content">
																<span class="bold color-skyblue">{{ 15000 | currencyFormat}}</span> par sinistre
																<br> et
																<span class="bold color-skyblue">{{ 50000 | currencyFormat}}</span> par année d'assurance
															</div>
														</li>
														<li>
															<div class="content">
																<p>Seuil d’intervention en recours :
																	<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
																</p>
															</div>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<% }  else if (type==='PMR') { %>
<div ng-controller="SimulationPMRController as vm" class="modal fade modal-fullscreen" id="mpr-garanties" tabindex="-1"
 role="dialog" aria-labelledby="modalLargeLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times"></i>
					</span>
				</button>
				<div class="garanties pmr-garanties" ng-init='vm.authenticated();vm.pmrWarranty();'>
					<div class="fixed-title">
						<h2 class="title-section color-grey">LES GARANTIES VETOPTIM</h2>
					</div>
					<div class="content-modal">
						<div class="container">
							<ul class="liste-garantie">
								<li class="fixed-head">
									<div class="left bg-blue">
										<div class="content">
											<h5>GARANTIES</h5>
										</div>
									</div>
									<div class="right bg-skyblue">
										<div class="content">
											<h5>
												Montants assurés sur contenu professionnel
											</h5>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Incendie et événements annexes</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Incendie / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.incendieReconstitution | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Tempête / grêle et neige / gel</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Tempête / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.tempeteReconstitution | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vandalisme</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vandalisme / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.vandalismeReconstitution | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dommages électriques</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 15000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Bris de machines</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 20000">60 000€ dans la limite de 20 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 40000">100 000€ dans la limite de 40 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 60000">100 000€ dans la limite de 60 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 80000">100 000€ dans la limite de 80 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 100000">réservé siège</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Tous risques ordinateurs portables</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }} </span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Marchandises en chambre froide (vaccin inclus)</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dégâts des eaux</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>DDE / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Bris de glaces et Enseignes</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 15000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Bris de glaces des vérandas</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vol</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 200000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vol / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>En tiroir-caisse</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>En coffre-fort</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vol / Agression dans les locaux et fonds transportés</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Garantie des événements non dénommés</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Garantie des évènements naturels à caractère exceptionnel</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Garantie automatique des investissements</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Assurance du mobilier, objets personnels et des biens confiés</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 30000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dont objets de valeur et objets précieux</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue"> {{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Détériorations accidentelles aux véhicules des clients en stationnement dans l’enceinte
												<br> de l’établissement exploité par l’assuré</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue"> {{ 50000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Pertes de recette ou honoraires (période d'indemnisation PI de 12 Mois)</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.perteRecettes | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Perte de valeur vénale du fond de commerce</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.perteValeurVenale | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Frais supplémentaires</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.fraisSupplementaire | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dommages aux marchandises et matériels transportés pour compte propre </h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Contenu garanti : pour les garanties incendie, tempêtes, vandalisme, dégâts des eaux </h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Contenu garanti : pour la garantie vol</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% }  else if (type==='PMRCR') { %>
<div class="modal fade modal-fullscreen" ng-controller="SimulationPMRCRController as vm" id="cr-mpr-garanties" tabindex="-1"
 role="dialog" aria-labelledby="modalLargeLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times"></i>
					</span>
				</button>
				<div class="garanties pmr-garanties" ng-init='vm.authenticated();vm.pmrCrWarranty();'>
					<div class="fixed-title">
						<h2 class="title-section color-grey">LES GARANTIES VETOPTIM</h2>
					</div>
					<div class="content-modal">
						<div class="container">
							<ul class="liste-garantie">
								<li class="fixed-head">
									<div class="left bg-blue">
										<div class="content">
											<h5>GARANTIES</h5>
										</div>
									</div>
									<div class="right bg-skyblue">
										<div class="content">
											<h5>
												Montants assurés sur contenu professionnel
											</h5>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Incendie et événements annexes</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Incendie / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.incendieReconstitution | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Tempête / grêle et neige / gel</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Tempête / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.tempeteReconstitution | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vandalisme</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vandalisme / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.vandalismeReconstitution | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dommages électriques</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 15000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Bris de machines</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 20000">60 000€ dans la limite de 20 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 40000">100 000€ dans la limite de 40 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 60000">100 000€ dans la limite de 60 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 80000">100 000€ dans la limite de 80 000 € par
													machine </span>
												<span class="bold color-skyblue" ng-if="vm.brisMachine === 100000">réservé siège</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Tous risques ordinateurs portables</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }} </span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Marchandises en chambre froide (vaccin inclus)</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dégâts des eaux</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>DDE / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Bris de glaces et Enseignes</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 15000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Bris de glaces des vérandas</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vol</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 200000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vol / Reconstitution d'archives</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>En tiroir-caisse</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>En coffre-fort</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Vol / Agression dans les locaux et fonds transportés</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Garantie des événements non dénommés</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Garantie des évènements naturels à caractère exceptionnel</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Garantie automatique des investissements</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Assurance du mobilier, objets personnels et des biens confiés</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 30000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dont objets de valeur et objets précieux</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue"> {{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Détériorations accidentelles aux véhicules des clients en stationnement dans l’enceinte
												<br> de l’établissement exploité par l’assuré</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue"> {{ 50000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Pertes de recette ou honoraires (période d'indemnisation PI de 12 Mois)</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.perteRecettes | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Perte de valeur vénale du fond de commerce</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.perteValeurVenale | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Frais supplémentaires</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ vm.fraisSupplementaire | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Dommages aux marchandises et matériels transportés pour compte propre </h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Contenu garanti : pour les garanties incendie, tempêtes, vandalisme, dégâts des eaux </h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<h5>Contenu garanti : pour la garantie vol</h5>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } else if (type==='MD') { %>
<div class="modal fade modal-fullscreen" ng-controller="SimulationPMRCRController as vm" id="md-garanties" tabindex="-1"
 role="dialog" aria-labelledby="modalLargeLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times"></i>
					</span>
				</button>
				<div class="garanties md-garanties">
					<div class="fixed-title">
						<h2 class="title-section color-grey">LES GARANTIES VETOPTIM</h2>
					</div>
					<div class="content-modal">
						<div class="container">
							<ul class="garanties-liste">
								<li>
									<div class="garanties multiple">
										<ul class="liste-garantie">
											<li class="m-b-20-imp fixed-head">
												<div class="left bg-none"></div>
												<div class="right">
													<ul class="right-liste header">
														<li>
															<div class="content">1</div>
														</li>
														<li>
															<div class="content">2</div>
														</li>
														<li>
															<div class="content">3</div>
														</li>
														<li>
															<div class="content">4</div>
														</li>
														<li>
															<div class="content">5</div>
														</li>
														<li>
															<div class="content">6</div>
														</li>
													</ul>
												</div>
											</li>
											<li class="d-block">
												<h4 class="form-title-recap color-skyblue m-b-20-imp">HOSPITALISATION MÉDICALE OU CHIRURGICALE</h4>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Frais de séjours</h5>
														<p class="font-s-12">ÉTABLISSEMENTS CONVENTIONNÉS</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Frais de séjours</h5>
														<p class="font-s-12">ÉTABLISSEMENTS NON CONVENTIONNÉS</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">175%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Actes en secteur Hospitalier, honoraires chirurgicaux</h5>
														<p class="font-s-12">Chirurgie, Anesthésie, Réanimation: MÉDECINS ADHÉRENTS OPTAM/OPTAM-CO</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
														<li>
															<div class="content">250%</div>
														</li>
														<li>
															<div class="content">300%</div>
														</li>
														<li>
															<div class="content">400%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Actes en secteur Hospitalier, honoraires chirurgicaux</h5>
														<p class="font-s-12">Chirurgie, Anesthésie, Réanimation: MÉDECINS NON ADHÉRENTS OPTAM/OPTAM-CO</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">175%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Chambre particulière Hors ambulatoire</h5>
														<p class="font-s-12">Maladie, Chirurgie, Maternité: DURÉE ILLIMITÉE</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">35 €/jour</div>
														</li>
														<li>
															<div class="content">45 €/jour</div>
														</li>
														<li>
															<div class="content">65 €/jour</div>
														</li>
														<li>
															<div class="content">75 €/jour</div>
														</li>
														<li>
															<div class="content">85 €/jour</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Chambre particulière Hors ambulatoire</h5>
														<p class="font-s-12">Réadaptation fonctionnelle, Rééducation, Moyens séjours, Cures, Convalescence,
															Psychiatrie: DURÉE LIMITÉE À
															60 JOURS/AN</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">30 €/jour</div>
														</li>
														<li>
															<div class="content">40 €/jour</div>
														</li>
														<li>
															<div class="content">60 €/jour</div>
														</li>
														<li>
															<div class="content">70 €/jour</div>
														</li>
														<li>
															<div class="content">80 €/jour</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Forfait Journalier Hospitalier</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
														<li>
															<div class="content">Frais réels</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Frais de transport</h5>
														<p class="font-s-12">si acceptés par le Régime Obligatoire</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">115%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">135%</div>
														</li>
														<li>
															<div class="content">145%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Frais d’accompagnement</h5>
														<p class="font-s-12">Conjoint, Ascendants, Descendants</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">0,75%
																<br>PMSS / jour</div>
														</li>
														<li>
															<div class="content">1,00%
																<br>PMSS / jour</div>
														</li>
														<li>
															<div class="content">1,25%
																<br>PMSS / jour</div>
														</li>
														<li>
															<div class="content">1,50%
																<br>PMSS / jour</div>
														</li>
														<li>
															<div class="content">1,50%
																<br>PMSS / jour</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Forfait naissance ou adoption</h5>
														<p class="font-s-12">PAR ENFANT</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">100 €</div>
														</li>
														<li>
															<div class="content">150 €</div>
														</li>
														<li>
															<div class="content">200 €</div>
														</li>
														<li>
															<div class="content">250 €</div>
														</li>
														<li>
															<div class="content">300 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li class="d-block">
												<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">MÉDECINE DE VILLE</h4>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Honoraires médicaux - Consultations Visites - Actes de spécialités (ATM)</h5>
														<p class="font-s-12">MÉDECINS ADHÉRENTS OPTAM/OPTAM-CO</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
														<li>
															<div class="content">250%</div>
														</li>
														<li>
															<div class="content">350%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Honoraires médicaux - Consultations Visites - Actes de spécialités (ATM)</h5>
														<p class="font-s-12">MÉDECINS NON ADHÉRENTS OPTAM/OPTAM-CO</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">175%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Radiologie</h5>
														<p class="font-s-12">MÉDECINS ADHÉRENTS OPTAM/OPTAM-CO</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
														<li>
															<div class="content">250%</div>
														</li>
														<li>
															<div class="content">300%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Radiologie</h5>
														<p class="font-s-12">MÉDECINS NON ADHÉRENTS OPTAM/OPTAM-CO</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">175%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Frais pharmaceutiques, vaccins et homéopathie</h5>
														<p class="font-s-12">REMBOURSÉS À 65 %</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Frais pharmaceutiques, vaccins et homéopathie</h5>
														<p class="font-s-12">REMBOURSÉS À 30 %</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Frais pharmaceutiques, vaccins et homéopathie</h5>
														<p class="font-s-12">REMBOURSÉS À 15 %</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Auxiliaires Médicaux</h5>
														<p class="font-s-12">Orthophonistes, infirmiers, kinésithérapeutes, orthoptistes</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
														<li>
															<div class="content">250%</div>
														</li>
														<li>
															<div class="content">350%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Analyse - Actes de Biologie</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
														<li>
															<div class="content">250%</div>
														</li>
														<li>
															<div class="content">350%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Fournitures et accessoires</h5>
														<p class="font-s-12">remboursés par le Régime Obligatoire</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
													</ul>
												</div>
											</li>
											<li class="d-block">
												<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">MÉDECINE NATURELLE ET PRÉVENTION</h4>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Cures thermales</h5>
														<p class="font-s-12">prises en charge par le Régime Obligatoire Honoraires, Soins, Frais de transport,
															Hébergement (PAR AN ET PAR
															BÉNÉFICIAIRE)
														</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100% + forfait 150 €</div>
														</li>
														<li>
															<div class="content">100% + forfait 200 €</div>
														</li>
														<li>
															<div class="content">100% + forfait 250 €</div>
														</li>
														<li>
															<div class="content">100% + forfait 300 €</div>
														</li>
														<li>
															<div class="content">100% + forfait 400 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Médecines Douces
															<span class="font-s-12">(consultations non remboursées par le RO)</span>
														</h5>
														<p class="font-s-12">Osthéopathie, éthiopathie, chiropractie, acupuncture, homéopathie, pédicure,
															diététicien (PRISE EN CHARGE 30€/CONSULTATION)</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">30 €</div>
														</li>
														<li>
															<div class="content">60 €</div>
														</li>
														<li>
															<div class="content">90 €</div>
														</li>
														<li>
															<div class="content">120 €</div>
														</li>
														<li>
															<div class="content">150 €</div>
														</li>
														<li>
															<div class="content">180 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Actes de Prévention</h5>
														<p class="font-s-12">remboursés par le Régime Obligatoire</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">100%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Dépistage et Prévention non remboursés par le RO</h5>
														<p class="font-s-12">se reporter aux conditions générales : (PAR AN ET PAR BÉNÉFICIAIRE)</p>
														<p class="font-s-12">- Vaccin anti-grippe</p>
														<p class="font-s-12">- Vaccins prescrits non remboursés par le RO</p>
														<p class="font-s-12">- Vaccins recommandés aux voyageurs (fièvres jaune, rage, typhoïde, hépatite A,
															méningite à méningocoques...)</p>
														<p class="font-s-12">- Traitement antipaludéen pour les voyages</p>
														<p class="font-s-12">- Substituts nicotiniques pour arrêter de fumer (en complément de la Sécurité
															sociale)</p>
														<p class="font-s-12">- Médicaments de l’ostéoporose</p>
														<p class="font-s-12">- Matériel de surveillance d’hypertension homologués AFSSAPS</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100 € / an / benéf</div>
														</li>
														<li>
															<div class="content">100 € / an / benéf</div>
														</li>
														<li>
															<div class="content">100 € / an / benéf</div>
														</li>
														<li>
															<div class="content">100 € / an / benéf</div>
														</li>
														<li>
															<div class="content">150 € / an / benéf</div>
														</li>
														<li>
															<div class="content">150 € / an / benéf</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Forfait contraception</h5>
														<p class="font-s-12">tous moyens de contraception prescrits, non remboursés par le RO</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">1% PMSS</div>
														</li>
														<li>
															<div class="content">1,5% PMSS</div>
														</li>
														<li>
															<div class="content">2% PMSS</div>
														</li>
														<li>
															<div class="content">3,10% PMSS</div>
														</li>
														<li>
															<div class="content">3,10% PMSS</div>
														</li>
													</ul>
												</div>
											</li>
											<li class="d-block">
												<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">DENTAIRE</h4>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Soins</h5>
														<p class="font-s-12">remboursables par le Régime Obligatoire</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">110%</div>
														</li>
														<li>
															<div class="content">120%</div>
														</li>
														<li>
															<div class="content">130%</div>
														</li>
														<li>
															<div class="content">140%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Prothèses dentaires et Orthodontie</h5>
														<p class="font-s-12">remboursables par le Régime Obligatoire dont piliers de bridge-inlays et onlays et
															inlays-cores</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">125%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">200%</div>
														</li>
														<li>
															<div class="content">250%</div>
														</li>
														<li>
															<div class="content">300%</div>
														</li>
														<li>
															<div class="content">400%</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Dentaire</h5>
														<p class="font-s-12">non remboursable par le Régime Obligatoire Prothèses dentaires, orthodontie,
															Implants, Parodontologie (PAR
															AN ET PAR BÉNÉFICIAIRE)</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">200 €</div>
														</li>
														<li>
															<div class="content">300 €</div>
														</li>
														<li>
															<div class="content">400 €</div>
														</li>
														<li>
															<div class="content">500 €</div>
														</li>
														<li>
															<div class="content">600 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li class="d-block">
												<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">OPTIQUE</h4>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Equipement
															<span class="font-s-12">Monture + 2 Verres simples</span>
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100 €</div>
														</li>
														<li>
															<div class="content">210 €</div>
														</li>
														<li>
															<div class="content">230 €</div>
														</li>
														<li>
															<div class="content">280 €</div>
														</li>
														<li>
															<div class="content">310 €</div>
														</li>
														<li>
															<div class="content">450 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Equipement
															<span class="font-s-12">Monture + 2 Verres complexes</span>
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">200 €</div>
														</li>
														<li>
															<div class="content">270 €</div>
														</li>
														<li>
															<div class="content">320 €</div>
														</li>
														<li>
															<div class="content">400 €</div>
														</li>
														<li>
															<div class="content">470 €</div>
														</li>
														<li>
															<div class="content">700 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Equipement
															<span class="font-s-12">Monture + 2 Verres très complexes</span>
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">200 €</div>
														</li>
														<li>
															<div class="content">370 €</div>
														</li>
														<li>
															<div class="content">390 €</div>
														</li>
														<li>
															<div class="content">650 €</div>
														</li>
														<li>
															<div class="content">780 €</div>
														</li>
														<li>
															<div class="content">800 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Equipement
															<span class="font-s-12">Monture + 1 Verre simple + 1 Verre complexe</span>
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">150 €</div>
														</li>
														<li>
															<div class="content">240 €</div>
														</li>
														<li>
															<div class="content">275 €</div>
														</li>
														<li>
															<div class="content">340 €</div>
														</li>
														<li>
															<div class="content">390 €</div>
														</li>
														<li>
															<div class="content">575 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Equipement
															<span class="font-s-12">Monture + 1 Verre simple + 1 Verre très complexe</span>
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">150 €</div>
														</li>
														<li>
															<div class="content">290 €</div>
														</li>
														<li>
															<div class="content">310 €</div>
														</li>
														<li>
															<div class="content">465 €</div>
														</li>
														<li>
															<div class="content">545 €</div>
														</li>
														<li>
															<div class="content">625 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Equipement
															<span class="font-s-12">Monture + 1 Verre complexe + 1 Verre très complexe</span>
														</h5>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">200 €</div>
														</li>
														<li>
															<div class="content">320 €</div>
														</li>
														<li>
															<div class="content">355 €</div>
														</li>
														<li>
															<div class="content">525 €</div>
														</li>
														<li>
															<div class="content">625 €</div>
														</li>
														<li>
															<div class="content">750 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Lentilles</h5>
														<p class="font-s-12">remboursables par le Régime Obligatoire (PAR AN ET PAR BÉNÉFICIAIRE)</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">100% + 4,50% PMSS</div>
														</li>
														<li>
															<div class="content">100% + 6% PMSS</div>
														</li>
														<li>
															<div class="content">100% + 7% PMSS</div>
														</li>
														<li>
															<div class="content">100% + 9% PMSS</div>
														</li>
														<li>
															<div class="content">100% + 10% PMSS</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Lentilles</h5>
														<p class="font-s-12">non remboursables par le Régime Obligatoire (PAR AN ET PAR BÉNÉFICIAIRE)</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">4,50% PMSS</div>
														</li>
														<li>
															<div class="content">6% PMSS</div>
														</li>
														<li>
															<div class="content">7% PMSS</div>
														</li>
														<li>
															<div class="content">9% PMSS</div>
														</li>
														<li>
															<div class="content">10% PMSS</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Chirurgie corrective ou réfractive</h5>
														<p class="font-s-12">non remboursable par le Régime Obligatoire Myopie, Hypermétropie, Astigmatisme,
															Presbytie (PAR OEIL / PAR AN
															ET PAR BÉNÉFICIAIRE)</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">-</div>
														</li>
														<li>
															<div class="content">150 €</div>
														</li>
														<li>
															<div class="content">250 €</div>
														</li>
														<li>
															<div class="content">350 €</div>
														</li>
														<li>
															<div class="content">450 €</div>
														</li>
														<li>
															<div class="content">600 €</div>
														</li>
													</ul>
												</div>
											</li>
											<li class="d-block">
												<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">APPAREILLAGE</h4>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Prothèses auditives</h5>
														<p class="font-s-12">remboursables par le Régime Obligatoire</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">115%</div>
														</li>
														<li>
															<div class="content">165%</div>
														</li>
														<li>
															<div class="content">265%</div>
														</li>
														<li>
															<div class="content">315%</div>
														</li>
														<li>
															<div class="content">315% + forfait 200 € / an</div>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="left">
													<div class="content">
														<h5>Orthopédie et prothèses diverses</h5>
														<p class="font-s-12">remboursables par le Régime Obligatoire</p>
													</div>
												</div>
												<div class="right">
													<ul class="right-liste">
														<li>
															<div class="content">100%</div>
														</li>
														<li>
															<div class="content">110%</div>
														</li>
														<li>
															<div class="content">150%</div>
														</li>
														<li>
															<div class="content">250%</div>
														</li>
														<li>
															<div class="content">300%</div>
														</li>
														<li>
															<div class="content">300%</div>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } else if (type==='RCMS') { %>
<div class="modal fade modal-fullscreen" id="rcms-garanties" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times"></i>
					</span>
				</button>
				<div class="garanties rcms-garanties">
					<div class="fixed-title">
						<h2 class="title-section color-grey">LES GARANTIES VETOPTIM</h2>
					</div>
					<div class="content-modal">
						<div class="container">
							<ul class="liste-garantie">
								<li class="fixed-head">
									<div class="left bg-blue">
										<div class="content">
											<h5>Responsabilité des Dirigeants</h5>
										</div>
									</div>
									<div class="right bg-skyblue">
										<div class="content">
											<h6>
												Limite de Garantie par Période d’Assurance
												selon l’option choisie dans le tableau
												ci-dessus
											</h6>
										</div>
									</div>
								</li>
								<li class="d-block m-t-40">
									<h4 class="form-title-recap color-skyblue m-b-20-imp">Dont en sous-limites pour les Dirigeants personnes
										physiques:</h4>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Reconstitution de garantie « personnes physiques »</p>
											<p>- Reconstitution de garantie « administrateurs indépendants »</p>
											<p>- Réclamations Sociale</p>
											<p>- Atteinte à l’environnement</p>
											<p>- Hygiènes & Sécurité</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">100%</span> de la limite applicable au contrat
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Anciens dirigeants</p>
											<p>- Plaider coupable</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">100%</span> de la limite applicable au contrat
											</p>
										</div>
									</div>
								</li>
								<li class="d-block m-t-40">
									<h4 class="form-title-recap color-skyblue m-b-20-imp">Dont en sous-limites à partir de 600 000 € de couverture
										pour les Dirigeants personnes morales:</h4>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Personne morale administrateur « montante »</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												Néant
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Personne morale administrateur « descendante »</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">100%</span> de la limite applicable au contrat
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Réclamation « boursière »</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												Néant
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Faute « non séparable »</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">100%</span> de la limite applicable au contrat
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Réclamations « conjointes »</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">100%</span> de la limite applicable au contrat
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Fonds de prévention des entreprises en difficulté</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">100%</span> de la limite applicable au contrat
											</p>
										</div>
									</div>
								</li>
								<li class="d-block m-t-40">
									<h4 class="form-title-recap color-skyblue m-b-20-imp">Services et assistances:</h4>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Relations publiques, Image & Soutien psychologique</p>
											<p>- Frais de prévention</p>
											<p>- Procédure d’extradition</p>
											<p>- Procédure de privation de biens ou liberté</p>
											<p>- Frais de constitution de caution</p>
											<p>- Contrôle fiscal</p>
											<p>- Crise</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												<span class="bold color-skyblue">100%</span> de la limite applicable au contrat
											</p>
										</div>
									</div>
								</li>
								<li class="d-block m-t-40">
									<h4 class="form-title-recap color-skyblue m-b-20-imp">Extensions:</h4>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>- Filiale</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												Incluse
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<div class="content">
											<p>Franchise par sinistre</p>
										</div>
									</div>
									<div class="right">
										<div class="content">
											<p>
												Néant
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% }%>