<div class="modal fade modal-center" id="popup-newsletter" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <div class="popup-content" ng-controller="SimulationCRController as vm">
                    <span class="icon icon-sauvgarde"></span>
                    <h2 class="title-section-simple">VOUS ÊTES DÉJÀ INSCRIT AU NEWSLETTER</h2>
                    <h3>SOUHAITEZ-VOUS VOUS DÉSABONNER ?</h3>
                    <a href="#" ng-click="vm.unsubscribeToNewsLetter()" class="button button-pink disabled">OUI, JE
                        ME DÉSABONNE<span class="icon-right icon-arrow-right"></span></a><br />
                    <a href="#" class="learn-more" data-dismiss="modal" aria-label="Close">NON, JE CONTINUE</a><br /><br />
                    <div ng-if="vm.success">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" style="top: 0;right: 0;" data-dismiss="alert"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{vm.success}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>