<div class="modal fade modal-fullscreen" id="login" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-login">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="connexion-tab" data-toggle="tab" href="#connexion" role="tab"
                            aria-controls="connexion" aria-selected="true"><span>CONNEXION</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="inscription-tab" data-toggle="tab" href="#inscription" role="tab"
                            aria-controls="inscription" aria-selected="false"><span>INSCRIPTION</span></a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" ng-controller="AuthController as vm">
                    <div class="tab-pane active" id="connexion" role="tabpanel" aria-labelledby="connexion-tab">
                        <div class="form-content">
                            <div class="form-vertical">
                                <div class="div-form">
                                    <h3>J’AI UN COMPTE</h3>
                                    <form class="register-form" ng-submit="vm.login()" data-toggle="validator" role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="vm.user.login"
                                                placeholder="Email" required>
                                            <span class="icon icon-user"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" ng-model="vm.user.password"
                                                placeholder="Mot de passe" required>
                                            <span class="icon icon-securise"></span>
                                        </div>
                                        <div ng-if="vm.loginError">
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                {{vm.loginError}}
                                            </div>
                                        </div>
                                        <div class="text-center m-t-50">
                                            <button type="submit" class="button button-white-over">CONNEXION</button>
                                            <a href="javascript:void(0)" class="learn-more toggle-form">Mot de passe
                                                oublié ?</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="div-form" style="display: none;">
                                    <h3>Mot de passe oublié ?</h3>
                                    <form class="register-form" ng-submit="vm.getResetPassword()" data-toggle="validator"
                                        role="form">
                                        <div class="form-group">
                                            <input type="email" class="form-control" ng-model="vm.user.resetemail"
                                                placeholder="Email" required>
                                            <span class="icon icon-user"></span>
                                        </div>
                                        <div ng-if="vm.resetSuccess">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                {{vm.resetSuccess}}
                                            </div>
                                        </div>
                                        <div ng-if="vm.resetError">
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                {{vm.resetError}}
                                            </div>
                                        </div>
                                        <div class="text-center m-t-50">
                                            <button type="submit" class="button button-white-over">ENVOYER</button>
                                            <a href="javascript:void(0)" class="learn-more toggle-form">Connexion ?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="inscription" role="tabpanel" aria-labelledby="inscription-tab">
                        <div class="form-content">
                            <div class="form-vertical">
                                <h3>JE CRÉE MON COMPTE</h3>
                                <form class="register-form" ng-submit="vm.registerPopup()" data-toggle="validator" role="form"
                                    id="registerInfos">
                                    <div class="form-group">
                                        <input type="email" class="form-control" ng-model="vm.user.emailr" placeholder="Email"
                                            required>
                                        <span class="icon icon-user"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="inputPassword" ng-model="vm.user.passwordr"
                                            data-minlength="4" placeholder="Mot de passe" required>
                                        <span class="icon icon-securise"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" data-match="#inputPassword"
                                            data-minlength="4" placeholder="Confirmation de votre mot de passe"
                                            required>
                                        <span class="icon icon-securise"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="N° Télephone" ng-model="vm.user.mobiler"
                                            required>
                                        <span class="icon icon-phone"></span>
                                    </div>
                                    <div ng-if="vm.registerError">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{vm.registerError}}
                                        </div>
                                    </div>
                                    <div class="form-check-validation m-t-40" style="text-align:left;">
                                        <label for="ter1" class="label-checkbox">
                                            <input type="checkbox" id="ter1" name="infoTerm1" value="ter1" ng-model="vm.user.infoTerm1" />
                                            J’accepte les conditions générales
                                            <div class="checkbox"></div>
                                        </label>
                                        <br>
                                        <label for="ter2" class="label-checkbox">
                                            <input type="checkbox" id="ter2" name="infoTerm2" value="ter2" ng-model="vm.user.infoTerm2" />
                                            J'accepte de recevoir des emails (rares et pécieux)
                                            <div class="checkbox"></div>
                                        </label>
                                    </div>
                                    <div ng-if="vm.error">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{vm.error}}
                                        </div>
                                    </div>
                                    <div class="text-center m-t-50">
                                        <button type="submit" class="button button-white-over">CRÉER UN COMPTE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>