<div class="modal fade modal-fullscreen" id="appel" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-appel">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <div class="menu-vertical">
                    <h3>01 77 66 40 89</h3>
                    <p>APPEL GRATUIT.</p>
                    <p>DU LUNDI AU VENDREDI, DE 8H30 À 19H.</p>
                    <a href="tel:0177664089" class="button button-white-over">APPELER</a>
                </div>
            </div>
        </div>
    </div>
</div>