<div class="profile-menu">
	<ul>
		<% if (!req.user.isCommercial && !req.user.isAdmin) { %>
		<li><a href="/journal" class="<% if (req.url == '/journal') { %>active<% } %>"><span class="icon icon-journal"></span><span
				 class="texte">MON JOURNAL</span></a></li>
		<li><a href="/informations" class="<% if (req.url == '/informations' || req.url == '/modifer-password') { %>active<% } %>"><span
				 class="icon icon-user"></span><span class="texte">MES INFORMATIONS</span></a></li>
		<li><a href="/devis" class="<% if (req.url == '/devis') { %>active<% } %>"><span class="icon icon-euro"></span><span
				 class="texte">MES DEVIS</span></a></li>
		<li ng-show="!vm.isCommercial">
			<a href="javascript:void(0)" class="sub-menu <% if (req.url == '/sinistres' || req.url == '/declare-sinistre') { %>active<% } %>"><span
				 class="icon icon-sinistre"></span><span class="texte">MES SINISTRES</span> <span class="accordion"></span></a>
			<ul class="sub-liste">
				<li><a href="/sinistres" class="<% if (req.url == '/sinistres') { %>active<% } %>">MES SINISTRES DÉCLARÉS</a></li>
				<li><a href="/declare-sinistre" class="<% if (req.url == '/declare-sinistre') { %>active<% } %>">DÉCLARER UN
						SINISTRE</a></li>
			</ul>
		</li>
		<li><a href="/contrats" class="<% if (req.url == '/contrats') { %>active<% } %>"><span class="icon icon-contrats"></span><span
				 class="texte">MES CONTRATS</span></a></li>
		<% } %>
		<% if (req.user.isCommercial) { %>
		<li>
			<a href="javascript:void(0)" class="sub-menu <% if (req.url == '/journal' || req.url == '/contrats-crees' || req.url == '/ajouter-contrat')  { %>active<% } %>"><span
				 class="icon icon-sinistre"></span><span class="texte">CONTRATS</span> <span class="accordion"></span></a>
			<ul class="sub-liste">
				<li><a href="/contrats-crees" class="<% if (req.url == '/contrats-crees') { %>active<% } %>">CONTRATS CRÉÉS</a></li>
				<li><a href="/ajouter-contrat" class="<% if (req.url == '/ajouter-contrat') { %>active<% } %>">AJOUTER UN CONTRAT</a></li>
			</ul>
		</li>
		<% } %>
		<% if (req.user.isAdmin) { %>
		<li><a href="/informations" class="<% if (req.url == '/informations' || req.url == '/modifer-password') { %>active<% } %>"><span
				 class="icon icon-user"></span><span class="texte">MES INFORMATIONS</span></a></li>
		<li>
			<a href="javascript:void(0)" class="sub-menu <% if (req.url == '/journal' || req.url == '/contrats-crees' || req.url == '/ajouter-contrat' || req.url == '/devis' || req.url == '/contrats-crees')  { %>active<% } %>"><span
				 class="icon icon-sinistre"></span><span class="texte">CONTRATS</span> <span class="accordion"></span></a>
			<ul class="sub-liste">
				<li><a href="/contrats-crees" class="<% if (req.url == '/contrats-crees') { %>active<% } %>">CONTRATS
						CRÉÉS</a></li>
				<li><a href="/devis" class="<% if (req.url == '/devis') { %>active<% } %>">DEVIS CRÉÉS</a></li>
			</ul>
		</li>
		<% } %>
		<% if (!req.user.isCommercial && !req.user.isAdmin) { %>
		<li class="color-pink"><a href="/supprimer-compte" class="<% if (req.url == '/supprimer-compte' || req.url == '/supprimer-check') { %>active<% } %>"><span
				 class="icon fa fa-trash-o"></span><span class="texte">SUPPRIMER MON COMPTE</span></a></li>
		<% } %>
	</ul>
</div>