<div class="section-sidebar">
	<ul>
		<% if (req.url == '/a-propos' || req.url == '/contact' 
			|| req.url == '/custom-quote' || req.url == '/custom-rate' || req.url == '/partenariat-bourgelat') { %>
		<li><a href="/devis"><span class="icon icon-devis"></span><span class="link">DEVIS</span></a></li>
		<% }else{ %>
		<li class="devis-none"></li>
		<% } %>
		<li><a href="#"><span class="icon icon-aide"></span><span class="link">AIDE</span></a></li>
		<li><a href="/rappeler"><span class="icon icon-phone"></span><span class="link">ETRE RAPPELÉ</span></a></li>
		<li><a href="/declare-sinistre"><span class="icon icon-sinistre"></span><span class="link">DÉCLARER SINISTRE</span></a></li>
		<li><a href="/contact"><span class="icon icon-contact"></span><span class="link">CONTACT</span></a></li>
	</ul>
</div>