<div class="sidebar">
	<div class="widget-service">
		<ul class="liste-service">
			<li>
				<span class="icon-securise"></span>
				<p>Données protégées et sécurisées (RGPD)</p>
			</li>
			<li>
				<span class="icon icon-simplicite"></span>
				<p>Le parcours en ligne est simple et rapide</p>
			</li>
			<li>
				<span class="icon icon-activite"></span>
				<p>Nos interlocuteurs sont 100% vétos</p>
			</li>
		</ul>
	</div>
</div>