<%- partial('../../partials/header-page', {'title': ''}); %>

<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
	<div class="container">
		<h2><span class="icon icon-devis"></span>Demande de devis</h2>
	</div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
	<div class="container">
		<h2><span class="icon icon-devis"></span>Demande de devis</h2>
	</div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
	ng-controller="SimulationCRController as vm">
	<% } else if (type==='PMR') { %>
	ng-controller="SimulationPMRController as vm">
	<% } else if (type==='PMRCR') { %>
	ng-controller="SimulationPMRCRController as vm">
	<% } else if (type==='MD') { %>
	ng-controller="SimulationMDController as vm">
	<% } else if(type==='RCMS') { %>
	ng-controller="SimulationRCMSController as vm">
	<% } %>
	<div class="container">
		<div class="sticky-content m-b-50">
			<div class="row">
				<div class="col-lg-9 col-xl-7">
					<div class="btn-return">
						<a href="javascript:history.back()"><span class="icon icon-return"></span>RETOUR</a>
					</div>
					<form class="steps-form" method="post" data-toggle="validator" role="form" name="customRateForm" ng-submit="vm.saveCustomRate()">
						<!-- <div class="form-group">
							<div class="inline-group">
								<label>CHIFFRE D'AFFAIRES HT (€)<span class="required">*</span></label>
								<div class="inline-div">
									<input type="text" ng-model="vm.chiffreAffaires" ng-value="vm.chiffreAffaires | currencyFormatInput" pattern="^[\d\s]{1,10}$"
									 class="form-control" data-error="Le chiffre d'affaires HT doit être au format  7 chiffres maximum"
									 placeholder="Chiffre d'affaires annuel hors taxes" disabled required>
								</div>
							</div>
							<div class="succes-rappelerlock with-errors"></div>
						</div> -->
						<div class="form-group">
							<div class="inline-group">
								<label>Nom<span class="required">*</span></label>
								<div class="inline-div">
									<input type="text" ng-model="vm.firstname" ng-value="vm.firstname" pattern="^[a-zA-Z\s]*$" data-error="Veuillez compléter le champs"
									 class="form-control" placeholder="Nom" required>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>Prénom<span class="required">*</span></label>
								<div class="inline-div">
									<input type="text" ng-model="vm.lastname" ng-value="vm.lastname" pattern="^[a-zA-Z\s]*$" data-error="Veuillez compléter le champs"
									 class="form-control" placeholder="Prénom" required>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>Email<span class="required">*</span></label>
								<div class="inline-div">
									<input type="email" ng-model="vm.requestEmail" class="form-control" data-error="Veuillez compléter le champs"
									 placeholder="Email" required>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>Téléphone<span class="required">*</span></label>
								<div class="inline-div">
									<input type="text" ng-model="vm.phone" ng-value="vm.phone" maxlength="15" pattern="^[0-9+]*$" data-error="Veuillez compléter le champs"
									 class="form-control" placeholder="Téléphone" required>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="required-info">
							<p>*Champs obligatoires</p>
							<p style="color:#485865">En saisissant ces informations, vous acceptez <a class="underline bold" href="/pdf/consentement.pdf"
								 target="_blank">le traitement de vos données personnelles</a></p>
						</div>
						<div class="form-group text-center m-t-50">
							<button type="submit" class="button button-pink">Demande de devis</button>
						</div>
					</form>
				</div>
				<div class="col-xl-2 d-none d-xl-block"></div>
				<div class="col-lg-3 d-none d-lg-block">
					<%- partial('../../components/services'); %>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>