<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-blue">
    <div class="container">
        <h2><span class="icon icon-devis"></span>Demande de devis personnalisé</h2>
    </div>
</div>
<div class="content-section">
    <div class="container">
        <div class="success-souscription m-t-80">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="icon-souscription"><span class="icon icon-devis"></span></p>
                    <h2 class="title-section-simple color-grey">VOTRE DEMANDE DE DEVIS A BIEN ÉTÉ ENREGISTRÉE. </h2>
                    <div class="division"></div>
                    <div class="m-b-20"></div>
                    <p>Un de nos conseillers prendra contact avec vous dans les plus brefs délais afin de vous faire
                        une offre
                        personnalisée.</p>
                    <div class="souscription-link m-t-40">
                        <a href="/" class="button button-blue"><span class="icon icon-user"></span>Retour à la page
                            d'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>