<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-blue">
	<div class="container">
		<h2><span class="icon icon-devis"></span>Demande de devis</h2>
	</div>
</div>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="sticky-content m-b-50">
			<div class="row">
				<div class="col-lg-9 col-xl-7">
					<div class="btn-return">
						<a href="/"><span class="icon icon-return"></span>RETOUR</a>
					</div>
					<form class="steps-form" method="post" data-toggle="validator" role="form" name="customQuoteForm" ng-submit="vm.saveCustomQuote()">

						<div class="form-group">
							<div class="inline-group">
								<label>OFFRE<span class="required">*</span></label>
								<div class="inline-div">
									<select name="offer" class="form-control" ng-model="vm.customQuote.offer" required data-error="Veuillez sélectionner une offre">
										<option class="d-none" value="">VEUILLEZ CHOISIR UNE OFFRE</option>
										<option value="Prévoyance">PRÉVOYANCE</option>
										<option value="Santé">PROTECTION DES SALARIÉS SANTÉ</option>
										<option value="Auto">AUTO</option>
										<option value="Habitation">HABITATION</option>
									</select>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>Nom<span class="required">*</span></label>
								<div class="inline-div">
									<input type="text" ng-model="vm.customQuote.firstname" pattern="^[a-zA-Z\s]*$" class="form-control"
									 placeholder="Nom" required data-error="Veuillez compléter le champs">
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>Prénom<span class="required">*</span></label>
								<div class="inline-div">
									<input type="text" ng-model="vm.customQuote.lastname" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="Prénom"
									 required data-error="Veuillez compléter le champs">
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>Email<span class="required">*</span></label>
								<div class="inline-div">
									<input type="email" ng-model="vm.customQuote.requestEmail" class="form-control" placeholder="Email" required
									 data-error="Veuillez compléter le champs">
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>Téléphone<span class="required">*</span></label>
								<div class="inline-div">
									<input type="text" ng-model="vm.customQuote.phone" maxlength="15" pattern="^[0-9+]*$" class="form-control"
									 placeholder="Téléphone" data-error="Veuillez compléter le champs" required>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="required-info">
							<p>*Champs obligatoires</p>
							<p style="color:#485865">En saisissant ces informations, vous acceptez <a class="underline bold" href="/pdf/consentement.pdf"
								 target="_blank">le traitement de vos données personnelles</a></p>
						</div>
						<div class="form-group text-center m-t-50">
							<button type="submit" class="button button-pink">Demande de devis</button>
						</div>
					</form>
				</div>
				<div class="col-xl-2 d-none d-xl-block"></div>
				<div class="col-lg-3 d-none d-lg-block">
					<%- partial('../../components/services'); %>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>