<%- partial('../../partials/header-page', {'title': ''}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2><span class="icon icon-devis"></span>Demande de devis</h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2><span class="icon icon-devis"></span>Demande de devis</h2>
    </div>
</div>
<% } %>
<div class="content-section">
    <div class="container">
        <div class="success-souscription">
            <div class="m-t-50"></div>
            <p class="icon-souscription"><span class="icon icon-devis"></span></p>
            <h2 class="title-section-simple color-grey">DEMANDE DE DEVIS PERSONNALISÉ ENVOYÉE AVEC SUCCÈS !</h2>
            <h3>NOUS VOUS REMERCIONS POUR VOTRE CONFIANCE</h3>
            <div class="division"></div>
            <div class="m-b-20"></div>
            <p>Un conseiller va prendre contact avec vous dès que possible.</p>
            <div class="souscription-link m-t-40">
                <% if(type==='RCMS'){ %>
                <a href="/" class="button button-skyblue"><span class="icon icon-user"></span>Retour à la page
                    d'accueil</a>
                <% } else { %>
                <a href="/" class="button button-blue"><span class="icon icon-user"></span>Retour à la page d'accueil</a>
                <% } %>
            </div>
        </div>
    </div>
</div>