<%- partial('../../partials/header-page', {'title': ''}); %>
<% if (type !== 'MD') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2><span class="icon icon-contact"></span>Paiement bancaire</h2>
    </div>
</div>
<% } else { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2><span class="icon icon-contact"></span>Paiement bancaire</h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } %>
    <div class="container">
        <div class="btn-return">
            <a href="/payment?offerType=<%=type%>" class=""><span class="icon icon-return"></span>RETOUR</a>
        </div>
        <h3 class="form-title">MODE DE PAIEMENT</h3>
        <form class="steps-form" ng-submit="vm.savePaymentMethod()" data-toggle="validator" role="form">
            <div class="row m-b-10">
                <div class="col-sm-6">
                    <p>Voulez vous continuer par</p>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select name="paymentMethod" class="form-control" ng-model="vm.paymentMethod">
                            <option value="sepa">PRÉLÈVEMENT SEPA</option>
                            <option value="cb">CARTE BANCAIRE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group text-center m-t-50">
                <button type="submit" class="button button-pink">JE CONTINUE<span class="icon-right icon-arrow-right"></span></button>
            </div>
        </form>
    </div>
</div>