<%- partial('../../partials/header-page', {'title': ''}); %>
<% if (type !== 'MD') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2><span class="icon icon-contact"></span>Paiement bancaire</h2>
    </div>
</div>
<% } else { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2><span class="icon icon-contact"></span>Paiement bancaire</h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } %>
    <div class="container">
        <div class="btn-return">
            <a href="/payment?offerType=<%=type%>" class=""><span class="icon icon-return"></span>RETOUR</a>
        </div>
        <div class="success-souscription">
            <ng-include src="vm.bcUrl"></ng-include>
        </div>
    </div>
</div>