<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-<%- color %>">
	<div class="container">
		<h2>
			<span class="icon icon-responsabilite"></span>
			<%- title %>
		</h2>
	</div>
</div>


<div class="content-section" ng-controller="<%- controller %> as vm">
	<div class="container">
		<div class="sticky-content m-b-50">
			<div class="row">
				<div class="col-lg-9 col-xl-7">
					<div class="btn-return">
						<a href="javascript:history.back()" class="">
							<span class="icon icon-return"></span>RETOUR</a>
					</div>
					<div ng-if="vm.error">
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{vm.error}}
						</div>
					</div>
					<form class="steps-form" method="post" name="sim1Form" id="sim1Form" data-toggle="validator" role="form" ng-submit="vm.store()">

						<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
						<div class="form-group">
							<div class="inline-group">
								<label>CHIFFRE D'AFFAIRES HT(€)
									<span class="required">*</span>
								</label>
								<div class="inline-div">
									<input type="text" id="chiffreAffaires" ng-model="vm.chiffreAffaires" ng-value="vm.chiffreAffaires | currencyFormatInput"
									 pattern="^[\d\s]{1,10}$" maxlength="10" class="form-control" data-error="Veuillez compléter le champs"
									 placeholder="Montant exprimé en euros" required>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>ACTIVITÉ
									<span class="required">*</span>
								</label>
								<div class="inline-div">
									<div class="form-check">
										<label class="label-radio">
											<input type="radio" name="activite" value="urbain" ng-model="vm.activite" ng-checked="vm.activite === 'urbain' ? true : true"
											 required> Animaux de compagnie et NAC
											<div class="radio"></div>
										</label>
									</div>
									<div class="form-check">
										<label class="label-radio">
											<input type="radio" name="activite" value="rurale" ng-model="vm.activite" ng-checked="vm.activite === 'rurale'">
											Rurale, Equin et Mixte
											<div class="radio"></div>
										</label>
									</div>
								</div>
							</div>
						</div>
						<% } else if (type==='MD') { %>
						<div class="form-group">
							<div class="inline-group">
								<label>DATE DE NAISSANCE
									<span class="required">*</span>
								</label>
								<div class="inline-div inline-date">
									<select ng-model="vm.form.leaderBirthdateDay" class="form-control" required>
										<option class="d-none" value="">JOUR</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 1" value="01">01</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 2" value="02">02</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 3" value="03">03</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 4" value="04">04</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 5" value="05">05</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 6" value="06">06</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 7" value="07">07</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 8" value="08">08</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 9" value="09">09</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 10" value="10">10</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 11" value="11">11</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 12" value="12">12</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 13" value="13">13</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 14" value="14">14</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 15" value="15">15</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 16" value="16">16</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 17" value="17">17</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 18" value="18">18</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 19" value="19">19</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 20" value="20">20</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 21" value="21">21</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 22" value="22">22</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 23" value="23">23</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 24" value="24">24</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 25" value="25">25</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 26" value="26">26</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 27" value="27">27</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 28" value="28">28</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 29" value="29">29</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 30" value="30">30</option>
										<option ng-selected="vm.form.leaderBirthdateDay === 31" value="31">31</option>
									</select>
									<select ng-model="vm.form.leaderBirthdateMonth" class="form-control" required>
										<option class="d-none" value="">MOIS</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 1" value="01">01</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 2" value="02">02</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 3" value="03">03</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 4" value="04">04</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 5" value="05">05</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 6" value="06">06</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 7" value="07">07</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 8" value="08">08</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 9" value="09">09</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 10" value="10">10</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 11" value="11">11</option>
										<option ng-selected="vm.form.leaderBirthdateMonth === 12" value="12">12</option>
									</select>
									<input type="text" class="form-control" maxlength="4" minlength="4" ng-model="vm.form.leaderBirthdateYear"
									 ng-value="vm.form.leaderBirthdateYear" pattern="^(19|20)\d\d$" placeholder="ANNÉE" required>
									<span class="calendar icon-calendar"></span>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label>avez vous un conjoint ?
									<span class="required">*</span>
								</label>
								<div class="inline-div">
									<div class="form-check form-check-inline">
										<label class="label-radio">
											<input type="radio" name="haveConjoint" value="oui" ng-model="vm.form.haveConjoint" required /> OUI
											<div class="radio"></div>
										</label>
									</div>
									<div class="form-check form-check-inline">
										<label class="label-radio">
											<input type="radio" name="haveConjoint" value="non" ng-model="vm.form.haveConjoint" />
											NON
											<div class="radio"></div>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="vm.form.haveConjoint === 'oui' || vm.form.haveConjoint === true">
							<div class="inline-group hide-element-bg">
								<label>NOM
								</label>
								<div class="inline-div">
									<input type="text" ng-model="vm.form.conjointName" pattern="^[a-zA-Z\s]+$" class="form-control" placeholder="NOM DU CONJOINT"
									 ng-required="vm.form.haveConjoint === 'oui'">
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
							<div class="inline-group hide-element-bg">
								<label>PRÉNOM
								</label>
								<div class="inline-div">
									<input type="text" ng-model="vm.form.conjointLastname" pattern="^[a-zA-Z\s]+$" class="form-control"
									 placeholder="PRÉNOM DU CONJOINT" ng-required="vm.form.haveConjoint === 'oui'">
								</div>
							</div>
							<div class="
									 help-block with-errors text-right"></div>
							<div class="inline-group hide-element-bg">
								<label>DATE DE NAISSANCE
								</label>
								<div class="inline-div inline-date">
									<select class="form-control" ng-model="vm.form.conjointBirthdateDay" ng-required="vm.form.haveConjoint === 'oui'">
										<option class="d-none" value="">JOUR</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 1" value="01">01</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 2" value="02">02</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 3" value="03">03</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 4" value="04">04</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 5" value="05">05</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 6" value="06">06</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 7" value="07">07</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 8" value="08">08</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 9" value="09">09</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 10" value="10">10</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 11" value="11">11</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 12" value="12">12</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 13" value="13">13</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 14" value="14">14</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 15" value="15">15</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 16" value="16">16</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 17" value="17">17</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 18" value="18">18</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 19" value="19">19</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 20" value="20">20</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 21" value="21">21</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 22" value="22">22</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 23" value="23">23</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 24" value="24">24</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 25" value="25">25</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 26" value="26">26</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 27" value="27">27</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 28" value="28">28</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 29" value="29">29</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 30" value="30">30</option>
										<option ng-selected="vm.form.conjointBirthdateDay === 31" value="31">31</option>
									</select>
									<select class="form-control" ng-model="vm.form.conjointBirthdateMonth" ng-required="vm.form.haveConjoint === 'oui'">
										<option class="d-none" value="">MOIS</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 1" value="01">01</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 2" value="02">02</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 3" value="03">03</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 4" value="04">04</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 5" value="05">05</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 6" value="06">06</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 7" value="07">07</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 8" value="08">08</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 9" value="09">09</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 10" value="10">10</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 11" value="11">11</option>
										<option ng-selected="vm.form.conjointBirthdateMonth === 12" value="12">12</option>
									</select>
									<input type="text" class="form-control" maxlength="4" minlength="4" placeholder="ANNÉE" ng-model="vm.form.conjointBirthdateYear"
									 ng-value="vm.form.conjointBirthdateYear" pattern="^(19|20)\d\d$" ng-required="vm.form.haveConjoint === 'oui'">
									<span class="calendar icon-calendar"></span>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<div class="form-group">
							<div class="inline-group">
								<label class="uppercase">avez vous des enfants ?
								</label>
								<div class="inline-div">
									<div class="form-check form-check-inline">
										<label class="label-radio">
											<input type="radio" name="haveChildren" value="oui" ng-model="vm.form.haveChildren" required />
											OUI
											<div class="radio"></div>
										</label>
									</div>
									<div class="form-check form-check-inline">
										<label class="label-radio">
											<input type="radio" name="haveChildren" value="non" ng-model="vm.form.haveChildren" />
											NON
											<div class="radio"></div>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="vm.form.haveChildren === 'oui' || vm.form.haveChildren === true">
							<div class="form-group" id="haveChildren">
								<div class="inline-group hide-element-bg">
									<label>Combien d'enfants?
									</label>
									<div class="inline-div inline-date">
										<select class="form-control" ng-model="vm.form.childrenNumbers" ng-change="vm.generateChildrenArray(vm.form.childrenNumbers)"
										 ng-required="vm.form.haveChildren === 'oui'">
											<option class="d-none" value="">NOMBRE D'ENFANTS</option>
											<option value="1">01</option>
											<option value="2">02</option>
											<option value="3">03</option>
											<option value="4">04</option>
											<option value="5">05</option>
											<option value="6">06</option>
											<option value="7">07</option>
										</select>
									</div>
								</div>
								<div class="help-block with-errors text-right"></div>
								<div class="hide-element-bg" ng-show="vm.childrenNumberInteger">
									<div ng-repeat="i in vm.childrenArray track by $index">
										<div class="row">
											<div class="form-group">
												<div class="inline-group hide-element-bg" ng-class="vm.form.ChildrenName ? '': 'has-error'">
													<label>NOM
													</label>
													<div class="inline-div">
														<input type="text" ng-model="vm.form.ChildrenName[$index]" class="form-control" placeholder="NOM DE L'ENFANT"
														 ng-required="vm.form.childrenNumbers">
													</div>
												</div>
												<div class="help-block with-errors text-right" ng-show="!vm.form.ChildrenName">Veuillez saisir le nom de
													l'enfant {{$index+1}}</div>
												<div class="inline-group hide-element-bg" ng-class="vm.form.ChildrenLastname ? '': 'has-error'">
													<label>PRÉNOM
													</label>
													<div class="inline-div">
														<input type="text" ng-model="vm.form.ChildrenLastname[$index]" class="form-control" placeholder="PRÉNOM DE L'ENFANT"
														 ng-required="vm.form.childrenNumbers">
													</div>
												</div>
												<div class="help-block with-errors text-right" ng-show="!vm.form.ChildrenLastname">Veuillez saisir le
													prénom de l'enfant {{$index+1}}</div>
												<div class="inline-group hide-element-bg" ng-class="vm.form.ChildrenBirthdateDay && vm.form.ChildrenBirthdateMonth && vm.form.ChildrenBirthdateYear ? '' : 'has-error'">
													<label class="uppercase">Date de naissance
													</label>
													<div class="inline-div inline-date">
														<select class="form-control" ng-model="vm.form.ChildrenBirthdateDay[$index]" ng-required="vm.form.childrenNumbers">
															<option class="d-none" value="">JOUR</option>
															<option value="01">01</option>
															<option value="02">02</option>
															<option value="03">03</option>
															<option value="04">04</option>
															<option value="05">05</option>
															<option value="06">06</option>
															<option value="07">07</option>
															<option value="08">08</option>
															<option value="09">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															<option value="21">21</option>
															<option value="22">22</option>
															<option value="23">23</option>
															<option value="24">24</option>
															<option value="25">25</option>
															<option value="26">26</option>
															<option value="27">27</option>
															<option value="28">28</option>
															<option value="29">29</option>
															<option value="30">30</option>
															<option value="31">31</option>
														</select>
														<select class="form-control" ng-model="vm.form.ChildrenBirthdateMonth[$index]" ng-required="vm.form.childrenNumbers">
															<option class="d-none" value="">MOIS</option>
															<option value="01">01</option>
															<option value="02">02</option>
															<option value="03">03</option>
															<option value="04">04</option>
															<option value="05">05</option>
															<option value="06">06</option>
															<option value="07">07</option>
															<option value="08">08</option>
															<option value="09">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>
														<input type="text" class="form-control" maxlength="4" minlength="4" placeholder="ANNÉE" ng-model="vm.form.ChildrenBirthdateYear[$index]"
														 pattern="^(19|20)\d\d$" ng-required="vm.form.childrenNumbers">
														<span class="calendar icon-calendar"></span>
													</div>
												</div>
												<div class="help-block with-errors text-right" ng-show="!vm.form.ChildrenBirthdateDay && !vm.form.ChildrenBirthdateMonth && !vm.form.ChildrenBirthdateYear">Veuillez
													saisir la date de naissance de l'enfant {{$index +1}}</div>
											</div>
											<div class="help-block with-errors text-right"></div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<% } else if (type==='RCMS') { %>
						<div class="form-group">
							<div class="inline-group">
								<label>CHIFFRE D'AFFAIRES HT(€)
									<span class="required">*</span>
								</label>
								<div class="inline-div">
									<input type="text" id="chiffreAffaires" ng-model="vm.turnover" ng-value="vm.turnover | currencyFormatInput"
									 pattern="^[\d\s]{1,10}$" maxlength="10" class="form-control" data-error="Veuillez compléter le champs"
									 placeholder="Montant exprimé en euros" required>
								</div>
							</div>
							<div class="help-block with-errors text-right"></div>
						</div>
						<% } %>
						<div class="required-info m-t-20">
							<p>*Champs obligatoires</p>
							<p style="color:#485865">En saisissant ces informations, vous acceptez
								<a class="underline bold" href="/pdf/consentement.pdf" target="_blank">le traitement de vos données
									personnelles</a>
							</p>
						</div>
						<div class="form-group text-center m-t-50">
							<button type="submit" class="button button-pink">
								<span class="icon icon-pourcentage"></span>J'OBTIENS MON TARIF
								<span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span>
							</button>
						</div>
					</form>
				</div>
				<div class="col-xl-2 d-none d-xl-block"></div>
				<div class="col-lg-3 d-none d-lg-block">
					<%- partial('../../components/services'); %>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>