<%- partial('../../partials/header-page', {'title': ''}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
	<div class="container">
		<h2>
			<span class="icon icon-responsabilite"></span>
			<% if (type==='CR') { %>
			RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
			<% } else if (type==='PMR') { %>
			MULTIRISQUE PROFESSIONNELLE
			<% } else if (type==='PMRCR'){ %>
			MULTIRISQUE + RC PRO
			<% } %>
		</h2>
	</div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
	<div class="container">
		<h2>
			<span class="icon-responsabilite uppercase"></span>
			<% if (type==='MD') { %>
			Mutuelle des dirigeants non salariés
			<% } else if (type==='RCMS') { %>
			responsabilité civile des dirigeants
			<% } %>
		</h2>
	</div>
</div>
<% } %>
<div class="content-section">
	<div class="container" <% if (type==='CR' ) { %> ng-controller="SimulationCRController as vm">
		<% } else if (type==='PMR') { %>
		ng-controller="SimulationPMRController as vm"
		<% } else if (type==='PMRCR') { %>
		ng-controller="SimulationPMRCRController as vm"
		<% } else if (type==='MD') { %>
		ng-controller="SimulationMDController as vm"
		<% } else if (type==='RCMS') { %>
		ng-controller="SimulationRCMSController as vm"
		<% } %>
		>
		<div class="sticky-content m-b-50" <% if (type==='CR' ) { %> ng-init="vm.fractCrQuotation();">
			<% } else if (type==='PMR') { %>
			ng-init="vm.fractPmrQuotation();vm.pmrWarranty();"
			<% } else if (type==='PMRCR') { %>
			ng-init="vm.fractPmrCrQuotation();vm.pmrCrWarranty();"
			<% } else if (type==='MD') { %>
			ng-init="vm.mdQuotationPromo();"
			<% } else if (type==='RCMS') { %>
			ng-init="vm.rcmsSimQuotation();"
			<% } %>
			>
			<div class="row">
				<div class="col-lg-9">
					<div class="btn-return">
						<a href="javascript:history.back()" class="">
							<span class="icon icon-return"></span>RETOUR</a>
					</div>
					<form class="steps-form" method="post" data-toggle="validator" role="form">
						<% if (type==='CR') { %>
						<div class="section-offre">
							<div class="offre-check">
								<div class="offre-content">
									<label class="label-checkbox">
										<input type="checkbox" name="recherche"
											value="Animaux de compagnie, de sport et NAC" checked disabled>
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
							<div class="offre-details">
								<div class="detail-content">
									<h4 class="title-offre color-blue">
										<span class="icon-responsabilite"></span>RESPONSABILITÉ CIVILE PROFESSIONNELLE
									</h4>
									<div class="offre-content">
										<h5>INCLUS</h5>
										<ul>
											<li>
												<i class="fa fa-check"></i>Votre cabinet</li>
											<li>
												<i class="fa fa-check"></i>Tous vos collaborateurs</li>
											<li>
												<i class="fa fa-check"></i>Les intervenants extérieurs</li>
											<li>
												<i class="fa fa-check"></i>RC PRO,RC Exploitation, RC VOL</li>
											<li>
												<i class="fa fa-check"></i>Défense pénale et recours suite à accident
											</li>
											<li>
												<i class="fa fa-check"></i>Détériorations accidentelles aux véhicules
												...</li>
										</ul>
									</div>
								</div>
								<div class="garantie">
									<a href="javascript:void(0)" data-toggle="modal" data-target="#rc-garanties">
										<span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES</a>
								</div>
							</div>
							<div class="offre-price">
								<div class="offre-content">
									<p>à partir de</p>
									<p class="big-price">
										<span>{{ vm.fractQuotationMonthly | currencyFormat }}</span>
									</p>
									<p class="periode">
										<span>par mois</span>
									</p>
									<p class="price">Soit {{ vm.fractQuotationAnnual | currencyFormat }} par an</p>
								</div>
							</div>
						</div>
						<% } else if (type==='PMR') { %>
						<div class="section-offre">
							<div class="offre-check">
								<div class="offre-content">
									<label class="label-checkbox">
										<input type="checkbox" name="recherche"
											value="Animaux de compagnie, de sport et NAC" checked disabled>
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
							<div class="offre-details">
								<div class="detail-content">
									<h4 class="title-offre color-blue">
										<span class="icon-responsabilite"></span>MULTIRISQUE PROFESSIONNELLE</h4>
									<div class="offre-content">
										<h5>INCLUS</h5>
										<ul>
											<li>
												<i class="fa fa-check"></i>Perte de recette ou honoraires (12 mois)</li>
											<li>
												<i class="fa fa-check"></i>Perte de valeur vénale de fond de commerce
											</li>
											<li>
												<i class="fa fa-check"></i>Incendie, dégâts des eaux</li>
											<li>
												<i class="fa fa-check"></i>Vol, vandalisme</li>
											<li>
												<i class="fa fa-check"></i>Dommages éléctriques</li>
											<li>
												<i class="fa fa-check"></i>Bris de machines</li>
											<li>
												<i class="fa fa-check"></i>Marchandises en chambre froide</li>
											<li>
												<i class="fa fa-check"></i>Bris de glaces et enseignes ...</li>
										</ul>
									</div>
								</div>
								<div class="garantie">
									<a href="javascript:void(0)" data-toggle="modal" data-target="#mpr-garanties">
										<span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES</a>
								</div>
							</div>
							<div class="offre-price">
								<div class="offre-content">
									<p>à partir de</p>
									<p class="big-price">
										<span>{{ vm.fractQuotationMonthly500 | currencyFormat }}</span>
									</p>
									<p class="periode">
										<span>par mois</span>
									</p>
									<p class="price">Soit {{ vm.fractQuotationAnnual500 | currencyFormat }} par an</p>
								</div>
							</div>
						</div>
						<% } else if (type==='PMRCR') { %>
						<div class="section-offre">
							<div class="offre-check">
								<div class="offre-content">
									<label class="label-checkbox">
										<input type="checkbox" name="recherche"
											value="Animaux de compagnie, de sport et NAC" checked disabled>
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
							<div class="offre-details">
								<div class="detail-content">
									<h4 class="title-offre color-blue">
										<span class="icon-responsabilite"></span>MULTIRISQUE + RC PRO</h4>
									<div class="offre-content">
										<h5>INCLUS</h5>
										<ul>
											<li>
												<i class="fa fa-check"></i>Votre cabinet</li>
											<li>
												<i class="fa fa-check"></i>Tous vos collaborateurs</li>
											<li>
												<i class="fa fa-check"></i>Les intervenants extérieurs</li>
											<li>
												<i class="fa fa-check"></i>RC Pro, RC Exploitation, RC VOL</li>
											<li>
												<i class="fa fa-check"></i>Perte de recette ou honoraires (12 mois)</li>
											<li>
												<i class="fa fa-check"></i>Perte de valeur vénale de fond de commerce
											</li>
											<li>
												<i class="fa fa-check"></i>Bris de machines ...
											</li>
										</ul>
									</div>
								</div>
								<div class="garantie">
									<a href="javascript:void(0)" data-toggle="modal" data-target="#cr-mpr-garanties">
										<span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES</a>
								</div>
							</div>
							<div class="offre-price">
								<div class="offre-content">
									<p>à partir de</p>
									<p class="big-price">
										<span>{{ vm.fractQuotationMonthly500| currencyFormat }}</span>
									</p>
									<p class="periode">
										<span>par mois</span>
									</p>
									<p class="price">Soit {{ vm.fractQuotationAnnual500 | currencyFormat }} par an</p>
								</div>
							</div>
						</div>
						<% } else if (type==='MD') { %>
						<div class="section-offre">
							<div class="offre-check">
								<div class="offre-content">
									<label class="label-checkbox">
										<input type="checkbox" name="recherche"
											value="Animaux de compagnie, de sport et NAC" checked disabled>
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
							<div class="offre-details">
								<div class="detail-content">
									<h4 class="title-offre color-skyblue">
										<span class="icon-responsabilite"></span>Mutuelle des dirigeants non salariés
									</h4>
									<div class="offre-content">
										<h5>INCLUS</h5>
										<ul>
											<li>
												<i class="fa fa-check"></i>Frais de séjours</li>
											<li>
												<i class="fa fa-check"></i>Radiologie</li>
											<li>
												<i class="fa fa-check"></i>Prothèses dentaires et Orthodontie</li>
											<li>
												<i class="fa fa-check"></i>Chirurgie corrective ou réfractive</li>
										</ul>
									</div>
								</div>
								<div class="garantie">
									<a href="javascript:void(0)" data-toggle="modal" data-target="#md-garanties">
										<span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES</a>
								</div>
							</div>
							<div class="offre-price">
								<div class="offre-content">
									<p>à partir de</p>
									<p class="big-price">
										<span>{{ vm.mdPromoQuotationMonthly | currencyFormat }}</span>
									</p>
									<p class="periode">
										<span>par mois</span>
									</p>
									<p class="price">Soit {{ vm.mdPromoQuotationAnnual | currencyFormat }} par an</p>
								</div>
							</div>
						</div>
						<% } else if (type==='RCMS') { %>
						<div class="section-offre">
							<div class="offre-check">
								<div class="offre-content">
									<label class="label-checkbox">
										<input type="checkbox" name="recherche"
											value="Animaux de compagnie, de sport et NAC" checked disabled>
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
							<div class="offre-details">
								<div class="detail-content">
									<h4 class="title-offre color-skyblue">
										<span class="icon-responsabilite"></span>Responsabilité civile des dirigeants
									</h4>
									<div class="offre-content">
										<h5>INCLUS</h5>
										<ul>
											<li>
												<i class="fa fa-check"></i>Réclamations Sociale</li>
											<li>
												<i class="fa fa-check"></i>Hygiènes & Sécurité</li>
											<li>
												<i class="fa fa-check"></i>Frais de prévention</li>
											<li>
												<i class="fa fa-check"></i>Frais de constitution de caution</li>
										</ul>
									</div>
								</div>
								<div class="garantie">
									<a href="javascript:void(0)" data-toggle="modal" data-target="#rcms-garanties">
										<span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES</a>
								</div>
							</div>
							<div class="offre-price">
								<div class="offre-content">
									<p>à partir de</p>
									<p class="big-price">
										<span>{{ vm.rcmsQuotationMonthly | currencyFormat }}</span>
									</p>
									<p class="periode">
										<span>par mois</span>
									</p>
									<p class="price">Soit {{ vm.rcmsQuotationAnnual | currencyFormat }} par an</p>
								</div>
							</div>
						</div>
						<% } %>
						<% if ( type === 'PMR'  ||  type === 'CR' ) { %>
						<div class="banner-combine">
							<div class="content-combine">
								<span class="icon icon-combine"></span>
								<p>COMBINEZ AVEC D’AUTRES OFFRES ET OBTENEZ JUSQU’À
									<span class="bold" ng-if="vm.activite === 'urbain'">-15% DE RÉDUCTION</span>
									<span class="bold" ng-if="vm.activite === 'rurale'">-25% DE RÉDUCTION</span> SUR VOS
									COTISATIONS</p>
							</div>
							<div class="link-combine">
								<a href="javascript:void(0)">
									<span class="icon icon-arrow-right"></span>
								</a>
							</div>
						</div>
						<% } %>
						<div class="row">
							<div class="col-sm-6">
								<a href="javascript:void(0)" ng-click="vm.chooseMenu(1)"
									class="button button-pink w-full m-b-15">
									<span class="icon icon-souscris"></span>JE SOUSCRIS
									<span class="button-text-small">Le parcours en ligne est simple, rapide et
										sécurisé.</span>
								</a>
							</div>
							<div class="col-sm-6">
								<a href="javascript:void(0)" ng-click="vm.chooseMenu(2)"
									class="button button-blue w-full m-b-15">
									<span class="icon icon-envelope"></span>Je reçois un devis personnalisé
									<span class="button-text-small">Vous recevez un devis dans un délais de 24h</span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<a href="javascript:void(0)" ng-click="vm.chooseMenu(3)"
									class="button button-skyblue w-full m-b-15">
									<span class="icon icon-sauvgarde"></span>JE SAUVEGARDE MA DEMANDE
									<span class="button-text-small">Enregistrer votre projet et continuer plus
										tard</span>
								</a>
							</div>
							<div class="col-sm-6">
								<a href="javascript:void(0)" ng-click="vm.chooseMenu(4)"
									class="button button-green w-full m-b-15">
									<span class="icon icon-phone"></span>JE DEMANDE DE L’AIDE
									<span class="button-text-small">Être accompagné par un conseiller</span>
								</a>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-3 d-none d-lg-block">
					<%- partial('../../components/services'); %>
				</div>
			</div>
		</div>
		<div class="section-combine">
			<% if (type==='PMR') { %>
			<div class="division-full m-t-50 m-b-50"></div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<h2 class="title-section-simple color-grey text-center">VETOPTIM RECOMPENSE VOTRE FIDELITE,<br />
						BENEFICIEZ D’UNE
						REDUCTION AUTOMATIQUE<br /> DE 15 A 25 % (*)
					</h2>
					<p class="text-center" style="font-size:12px;">(*) en cumulant nos deux offres spécifiques </p>
					<p class="text-center">Dans quelques minutes vous allez être fixé.</p>
					<ul class="liste-combine">
						<li>
							<div class="li-left">
								<h3 class="title-offre color-blue">
									<span class="icon-multirisque"></span class="uppercase">responsabilité civile
									professionnelle</h3>
								<p>La responsabilité civile professionnelle vétérinaire est obligatoire pour exercer
									votre activité : Elle doit
									couvrir la clinique, ses dirigeants, les vétérinaires et autres salariés. La
									responsabilité civile
									professionnelle VETOPTIM vous garantie
									la protection de tous les intervenants et vous accompagne en cas de sinistre.</p>
							</div>
							<div class="li-right">
								<div class="li-content">
									<a href="/menu?offerType=PMRCR" class="button button-pink">
										<span class="icon icon-combine"></span>JE COMBINE</a>
									<a href="/responsabilite-civile" class="learn-more">EN SAVOIR PLUS ></a>
								</div>
							</div>
						</li>
						<!--<li>
							<div class="li-left">
								<h3 class="title-offre color-skyblue">
									<span class="icon-dirigants"></span>MULTIRISQUE DIRIGEANT (MD)</h3>
								<p>Vos décisions vous exposent personnellement Tous les jours, dans l’exercice de votre fonction de dirigeant,
									vous prenez des décisions susceptibles de vous amener à rendre compte devant différentes autorités, et
									d’engager
									votre responsabilité civile personnelle. Vous exposez ainsi sans en avoir toujours pleinement conscience votre
									patrimoine personnel, l’organisation et la sérénité de votre vie professionnelle et familiale. Souscrire une
									multirisque du dirigeant s'est se protéger contre ce risque majeur.</p>
							</div>
							<div class="li-right">
								<div class="li-content">
									<a href="#" class="button button-pink">
										<span class="icon icon-combine"></span>JE COMBINE</a>
									<a href="#" class="learn-more">EN SAVOIR PLUS ></a>
								</div>
							</div>
						</li>-->
					</ul>
				</div>
			</div>
			<% } else if (type==='CR') { %>
			<div class="division-full m-t-50 m-b-50"></div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<h2 class="title-section-simple color-grey text-center">VETOPTIM RECOMPENSE VOTRE FIDELITE,<br />
						BENEFICIEZ D’UNE
						REDUCTION AUTOMATIQUE<br /> DE 15 A 25 % (*)
					</h2>
					<p class="text-center" style="font-size:12px;">(*) en cumulant nos deux offres spécifiques </p>
					<p class="text-center">Dans quelques minutes vous allez être fixé.</p>
					<ul class="liste-combine">
						<li>
							<div class="li-left">
								<h3 class="title-offre color-blue">
									<span class="icon-multirisque"></span class="uppercase">multirisque professionnelle
								</h3>
								<p>L'assurance multirisque professionnelle est une assurance complète qui couvre les
									biens mobiliers et
									immobiliers
									de votre clinique. C’est une assurance pour professionnels indispensable car elle
									garantit les biens et
									l’activité
									de l’entreprise, assurant ainsi sa pérennité. Les garanties VETOPTIM sont adaptées à
									votre métier, en
									garantissant vos appareils à votre métier, votre stock et votre chiffre d'affaires
									en cas de sinistre.</p>
							</div>
							<div class="li-right">
								<div class="li-content">
									<a href="/menu?offerType=PMRCR" class="button button-pink">
										<span class="icon icon-combine"></span>JE COMBINE</a>
									<a href="/multirisque-professionelles" class="learn-more">EN SAVOIR PLUS ></a>
								</div>
							</div>
						</li>
						<!-- <li>
							<div class="li-left">
								<h3 class="title-offre color-skyblue">
									<span class="icon-dirigants"></span>MULTIRISQUE DIRIGEANT (MD)</h3>
								<p>Vos décisions vous exposent personnellement Tous les jours, dans l’exercice de votre fonction de dirigeant,
									vous prenez des décisions susceptibles de vous amener à rendre compte devant différentes autorités, et
									d’engager
									votre responsabilité civile personnelle. Vous exposez ainsi sans en avoir toujours pleinement conscience votre
									patrimoine personnel, l’organisation et la sérénité de votre vie professionnelle et familiale. Souscrire une
									multirisque du dirigeant s'est se protéger contre ce risque majeur.</p>
							</div>
							<div class="li-right">
								<div class="li-content">
									<a href="#" class="button button-pink">
										<span class="icon icon-combine"></span>JE COMBINE</a>
									<a href="#" class="learn-more">EN SAVOIR PLUS ></a>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>
<%- partial('../../components/popup-garanties'); %>