<%- partial('../../partials/header-page', {'title': 'SOUSCRIPTION EN LIGNE'}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% }  else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } %>
    <div class="container">
        <div class="success-souscription">
            <p class="icon-souscription">
                <span class="icon icon-souscris"></span>
            </p>
            <h2 class="title-section-simple color-grey">SOUSCRIPTION EFFECTUÉE AVEC SUCCÈS !</h2>
            <h3>NOUS VOUS REMERCIONS POUR VOTRE CONFIANCE</h3>
            <ul>
                <li>N° de Contrat : {{ vm.contractRef }}</li>
                <li ng-if="vm.customerRef">N° d’adhérent : {{ vm.customerRef }}</li>
                <li ng-if="vm.leaderRef">N° d’adhérent : {{ vm.leaderRef }}</li>
                <li>Référence Mandat SEPA : {{ vm.mandatRef }}</li>
            </ul>
            <p>Vous recevrez dans quelques minutes votre
                <br>souscription à l'adresse :</p>
            <p class="bold">{{ vm.email }}</p>
            <div class="division-full m-t-40 m-b-40"></div>
            <p>Tous les documents sont disponibles et téléchargeables
                <br>dans votre espace assuré.</p>
            <div class="souscription-link m-t-40">
                <a href="/contrats" class="button button-skyblue">
                    <span class="icon icon-contrats"></span>MES CONTRATS</a>
                <span class="or-link m-l-15 m-r-15">Ou</span>
                <a href="/journal" class="button button-blue">
                    <span class="icon icon-user"></span>MON ESPACE</a>
            </div>
        </div>
    </div>
</div>