<%- partial('../../partials/header-page', {'title': 'SOUSCRIPTION EN LIGNE'}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section">
    <div class="container">
        <div class="sticky-content m-b-50" <% if (type==='CR' ) { %>
            ng-controller="SimulationCRController as vm">
            <% } else if (type==='PMR') { %>
            ng-controller="SimulationPMRController as vm">
            <% } else if (type==='PMRCR') { %>
            ng-controller="SimulationPMRCRController as vm">
            <% } else if (type==='MD') { %>
            ng-controller="SimulationMDController as vm">
            <% } else if (type==='RCMS') { %>
            ng-controller="SimulationRCMSController as vm">
            <% }  %>
            <div class="row" <% if (type==='CR' ) { %>
                ng-init='vm.fractCrQuotation();'>
                <% } else if (type==='PMR') { %>
                ng-init='vm.fractPmrQuotation();'>
                <% } else if (type==='PMRCR') { %>
                ng-init='vm.fractPmrCrQuotation();'>
                <% } else if(type==='MD') { %>
                ng-init='vm.fractMdQuotation();'>
                <% } else if (type==='RCMS') { %>
                ng-init='vm.fractRCMSQuotation();'>
                <% } %>
                <div class="col-lg-9">
                    <div class="btn-return">
                        <a href="javascript:history.back()" class="">
                            <span class="icon icon-return"></span>RETOUR</a>
                    </div>
                    <h4 class="form-title-recap color-skyblue">Votre premier paiement</h4>
                    <div class="table-payment upp">
                        <div class="payment-info uppercase">

                            <div class="row m-b-10">
                                <div class="col-sm-6">
                                    <p>DATE D’EFFET DU CONTRAT</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <b>{{ vm.effectDate }}</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-sm-6">
                                    <p>Pour la période du</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <b>{{vm.effectDate}} au {{vm.deadlineDate}}</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-sm-6">
                                    <p>MODE DE PAIEMENT</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <!-- <select name="paymentMethod" class="form-control" ng-model="vm.paymentMethod">
                                                                <option value="sepa" ng-selected="vm.paymentMethod === 'sepa'">PRÉLÈVEMENT SEPA</option>
                                                                <option value="cb" ng-selected="vm.paymentMethod === 'cb'">CARTE BANCAIRE</option>
                                                            </select> -->
                                        <p><b>PRÉLÈVEMENT PONCTUEL SEPA</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment-price">
                            <a href="adhesion-summary?offerType=<%=type%>" class="btn-edit" data-toggle="tooltip"
                                data-placement="top" title="Modifier">
                                <span class="icon icon-edit"></span>
                            </a>
                            <div class="payment-content">
                                <p class="bold uppercase">Au Comptant</p>
                                <p class="color-pink">
                                    <span class="big-price">{{ vm.cashQuotation | currencyFormat }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-title-recap color-skyblue">Vos paiements récurents</h4>
                    <div class="table-payment">
                        <div class="payment-info uppercase">
                            <div class="row m-b-10">
                                <div class="col-sm-6">
                                    <p>A partir du</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <b>{{vm.afterDeadlineDate}}</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-sm-6">
                                    <p>MODE DE PAIEMENT</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <!-- <select name="paymentMethod" class="form-control" ng-model="vm.paymentMethod">
                                                                <option value="sepa" ng-selected="vm.paymentMethod === 'sepa'">PRÉLÈVEMENT SEPA</option>
                                                                <option value="cb" ng-selected="vm.paymentMethod === 'cb'">CARTE BANCAIRE</option>
                                                            </select> -->
                                        <p><b>PRÉLÈVEMENT AUTOMATIQUE SEPA</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>JOUR DE PRÉLÈVEMENT</p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <b>LE {{ vm.paymentDay }} DU MOIS</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="payment-price">
                            <a href="/adhesion-summary?offerType=<%=type%>" class="btn-edit" data-toggle="tooltip"
                                data-placement="top" title="Modifier">
                                <span class="icon icon-edit"></span>
                            </a>
                            <div class="payment-content">
                                <p class="bold uppercase">{{ vm.chosenPeriod | uppercase }}</p>
                                <p class="color-pink">
                                    <span class="big-price">{{ vm.chosenQuotation | currencyFormat }}</span>
                                </p>
                                <p class="big-periode color-pink">
                                    <span>par {{ vm.chosenPeriodSliced | uppercase }}</span>
                                </p>
                                <p class="color-pink">
                                    <% if (type === 'CR') { %>
                                    <span class="price" ng-if="vm.fraction !== 1">soit {{
                                        vm.fractQuotationAnnual |
                                        currencyFormat }}</span>
                                    <% } else if (type === 'PMR' || type === 'PMRCR') { %>
                                    <span class="price" ng-if="vm.fraction !== 1 && vm.franchise === '500'">soit {{
                                        vm.fractQuotationAnnual500 |
                                        currencyFormat }}</span>
                                    <span class="price" ng-if="vm.fraction !== 1 && vm.franchise === '300'">soit {{
                                        vm.fractQuotationAnnual300 |
                                        currencyFormat }}</span>
                                    <% } else if (type === 'MD') { %>
                                    <span class="price" ng-if="vm.formula === 1">soit {{
                                        vm.fractQuotationAnnual1 |
                                        currencyFormat }}</span>
                                    <span class="price" ng-if="vm.formula === 2">soit {{
                                        vm.fractQuotationAnnual2 |
                                        currencyFormat }}</span>
                                    <span class="price" ng-if="vm.formula === 3">soit {{
                                        vm.fractQuotationAnnual3 |
                                        currencyFormat }}</span>
                                    <span class="price" ng-if="vm.formula === 4">soit {{
                                        vm.fractQuotationAnnual4 |
                                        currencyFormat }}</span>
                                    <span class="price" ng-if="vm.formula === 5">soit {{
                                        vm.fractQuotationAnnual5 |
                                        currencyFormat }}</span>
                                    <span class="price" ng-if="vm.formula === 6">soit {{
                                        vm.fractQuotationAnnual6 |
                                        currencyFormat }}</span>
                                    <% } else if (type==='RCMS') { %>
                                    <span class="price" ng-if="vm.fraction !== 1">soit {{
                                        vm.fractQuotationAnnual |
                                        currencyFormat }}</span>
                                    <% } %>
                                    <span class="periode" ng-if="vm.fraction !== 1"> par an</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <form class="steps-form" method="post" ng-submit="vm.savePaymentMethod()" enctype="multipart/form-data"
                        data-toggle="validator" role="form" id="paymentForm">
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        <input type="hidden" name="paymentDay" ng-value="vm.paymentDay" />
                        <input type="hidden" name="paymentMethod" ng-value="vm.paymentMethod" />
                        <input type="hidden" name="from" value="<%= type %>" />
                        <input type="hidden" name="ribImg" ng-value="vm.ribImg" />
                        <h4 class="form-title-recap color-skyblue">VOS COORDONÉES BANCAIRES</h4>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="inline-group">
                                        <label>BIC
                                            <span class="required">*</span>
                                        </label>
                                        <div class="inline-div">
                                            <input type="text" name="bic" ng-model="vm.bic" maxlength="12" minlength="8"
                                                class="form-control" placeholder="BIC" data-error="Le BIC doit être au minimum au format 8 caractères"
                                                required>
                                        </div>
                                    </div>
                                    <div class="help-block with-errors text-right"></div>
                                </div>
                                <div class="form-group">
                                    <div class="inline-group">
                                        <label>N° IBAN
                                            <span class="required">*</span>
                                        </label>
                                        <div class="inline-div">
                                            <input type="text" name="iban" ng-model="vm.iban" maxlength="27" minlength="27"
                                                class="form-control" placeholder="N° IBAN" data-error="L'IBAN doit être au format 27 caractères"
                                                required>
                                        </div>
                                    </div>
                                    <div class="help-block with-errors text-right"></div>
                                </div>
                                <div class="form-group">
                                    <div class="inline-group">
                                        <label>DOMICILIATION BANCAIRE
                                            <span class="required">*</span>
                                        </label>
                                        <div class="inline-div">
                                            <input type="text" name="holder" ng-model="vm.holder" class="form-control"
                                                placeholder="DOMICILIATION BANCAIRE" required>
                                        </div>
                                    </div>
                                    <div class="help-block with-errors text-right"></div>
                                </div>
                                <div class="form-group">
                                    <div class="inline-group">
                                        <label>TITULAIRE DU COMPTE
                                            <span class="required">*</span>
                                        </label>
                                        <div class="inline-div">
                                            <input type="text" name="exactTitle" ng-model="vm.exactTitle" class="form-control"
                                                placeholder="TITULAIRE DU COMPTE" required>
                                        </div>
                                    </div>
                                    <div class="help-block with-errors text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="file-upload m-t-30">
                            <label class="label-upload-title">JE JOINS UNE COPIE DE MON RIB. (4MO MAX)
                                <span class="required">*</span>
                            </label>
                            <div class="form-group">
                                <input type="file" name="ribFile" id="file" class="input-file" accept=".pdf,.jpg,.jpeg,.png">
                                <label for="file" class="button button-skyblue js-labelFile">
                                    <i class="icon fa fa-check"></i>
                                    <span ng-if="vm.ribImg" class="js-fileName">MODIFIER UN RIB</span>
                                    <span ng-if="!vm.ribImg" class="js-fileName">JOINDRE UN RIB</span>
                                </label>
                            </div>
                        </div>
                        <div class="required-info">
                            <p>*Champs obligatoires</p>
                        </div>
                        <div class="file-upload m-b-30" ng-if="vm.ribImg">
                            <label class="label-upload-title">
                                <a href="javascript:void(0)" ng-click="vm.downloadRibFile(vm.ribImg)" class="learn-more">JE
                                    TÉLÉCHARGE MON RIB<span class="icon-bottom icon-arrow-right icon-right-rotate icon-blue"></span></a>
                            </label>
                        </div>
                        <div ng-if="vm.error">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{vm.error}}
                            </div>
                        </div>
                        <div class="form-group text-center m-t-50">
                            <button type="submit" class="button button-pink">Enregistrer et procéder à la signature
                                <span class="icon-right icon-arrow-right"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <%- partial('../../components/services'); %>
                </div>
            </div>
        </div>
    </div>
</div>