<%- partial('../../partials/header-page', {'title': 'SOUSCRIPTION EN LIGNE'}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } %>
    <div class="container">
        <div class="success-souscription" ng-init="vm.signContract()">
            <p class="icon-souscription">
                <span class="icon icon-souscris"></span>
            </p>
            <h2 class="title-section-simple color-grey">TRANSACTION EFFECTUÉE AVEC SUCCÈS</h2>
            <h3>VOUS ALLEZ ÊTRE MAINTENANT ÊTRE REDIRIGÉ AUTOMATIQUEMENT VERS LA SIGNATURE ÉLECTRONIQUE</h3>
            <div class="division"></div>
            <div class="m-b-20"></div>
            <p>Si la redirection automatique n'est pas survenue, vous devez
                <a href="#" ng-click="vm.signContract()" class="underline">cliquer ici</a>
            </p>
        </div>
        <div ng-if="vm.error" class="m-t-50">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{vm.error}}
            </div>
        </div>
    </div>
</div>