<%- partial('../../partials/header-page', {'title': 'SOUSCRIPTION EN LIGNE'}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } else { %>
    >
    <% } %>
    <div class="container">
        <div class="success-souscription">
            <p class="icon-souscription">
                <span class="icon icon-souscris"></span>
            </p>
            <h2 class="title-section-simple color-grey">VOTRE SOUSCRIPTION A ÉTÉ ANNULÉE !</h2>
            <h3>NOUS VOUS REMERCIONS POUR VOTRE CONFIANCE</h3>
            <div class="souscription-link m-t-40">
                <a href="/journal" class="button button-blue">
                    <span class="icon icon-user"></span>MON ESPACE</a>
            </div>
        </div>
    </div>
</div>