<%- partial('../../partials/header-page', {'title': 'SOUSCRIPTION EN LIGNE'}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } %>
    <div class="container">
        <div class="sticky-content m-b-50">
            <div class="row">
                <div class="col-lg-9">
                    <div class="btn-return">
                        <a href="javascript:history.back()" class="">
                            <span class="icon icon-return"></span>RETOUR</a>
                    </div>
                    <form class="steps-form" method="post" ng-submit="vm.goToTXSuccessPage()" data-toggle="validator"
                        role="form">
                        <div class="mobile-accordion">
                            <h4 class="form-title-recap color-skyblue">Vos déclarations
                                <span></span>
                            </h4>
                            <div class="accordion-content bg-grey-light padder-20 m-b-10">
                                <p class="m-b-0">Je reconnais :</p>
                                <ul class="conditions text-justify">
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Avoir été informé(e) par l’assureur
                                        en sa qualité de responsable de traitement
                                        que les réponses aux
                                        questions qui me sont posées sont obligatoires pour l'établissement du présent
                                        contrat, ainsi que des
                                        conséquences qui pourraient résulter d'une omission ou d'une fausse
                                        déclaration,
                                        prévues aux
                                        Articles L.113-8 (nullité du contrat) et L.113-9 (réduction des indemnités) du
                                        Code
                                        des assurances.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Avoir été informé(e) et avoir pris
                                        connaissance avant la souscription du tarif,
                                        des conditions de
                                        garantie et des exclusions via la remise des Conditions générales du présent
                                        contrat.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Avoir pris connaissance avant la
                                        souscription des conditions de garantie et des
                                        exclusions via la
                                        remise des Conditions générales du présent contrat. Ces Conditions générales
                                        m’ont
                                        été remises
                                        conformément à mon choix par un envoie à mon adresse e-mail.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Avoir été informé(e) et avoir pris
                                        connaissance, préalablement à la signature du
                                        contrat, une
                                        information complète sur les garanties, les franchises, les exclusions, le
                                        tarif et
                                        les obligations qui lui
                                        incombent.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Avoir pris connaissance, et accepter
                                        conformément au Règlement Général sur la
                                        Protection des
                                        Données 2016/679 du 27 avril 2016 (RGPD), du traitement automatisé des données
                                        à
                                        caractère
                                        personnel recueillies par Vetoptim Assurances, responsable de traitement.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Que vetoptim assurance peut utiliser
                                        mes informations pour promouvoir ses offres
                                        d'assurance,
                                        banque et assistance.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="big-check text-right m-b-30">
                            <label class="label-checkbox p-l-40 p-r-0">
                                <input type="checkbox" id="term1" name="infoTerm1" value="term1" ng-model="vm.form.infoTerm1">
                                J’ACCEPTE
                                <div class="checkbox"></div>
                            </label>
                        </div>
                        <div class="mobile-accordion">
                            <h4 class="form-title-recap color-skyblue">Conditions d'acceptation
                                <span></span>
                            </h4>
                            <div class="accordion-content bg-grey-light text-justify padder-20 m-b-10">
                                <% if(type === 'PMR' || type === 'PMRCR') { %>
                                <ul class="conditions">
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Vous déclarez que les bâtiments
                                        assurés ne sont ni classés ni inscrits en tout ou partie au titre des monuments
                                        historiques ; qu’ils n’entrent pas dans la catégorie des châteaux, des manoirs
                                        ou des hôtels particuliers ; qu’ils
                                        ne sont ni abandonnés ni désaffectés ; qu’ils ne sont pas voués à la
                                        démolition, en ruine ou en mauvais état
                                        d’entretien.</li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>L’isolement des locaux est inférieur
                                        à 100 mètres</li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les contrats dommages qui couvraient
                                        les risques assurés n’ont pas fait l’objet au cours des 36 derniers mois :
                                        <br>- d’un refus d’assurances ou d’un non renouvellement de contrat<br>- d’une
                                        résiliation par un précédent assureur suite à un sinistre<br>- d’une
                                        résiliation par un précédent assureur suite à un non-paiement de cotisation</li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Que le souscripteur n’a pas fait
                                        l’objet d’un jugement de redressement judiciaire ou d’un jugement de
                                        liquidation judiciaire, tant en son nom personnel qu’en tant que société au
                                        cours des 36 derniers mois.</li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>L’inoccupation des locaux est
                                        inférieure à 46 jours.</li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>La valeur totale des marchandises et
                                        du matériel de l’entreprise n’excède pas 400 000 €</li>
                                    <!-- <li>
                                        <span class="icon icon-arrow-right"></span>Le site est-il équipé d'une Alarme
                                        agréée (SEPSAD/SECURITAS/APSAD)
                                        ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les locaux ne sont pas situés en
                                        zone industrielle
                                        ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Isolement ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Bâtiment non clos ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les locaux ne sont pas situés à plus
                                        de 100 mètres
                                        d'un bâtiment régulièrement habité ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les locaux ne sont pas situés dans
                                        un centre commercial
                                        ou une galerie marchandes de plus
                                        <br> de 3 000 m2 ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les locaux ne sont pas situés dans
                                        un immeuble de
                                        grande hauteur (IGH de plus de 28 mètre de hauteur) ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les locaux ne sont pas situés dans
                                        un grand ensemble
                                        immobilier (surface développée de
                                        <br>plus de 20 000 m²) ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span> Les locaux ne sont pas situés dans
                                        un château, un
                                        bâtiment classé ou inscrit à l'inventaire des monuments historiques
                                        ?
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les locaux sont équipés d'une
                                        installation d'extincteurs
                                        mobiles installée et vérifiée annuellement conformément au
                                        code du travail ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Les locaux sont équipés
                                        d'installations électriques
                                        installées et vérifiées et certifiées annuellement conformément
                                        au code du travail ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Absence de foyer - Interdiction de
                                        fumer ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>L'innocupation est à
                                        < 46 jours ? </li> <li>
                                            <span class="icon icon-arrow-right"></span>Le proposant déclare que les
                                            moyens de protection
                                            et de fermeture sont au minimum du niveau
                                            <br> ci-dessous : ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Vitrines, impostes, lucarnes ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Porte de devanture ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Portes secondaires dissociées de la
                                        devanture
                                        ? </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Autres ouvertures situées à moins de
                                        3 mètres
                                        du sol ? </li> -->
                                </ul>
                                <% } else if(type === 'CR') { %>
                                <p class="m-b-0">L'assuré declare:</p>
                                <ul class="conditions">
                                    <li ng-if="vm.activite ==='urbain'">
                                        <span class="icon icon-arrow-right"></span>Ne soigner ni animaux de ferme, ni
                                        chevaux et autres equidés
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Être muni des diplomes
                                        professionnels et des autorisations necessaires pour exercer en france sa
                                        profession
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Ne pas avoir connaissance
                                        d'événement susceptibles d'engager sa responsabilite au cours des 3 dernieres
                                        années
                                    </li>
                                </ul>
                                <% } else if(type === 'MD') { %>
                                <p class="m-b-0">L'assuré declare:</p>
                                <ul class="conditions">
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Joindre une copie de(s)
                                        l’attestation(s) Vitale er Relevé(s) d’identité(s) bancaire(s) pour l’ensemble
                                        des assurés. Bien noté que les prestations seront versées sur le compte saisi.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Accepter l’usage du courrier
                                        électronique pour recevoir les informations relatives au contrat en vue de sa
                                        conclusion ou au cours de son exécution ( Art 1126 de code civil ).
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Accepter de recevoir toutes
                                        informations relatives au contrat pas SMS.
                                    </li>
                                </ul>
                                <% } else if(type === 'RCMS') { %>
                                <p class="m-b-0">L'assuré declare:</p>
                                <ul class="conditions">
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Avoir un CA en qualité de
                                        vétérinaire inférieur à 1.500.000€.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Avoir des Capitaux propres et
                                        Résultat net (pour le Souscripteur et chacune de ses Filiales) positifs au
                                        cours du dernier exercice comptable.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Etre constitué sous l’une des formes
                                        juridiques suivantes : EURL - SARL - SAS – SA - SELARL - SELAS – SELAFA –
                                        SELCA.
                                    </li>
                                    <li>
                                        <span class="icon icon-arrow-right"></span>Ne pas avoir connaissance après
                                        enquête, à la date de souscription du contrat, de Réclamations introduites ou
                                        sur le point d’être introduites à l’encontre de ses dirigeants, ou de fautes
                                        et/ou de circonstances susceptibles de mettre en cause leur responsabilité
                                        civile ou pénale.
                                    </li>
                                </ul>
                                <% } %>
                            </div>
                        </div>
                        <div class="big-check text-right">
                            <label class="label-checkbox p-l-40 p-r-0">
                                <input type="checkbox" id="term2" name="infoTerm2" value="term2" ng-model="vm.form.infoTerm2">
                                J’ACCEPTE
                                <div class="checkbox"></div>
                            </label>
                        </div>
                        <!-- <p class="size-14 light"></p> -->
                        <div ng-if="vm.error">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{vm.error}}
                            </div>
                        </div>
                        <div class="form-group text-center m-t-50">
                            <button type="submit" class="button button-pink">Paiement et Signature
                                <span class="icon-right icon-arrow-right"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <%- partial('../../components/services'); %>
                </div>
            </div>
        </div>
    </div>
</div>