<div <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if(type==='PMRCR'){ %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } %>
    <div ng-show="vm.chosenMenu !== 2">
        <%- partial('../../partials/header-page', {'title': 'SOUSCRIPTION EN LIGNE'}); %>
    </div>
    <div ng-show="vm.chosenMenu === 2">
        <%- partial('../../partials/header-page', {'title': 'DEVIS EN LIGNE'}); %>
    </div>
</div>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section">
    <div class="container">
        <div class="sticky-content m-b-50" <% if (type==='CR' ) { %>
            ng-controller="SimulationCRController as vm">
            <% } else if (type==='PMR') { %>
            ng-controller="SimulationPMRController as vm">
            <% } else if (type==='PMRCR') { %>
            ng-controller="SimulationPMRCRController as vm">
            <% } else if(type==='MD') { %>
            ng-controller="SimulationMDController as vm">
            <% } else if (type==='RCMS') { %>
            ng-controller="SimulationRCMSController as vm">
            <% } %>
            <div class="row" <% if (type==='CR' ) { %>
                ng-init='vm.crTax();vm.fractCrQuotation();'>
                <% } else if (type==='PMR') { %>
                ng-init='vm.pmrWarranty();vm.pmrTax();vm.fractPmrQuotation();'>
                <% } else if (type==='PMRCR') { %>
                ng-init='vm.pmrCrWarranty();vm.pmrCrTax();vm.fractPmrCrQuotation();'>
                <% } else if (type==='MD') { %>
                ng-init='vm.fractMdQuotation();'>
                <% } else if (type==='RCMS') { %>
                ng-init='vm.fractRCMSQuotation();'>
                <% } %>
                <div class="col-lg-9">
                    <div class="btn-return">
                        <a href="javascript:history.back()" class="">
                            <span class="icon icon-return"></span>RETOUR
                        </a>
                    </div>
                    <form class="steps-form" method="post" ng-submit="vm.submitAdhesion()" name="adhesionForm"
                        data-toggle="validator" role="form">
                        <h3 class="form-title">RÉCAPITULATIF DE VOTRE
                            <span ng-if="vm.chosenMenu !== 2">SOUSCRIPTION</span>
                            <span ng-if="vm.chosenMenu === 2">DEVIS</span>
                        </h3>
                        <h4 class="form-title-recap color-skyblue">VOTRE SÉLECTION
                            <a href="
                                    <% if (type==='CR' || (type==='PMRCR' && req.user && req.user.customer[0].type==='CR')) { %> 
                                        /simulation?offerType=CR
                                    <% } else if (type==='PMR' || (type==='PMRCR' && req.user && req.user.customer[0].type==='PMR')) { %>
                                        /simulation?offerType=PMR
                                    <% } else if (type==='PMRCR') { %>
                                        /simulation?offerType=PMRCR
                                    <% } else if(type==='MD') { %>
                                        /simulation?offerType=MD
                                    <% } else if(type==='RCMS') { %>
                                        /simulation?offerType=RCMS
                                    <% } %>
                                    "
                                class="btn-edit" data-toggle="tooltip" data-placement="top" title="Modifier">
                                <span class="icon icon-edit"></span>
                            </a>
                        </h4>
                        <% if (type=== 'CR' || type==='PMR' || type==='PMRCR') { %>
                        <div class="offre-table-recap m-b-30">
                            <div class="left">
                                <ul ng-class="vm.form.approvedAlarm ==='oui' ? 'reduction-padding' : ''">
                                    <li>
                                        <% if (type==='CR') { %>
                                        <h4 class="title-offre color-blue">
                                            <span class="icon-responsabilite"></span> RESPONSABILITÉ CIVILE PRO</h4>
                                        <% } else if (type==='PMR') { %>
                                        <h4 class="title-offre color-blue">
                                            <span class="icon-responsabilite"></span> MULTIRISQUE PROFESSIONNELLE
                                        </h4>
                                        <% } else if (type==='PMRCR') { %>
                                        <h4 class="title-offre color-blue">
                                            <span class="icon-responsabilite"></span>MULTIRISQUE + RC PRO</h4>
                                        <% } %>
                                    </li>
                                    <li class="valeur">
                                        <% if (type==='CR') { %>
                                        <a href="/simulation?offerType=CR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        <% } else if (type==='PMR') { %>
                                        <a href="/simulation?offerType=PMR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        <% } else { %>
                                        <a href="/simulation?offerType=PMRCR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        <% } %>
                                        CHIFFRE D'AFFAIRES HT :
                                        <span class="color-blue bold">{{ vm.chiffreAffaires | currencyFormat
                                            }}
                                        </span>
                                    </li>
                                    <li class="valeur">
                                        <% if (type==='CR') { %>
                                        <a href="/simulation?offerType=CR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        <% } else if (type==='PMR') { %>
                                        <a href="/simulation?offerType=PMR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        <% } else { %>
                                        <a href="/simulation?offerType=PMRCR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        <% } %>
                                        ACTIVITÉ :
                                        <span class="color-blue bold" ng-if="vm.activite ==='urbain'"> ANIMAUX DE
                                            COMPAGNIE ET NAC
                                        </span>
                                        <span class="color-blue bold" ng-if="vm.activite ==='rurale'"> RURALE, EQUIN et
                                            MIXTE
                                        </span>
                                    </li>
                                    <% if (type==='PMR'){ %>
                                    <li class="valeur">
                                        <a href="/info?offerType=PMR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        SURFACE DES LOCAUX :
                                        <span class="color-blue bold">{{ vm.surfaceLocaux }} m²
                                        </span>
                                    </li>
                                    <li class="valeur">
                                        <a href="/info?offerType=PMR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        CONTENU DES LOCAUX :
                                        <span class="color-blue bold">{{ vm.contenuLocaux | currencyFormat }}
                                        </span>
                                    </li>
                                    <li class="valeur">
                                        <a href="/info?offerType=PMR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        OPTION BDM :
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite20000'"> Dans la
                                            limite de 20 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite40000'"> Dans la
                                            limite de 40 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite60000'"> Dans la
                                            limite de 60 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite80000'"> Dans la
                                            limite de 80 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'reserveSiege'"> Dans la
                                            limite de 100 000 € par machine</span>
                                    </li>
                                    <% } else if (type === 'PMRCR') { %>
                                    <li class="valeur">
                                        <a href="/info?offerType=PMRCR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        SURFACE DES LOCAUX :
                                        <span class="color-blue bold">{{ vm.surfaceLocaux }} m²
                                        </span>
                                    </li>
                                    <li class="valeur">
                                        <a href="/info?offerType=PMRCR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        CONTENU DES LOCAUX :
                                        <span class="color-blue bold">{{ vm.contenuLocaux | currencyFormat }}
                                        </span>
                                    </li>
                                    <li class="valeur">
                                        <a href="/info?offerType=PMRCR" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        OPTION BDM :
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite20000'"> Dans la
                                            limite de 20 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite40000'"> Dans la
                                            limite de 40 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite60000'"> Dans la
                                            limite de 60 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'limite80000'"> Dans la
                                            limite de 80 000 € par machine</span>
                                        <span class="color-blue bold" ng-if="vm.form.bdm === 'reserveSiege'"> Dans la
                                            limite de 100 000 € par machine</span>
                                    </li>
                                    <% } %>
                                    <li class="valeur garantie">
                                        <% if (type==='CR') { %>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#rc-garanties">
                                            <span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES
                                        </a>
                                        <% } else if (type==='PMR') { %>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#mpr-garanties">
                                            <span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES
                                        </a>
                                        <% } else if (type==='PMRCR') { %>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#cr-mpr-garanties">
                                            <span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES
                                        </a>
                                        <% } %>
                                    </li>
                                </ul>
                                <div ng-if="vm.form.approvedAlarm ==='oui'" ng-class="vm.franchise === '300' ? 'bottom reduction' : 'reduction'">
                                    <h4>RÉDUCTION DE -15%</h4>
                                    <p>ACCORDÉE SUR LA GARANTIE VOL</p>
                                </div>
                            </div>
                            <div class="right">
                                <% if(type === 'CR') { %>
                                <div class="offre-price">
                                    <div class="offre-content">
                                        <p class="big-price">
                                            <span>{{ vm.fractQuotationMonthly | currencyFormat }}</span>
                                        </p>
                                        <p class="periode">
                                            <span class="bold">par mois</span>
                                        </p>
                                        <p class="price bold">Soit {{ vm.fractQuotationAnnual | currencyFormat }}
                                            <span class="periode bold">/An</span>
                                        </p>
                                    </div>
                                </div>
                                <% } else { %>
                                <div class="periodicite franchise">
                                    <ul>
                                        <li ng-class="vm.franchise === '500' ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="franchise" value="500" ng-model="vm.franchise"
                                                    ng-change="
                                                        <%  if (type==='PMR') { %>
                                                        vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual500 / vm.fraction, vm.effectDate, '500', vm.form.approvedAlarm, vm.form.bdm);
                                                        <% } else if (type==='PMRCR') { %>
                                                        vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual500 / vm.fraction, vm.effectDate, '500', vm.form.approvedAlarm, vm.form.bdm);
                                                        <% } %>
                                                    "
                                                    ng-checked="vm.franchise === '500'" required>
                                                <div class="label-text">
                                                    <span class="title-label">Franchise 500 €</span>
                                                    <% if (type==='PMR') { %>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly500
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual500
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                    <% } else if (type==='PMRCR') { %>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly500
                                                            | currencyFormat
                                                            }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual500
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                    <% } %>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                        <li ng-class="vm.franchise === '300' ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="franchise" value="300" ng-model="vm.franchise"
                                                    ng-change="
                                                        
                                                        <% if (type==='PMR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, '300', vm.form.approvedAlarm, vm.form.bdm);
                                                        <% } else if (type==='PMRCR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, '300', vm.form.approvedAlarm, vm.form.bdm);
                                                        <% } %>
                                                        "
                                                    ng-checked="vm.franchise === '300'">
                                                <div class="label-text">
                                                    <span class="title-label">Franchise 300 €</span>
                                                    <%  if (type==='PMR') { %>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly300
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual300
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                    <% } else if (type==='PMRCR') { %>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly300
                                                            | currencyFormat
                                                            }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual300
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                    <% } %>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <% } else if(type==='MD') { %>
                        <div class="offre-table-recap inline-franchise m-b-30">
                            <div class="left">
                                <ul>
                                    <li>
                                        <h4 class="title-offre color-skyblue">
                                            <span class="icon-responsabilite uppercase"></span> Mutuelle des dirigeants
                                            non salariés</h4>
                                    </li>
                                    <li class="valeur">
                                        <a href="/simulation?offerType=MD" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        AGE DU DIRIGEANT :
                                        <span class="color-blue bold"> {{ vm.form.leaderAge }} ans
                                        </span>
                                    </li>
                                    <li class="valeur" ng-if="vm.form.haveConjoint ==='oui'">
                                        <a href="/simulation?offerType=MD" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        AGE DU CONJOINT :
                                        <span class="color-blue bold"> {{ vm.form.conjointAge }} ans
                                        </span>
                                    </li>
                                    <li class="valeur" ng-if="vm.form.haveChildren ==='oui'">
                                        <a href="/simulation?offerType=MD" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        NOMBRE D'ENFANTS AU MOINS DE 26 ANS:
                                        <span class="color-blue bold">{{ vm.childrenNumbersLessThan26 === 0 ? 'aucun' :
                                            vm.childrenNumbersLessThan26}}
                                        </span>
                                    </li>

                                    <li class="valeur garantie">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#md-garanties">
                                            <span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="right">
                                <div class="periodicite franchise">
                                    <ul>
                                        <li ng-class="vm.formula === 1 ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="formula" value="1" ng-model="vm.formula"
                                                    ng-change="
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, 1, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.fractQuotationAnnual1 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        "
                                                    ng-checked="vm.formula === 1" required>
                                                <div class="label-text">
                                                    <span class="title-label">Formule 1</span>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly1
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual1
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                        <li ng-class="vm.formula === 2 ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="formula" value="2" ng-model="vm.formula"
                                                    ng-change="
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, 2 , vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.fractQuotationAnnual2 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        "
                                                    ng-checked="vm.formula === 2" required>
                                                <div class="label-text">
                                                    <span class="title-label">Formule 2</span>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly2
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual2
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                        <li ng-class="vm.formula === 3 ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="formula" value="3" ng-model="vm.formula"
                                                    ng-change="
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, 3, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.fractQuotationAnnual3 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        "
                                                    ng-checked="vm.formula === 3" required>
                                                <div class="label-text">
                                                    <span class="title-label">Formule 3</span>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly3
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual3
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                        <li ng-class="vm.formula === 4 ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="formula" value="4" ng-model="vm.formula"
                                                    ng-change="
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, 4, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.fractQuotationAnnual4 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        "
                                                    ng-checked="vm.formula === 4" required>
                                                <div class="label-text">
                                                    <span class="title-label">Formule 4</span>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly4
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual4
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                        <li ng-class="vm.formula === 5 ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="formula" value="5" ng-model="vm.formula"
                                                    ng-change="
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, 5, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.fractQuotationAnnual5 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        "
                                                    ng-checked="vm.formula === 5" required>
                                                <div class="label-text">
                                                    <span class="title-label">Formule 5</span>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly5
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual5
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                        <li ng-class="vm.formula === 6 ? 'bg-pink' : ''">
                                            <label class="label-radio">
                                                <input type="radio" name="formula" value="6" ng-model="vm.formula"
                                                    ng-change="
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, 6, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.fractQuotationAnnual6 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        "
                                                    ng-checked="vm.formula === 6" required>
                                                <div class="label-text">
                                                    <span class="title-label">Formule 6</span>
                                                    <span class="month bold">
                                                        <strong>{{ vm.fractQuotationMonthly6
                                                            | currencyFormat }}
                                                        </strong>/Mois</span>
                                                    <span class="year bold">Soit {{ vm.fractQuotationAnnual6
                                                        | currencyFormat }}
                                                        <i>/An</i>
                                                    </span>
                                                </div>
                                                <div class="radiobox"></div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <% } else if (type==='RCMS') { %>
                        <div class="offre-table-recap inline-franchise m-b-30">
                            <div class="left">
                                <ul>
                                    <li>
                                        <h4 class="title-offre color-skyblue">
                                            <span class="icon-responsabilite uppercase"></span> responsabilité civile
                                            des dirigeants</h4>
                                    </li>
                                    <li class="valeur">
                                        <a href="/simulation?offerType=RCMS" class="btn-edit" data-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <span class="icon icon-edit"></span>
                                        </a>
                                        CHIFFRE D'AFFAIRES HT :
                                        <span class="color-blue bold"> {{ vm.turnover | currencyFormat }}
                                        </span>
                                    </li>
                                    <li class="valeur garantie">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#rcms-garanties">
                                            <span class="icon icon-eye"></span>VOIR TOUTES LES GARANTIES
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="right">
                                <div class="offre-price">
                                    <div class="offre-content">
                                        <p class="big-price">
                                            <span>{{ vm.fractQuotationMonthly | currencyFormat }}</span>
                                        </p>
                                        <p class="periode">
                                            <span class="bold">par mois</span>
                                        </p>
                                        <p class="price bold">Soit {{ vm.fractQuotationAnnual | currencyFormat }}
                                            <span class="periode bold">/An</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <h4 class="form-title-recap color-skyblue">PÉRIODICITÉ</h4>
                        <div class="periodicite periode m-b-50">
                            <% if (type==='CR') { %>
                            <ul>
                                <li ng-class="vm.fraction===12 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(12, vm.fractQuotationMonthly ,vm.effectDate);">
                                        <input type="radio" name="activite" value="12" ng-model="vm.fraction"
                                            ng-checked="vm.fraction===12" required>
                                        <div class="label-text">
                                            <span class="title-label">MENSUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationMonthly | currencyFormat
                                                    }}
                                                </strong>/Mois</span>
                                            <span class="year bold">Soit {{ vm.fractQuotationAnnual | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===4 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(4, vm.fractQuotationMonthly * 3, vm.effectDate);">
                                        <input type="radio" name="activite" value="4" ng-model="vm.fraction" ng-checked="vm.fraction===4">
                                        <div class="label-text">
                                            <span class="title-label">TRIMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationMonthly * 3 | currencyFormat
                                                    }}
                                                </strong>/Trim</span>
                                            <span class="year bold">Soit {{ vm.fractQuotationAnnual | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===2 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(2, vm.fractQuotationMonthly * 6, vm.effectDate);">
                                        <input type="radio" name="activite" value="2" ng-model="vm.fraction" ng-checked="vm.fraction===2">
                                        <div class="label-text">
                                            <span class="title-label">SEMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationMonthly * 6 | currencyFormat
                                                    }}
                                                </strong>/Sem</span>
                                            <span class="year bold">Soit {{ vm.fractQuotationAnnual | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===1 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(1, vm.fractQuotationAnnual, vm.effectDate);">
                                        <input type="radio" name="activite" value="1" ng-model="vm.fraction" ng-checked="vm.fraction===1">
                                        <div class="label-text">
                                            <span class="title-label">ANNUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationAnnual | currencyFormat}}
                                                </strong>/An</span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                            </ul>
                            <% } else if (type==='PMR') { %>
                            <ul>
                                <li ng-class="vm.fraction===12 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(12, vm.franchise === '300' ? vm.fractQuotationMonthly300 : vm.fractQuotationMonthly500, vm.effectDate, vm.franchise, vm.form.approvedAlarm);">
                                        <input type="radio" name="activite" value="12" ng-model="vm.fraction"
                                            ng-checked="vm.fraction===12" required>
                                        <div class="label-text">
                                            <span class="title-label">MENSUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationMonthly300
                                                    : vm.fractQuotationMonthly500 | currencyFormat
                                                    }}
                                                </strong>/Mois</span>
                                            <span class="year bold">Soit {{ vm.franchise === '300' ?
                                                vm.fractQuotationAnnual300
                                                : vm.fractQuotationAnnual500 | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===4 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(4, vm.franchise === '300' ? vm.fractQuotationMonthly300 * 3 : vm.fractQuotationMonthly500 * 3 , vm.effectDate, vm.franchise, vm.form.approvedAlarm);">
                                        <input type="radio" name="activite" value="4" ng-model="vm.fraction" ng-checked="vm.fraction===4">
                                        <div class="label-text">
                                            <span class="title-label">TRIMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationMonthly300 * 3
                                                    : vm.fractQuotationMonthly500 * 3
                                                    | currencyFormat }}
                                                </strong>/Trim</span>
                                            <span class="year bold">Soit {{ vm.franchise === '300' ?
                                                vm.fractQuotationAnnual300
                                                : vm.fractQuotationAnnual500| currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===2 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(2, vm.franchise === '300' ? vm.fractQuotationMonthly300 * 6 : vm.fractQuotationMonthly500 * 6, vm.effectDate, vm.franchise, vm.form.approvedAlarm);">
                                        <input type="radio" name="activite" value="2" ng-model="vm.fraction" ng-checked="vm.fraction===2">
                                        <div class="label-text">
                                            <span class="title-label">SEMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationMonthly300 * 6
                                                    : vm.fractQuotationMonthly500 * 6
                                                    | currencyFormat }}
                                                </strong>/Sem</span>
                                            <span class="year bold">Soit {{ vm.franchise === '300' ?
                                                vm.fractQuotationAnnual300
                                                : vm.fractQuotationAnnual500 | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===1 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(1, vm.franchise === '300' ? vm.fractQuotationAnnual300 : vm.fractQuotationAnnual500, vm.effectDate, vm.franchise, vm.form.approvedAlarm)">
                                        <input type="radio" name="activite" value="1" ng-model="vm.fraction" ng-checked="vm.fraction===1">
                                        <div class="label-text">
                                            <span class="title-label">ANNUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationAnnual300
                                                    : vm.fractQuotationAnnual500 | currencyFormat
                                                    }}
                                                </strong>/An</span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                            </ul>
                            <% } else if (type==='PMRCR') { %>
                            <ul>
                                <li ng-class="vm.fraction===12 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(12, vm.franchise === '300' ? vm.fractQuotationMonthly300 : vm.fractQuotationMonthly500, vm.effectDate, vm.franchise, vm.form.approvedAlarm);">
                                        <input type="radio" name="activite" value="12" ng-model="vm.fraction"
                                            ng-checked="vm.fraction===12" required>
                                        <div class="label-text">
                                            <span class="title-label">MENSUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationMonthly300
                                                    : vm.fractQuotationMonthly500
                                                    | currencyFormat }}
                                                </strong>/Mois</span>
                                            <span class="year bold">Soit {{ vm.franchise === '300' ?
                                                vm.fractQuotationAnnual300
                                                : vm.fractQuotationAnnual500 |
                                                currencyFormat }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===4 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(4, vm.franchise === '300' ? vm.fractQuotationMonthly300 * 3 : vm.fractQuotationMonthly500 * 3 , vm.effectDate, vm.franchise, vm.form.approvedAlarm);">
                                        <input type="radio" name="activite" value="4" ng-model="vm.fraction" ng-checked="vm.fraction===4">
                                        <div class="label-text">
                                            <span class="title-label">TRIMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationMonthly300 * 3
                                                    : vm.fractQuotationMonthly500 * 3
                                                    | currencyFormat }}</strong>/Trim</span>
                                            <span class="year bold">Soit {{ vm.franchise === '300' ?
                                                vm.fractQuotationAnnual300
                                                : vm.fractQuotationAnnual500 |
                                                currencyFormat }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===2 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(2, vm.franchise === '300' ? vm.fractQuotationMonthly300 * 6 : vm.fractQuotationMonthly500 * 6, vm.effectDate, vm.franchise, vm.form.approvedAlarm);">
                                        <input type="radio" name="activite" value="2" ng-model="vm.fraction" ng-checked="vm.fraction===2">
                                        <div class="label-text">
                                            <span class="title-label">SEMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationMonthly300 * 6
                                                    : vm.fractQuotationMonthly500 * 6
                                                    | currencyFormat }}</strong>/Sem</span>
                                            <span class="year bold">Soit {{ vm.franchise === '300' ?
                                                vm.fractQuotationAnnual300
                                                : vm.fractQuotationAnnual500 |
                                                currencyFormat }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===1 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(1, vm.franchise === '300' ? vm.fractQuotationAnnual300 : vm.fractQuotationAnnual500, vm.effectDate, vm.franchise, vm.form.approvedAlarm);">
                                        <input type="radio" name="activite" value="1" ng-model="vm.fraction" ng-checked="vm.fraction===1">
                                        <div class="label-text">
                                            <span class="title-label">ANNUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.franchise === '300' ? vm.fractQuotationAnnual300
                                                    : vm.fractQuotationAnnual500
                                                    | currencyFormat }}
                                                </strong>/An</span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                            </ul>
                            <% } else if (type==='MD') { %>
                            <ul>
                                <li ng-class="vm.fraction===12 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="">
                                        <input type="radio" name="activite" value="12" ng-model="vm.fraction" ng-click="vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, vm.formula, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.formula === 1 ? vm.fractQuotationAnnual1 / 
                                        12 : vm.formula === 2 ? vm.fractQuotationAnnual2 / 12 : vm.formula === 3 ? vm.fractQuotationAnnual3 / 12 : vm.formula === 4 ? vm.fractQuotationAnnual4 / 12
                                        : vm.formula === 5 ? vm.fractQuotationAnnual5 / 12 : vm.fractQuotationAnnual6 / 12, 12, vm.effectDate, vm.form.ChildrenBirthdates);"
                                            ng-checked="vm.fraction===12" required>
                                        <div class="label-text">
                                            <span class="title-label">MENSUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.formula === 1 ? vm.fractQuotationMonthly1
                                                    : vm.formula === 2 ? vm.fractQuotationMonthly2 : vm.formula === 3 ?
                                                    vm.fractQuotationMonthly3
                                                    : vm.formula === 4 ? vm.fractQuotationMonthly4 : vm.formula === 5 ?
                                                    vm.fractQuotationMonthly5
                                                    : vm.fractQuotationMonthly6
                                                    | currencyFormat }}
                                                </strong>/Mois</span>
                                            <span class="year bold">Soit {{ vm.formula === 1 ? vm.fractQuotationAnnual1
                                                : vm.formula === 2 ? vm.fractQuotationAnnual2 : vm.formula === 3 ?
                                                vm.fractQuotationAnnual3
                                                : vm.formula === 4 ? vm.fractQuotationAnnual4 : vm.formula === 5 ?
                                                vm.fractQuotationAnnual5
                                                : vm.fractQuotationAnnual6
                                                | currencyFormat }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===4 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="">
                                        <input type="radio" name="activite" value="4" ng-model="vm.fraction" ng-checked="vm.fraction===4"
                                            ng-click="vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, vm.formula, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.formula === 1 ? vm.fractQuotationAnnual1 / 
                                        4 : vm.formula === 2 ? vm.fractQuotationAnnual2 / 4 : vm.formula === 3 ? vm.fractQuotationAnnual3 / 4 : vm.formula === 4 ? vm.fractQuotationAnnual4 / 4
                                        : vm.formula === 5 ? vm.fractQuotationAnnual5 / 4 : vm.fractQuotationAnnual6 / 4, 4, vm.effectDate, vm.form.ChildrenBirthdates);">
                                        <div class="label-text">
                                            <span class="title-label">TRIMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.formula === 1 ? vm.fractQuotationMonthly1 * 3
                                                    : vm.formula === 2 ? vm.fractQuotationMonthly2 * 3 : vm.formula ===
                                                    3 ? vm.fractQuotationMonthly3 * 3
                                                    : vm.formula === 4 ? vm.fractQuotationMonthly4 * 3 : vm.formula ===
                                                    5 ? vm.fractQuotationMonthly5 * 3
                                                    : vm.fractQuotationMonthly6 * 3
                                                    | currencyFormat }}</strong>/Trim</span>
                                            <span class="year bold">Soit {{ vm.formula === 1 ? vm.fractQuotationAnnual1
                                                : vm.formula === 2 ? vm.fractQuotationAnnual2 : vm.formula === 3 ?
                                                vm.fractQuotationAnnual3
                                                : vm.formula === 4 ? vm.fractQuotationAnnual4 : vm.formula === 5 ?
                                                vm.fractQuotationAnnual5
                                                : vm.fractQuotationAnnual6
                                                | currencyFormat }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===2 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="">
                                        <input type="radio" name="activite" value="2" ng-model="vm.fraction" ng-checked="vm.fraction===2"
                                            ng-click="vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, vm.formula, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.formula === 1 ? vm.fractQuotationAnnual1 / 
                                        2 : vm.formula === 2 ? vm.fractQuotationAnnual2 / 2 : vm.formula === 3 ? vm.fractQuotationAnnual3 / 2 : vm.formula === 2 ? vm.fractQuotationAnnual4 / 2
                                        : vm.formula === 5 ? vm.fractQuotationAnnual5 / 2 : vm.fractQuotationAnnual6 / 2, 2, vm.effectDate, vm.form.ChildrenBirthdates);">
                                        <div class="label-text">
                                            <span class="title-label">SEMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.formula === 1 ? vm.fractQuotationMonthly1 * 6
                                                    : vm.formula === 2 ? vm.fractQuotationMonthly2 * 6 : vm.formula ===
                                                    3 ? vm.fractQuotationMonthly3 * 6
                                                    : vm.formula === 4 ? vm.fractQuotationMonthly4 * 6 : vm.formula ===
                                                    5 ? vm.fractQuotationMonthly5 * 6
                                                    : vm.fractQuotationMonthly6 * 6
                                                    | currencyFormat }}</strong>/Sem</span>
                                            <span class="year bold">Soit {{ vm.formula === 1 ? vm.fractQuotationAnnual1
                                                : vm.formula === 2 ? vm.fractQuotationAnnual2 : vm.formula === 3 ?
                                                vm.fractQuotationAnnual3
                                                : vm.formula === 4 ? vm.fractQuotationAnnual4 : vm.formula === 5 ?
                                                vm.fractQuotationAnnual5
                                                : vm.fractQuotationAnnual6
                                                | currencyFormat }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===1 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="">
                                        <input type="radio" name="activite" value="1" ng-model="vm.fraction" ng-checked="vm.fraction===1"
                                            ng-click="vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, vm.formula, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.formula === 1 ? vm.fractQuotationAnnual1 / 
                                        1 : vm.formula === 1 ? vm.fractQuotationAnnual2 / 1 : vm.formula === 3 ? vm.fractQuotationAnnual3 / 1 : vm.formula === 1 ? vm.fractQuotationAnnual4 / 1
                                        : vm.formula === 5 ? vm.fractQuotationAnnual5 / 1 : vm.fractQuotationAnnual6 / 1, 1, vm.effectDate, vm.form.ChildrenBirthdates);">
                                        <div class="label-text">
                                            <span class="title-label">ANNUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.formula === 1 ? vm.fractQuotationAnnual1
                                                    : vm.formula === 2 ? vm.fractQuotationAnnual2 : vm.formula === 3 ?
                                                    vm.fractQuotationAnnual3
                                                    : vm.formula === 4 ? vm.fractQuotationAnnual4 : vm.formula === 5 ?
                                                    vm.fractQuotationAnnual5
                                                    : vm.fractQuotationAnnual6
                                                    | currencyFormat }}
                                                </strong>/An</span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                            </ul>
                            <% } else if(type==='RCMS') { %>
                            <ul>
                                <li ng-class="vm.fraction===12 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(12, vm.fractQuotationMonthly ,vm.effectDate);">
                                        <input type="radio" name="activite" value="12" ng-model="vm.fraction"
                                            ng-checked="vm.fraction===12" required>
                                        <div class="label-text">
                                            <span class="title-label">MENSUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationMonthly | currencyFormat
                                                    }}
                                                </strong>/Mois</span>
                                            <span class="year bold">Soit {{ vm.fractQuotationAnnual | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===4 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(4, vm.fractQuotationMonthly * 3, vm.effectDate);">
                                        <input type="radio" name="activite" value="4" ng-model="vm.fraction" ng-checked="vm.fraction===4">
                                        <div class="label-text">
                                            <span class="title-label">TRIMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationMonthly * 3 | currencyFormat
                                                    }}
                                                </strong>/Trim</span>
                                            <span class="year bold">Soit {{ vm.fractQuotationAnnual | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===2 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(2, vm.fractQuotationMonthly * 6, vm.effectDate);">
                                        <input type="radio" name="activite" value="2" ng-model="vm.fraction" ng-checked="vm.fraction===2">
                                        <div class="label-text">
                                            <span class="title-label">SEMESTRIELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationMonthly * 6 | currencyFormat
                                                    }}
                                                </strong>/Sem</span>
                                            <span class="year bold">Soit {{ vm.fractQuotationAnnual | currencyFormat
                                                }}
                                                <i>/An</i>
                                            </span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                                <li ng-class="vm.fraction===1 ? 'bg-pink' : ''">
                                    <label class="label-radio" ng-click="vm.chosenFraction(1, vm.fractQuotationAnnual, vm.effectDate);">
                                        <input type="radio" name="activite" value="1" ng-model="vm.fraction" ng-checked="vm.fraction===1">
                                        <div class="label-text">
                                            <span class="title-label">ANNUELLE</span>
                                            <span class="month bold">
                                                <strong>{{ vm.fractQuotationAnnual | currencyFormat}}
                                                </strong>/An</span>
                                        </div>
                                        <div class="radiobox"></div>
                                    </label>
                                </li>
                            </ul>
                            <% } %>
                            <div ng-if="vm.errorPeriod" id="errorPeriod">
                                <div class="alert alert-danger alert-dismissible fade show m-t-20" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{vm.errorPeriod}}
                                </div>
                            </div>
                        </div>
                        <div class="table-recap">
                            <ul>
                                <li class="bg-grey-light padder-20 m-b-5">
                                    <div class="left">ECHÉANCE PRINCIPALE</div>
                                    <div class="right">
                                        <b>01-01</b>
                                    </div>
                                </li>
                                <li class="bg-grey-light padder-20 m-b-30 date-effect">
                                    <div class="left">DATE D’EFFET</div>
                                    <div class="right" ng-show="!vm.currentContractDate">
                                        <div class="form-group">
                                            <div class="inline-group">
                                                <div class="inline-div inline-date">
                                                    <select id="effectDateDay" class="form-control" required=""
                                                        ng-model="vm.effectDateDay" ng-change="vm.validateEffectDate(); 
                                                        <% if (type==='CR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual / vm.fraction, vm.effectDate);
                                                            <% } else if (type==='PMR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.franchise === '500' ? vm.fractQuotationAnnual500 /
                                                            vm.fraction : vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, vm.franchise,
                                                            vm.form.approvedAlarm);
                                                            <% } else if (type==='PMRCR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.franchise === '500' ? vm.fractQuotationAnnual500 /
                                                            vm.fraction : vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, vm.franchise,
                                                            vm.form.approvedAlarm);
                                                            <% } else if(type==='MD') { %>
                                                                vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, vm.formula, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.formula === 1 ? vm.fractQuotationAnnual1 / 
                                                                vm.fraction : vm.formula === 2 ? vm.fractQuotationAnnual2 / vm.fraction : vm.formula === 3 ? vm.fractQuotationAnnual3 / vm.fraction : vm.formula === 4 ? vm.fractQuotationAnnual4 / vm.fraction
                                                                : vm.formula === 5 ? vm.fractQuotationAnnual5 / vm.fraction : vm.fractQuotationAnnual6 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        <% } else if(type==='RCMS') { %>
                                                            vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual / vm.fraction, vm.effectDate); 
                                                        <% } %>">
                                                        <option class="d-none" value="">Jour</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                    <select id="effectDateMonth" class="form-control" ng-model="vm.effectDateMonth"
                                                        ng-change="vm.validateEffectDate();
                                                        <% if (type==='CR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.fractQuotation, vm.effectDate);
                                                        <% } else if (type==='PMR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.franchise === '500' ? vm.fractQuotationAnnual500 / vm.fraction : vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, vm.franchise, vm.form.approvedAlarm);
                                                        <% } else if (type==='PMRCR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.franchise === '500' ? vm.fractQuotationAnnual500 / vm.fraction : vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, vm.franchise, vm.form.approvedAlarm);
                                                        <% } else if(type==='MD') { %>
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, vm.formula, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.formula === 1 ? vm.fractQuotationAnnual1 / 
                                                            vm.fraction : vm.formula === 2 ? vm.fractQuotationAnnual2 / vm.fraction : vm.formula === 3 ? vm.fractQuotationAnnual3 / vm.fraction : vm.formula === 4 ? vm.fractQuotationAnnual4 / vm.fraction
                                                            : vm.formula === 5 ? vm.fractQuotationAnnual5 / vm.fraction : vm.fractQuotationAnnual6 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                       <% } else if(type==='RCMS') { %>
                                                        vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual / vm.fraction, vm.effectDate); 
                                                       <% } %>">
                                                        <option class="d-none" value="">Mois</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <input id="effectDateYear" type="text" class="form-control"
                                                        maxlength="4" minlength="4" pattern="^(19|20)\d\d$" placeholder="ANNÉE"
                                                        ng-model="vm.effectDateYear" ng-change="vm.validateEffectDate();
                                                        <% if (type==='CR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.fractQuotation, vm.effectDate);
                                                        <% } else if (type==='PMR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.franchise === '500' ? vm.fractQuotationAnnual500 / vm.fraction : vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, vm.franchise, vm.form.approvedAlarm);
                                                        <% } else if (type==='PMRCR') { %>
                                                            vm.chosenFraction(vm.fraction, vm.franchise === '500' ? vm.fractQuotationAnnual500 / vm.fraction : vm.fractQuotationAnnual300 / vm.fraction, vm.effectDate, vm.franchise, vm.form.approvedAlarm);
                                                        <% } else if(type==='MD') { %>
                                                            vm.chosenFraction(vm.form.leaderBirthdate, vm.form.conjointBirthdate, vm.formula, vm.form.childrenNumbers, vm.form.haveConjoint, vm.form.haveChildren, vm.form.indivAccidentChoix , vm.form.indivEnfants, vm.form.rapatriementChoix, vm.formula === 1 ? vm.fractQuotationAnnual1 / 
                                                            vm.fraction : vm.formula === 2 ? vm.fractQuotationAnnual2 / vm.fraction : vm.formula === 3 ? vm.fractQuotationAnnual3 / vm.fraction : vm.formula === 4 ? vm.fractQuotationAnnual4 / vm.fraction
                                                            : vm.formula === 5 ? vm.fractQuotationAnnual5 / vm.fraction : vm.fractQuotationAnnual6 / vm.fraction, vm.fraction, vm.effectDate, vm.form.ChildrenBirthdates);
                                                        <% } else if(type==='RCMS') { %>
                                                            vm.chosenFraction(vm.fraction, vm.fractQuotationAnnual / vm.fraction, vm.effectDate); 
                                                        <% } %>">
                                                    <span class="
                                                        heure">à
                                                        00h00
                                                    </span>
                                                    <span class="calendar icon-calendar"></span>
                                                </div>
                                            </div>
                                            <div class="help-block with-errors text-right"></div>
                                        </div>
                                    </div>
                                    <div class="right w-70-100" ng-show="vm.currentContractDate">
                                        <b>{{vm.effectDate}} à 00h00</b>
                                    </div>
                                </li>
                                <li ng-if="vm.validateEffectDateRes" class="padder-20">
                                    <div class="left">
                                        <h4>À RÉGLER AU COMPTANT POUR LA PÉRIODE DU {{ vm.effectDate
                                            }} JUSQU'AU {{ vm.deadlineDate }}
                                        </h4>
                                    </div>
                                    <div class="right">
                                        <h4 class="color-pink">
                                            <b>{{ vm.cashQuotation | currencyFormat }}
                                            </b>
                                        </h4>
                                    </div>
                                </li>
                                <li ng-if="vm.validateEffectDateRes" class="padder-20">
                                    <div class="left">
                                        <h4>VOS PROCHAINS PRÉLÈVEMENTS À PARTIR DU {{ vm.afterDeadlineDate
                                            }}
                                        </h4>
                                    </div>
                                    <div class="right">
                                        <h4 class="color-pink">
                                            <b>{{ vm.fractQuotation | currencyFormat }}</b>
                                        </h4>
                                    </div>
                                </li>
                                <% if(type=== 'CR' || type=== 'PMR' || type=== 'PMRCR') { %>
                                <li ng-if="vm.validateEffectDateRes" class="padder-h-20">
                                    <div class="left">
                                        <p class="size-14">Dont taxes et frais de gestion</p>
                                    </div>
                                    <div class="right" ng-if="vm.fraction === 1">
                                        <p class="size-14">{{ vm.totalTaxFraisContr | currencyFormat }}
                                        </p>
                                    </div>
                                    <div class="right" ng-if="vm.fraction === 2">
                                        <p class="size-14">{{ vm.totalTaxFraisContrSem | currencyFormat }}
                                        </p>
                                    </div>
                                    <div class="right" ng-if="vm.fraction === 4">
                                        <p class="size-14">{{ vm.totalTaxFraisContrTrim | currencyFormat }}
                                        </p>
                                    </div>
                                    <div class="right" ng-if="vm.fraction === 12">
                                        <p class="size-14">{{ vm.totalTaxFraisContrMens | currencyFormat }}
                                        </p>
                                    </div>
                                </li>
                                <% } else if (type==='RCMS') { %>
                                <li ng-if="vm.validateEffectDateRes" class="padder-h-20">
                                    <div class="left">
                                        <p class="size-14">Dont taxes et frais de gestion</p>
                                    </div>
                                    <div class="right">
                                        <p class="size-14">{{ vm.totTaxesFrais | currencyFormat }}
                                        </p>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <div ng-if="vm.chosenMenu === 1" class="form-check-validation m-t-40">
                            <label class="label-checkbox">
                                <input type="checkbox" id="term1" name="infoTerm1" value="term1" ng-model="vm.form.infoTerm1">
                                J'accepte l'usage du courrier électronique pour recevoir les
                                informations relatives au contrat en vue de sa conclusion ou
                                au cours de son exécution (Art 1126 du code civil)
                                <div class="checkbox"></div>
                            </label>
                            <br>
                            <label class="label-checkbox">
                                <input type="checkbox" id="term2" name="infoTerm2" value="term2" ng-model="vm.form.infoTerm2">
                                J'accepte de recevoir toutes informations relatives au contrat
                                par SMS au numero de portable
                                <div class="checkbox"></div>
                            </label>
                        </div>
                        <div ng-if="vm.error">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{vm.error}}
                            </div>
                        </div>
                        <div class="form-group text-center m-t-50">
                            <button type="submit" class="button button-pink">JE CONTINUE
                                <span class="icon-right icon-arrow-right"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <%- partial('../../components/services'); %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- partial('../../components/popup-garanties'); %>