<%- partial('../../partials/header-page', {'title': ''}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } %>
    <div class="container">
        <div class="success-souscription" ng-init="vm.getRateEmail()">
            <div class="m-t-50"></div>
            <p class="icon-souscription">
                <span class="icon icon-envelope color-blue"></span>
            </p>
            <h2 class="title-section-simple color-grey">VOTRE DEVIS VIENT DE VOUS ÊTRE ADRESSÉ !</h2>
            <h3>NOUS VOUS REMERCIONS POUR VOTRE CONFIANCE</h3>
            <div class="division"></div>
            <div class="m-b-20"></div>
            <p>Vous recevrez dans quelques minutes un email contenant votre devis à l'adresse:
                <br>
                <b>{{vm.email}}</b>
            </p>
            <div class="text-center">
                <img src="/images/gifs/loading.gif" width="50px" height="50px" alt="Chargement en cours ..." ng-if="!vm.rateFileNameGenerated" />
            </div>
            <a ng-if="vm.rateFileNameGenerated" href="javascript:void(0)" ng-click="vm.downloadRate(vm.rateFileNameGenerated)"
                class="learn-more">TÉLÉCHARGER
                MON DEVIS
                <span class="icon-right-rotate icon-arrow-right"></span>
            </a>
            <div class="division-full m-t-40 m-b-40"></div>
            <p>Vous pouvez consulter vos devis dans votre espace assuré.</p>
            <a href="/devis" class="button button-skyblue m-t-20 m-b-40">
                <span class="icon icon-euro"></span>MES DEVIS</a>
            <p>Vous pouvez aussi continuer votre souscription en ligne en quelques clics.</p>
            <a href="javascript:void(0)" ng-click="vm.continueSubscriptionFromRate()" class="button button-pink m-t-20">
                <span class="icon icon-souscris"></span>JE SOUSCRIS</a>
        </div>
    </div>
</div>