<%- partial('../../partials/header-page', {'title': ''}); %>
<% if (type==='CR' || type==='PMR' || type==='PMRCR') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>
            <% if (type==='CR') { %>
            RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
            <% } else if (type==='PMR') { %>
            MULTIRISQUE PROFESSIONNELLE
            <% } else if (type==='PMRCR'){ %>
            MULTIRISQUE + RC PRO
            <% } %>
        </h2>
    </div>
</div>
<% } else if (type==='MD' || type==='RCMS') { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon-responsabilite uppercase"></span>
            <% if (type==='MD') { %>
            mutuelle des dirigeants non salariés
            <% } else if (type==='RCMS') { %>
            responsabilité civile des dirigeants
            <% } %>
        </h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } %>
    <div class="container">
        <div class="success-souscription" ng-init="vm.getContinueLaterEmail()">
            <p class="icon-souscription">
                <span class="icon icon-souscris"></span>
            </p>
            <h2 class="title-section-simple color-grey">DEMANDE SAUVEGARDÉE AVEC SUCCÈS !</h2>
            <h3>NOUS VOUS REMERCIONS POUR VOTRE CONFIANCE</h3>
            <div class="division"></div>
            <div class="m-b-20"></div>
            <p>Vous recevrez dans quelques minutes un email contenant les informations pour poursuivre ultérieurement
                votre souscription à l'adresse
                <b>{{vm.email}}</b>
            </p>
        </div>
    </div>
</div>