<%- partial('../../partials/header-page', {'title': 'ÊTRE RAPPELÉ PAR UN CONSEILLER'}); %>

<div class="content-section" ng-controller="SimulationCRController as vm">

    <div class="container">
        <div class="success-souscription">
            <p class="icon-souscription"><span class="icon icon-phone color-green"></span></p>
            <h2 class="title-section-simple color-grey">DEMANDE ENVOYÉE !</h2>
            <h3>UN CONSEILER VA PRENDRE CONTACT AVEC<br>VOUS SELON VOTRE DISPONIBILITÉ</h3>
            <div class="division"></div>
            <div class="souscription-link m-t-40">
                <p>Vous recevrez dans quelques minutes un email contenant votre demande d'aide à l'adresse <b>{{
                        vm.helpEmail }}</b></p>
                <div class="m-b-30"></div>
                <a href="javascript:void(0)" ng-click="vm.backHelp()" class="button button-skyblue"><span class="icon icon-contrats"></span>Retour
                    au menu</a>
                <span class="or-link m-l-15 m-r-15">Ou</span>
                <a href="/" class="button button-blue"><span class="icon icon-user"></span>Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>