<%- partial('../../partials/header-page', {'title': 'ÊTRE RAPPELÉ PAR UN CONSEILLER'}); %>

<div class="content-section">
    <div class="container">
        <div class="m-b-50" ng-controller="SimulationCRController as vm">
            <div class="btn-return">
                <a href="javascript:void(0)" ng-click="vm.backHelp()" class=""><span class="icon icon-return"></span>RETOUR</a>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <form ng-submit="vm.saveHelp()" class="steps-form" name="helpForm" method="post" data-toggle="validator"
                        role="form">
                        <div class="form-group">
                            <div class="inline-group">
                                <label>CIVILITÉ<span class="required">*</span></label>
                                <div class="inline-div">
                                    <select name="civilite" ng-model="vm.title" class="form-control" required>
                                        <option value="monsieur">Monsieur</option>
                                        <option value="madame">Madame</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inline-group">
                                <label>NOM<span class="required">*</span></label>
                                <div class="inline-div">
                                    <input type="text" name="lastname" ng-model="vm.lastname" class="form-control"
                                        placeholder="NOM" required>
                                </div>
                            </div>
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <div class="form-group">
                            <div class="inline-group">
                                <label>PRÉNOM<span class="required">*</span></label>
                                <div class="inline-div">
                                    <input type="text" name="firstname" ng-model="vm.name" class="form-control"
                                        placeholder="PRÉNOM" required>
                                </div>
                            </div>
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <div class="form-group">
                            <div class="inline-group">
                                <label>TÉLÉPHONE<span class="required">*</span></label>
                                <div class="inline-div">
                                    <input type="text" name="phone" ng-model="vm.phone" class="form-control"
                                        placeholder="TÉLÉPHONE" required>
                                </div>
                            </div>
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <div class="form-group">
                            <div class="inline-group">
                                <label>EMAIL<span class="required">*</span></label>
                                <div class="inline-div">
                                    <input type="text" name="email" ng-model="vm.helpEmail" class="form-control"
                                        placeholder="EMAIL" required>
                                </div>
                            </div>
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <div class="form-group">
                            <div class="inline-group">
                                <label>QUAND SOUHAITEZ VOUS ÊTRE RAPPELÉ ?<span class="required">*</span></label>
                                <div class="inline-div">
                                    <div class="form-check form-check-inline">
                                        <label class="label-radio">
                                            <input type="radio" name="timing" value="immediately" ng-model="vm.timing"
                                                required />
                                            IMMÉDIATEMENT
                                            <div class="radio"></div>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="label-radio">
                                            <input type="radio" name="timing" value="custom" ng-model="vm.timing" />
                                            A L'HEURE DE VOTRE CHOIX
                                            <div class="radio"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-grey-light padder-20" ng-if="vm.timing === 'custom'">
                            <div class="form-group">
                                <div class="inline-group">
                                    <label>DATE<span class="required">*</span></label>
                                    <div class="inline-div inline-date">
                                        <select ng-model="vm.requestDateDay" class="form-control" required>
                                            <option class="d-none" value="">Jour</option>
                                            <option ng-selected="vm.requestDateDay === 1" value="01">01</option>
                                            <option ng-selected="vm.requestDateDay === 2" value="02">02</option>
                                            <option ng-selected="vm.requestDateDay === 3" value="03">03</option>
                                            <option ng-selected="vm.requestDateDay === 4" value="04">04</option>
                                            <option ng-selected="vm.requestDateDay === 5" value="05">05</option>
                                            <option ng-selected="vm.requestDateDay === 6" value="06">06</option>
                                            <option ng-selected="vm.requestDateDay === 7" value="07">07</option>
                                            <option ng-selected="vm.requestDateDay === 8" value="08">08</option>
                                            <option ng-selected="vm.requestDateDay === 9" value="09">09</option>
                                            <option ng-selected="vm.requestDateDay === 10" value="10">10</option>
                                            <option ng-selected="vm.requestDateDay === 11" value="11">11</option>
                                            <option ng-selected="vm.requestDateDay === 12" value="12">12</option>
                                            <option ng-selected="vm.requestDateDay === 13" value="13">13</option>
                                            <option ng-selected="vm.requestDateDay === 14" value="14">14</option>
                                            <option ng-selected="vm.requestDateDay === 15" value="15">15</option>
                                            <option ng-selected="vm.requestDateDay === 16" value="16">16</option>
                                            <option ng-selected="vm.requestDateDay === 17" value="17">17</option>
                                            <option ng-selected="vm.requestDateDay === 18" value="18">18</option>
                                            <option ng-selected="vm.requestDateDay === 19" value="19">19</option>
                                            <option ng-selected="vm.requestDateDay === 20" value="20">20</option>
                                            <option ng-selected="vm.requestDateDay === 21" value="21">21</option>
                                            <option ng-selected="vm.requestDateDay === 22" value="22">22</option>
                                            <option ng-selected="vm.requestDateDay === 23" value="23">23</option>
                                            <option ng-selected="vm.requestDateDay === 24" value="24">24</option>
                                            <option ng-selected="vm.requestDateDay === 25" value="25">25</option>
                                            <option ng-selected="vm.requestDateDay === 26" value="26">26</option>
                                            <option ng-selected="vm.requestDateDay === 27" value="27">27</option>
                                            <option ng-selected="vm.requestDateDay === 28" value="28">28</option>
                                            <option ng-selected="vm.requestDateDay === 29" value="29">29</option>
                                            <option ng-selected="vm.requestDateDay === 30" value="30">30</option>
                                            <option ng-selected="vm.requestDateDay === 31" value="31">31</option>
                                        </select>
                                        <select ng-model="vm.requestDateMonth" class="form-control" required>
                                            <option class="d-none" value="">Mois</option>
                                            <option ng-selected="vm.requestDateMonth === 1" value="01">01</option>
                                            <option ng-selected="vm.requestDateMonth === 2" value="02">02</option>
                                            <option ng-selected="vm.requestDateMonth === 3" value="03">03</option>
                                            <option ng-selected="vm.requestDateMonth === 4" value="04">04</option>
                                            <option ng-selected="vm.requestDateMonth === 5" value="05">05</option>
                                            <option ng-selected="vm.requestDateMonth === 6" value="06">06</option>
                                            <option ng-selected="vm.requestDateMonth === 7" value="07">07</option>
                                            <option ng-selected="vm.requestDateMonth === 8" value="08">08</option>
                                            <option ng-selected="vm.requestDateMonth === 9" value="09">09</option>
                                            <option ng-selected="vm.requestDateMonth === 10" value="10">10</option>
                                            <option ng-selected="vm.requestDateMonth === 11" value="11">11</option>
                                            <option ng-selected="vm.requestDateMonth === 12" value="12">12</option>
                                        </select>
                                        <input type="text" class="form-control" maxlength="4" minlength="4" ng-model="vm.requestDateYear"
                                            placeholder="ANNÉE" required>
                                        <span class="calendar icon-calendar"></span>
                                    </div>
                                </div>
                                <div class="help-block with-errors text-right"></div>
                            </div>
                            <div class="form-group m-b-0">
                                <div class="inline-group">
                                    <label>HEURE<span class="required">*</span></label>
                                    <div class="inline-div inline-date">
                                        <select ng-model="vm.requestDateHour" class="form-control" required>
                                            <option class="d-none" value="">HEURE</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                        </select>
                                        <select ng-model="vm.requestDateMinutes" class="form-control" required>
                                            <option class="d-none" value="">MINUTES</option>
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                            <option value="53">53</option>
                                            <option value="54">54</option>
                                            <option value="55">55</option>
                                            <option value="56">56</option>
                                            <option value="57">57</option>
                                            <option value="58">58</option>
                                            <option value="59">59</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="help-block with-errors text-right"></div>
                            </div>
                        </div>
                        <div ng-if="vm.error">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{vm.error}}
                            </div>
                        </div>
                        <div class="form-group text-center m-t-50">
                            <button type="submit" class="button button-green">JE VALIDE</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="images/externe/conseiller.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>