<%- partial('../../partials/header-page', {'title': 'FAIRE UNE SIMULATION'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<h4 class="form-title-recap color-skyblue">SÉLECTIONNEZ VOTRE OFFRE</h4>
		<form method="post" ng-submit="vm.simulationRedirect()" data-toggle="validator" role="form">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="label-checkbox full-w big-label">
							<span class="color-blue"><span class="icon icon-activite"></span>PROTECTION DE L’ACTIVITÉ</span>
						</label>
					</div>
					<div class="p-l-30">
						<div class="form-check-validation m-b-30">
							<label for="offre1" class="label-radio">
								<input type="radio" id="offre1" ng-model="vm.offerTypeCR" name="offer" value="cr"> Responsabilité
								civile professionnelle
								<div class="radio"></div>
							</label>
							<br>
							<label for="offre2" class="label-radio">
								<input type="radio" id="offre2" ng-model="vm.offerTypePMR" name="offer" value="pmr"> Multirisque
								professionnelle
								<div class="radio"></div>
							</label>
							<br>
							<label for="offre3" class="label-radio">
								<input type="radio" id="offre3" ng-model="vm.offerTypePMRCR" name="offer" value="pmrcr"> RC Pro +
								multirisque Pro
								<div class="radio"></div>
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="term2" class="label-checkbox full-w big-label">
							<span class="color-skyblue">
								<span class="icon icon-dirigants"></span>PROTECTION DES DIRIGEANTS</span>
						</label>
					</div>
					<div class="p-l-30">
						<div class="form-check-validation m-b-30">
							<label for="offre4" class="label-radio">
								<input type="radio" id="offre4" ng-model="vm.offerTypeRCMS" name="offer" value="rcms"> Responsabilité civile
								des
								dirigeants
								<div class="radio"></div>
							</label>
							<br>
							<label for="offre5" class="label-radio">
								<input type="radio" id="offre5" ng-model="vm.offerTypeMD" name="offer" value="md"> Santé
								<div class="radio"></div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="term3" class="label-checkbox full-w big-label">
							<span class="color-pink">
								<span class="icon icon-vieprive"></span>PROTECTION DE LA VIE PRIVÉE</span>
						</label>
					</div>
					<div class="p-l-30">
						<div class="form-check-validation m-b-30">
							<label for="offre5" class="label-checkbox">
								<input type="checkbox" id="offre5" name="infoTerm1" value="offre5"> Santé collective
								<div class="checkbox"></div>
							</label>
						</div>
					</div>
				</div>
			</div> -->
			<div ng-if="vm.error">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{vm.error}}
				</div>
			</div>
			<div class="form-group text-center m-t-50">
				<button type="submit" class="button button-pink">JE CONTINUE
					<span class="icon-right icon-arrow-right"></span>
				</button>
			</div>
		</form>
	</div>
</div>