<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-souscris"></span>Demande de souscription</h2>
    </div>
</div>
<div class="content-section">
    <div class="container">
        <div class="success-souscription">
            <div class="m-t-50"></div>
            <p class="icon-souscription">
                <span class="icon icon-souscris"></span>
            </p>
            <h2 class="title-section-simple color-grey">Votre demande de souscription a bien été enregistrée.</h2>
            <h3>Un conseiller va prendre contact avec vous dès que possible.</h3>
            <div class="division"></div>
            <div class="m-b-20"></div>
            <div class="souscription-link m-t-40">
                <a href="/" class="button button-blue">
                    <span class="icon icon-user"></span>Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>