<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vetoptim</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        * {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        }

        img {
            max-width: 100%;
        }

        .collapse {
            margin: 0;
            padding: 0;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
        }


        /* ------------------------------------- 
				ELEMENTS 
		------------------------------------- */

        a {
            color: #2BA6CB;
        }

        h3 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }

        .head-wrap {
            width: 100%;
        }

        ul.top-colors {
            margin: 0 auto 0 auto;
            width: 100%;
            display: flex;
            padding: 0px;
        }

        ul.top-colors li {
            list-style: none;
            width: 25%;
            height: 10px;
        }

        ul.top-colors li:nth-child(1) {
            background-color: #F5416C
        }

        ul.top-colors li:nth-child(2) {
            background-color: #C3D82E
        }

        ul.top-colors li:nth-child(3) {
            background-color: #00B2E2
        }

        ul.top-colors li:nth-child(4) {
            background-color: #001588
        }

        ul.social-network {
            margin: 0;
            padding: 0px;
            text-align: right;
        }

        ul.social-network li {
            list-style: none;
            display: inline-block;
        }

        ul.social-network li img {
            width: 35px;
        }

        .header.container table td.logo {
            padding: 15px;
        }

        .header.container table td.label {
            padding: 15px;
            padding-left: 0px;
        }

        .logo {
            margin: 30px 0 50px;
        }

        .logo img {
            max-width: 150px;
        }

        .cordialement {
            margin-top: 50px;
        }


        /* ------------------------------------- 
				BODY 
		------------------------------------- */

        table.body-wrap {
            width: 100%;
            background-color: #f3f3f3;
        }


        /* ------------------------------------- 
				FOOTER 
		------------------------------------- */

        table.footer-wrap {
            margin-top: 50px;
            width: 100%;
            background: url(https://vetoptim.com/images/footer-bg.png) no-repeat center top;
            -webkit-background-size: cover;
            background-size: cover;
            clear: both !important;
        }

        .footer-wrap .footer {
            color: #fff;
        }

        .footer-wrap .footer td {
            padding: 20px;
            border: none;
        }

        .footer-wrap .footer td img {
            max-width: 150px;
        }

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */

        .container {
            display: block !important;
            max-width: 600px !important;
            margin: 50px auto !important;
            /* makes it centered */
            clear: both !important;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */

        .content {
            padding: 15px;
            max-width: 600px;
            margin: 0 auto;
            display: block;
        }

        /* Let's make sure tables in the content area are 100% wide */

        .content table {
            width: 100%;
        }

        /* Be sure to place a .clear element after each set of columns, just to be safe */

        .clear {
            display: block;
            clear: both;
        }

        @media only screen and (max-width: 480px) {
            h3 {
                font-size: 18px;
            }

            h4 {
                font-size: 12px;
            }

            .logo {
                margin: 10px 0 30px;
            }

            .logo img {
                max-width: 100px;
            }

            .cordialement {
                margin-top: 30px;
            }

            .footer-wrap .footer td img {
                max-width: 100px;
            }

            ul.social-network li img {
                width: 25px;
            }

            table.footer-wrap {
                margin-top: 20px;
            }
        }
    </style>
</head>

<body bgcolor="#FFFFFF">
    <!-- BODY -->
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <table class="head-wrap">
                    <tr>
                        <td class="header">
                            <ul class="top-colors">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <!-- /HEADER -->
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <div class="logo">
                                    <a href="https://vetoptim.com/" target="_blank">
                                        <img src="https://vetoptim.com/images/externe/logo.png" alt="Logo Vetoptim">
                                    </a>
                                </div>

                                <h3>Bonjour,</h3>
                                <p>Nous avons le plaisir de vous informer que votre abonnement à notre newsletter s'est
                                    effectuée avec succès sur <a href="https://vetoptim.com/">vetoptim.com</a></p>

                                <table class="cordialement" width="100%">
                                    <tr>
                                        <td>
                                            <table align="left" class="column">
                                                <tr>
                                                    <td>
                                                        <h4>Cordialement.</h4>
                                                        <h4>L’équipe Vetoptim</h4>
                                                    </td>
                                                </tr>
                                            </table>
                                            <span class="clear"></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="footer-wrap">
                    <tr class="footer">
                        <td>
                            <a href="https://vetoptim.com/" target="_blank"><img src="https://vetoptim.com/images/externe/logo-footer.png"
                                    alt="Logo footer Vetoptim"></a>
                        </td>
                        <td>
                            <ul class="social-network">
                                <li><a href="" target="_blank"><img src="https://vetoptim.com/images/externe/icon-instagram.png"
                                            alt="Logo instagram"></a></li>
                                <li><a href="" target="_blank"><img src="https://vetoptim.com/images/externe/icon-facebook.png"
                                            alt="Logo facebook"></a></li>
                                <li><a href="" target="_blank"><img src="https://vetoptim.com/images/externe/icon-twitter.png"
                                            alt="Logo twitter"></a></li>
                                <li><a href="" target="_blank"><img src="https://vetoptim.com/images/externe/icon-youtube.png"
                                            alt="Logo youtube"></a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <!-- /HEADER -->
            </td>
            <td></td>
        </tr>
    </table>
    <!-- /BODY -->
</body>

</html>