<%- partial('../../partials/header-page', {'title': 'SOUSCRIPTION EN LIGNE'}); %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>ADHÉSION COMPLÈTÉE</h2>
    </div>
</div>
<div class="content-section" <div class="container">
    <div class="success-souscription">
        <p class="icon-souscription"><span class="icon icon-souscris"></span></p>
        <h2 class="title-section-simple color-grey">SOUSCRIPTION EFFECTUÉE AVEC SUCCÈS !</h2>
        <h3>NOUS VOUS REMERCIONS POUR VOTRE CONFIANCE</h3>
        <ul>
            <li>N° de Contrat :
                <%= contractReference %>
            </li>
            <li>N° d’adhérent :
                <%= offerType === 'RCMS' || offerType === 'MD' ? leaderReference : customerReference  %>
            </li>
            <li>Référence Mandat SEPA :
                <%= mndReference %>
            </li>
        </ul>
        <p>Vous recevrez dans quelques minutes votre<br>souscription à l'adresse :</p>
        <p class="bold">
            <%= req.session.createdUser.email %>
        </p>
        <div class="division-full m-t-40 m-b-40"></div>
        <p>Tous les documents sont disponibles et téléchargeables<br>dans votre espace assuré.</p>
        <div class="souscription-link m-t-40">
            <a href="/contrats-crees" class="button button-skyblue"><span class="icon icon-contrats"></span>CONTRATS
                CRÉÉS</a>
            <span class="or-link m-l-15 m-r-15">Ou</span>
            <a href="/journal" class="button button-blue"><span class="icon icon-user"></span>MON ESPACE</a>
        </div>
    </div>
</div>
</div>