<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="journal-content">
					<div class="row" ng-if="vm.commercialContracts.length > 0">
						<div class="col-lg-8">
							<div class="form-group">
								<div class="inline-group">
									<input name="searchQuery" ng-model="vm.searchQuery" class="form-control" placeholder="Filtrer les résultats">
								</div>
							</div>
						</div>
						<hr />
					</div>
					<div class="text-center">
						<img src="/images/gifs/loading.gif" width="50px" height="50px" alt="Chargement en cours ..." ng-if="vm.loading" />
					</div>
					<% if(req.user.isCommercial) { %>
					<ul>
						<li dir-paginate="contract in vm.commercialContracts | filter:vm.searchQuery | itemsPerPage: vm.itemsPerPage"
						 current-page="vm.currentPage">
							<span class="icon icon-contrats"></span>
							<h4 ng-if="contract.quotation[0].offerType==='RC'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE PROFESSIONNELLE
								</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MRP'">CONTRAT N°{{contract.reference}} :
								<strong>MULTIRISQUE PROFESSIONELLE
								</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='RC + MRP'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE PROFESSIONNELLE + MULTIRISQUE PROFESSIONELLE</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MRP + RC'">CONTRAT N°{{contract.reference}} :
								<strong>MULTIRISQUE PROFESSIONELLE + RESPONSABILITÉ CIVILE PROFESSIONNELLE</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MD'">CONTRAT N°{{contract.reference}} :
								<strong>MUTUELLE DES DIRIGEANTS NON SALARIÉS</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='RCMS'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE DES DIRIGEANTS</strong>
							</h4>
							<span class="date">Dérniére MAJ {{contract.updatedAt | dateFormat}}</span>
							<p>NOM D’ADHÉRENT : {{ contract.user.name | uppercase }}</p>
							<p>PRÉNOM D’ADHÉRENT : {{ contract.user.lastname | uppercase }}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">RAISON
								SOCIALE : {{ contract.user.customer[0].companyName | uppercase }}</p>
							<p ng-if="contract.quotation[0].offerType==='MD' || contract.quotation[0].offerType==='RCMS'">RAISON
								SOCIALE : {{ contract.user.leader[0].companyName | uppercase }}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">N°
								D’ ADHÉRENT : {{contract.user.customer[0].reference}}</p>
							<p ng-if="contract.quotation[0].offerType==='MD' || contract.quotation[0].offerType==='RCMS'">N° D’ ADHÉRENT :
								{{contract.user.leader[0].reference}}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">N°
								DU SIREN : {{contract.user.customer[0].siren}}</p>
							<p ng-if="contract.quotation[0].offerType==='MD' || contract.quotation[0].offerType==='RCMS'">N° DU SIREN :
								{{contract.user.leader[0].siren}}</p>
							<p>DATE DE SOUSCRIPTION : {{contract.signatureDate | dateFormat}}</p>
							<p>DATE D’EFFET DU CONTRAT : {{contract.effectDate | effectDateFormat}}</p>
							<p>DATE DE PRÉLÉVEMENT : {{contract.afterDeadlineDate | effectDateFormat}}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">CHIFFRE
								D'AFFAIRES : {{contract.user.customer[0].turnover | currencyFormat}}</p>
							<p ng-if="contract.quotation[0].offerType==='RCMS'">CHIFFRE D'AFFAIRES : {{contract.user.leader[0].turnover |
								currencyFormat}}</p>
							<p>PÉRIODICITÉ :
								<span class="uppercase">{{contract.quotation[0].period | uppercase}} </span>
							</p>
							<p class="color-pink">COTISATION COMPTANT: {{contract.quotation[0].cashQuotation | currencyFormat}}
							</p>
							<p ng-if="contract.quotation[0].fraction === 12" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/MOIS
							</p>
							<p ng-if="contract.quotation[0].fraction === 4" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/TRIM
							</p>
							<p ng-if="contract.quotation[0].fraction === 2" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/SEM
							</p>
							<p ng-if="contract.quotation[0].fraction === 1" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/AN
							</p>
							<br>
							<a href="javascript:void(0)" ng-click="vm.downloadContract(contract.contractFileName, contract.user.id)" class="btn-souscription">JE
								TÉLÉCHARGE MON CONTRAT
								<span class="icon-bottom icon-arrow-right"></span>
							</a>
						</li>
						<div class="success-souscription">
							<p ng-if="vm.commercialContracts.length === 0" class="icon-souscription">
								<span class="icon icon-aide color-pink "></span>
							</p>
							<li ng-if="vm.commercialContracts.length === 0">
								<h4 class="title-section-simple color-grey" style="text-align:center;">Aucun contrat créé</h4>
							</li>
						</div>
					</ul>
					<div class="section-pagination" ng-if="vm.commercialContracts.length > 0">
						<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
					</div>
					<% } %>
					<% if(req.user.isAdmin) { %>
					<ul>
						<li dir-paginate="contract in vm.adminContracts | filter:vm.searchQuery | itemsPerPage: vm.itemsPerPage"
						 current-page="vm.currentPage">
							<span class="icon icon-contrats"></span>
							<h4 ng-if="contract.quotation[0].offerType==='RC'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE
								</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MRP'">CONTRAT N°{{contract.reference}} :
								<strong>MULTIRISQUE PROFESSIONELLE
								</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='RC + MRP'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE + MULTIRISQUE PROFESSIONELLE</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MRP + RC'">CONTRAT N°{{contract.reference}} :
								<strong>MULTIRISQUE PROFESSIONELLE + RESPONSABILITÉ CIVILE</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MD'">CONTRAT N°{{contract.reference}} :
								<strong>MUTUELLE DES DIRIGEANTS NON SALARIÉS</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='RCMS'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE DES DIRIGEANTS</strong>
							</h4>
							<span class="date">Dérniére MAJ {{contract.updatedAt | dateFormat}}</span>
							<p>NOM D’ADHÉRENT : {{ contract.user.name | uppercase }}</p>
							<p>PRÉNOM D’ADHÉRENT : {{ contract.user.lastname | uppercase }}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">RAISON
								SOCIALE : {{ contract.user.customer[0].companyName | uppercase }}</p>
							<p ng-if="contract.quotation[0].offerType==='MD' || contract.quotation[0].offerType==='RCMS'">RAISON
								SOCIALE : {{ contract.user.leader[0].companyName | uppercase }}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">N°
								D’ ADHÉRENT : {{contract.user.customer[0].reference}}</p>
							<p ng-if="contract.quotation[0].offerType==='MD' || contract.quotation[0].offerType==='RCMS'">N° D’ ADHÉRENT :
								{{contract.user.leader[0].reference}}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">N°
								DU SIREN : {{contract.user.customer[0].siren}}</p>
							<p ng-if="contract.quotation[0].offerType==='MD' || contract.quotation[0].offerType==='RCMS'">N° DU SIREN :
								{{contract.user.leader[0].siren}}</p>
							<p>DATE DE SOUSCRIPTION : {{contract.signatureDate | dateFormat}}</p>
							<p>DATE D’EFFET DU CONTRAT : {{contract.effectDate | effectDateFormat}}</p>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">CHIFFRE
								D'AFFAIRES : {{contract.user.customer[0].turnover | currencyFormat}}</p>
							<p ng-if="contract.quotation[0].offerType==='RCMS'">CHIFFRE D'AFFAIRES : {{contract.user.leader[0].turnover |
								currencyFormat}}</p>
							<p class="color-pink">COTISATION COMPTANT: {{contract.quotation[0].cashQuotation | currencyFormat}}
							</p>
							<p ng-if="contract.quotation[0].fraction === 12" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/MOIS
							</p>
							<p ng-if="contract.quotation[0].fraction === 4" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/TRIM
							</p>
							<p ng-if="contract.quotation[0].fraction === 2" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/SEM
							</p>
							<p ng-if="contract.quotation[0].fraction === 1" class="color-pink">COTISATION RÉCURRENTE:
								{{contract.quotation[0].ttc |
								currencyFormat}}/AN
							</p>
							<p ng-if="contract.quotation[0].fraction === 12">PERIODICITÉ :
								<span class="uppercase"> MENSUELLE</span>
							</p>
							<p ng-if="contract.quotation[0].fraction === 4">PERIODICITÉ :
								<span class="uppercase"> TRIMESTRIELLE</span>
							</p>
							<p ng-if="contract.quotation[0].fraction === 2">PERIODICITÉ :
								<span class="uppercase"> SEMESTRIELLE</span>
							</p>
							<p ng-if="contract.quotation[0].fraction === 1">PERIODICITÉ :
								<span class="uppercase"> ANNUELLE</span>
							</p>
							<br>
							<a href="javascript:void(0)" ng-click="vm.downloadContract(contract.contractFileName, contract.user.id)" class="btn-souscription">JE
								TÉLÉCHARGE CE CONTRAT
								<span class="icon-bottom icon-arrow-right"></span>
							</a>
						</li>
						<li ng-if="vm.adminContracts.length === 0">
							<span class="icon icon-contrats"></span>
							<h4 class="title-section-simple color-grey">Aucun contrat créé</h4>
						</li>
					</ul>
					<div class="section-pagination" ng-if="vm.adminContracts.length > 0">
						<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>