<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="journal-content">
					<div class="row" ng-if="vm.contracts.length > 0">
						<div class="col-lg-8">
							<div class="form-group">
								<div class="inline-group">
									<input name="searchQuery" ng-model="vm.searchQuery" class="form-control" placeholder="Filtrer les résultats">
								</div>
							</div>
						</div>
						<hr />
					</div>
					<div class="text-center">
						<img src="/images/gifs/loading.gif" width="50px" height="50px" alt="Chargement en cours ..." ng-if="vm.loading" />
					</div>
					<ul>
						<li dir-paginate="contract in vm.contracts | filter:vm.searchQuery | itemsPerPage: vm.itemsPerPage" current-page="vm.currentPage">
							<span class="icon icon-contrats"></span>
							<h4 ng-if="contract.quotation[0].offerType==='RC'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE PROFESSIONNELLE
								</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MRP'">CONTRAT N°{{contract.reference}} :
								<strong>MULTIRISQUE PROFESSIONELLE
								</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='RC + MRP'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE PROFESSIONNELLE + MULTIRISQUE PROFESSIONELLE</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MRP + RC'">CONTRAT N°{{contract.reference}} :
								<strong>MULTIRISQUE PROFESSIONELLE + RESPONSABILITÉ CIVILE PROFESSIONNELLE</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='MD'">CONTRAT N°{{contract.reference}} :
								<strong>MUTUELLE DES DIRIGEANTS NON SALARIÉS</strong>
							</h4>
							<h4 ng-if="contract.quotation[0].offerType==='RCMS'">CONTRAT N°{{contract.reference}} :
								<strong>RESPONSABILITÉ CIVILE DES DIRIGEANTS</strong>
							</h4>
							<span class="date">Dérniére MAJ {{vm.lastContractDate | dateFormat}}</span>
							<p ng-if="contract.quotation[0].offerType==='RC' || contract.quotation[0].offerType==='MRP' || contract.quotation[0].offerType==='MRP + RC'">N°
								D’ADHÉRENT : {{vm.customerRef}}</p>
							<p ng-if="contract.quotation[0].offerType==='MD' || contract.quotation[0].offerType==='RCMS'">N° D’ADHÉRENT :
								{{vm.leaderRef}}</p>
							<p>RÉFÉRENCE MANDAT SEPA : {{contract.sepaMndRef}}</p>
							<p>MODE DE PAIEMENT RÉCURRENT : PRÉLEVEMENT AUTOMATIQUE</p>
							<p>DATE D’EFFET DU CONTRAT : {{contract.effectDate | effectDateFormat}}</p>
							<p>DATE DE PRÉLÉVEMENT : {{contract.afterDeadlineDate | effectDateFormat}}</p>
							<p>PERIODICITÉ :
								<span class="uppercase"> {{contract.quotation[0].period}}</span>
								</span>
							</p>
							<p class="color-pink">COTISATION COMPTANT: {{contract.quotation[0].cashQuotation | currencyFormat}}
							</p>
							<p ng-if="contract.quotation[0].fraction === 12" class="color-pink">COTISATION RÉCURRENTE :
								{{contract.quotation[0].ttc |
								currencyFormat}}/MOIS
							</p>
							<p ng-if="contract.quotation[0].fraction === 4" class="color-pink">COTISATION RÉCURRENTE :
								{{contract.quotation[0].ttc |
								currencyFormat}}/TRIM
							</p>
							<p ng-if="contract.quotation[0].fraction === 2" class="color-pink">COTISATION RÉCURRENTE :
								{{contract.quotation[0].ttc |
								currencyFormat}}/SEM
							</p>
							<p ng-if="contract.quotation[0].fraction === 1" class="color-pink">COTISATION RÉCURRENTE :
								{{contract.quotation[0].ttc |
								currencyFormat}}/AN
							</p>
							<br>
							<a href="javascript:void(0)" ng-click="vm.downloadContract(contract.contractFileName)" class="btn-souscription">JE
								TÉLÉCHARGE MON CONTRAT
								<span class="icon-bottom icon-arrow-right"></span>
							</a>
						</li>
						<div class="success-souscription">
							<p ng-if="vm.contracts.length === 0" class="icon-souscription">
								<span class="icon icon-aide color-pink "></span>
							</p>
							<li ng-if="vm.contracts.length === 0">
								<h4 class="title-section-simple color-grey" style="text-align:center;">Vous n'avez aucun contrat</h4>
							</li>
						</div>
					</ul>
					<div class="section-pagination" ng-if="vm.contracts.length > 0">
						<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>