<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="mes-information">
					<% if(req.user && req.user.contract.length > 0) { %>
					<form class="steps-form" ng-submit="vm.saveSinister()" name="sinisterForm" method="post" data-toggle="validator"
					 role="form">
						<div class="row m-b-30">
							<div class="col-lg-8">
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">date déclaration
											<span class="required">*</span>
										</label>
										<div class="inline-div inline-date">
											<select ng-model="vm.reportingDateDay" class="form-control" required>
												<option value="">Jour</option>
												<option ng-selected="vm.reportingDateDay === 1" value="01">01</option>
												<option ng-selected="vm.reportingDateDay === 2" value="02">02</option>
												<option ng-selected="vm.reportingDateDay === 3" value="03">03</option>
												<option ng-selected="vm.reportingDateDay === 4" value="04">04</option>
												<option ng-selected="vm.reportingDateDay === 5" value="05">05</option>
												<option ng-selected="vm.reportingDateDay === 6" value="06">06</option>
												<option ng-selected="vm.reportingDateDay === 7" value="07">07</option>
												<option ng-selected="vm.reportingDateDay === 8" value="08">08</option>
												<option ng-selected="vm.reportingDateDay === 9" value="09">09</option>
												<option ng-selected="vm.reportingDateDay === 10" value="10">10</option>
												<option ng-selected="vm.reportingDateDay === 11" value="11">11</option>
												<option ng-selected="vm.reportingDateDay === 12" value="12">12</option>
												<option ng-selected="vm.reportingDateDay === 13" value="13">13</option>
												<option ng-selected="vm.reportingDateDay === 14" value="14">14</option>
												<option ng-selected="vm.reportingDateDay === 15" value="15">15</option>
												<option ng-selected="vm.reportingDateDay === 16" value="16">16</option>
												<option ng-selected="vm.reportingDateDay === 17" value="17">17</option>
												<option ng-selected="vm.reportingDateDay === 18" value="18">18</option>
												<option ng-selected="vm.reportingDateDay === 19" value="19">19</option>
												<option ng-selected="vm.reportingDateDay === 20" value="20">20</option>
												<option ng-selected="vm.reportingDateDay === 21" value="21">21</option>
												<option ng-selected="vm.reportingDateDay === 22" value="22">22</option>
												<option ng-selected="vm.reportingDateDay === 23" value="23">23</option>
												<option ng-selected="vm.reportingDateDay === 24" value="24">24</option>
												<option ng-selected="vm.reportingDateDay === 25" value="25">25</option>
												<option ng-selected="vm.reportingDateDay === 26" value="26">26</option>
												<option ng-selected="vm.reportingDateDay === 27" value="27">27</option>
												<option ng-selected="vm.reportingDateDay === 28" value="28">28</option>
												<option ng-selected="vm.reportingDateDay === 29" value="29">29</option>
												<option ng-selected="vm.reportingDateDay === 30" value="30">30</option>
												<option ng-selected="vm.reportingDateDay === 31" value="31">31</option>
											</select>
											<select ng-model="vm.reportingDateMonth" class="form-control" required>
												<option value="">Mois</option>
												<option ng-selected="vm.reportingDateMonth === 1" value="01">01</option>
												<option ng-selected="vm.reportingDateMonth === 2" value="02">02</option>
												<option ng-selected="vm.reportingDateMonth === 3" value="03">03</option>
												<option ng-selected="vm.reportingDateMonth === 4" value="04">04</option>
												<option ng-selected="vm.reportingDateMonth === 5" value="05">05</option>
												<option ng-selected="vm.reportingDateMonth === 6" value="06">06</option>
												<option ng-selected="vm.reportingDateMonth === 7" value="07">07</option>
												<option ng-selected="vm.reportingDateMonth === 8" value="08">08</option>
												<option ng-selected="vm.reportingDateMonth === 9" value="09">09</option>
												<option ng-selected="vm.reportingDateMonth === 10" value="10">10</option>
												<option ng-selected="vm.reportingDateMonth === 11" value="11">11</option>
												<option ng-selected="vm.reportingDateMonth === 12" value="12">12</option>
											</select>
											<input type="text" class="form-control" maxlength="4" minlength="4" ng-model="vm.reportingDateYear" ng-value="vm.reportingDateYear"
											 pattern="^(19|20)\d\d$" placeholder="ANNEE" required>
											<span class="calendar icon-calendar"></span>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">montant provision
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" ng-model="vm.provisionAmount" ng-value="vm.provisionAmount | currencyFormatInput" pattern="^[\d\s]{1,10}$"
											 maxlength="10" data-error="Le montant provision doit être au maximum au format 10 chiffres" class="form-control"
											 placeholder="montant exprimé en euros" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">montant réglement
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" ng-model="vm.regulationAmount" ng-value="vm.regulationAmount | currencyFormatInput"
											 pattern="^[\d\s]{1,10}$" maxlength="10" data-error="Le montant déclaration doit au maximum être au format 10 chiffres"
											 class="form-control" placeholder="montant exprimé en euros" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">statut
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<select ng-model="vm.status" class="form-control" required>
												<option value="">Veuillez choisir un statut</option>
												<option value="in treatment" ng-selected="vm.status === 'in treatment'">
													<span class="uppercase">en cours de traitement</span>
												</option>
												<option value="active" ng-selected="vm.status === 'active'">
													<span class="uppercase">actif</span>
												</option>
												<option value="canceled" ng-selected="vm.status === 'canceled'">
													<span class="uppercase"></span>annulé</span>
												</option>
												<option value="closed" ng-selected="vm.status === 'closed'">
													<span class="uppercase"></span>fermé</span>
												</option>
											</select>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">franchise
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<select ng-model="vm.form.franchise" class="form-control" required>
												<option value="">Veuillez choisir une franchise</option>
												<option value="300" ng-selected="vm.form.franchise === '300'">300</option>
												<option value="500" ng-selected="vm.form.franchise === '500'">500</option>
											</select>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">scan déclaration
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" ng-model="vm.statementScan" class="form-control" placeholder="scan déclaration" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">scan contestation
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" ng-model="vm.challengeScan" class="form-control" placeholder="scan contestation" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label class="uppercase">contrat
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<select class="form-control" name="contratId" id="contratId" ng-model="vm.contractId" required>
												<option value="">Veuillez choisir un contrat</option>
												<option ng-value="contract.id" ng-repeat="contract in vm.contracts">
													CONTRAT N°{{contract.reference}} : {{contract.quotation[0].offerType==='RC' ? 'RESPONSABILITÉ CIVILE' :
													''}}{{contract.quotation[0].offerType==='MRP'
													? 'MULTIRISQUE PROFESSIONELLE' : ''}}{{contract.quotation[0].offerType==='RC + MRP' ? 'RESPONSABILITÉ
													CIVILE
													+ MULTIRISQUE PROFESSIONELLE' : ''}}{{contract.quotation[0].offerType==='MRP + RC' ? 'MULTIRISQUE
													PROFESSIONELLE
													+ RESPONSABILITÉ CIVILE' : ''}}
												</option>
											</select>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
							</div>
						</div>
						<div class="required-info">
							<p>*Champs obligatoires</p>
						</div>
						<div class="form-check-validation m-t-40">
							<label for="term3" class="label-checkbox">
								<input type="checkbox" id="term3" name="infoTerm1" value="term1" ng-model="vm.infoTerm1" /> J’accepte les
								dispositions relatives au
								<a class="underline bold" href="/pdf/consentement.pdf" target="_blank">traitement des données </a>
								<div class="checkbox"></div>
							</label>
							<br>
							<label for="term4" class="label-checkbox">
								<input type="checkbox" id="term4" name="infoTerm2" value="term2" ng-model="vm.infoTerm2" /> En soumettant ce
								formulaire, j’accepte que les informations saisies soient exploitées dans le cadre de la gestion
								de votre devis/contrat/demande d’aide/prélèvements
								<div class="checkbox"></div>
							</label>
						</div>
						<div ng-if="vm.error">
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{vm.error}}
							</div>
						</div>
						<div ng-if="vm.success">
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{vm.success}}
							</div>
						</div>
						<div class="form-group text-center m-t-50">
							<button type="submit" class="button button-skyblue">JE DÉCLARE MON SINISTRE</button>
						</div>
					</form>
					<% } else { %>
					<div class="success-souscription">
						<p class="icon-souscription">
							<span class="icon icon-aide color-pink"></span>
						</p>
						<h2 class="title-section-simple color-grey uppercase">Vous n'avez aucun contrat !</h2>
						<p>Vous devez avoir au moins un contrat pour déclarer un sinistre</p>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>