<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="journal-content">
					<div class="text-center">
						<img src="/images/gifs/loading.gif" width="50px" height="50px" alt="Chargement en cours ..."
							ng-if="vm.loading" />
					</div>
					<ul>
						<% if(!req.user.isAdmin) { %>
						<li dir-paginate="rate in vm.rates | filter:vm.searchQuery | itemsPerPage: vm.itemsPerPage"
							current-page="vm.currentPage">
							<h4 ng-if="rate.offerType==='RC'" ">DEVIS N°{{$index + 1}} : <strong>RESPONSABILITÉ CIVILE PROFESSIONELLE</strong></h4>
							<h4 ng-if=" rate.offerType==='MRP' "">DEVIS N°{{$index + 1}} :
								<strong>MULTIRISQUE PROFESSIONELLE</strong>
							</h4>
							<h4 ng-if="rate.offerType==='RC + MRP'" ">DEVIS N°{{$index + 1}} : <strong>RESPONSABILITÉ CIVILE PROFESSIONNELLE + MULTIRISQUE PROFESSIONELLE</strong></h4>
							<h4 ng-if=" rate.offerType==='MRP + RC' "">DEVIS N°{{$index + 1}} :
								<strong>MULTIRISQUE PROFESSIONELLE + RESPONSABILITÉ CIVILE PROFESSIONNELLE</strong>
							</h4>
							<h4 ng-if="rate.offerType==='MD' "">DEVIS N°{{$index + 1}} :
								<strong>MUTUELLE DES DIRIGEANTS NON SALARIÉS</strong>
							</h4>
							<h4 ng-if=" rate.offerType==='RCMS' "">DEVIS N°{{$index + 1}} :
								<strong>RESPONSABILITÉ CIVILE DES DIRIGEANTS</strong>
							</h4>
							<span class="
							 date">Fait le {{rate.updatedAt | dateFormat}}</span>
							<p>CHIFFRE D'AFFAIRES HT : {{rate.turnover | currencyFormat}}</p>
							<p ng-if="rate.fraction===12">PERIODICITÉ : Mensuelle</p>
							<p ng-if="rate.fraction===4">PERIODICITÉ : Trimestrielle</p>
							<p ng-if="rate.fraction===2">PERIODICITÉ : Semestrielle</p>
							<p ng-if="rate.fraction===1">PERIODICITÉ : Annuelle</p>
							<p class="color-pink" ng-if="rate.fraction===12">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/Mois</p>
							<p class="color-pink" ng-if="rate.fraction===4">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/Trimestre</p>
							<p class="color-pink" ng-if="rate.fraction===2">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/Semestre</p>
							<p class="color-pink" ng-if="rate.fraction===1">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/An</p>
							<p class="color-pink" ng-if="rate.fraction===12">TARIF COMPTANT :
								{{rate.cashQuotation | currencyFormat}}/Mois</p>
							<p class="color-pink" ng-if="rate.fraction===4">TARIF COMPTANT : {{rate.cashQuotation |
								currencyFormat}}/Trimestre</p>
							<p class="color-pink" ng-if="rate.fraction===2">TARIF COMPTANT : {{rate.cashQuotation |
								currencyFormat}}/Semestre</p>
							<p class="color-pink" ng-if="rate.fraction===1">TARIF COMPTANT :
								{{rate.cashQuotation | currencyFormat}}/An</p>
							<a href="javascript:void(0)"
								ng-click="vm.continueSubscriptionFromRateProfile(rate.offerType)"
								class="btn-souscription">JE
								CONTINUE MA SOUSCRIPTION</a>
							<br />
							<br />
							<a href="javascript:void(0)" ng-click="vm.downloadRate(rate.rateFileName)"
								class="btn-souscription">JE
								TÉLÉCHARGE MON DEVIS
								<span class="icon-bottom icon-arrow-right"></span>
							</a>
						</li>
						<div class="success-souscription">
							<p ng-if="vm.rates.length === 0" class="icon-souscription">
								<span class="icon icon-aide color-pink "></span>
							</p>
							<li ng-if="vm.rates.length === 0">
								<h4 class="title-section-simple color-grey" style="text-align:center;">Vous n'avez aucun
									devis</h4>
							</li>
						</div>
						<% } else { %>
						<li dir-paginate="rate in vm.adminRates | filter:vm.searchQuery | itemsPerPage: vm.itemsPerPage"
							current-page="vm.currentPage">
							<h4 ng-if="rate.offerType==='RC'" ">DEVIS N°{{$index + 1}} : <strong>RESPONSABILITÉ CIVILE PROFESSIONELLE</strong></h4>
									<h4 ng-if=" rate.offerType==='MRP' "">DEVIS N°{{$index + 1}} :
								<strong>MULTIRISQUE PROFESSIONELLE</strong>
							</h4>
							<h4 ng-if="rate.offerType==='RC + MRP'" ">DEVIS N°{{$index + 1}} : <strong>RESPONSABILITÉ CIVILE PROFESSIONNELLE + MULTIRISQUE PROFESSIONELLE</strong></h4>
									<h4 ng-if=" rate.offerType==='MRP + RC' "">DEVIS N°{{$index + 1}} :
								<strong>MULTIRISQUE PROFESSIONELLE + RESPONSABILITÉ CIVILE PROFESSIONNELLE</strong>
							</h4>
							<h4 ng-if="rate.offerType==='MD' "">DEVIS N°{{$index + 1}} :
										<strong>MUTUELLE DES DIRIGEANTS NON SALARIÉS</strong>
									</h4>
									<h4 ng-if=" rate.offerType==='RCMS' "">DEVIS N°{{$index + 1}} :
								<strong>RESPONSABILITÉ CIVILE DES DIRIGEANTS</strong>
							</h4>
							<span class="
									 date">Fait le {{rate.updatedAt | dateFormat}}</span>
							<p>
								CHIFFRE D'AFFAIRES HT : {{rate.turnover | currencyFormat}}</p>
							</p>
							<p ng-if="rate.fraction===12">PERIODICITÉ : Mensuelle</p>
							<p ng-if="rate.fraction===4">PERIODICITÉ : Trimestrielle</p>
							<p ng-if="rate.fraction===2">PERIODICITÉ : Semestrielle</p>
							<p ng-if="rate.fraction===1">PERIODICITÉ : Annuelle</p>
							<p class="color-pink" ng-if="rate.fraction===12">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/Mois</p>
							<p class="color-pink" ng-if="rate.fraction===4">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/Trimestre</p>
							<p class="color-pink" ng-if="rate.fraction===2">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/Semestre</p>
							<p class="color-pink" ng-if="rate.fraction===1">TARIF :
								{{rate.chosenQuotation | currencyFormat}}/An</p>
							<p class="color-pink" ng-if="rate.fraction===12">TARIF COMPTANT :
								{{rate.cashQuotation | currencyFormat}}/Mois</p>
							<p class="color-pink" ng-if="rate.fraction===4">TARIF COMPTANT : {{rate.cashQuotation |
								currencyFormat}}/Trimestre</p>
							<p class="color-pink" ng-if="rate.fraction===2">TARIF COMPTANT : {{rate.cashQuotation |
								currencyFormat}}/Semestre</p>
							<p class="color-pink" ng-if="rate.fraction===1">TARIF COMPTANT :
								{{rate.cashQuotation | currencyFormat}}/An</p>
							<br />
							<br />
							<a href="javascript:void(0)" ng-click="vm.downloadRate(rate.rateFileName)"
								class="btn-souscription">JE
								TÉLÉCHARGE CE DEVIS
								<span class="icon-bottom icon-arrow-right"></span>
							</a>
						</li>
						<div class="success-souscription">
							<p ng-if="vm.adminRates.length === 0" class="icon-souscription">
								<span class="icon icon-aide color-pink "></span>
							</p>
							<li ng-if="vm.adminRates.length === 0">
								<h4 class="title-section-simple color-grey" style="text-align:center;">Aucun devis créé
								</h4>
							</li>
						</div>
						<% } %>
					</ul>
					<div class="section-pagination" ng-if="vm.adminRates.length > 0 || vm.rates.length > 0">
						<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>