<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="mes-information">
					<form class="steps-form" ng-submit="vm.saveInfos()" method="post" name="infosForm" data-toggle="validator" role="form"
					 id="saveInfos">
						<h4 class="form-title-recap color-skyblue">INFORMATIONS DU COMPTE</h4>
						<div class="row m-b-30">
							<div class="col-lg-8">
								<div class="form-group">
									<div class="inline-group">
										<label>EMAIL
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="email" name="email" ng-model="vm.form.email" class="form-control" placeholder="EMAIL" disabled>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>MOT DE PASSE
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="password" name="password" value="...................." class="form-control" placeholder="...................."
											 disabled>
											<a href="/modifer-password" class="btn-edit" data-toggle="tooltip" data-placement="top" title=""
											 data-original-title="Modifier le mot de passe">
												<span class="icon icon-edit"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h4 class="form-title-recap color-skyblue">INFORMATIONS PERSONNELLES</h4>
						<div class="row m-b-30">
							<div class="col-lg-8">
								<div class="form-group">
									<div class="inline-group">
										<label>CIVILITÉ
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<select ng-model="vm.form.civility" class="form-control" required>
												<option value="monsieur" ng-selected="vm.form.civility === 'monsieur' ? true : true">Monsieur</option>
												<option value="madame" ng-selected="vm.form.civility === 'madame'">Madame</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>NOM
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="firstName" ng-model="vm.form.firstName" pattern="^[a-zA-Z\s]+$" class="form-control"
											 placeholder="NOM" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>PRÉNOM
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="lastName" ng-model="vm.form.lastName" pattern="^[a-zA-Z\s]+$" class="form-control"
											 placeholder="PRÉNOM" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>TÉLÉPHONE
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="phone" ng-model="vm.form.phone" class="form-control" minlength="8" maxlength="12"
											 pattern="^[0-9 +]+$" placeholder="TÉLÉPHONE" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>MOBILE
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="mobile" ng-model="vm.form.mobile" class="form-control" minlength="8" maxlength="15"
											 pattern="^[0-9 +]+$" placeholder="MOBILE" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
							</div>
						</div>
						<h4 class="form-title-recap color-skyblue">INFORMATIONS PROFESSIONNELLES</h4>
						<div class="row">
							<div class="col-lg-8">
								<div class="form-group">
									<div class="inline-group">
										<label>SIREN
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="siren" ng-model="vm.form.siren" ng-value="vm.form.siren" class="form-control"
											 placeholder="SIREN" pattern="^\d{9}$" maxlength="9" data-error="Le siren doit être au format 9 chiffres"
											 required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>RAISON SOCIALE
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="companyName" ng-model="vm.form.companyName" ng-value="vm.form.companyName" class="form-control"
											 placeholder="RAISON SOCIALE" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>FORME JURIDIQUE*
										</label>
										<div class="inline-div">
											<select ng-model="vm.form.legalForm" class="form-control" required>
												<option class="d-none" value="">FORME JURIDIQUE</option>
												<option value="SEL" ng-selected="vm.form.legalForm === 'SEL'">SEL</option>
												<option value="SCP" ng-selected="vm.form.legalForm === 'SCP'">SCP</option>
												<option value="SCM" ng-selected="vm.form.legalForm === 'SCM'">SCM</option>
												<option value="COLLABORATEUR LIBERAL" ng-selected="vm.form.legalForm === 'COLLABORATEUR LIBERAL'">COLLABORATEUR
													LIBERAL</option>
												<option value="SEP" ng-selected="vm.form.legalForm === 'SEP'">SEP</option>
												<option value="SDF" ng-selected="vm.form.legalForm === 'SDF'">SDF</option>
												<option value="SELARL" ng-selected="vm.form.legalForm === 'SELARL'">SELARL</option>
												<option value="SELURL" ng-selected="vm.form.legalForm === 'SELURL'">SELURL</option>
												<option value="SELASU" ng-selected="vm.form.legalForm === 'SELASU'">SELASU</option>
												<option value="SELAS" ng-selected="vm.form.legalForm === 'SELAS'">SELAS</option>
												<option value="SELCA" ng-selected="vm.form.legalForm === 'SELCA'">SELCA</option>
												<option value="SECAFA" ng-selected="vm.form.legalForm === 'SECAFA'">SECAFA</option>
												<option value="SARL" ng-selected="vm.form.legalForm === 'SARL'">SARL</option>
												<option value="EURL" ng-selected="vm.form.legalForm === 'EURL'">EURL</option>
												<option value="SCOP" ng-selected="vm.form.legalForm === 'SCOP'">SCOP</option>
												<option value="SAS" ng-selected="vm.form.legalForm === 'SAS'">SAS</option>
												<option value="SA" ng-selected="vm.form.legalForm === 'SA'">SA</option>
												<option value="AUTRE" ng-selected="vm.form.legalForm === 'AUTRE'">AUTRE</option>
											</select>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>DATE DE DÉBUT D'ACTIVITÉ
											<span class="required">*</span>
										</label>
										<div class="inline-div inline-date">
											<select ng-model="vm.form.startActivityDateDay" class="form-control" required>
												<option class="d-none" value="">Jour</option>
												<option ng-selected="vm.form.startActivityDateDay === 1" value="01">01</option>
												<option ng-selected="vm.form.startActivityDateDay === 2" value="02">02</option>
												<option ng-selected="vm.form.startActivityDateDay === 3" value="03">03</option>
												<option ng-selected="vm.form.startActivityDateDay === 4" value="04">04</option>
												<option ng-selected="vm.form.startActivityDateDay === 5" value="05">05</option>
												<option ng-selected="vm.form.startActivityDateDay === 6" value="06">06</option>
												<option ng-selected="vm.form.startActivityDateDay === 7" value="07">07</option>
												<option ng-selected="vm.form.startActivityDateDay === 8" value="08">08</option>
												<option ng-selected="vm.form.startActivityDateDay === 9" value="09">09</option>
												<option ng-selected="vm.form.startActivityDateDay === 10" value="10">10</option>
												<option ng-selected="vm.form.startActivityDateDay === 11" value="11">11</option>
												<option ng-selected="vm.form.startActivityDateDay === 12" value="12">12</option>
												<option ng-selected="vm.form.startActivityDateDay === 13" value="13">13</option>
												<option ng-selected="vm.form.startActivityDateDay === 14" value="14">14</option>
												<option ng-selected="vm.form.startActivityDateDay === 15" value="15">15</option>
												<option ng-selected="vm.form.startActivityDateDay === 16" value="16">16</option>
												<option ng-selected="vm.form.startActivityDateDay === 17" value="17">17</option>
												<option ng-selected="vm.form.startActivityDateDay === 18" value="18">18</option>
												<option ng-selected="vm.form.startActivityDateDay === 19" value="19">19</option>
												<option ng-selected="vm.form.startActivityDateDay === 20" value="20">20</option>
												<option ng-selected="vm.form.startActivityDateDay === 21" value="21">21</option>
												<option ng-selected="vm.form.startActivityDateDay === 22" value="22">22</option>
												<option ng-selected="vm.form.startActivityDateDay === 23" value="23">23</option>
												<option ng-selected="vm.form.startActivityDateDay === 24" value="24">24</option>
												<option ng-selected="vm.form.startActivityDateDay === 25" value="25">25</option>
												<option ng-selected="vm.form.startActivityDateDay === 26" value="26">26</option>
												<option ng-selected="vm.form.startActivityDateDay === 27" value="27">27</option>
												<option ng-selected="vm.form.startActivityDateDay === 28" value="28">28</option>
												<option ng-selected="vm.form.startActivityDateDay === 29" value="29">29</option>
												<option ng-selected="vm.form.startActivityDateDay === 30" value="30">30</option>
												<option ng-selected="vm.form.startActivityDateDay === 31" value="31">31</option>
											</select>
											<select ng-model="vm.form.startActivityDateMonth" class="form-control" required>
												<option class="d-none" value="">Mois</option>
												<option ng-selected="vm.form.startActivityDateMonth === 1" value="01">01</option>
												<option ng-selected="vm.form.startActivityDateMonth === 2" value="02">02</option>
												<option ng-selected="vm.form.startActivityDateMonth === 3" value="03">03</option>
												<option ng-selected="vm.form.startActivityDateMonth === 4" value="04">04</option>
												<option ng-selected="vm.form.startActivityDateMonth === 5" value="05">05</option>
												<option ng-selected="vm.form.startActivityDateMonth === 6" value="06">06</option>
												<option ng-selected="vm.form.startActivityDateMonth === 7" value="07">07</option>
												<option ng-selected="vm.form.startActivityDateMonth === 8" value="08">08</option>
												<option ng-selected="vm.form.startActivityDateMonth === 9" value="09">09</option>
												<option ng-selected="vm.form.startActivityDateMonth === 10" value="10">10</option>
												<option ng-selected="vm.form.startActivityDateMonth === 11" value="11">11</option>
												<option ng-selected="vm.form.startActivityDateMonth === 12" value="12">12</option>
											</select>
											<input type="text" class="form-control" maxlength="4" minlength="4" ng-model="vm.form.startActivityDateYear"
											 ng-value="vm.form.startActivityDateYear" pattern="^(19|20)\d\d$" placeholder="ANNEE" required>
											<span class="calendar icon-calendar"></span>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>ADRESSE
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="address" ng-model="vm.form.address" ng-value="vm.form.address" class="form-control"
											 placeholder="ADRESSE" required>
										</div>
									</div>
									<div class="help-block with-errors text-right"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>CODE POSTAL
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<input type="text" name="postalCode" ng-model="vm.form.postalCode" ng-change="vm.getCityName()" class="form-control"
											 maxlength="5" placeholder="CODE POSTAL" required>
										</div>
									</div>
									<div ng-show="vm.postalCodeError" class="succes-rappelerlock with-errors">{{vm.postalCodeError}}</div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>VILLE
											<span class="required">*</span>
										</label>
										<div class="inline-div">
											<select ng-show="!vm.postalCodeError && !vm.showCityInput" id="ville" name="ville" class="form-control"
											 ng-model="vm.form.city" ng-disabled="!vm.form.cities">
												<option value="">Veuillez sélectionner votre ville</option>
												<option ng-repeat="city in vm.form.cities" value="{{city.city}}">
													{{city.city}}
												</option>
											</select>
											<input type="text" ng-show="vm.postalCodeError || vm.showCityInput" name="city" ng-model="vm.form.city"
											 class="form-control" placeholder="VILLE" required>
										</div>
									</div>
									<div ng-show="vm.cityError" class="succes-rappelerlock with-errors">{{vm.cityError}}</div>
								</div>
							</div>
						</div>
						<div class="form-full m-t-30">
							<div class="form-group">
								<div class="inline-group">
									<label>DATE DE CLÔTURE DU BILAN
										<span class="required">*</span>
									</label>
									<div class="inline-div inline-date without-input">
										<select class="form-control" ng-model="vm.form.endStatementDateDay" required>
											<option class="d-none" value="">Jour</option>
											<option ng-selected="vm.form.endStatementDateDay === 31" value="31">31</option>
											<option ng-selected="vm.form.endStatementDateDay === 30" value="30">30</option>
											<option ng-selected="vm.form.endStatementDateDay === 29" value="29">29</option>
											<option ng-selected="vm.form.endStatementDateDay === 28" value="28">28</option>
											<option ng-selected="vm.form.endStatementDateDay === 27" value="27">27</option>
											<option ng-selected="vm.form.endStatementDateDay === 26" value="26">26</option>
											<option ng-selected="vm.form.endStatementDateDay === 25" value="25">25</option>
											<option ng-selected="vm.form.endStatementDateDay === 24" value="24">24</option>
											<option ng-selected="vm.form.endStatementDateDay === 23" value="23">23</option>
											<option ng-selected="vm.form.endStatementDateDay === 22" value="22">22</option>
											<option ng-selected="vm.form.endStatementDateDay === 21" value="21">21</option>
											<option ng-selected="vm.form.endStatementDateDay === 20" value="20">20</option>
											<option ng-selected="vm.form.endStatementDateDay === 19" value="19">19</option>
											<option ng-selected="vm.form.endStatementDateDay === 18" value="18">18</option>
											<option ng-selected="vm.form.endStatementDateDay === 17" value="17">17</option>
											<option ng-selected="vm.form.endStatementDateDay === 16" value="16">16</option>
											<option ng-selected="vm.form.endStatementDateDay === 15" value="15">15</option>
											<option ng-selected="vm.form.endStatementDateDay === 14" value="14">14</option>
											<option ng-selected="vm.form.endStatementDateDay === 13" value="13">13</option>
											<option ng-selected="vm.form.endStatementDateDay === 12" value="12">12</option>
											<option ng-selected="vm.form.endStatementDateDay === 11" value="11">11</option>
											<option ng-selected="vm.form.endStatementDateDay === 10" value="10">10</option>
											<option ng-selected="vm.form.endStatementDateDay === 9" value="09">09</option>
											<option ng-selected="vm.form.endStatementDateDay === 8" value="08">08</option>
											<option ng-selected="vm.form.endStatementDateDay === 7" value="07">07</option>
											<option ng-selected="vm.form.endStatementDateDay === 6" value="06">06</option>
											<option ng-selected="vm.form.endStatementDateDay === 5" value="05">05</option>
											<option ng-selected="vm.form.endStatementDateDay === 4" value="04">04</option>
											<option ng-selected="vm.form.endStatementDateDay === 3" value="03">03</option>
											<option ng-selected="vm.form.endStatementDateDay === 2" value="02">02</option>
											<option ng-selected="vm.form.endStatementDateDay === 1" value="01">01</option>
										</select>
										<select class="form-control" ng-model="vm.form.endStatementDateMonth" required>
											<option class="d-none" value="">Mois</option>
											<option ng-selected="vm.form.endStatementDateMonth === 12" value="12">12</option>
											<option ng-selected="vm.form.endStatementDateMonth === 11" value="11">11</option>
											<option ng-selected="vm.form.endStatementDateMonth === 10" value="10">10</option>
											<option ng-selected="vm.form.endStatementDateMonth === 9" value="09">09</option>
											<option ng-selected="vm.form.endStatementDateMonth === 8" value="08">08</option>
											<option ng-selected="vm.form.endStatementDateMonth === 7" value="07">07</option>
											<option ng-selected="vm.form.endStatementDateMonth === 6" value="06">06</option>
											<option ng-selected="vm.form.endStatementDateMonth === 5" value="05">05</option>
											<option ng-selected="vm.form.endStatementDateMonth === 4" value="04">04</option>
											<option ng-selected="vm.form.endStatementDateMonth === 3" value="03">03</option>
											<option ng-selected="vm.form.endStatementDateMonth === 2" value="02">02</option>
											<option ng-selected="vm.form.endStatementDateMonth === 1" value="01">01</option>
										</select>
										<span class="calendar icon-calendar"></span>
									</div>
								</div>
								<div class="help-block with-errors text-center"></div>
							</div>
							<div class="form-group">
								<div class="inline-group">
									<label>APPARTENEZ-VOUS A UN GIE OU UN GROUPE DE VETERINAIRE
										<span class="required">*</span>
									</label>
									<div class="inline-div">
										<div class="form-check form-check-inline">
											<label class="label-radio">
												<input type="radio" class="change" name="centralRef" value="oui" ng-model="vm.form.centralRef" ng-checked="vm.form.centralRef === true"
												 required /> OUI
												<div class="radio"></div>
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="label-radio">
												<input type="radio" class="change" name="centralRef" value="non" ng-model="vm.form.centralRef" ng-checked="vm.form.centralRef === false" />
												NON
												<div class="radio"></div>
											</label>
										</div>
									</div>
								</div>
								<div ng-show="vm.form.centralRef === 'oui' || vm.form.centralRef === true">
									<div class="row">
										<div class="col-lg-7">
											<div class="inline-group hide-element-bg">
												<label>Laquelle?
													<span class="required">*</span>
												</label>
												<div class="inline-div">
													<input type="text" name="laquelle" class="form-control" ng-model="vm.form.centralRefName" placeholder="Laquelle?">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" ng-show="vm.form.currentContractDateMinus2Months && (vm.form.currentContract === 'oui' || vm.form.currentContract === true )">
								<div class="inline-group">
									<label>AVEZ-VOUS EFFECTUÉ LA RÉSILIATION DE VOTRE CONTRAT EN COURS AVANT 2 MOIS ?
										<span class="required">*</span>
									</label>
									<div class="inline-div">
										<div class="form-check form-check-inline">
											<label class="label-radio">
												<input type="radio" class="change" name="contractCancel" value="oui" ng-model="vm.form.currentContractCancel"
												 ng-checked="vm.form.currentContractCancel === true" /> OUI
												<div class="radio"></div>
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="label-radio">
												<input type="radio" class="change" name="contractCancel" value="non" ng-model="vm.form.currentContractCancel"
												 ng-checked="vm.form.currentContractCancel === false" /> NON
												<div class="radio"></div>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="required-info">
							<p>*Champs obligatoires</p>
							<p style="color:#485865">En saisissant ces informations, vous acceptez
								<a class="underline bold" href="/pdf/consentement.pdf" target="_blank">le traitement de vos données
									personnelles</a>
							</p>

						</div>
						<div class="form-group text-center m-t-50">
							<button type="submit" class="button button-pink">Modifier</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>