<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-2">
        <%- partial('../../components/profile-menu'); %>
      </div>
      <div class="col-lg-8 col-10" ng-if="!vm.isCommercial">
        <div class="journal-content">
          <ul>
            <li ng-if="vm.continuesLater.length > 0">
              <span class="icon icon-check color-skyblue"></span>
              <h4 class="title-section-simple color-grey" ng-if="vm.continuesLater.length > 1">
                Vous avez
                <strong>{{ vm.continuesLater.length }}</strong> enregistrements de souscription en cours
              </h4>
              <h4 class="title-section-simple color-grey" ng-if="vm.continuesLater.length === 1">
                Vous avez
                <strong>{{ vm.continuesLater.length }}</strong> enregistrement de souscription en cours
              </h4>
              <span class="date">Dérniére MAJ {{ vm.lastContinueLaterDate | dateFormat | uppercase }}</span>
              <a href="#" class="btn-souscription">CONTINUER MA SOUSCRIPTION ></a>
            </li>
            <li ng-if="vm.continuesLater.length === 0">
              <span class="icon icon-aide color-pink"></span>
              <h4 class="title-section-simple color-grey">
                Vous n'avez aucun enregistrement de souscription en cours de traitement</h4>
            </li>
            <li ng-if="vm.treatmentSinisters.length > 0">
              <span class="icon icon-check color-skyblue"></span>
              <h4 class="title-section-simple color-grey" ng-if="vm.treatmentSinisters.length > 1">
                Vous avez
                <strong>{{ vm.treatmentSinisters.length }}</strong> sinistres en cours de traitement
              </h4>
              <h4 class="title-section-simple color-grey" ng-if="vm.treatmentSinisters.length === 1">
                Vous avez
                <strong>{{ vm.treatmentSinisters.length }}</strong> sinistre en cours de traitement
              </h4>
              <span class="date">Dérniére MAJ {{ vm.lastSinisterDate | dateFormat | uppercase }}</span>
              <a href="/sinistres" class="btn-souscription">SUIVRE L’ETAT DE MON SINISTRE ></a>
            </li>
            <li ng-if="vm.treatmentSinisters.length === 0">
              <span class="icon icon-aide color-pink"></span>
              <h4 class="title-section-simple color-grey">Vous n'avez aucun
                sinistre en cours de traitement</h4>
            </li>
            <li ng-if="vm.helps.length > 0">
              <span class="icon icon-check color-skyblue"></span>
              <h4 class="title-section-simple color-grey" ng-if="vm.helps.length > 1">
                Vous avez
                <strong>{{ vm.helps.length }}</strong> demandes d’aide en cours de traitement
              </h4>
              <h4 class="title-section-simple color-grey" ng-if="vm.helps.length === 1">
                Vous avez demande
                <strong>{{ vm.helps.length }}</strong> demande d’aide en cours de traitement
              </h4>
              <span class="date">Dérniére MAJ {{ vm.lastHelpDate | dateFormat | uppercase }}</span>
              <a href="/rappeler" class="btn-souscription">MODIFIER LE RENDEZ-VOUS ></a>
            </li>
            <li ng-if="vm.helps.length === 0">
              <span class="icon icon-aide color-pink"></span>
              <h4 class="title-section-simple color-grey">Vous n'avez aucune demande d’aide en cours de
                traitement</h4>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-10" ng-if="vm.isCommercial">
        <div class="journal-content">
          <div class="success-souscription">
            <ul>
              <p ng-if="vm.commercialContracts.length > 0" class="icon-souscription">
                <span class="icon icon-check color-skyblue"></span>
              </p>
              <li ng-if="vm.commercialContracts.length > 0">
                <h4 class="title-section-simple color-grey" style="text-align:center;" ng-if="vm.commercialContracts.length === 1">Vous
                  avez créé
                  <strong>{{ vm.commercialContracts.length }}</strong> contrat
                </h4>
                <h4 class="title-section-simple color-grey" style="text-align:center;" ng-if="vm.commercialContracts.length > 1">Vous
                  avez créé
                  <strong>{{ vm.commercialContracts.length }}</strong> contrats
                </h4>
              </li>
              <p ng-if="vm.commercialContracts.length === 0" class="icon-souscription">
                <span class="icon icon-aide color-pink"></span>
              </p>
              <li ng-if="vm.commercialContracts.length === 0">
                <h4 class="title-section-simple color-grey" style="text-align:center;">Vous n'avez créé aucun contrat</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>