<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="mes-information">
					<form class="steps-form" ng-submit="vm.changePassword()" method="post" name="changePasswordForm" data-toggle="validator"
					 role="form">
						<h4 class="form-title-recap color-skyblue">Modier votre mot de passe</h4>
						<div ng-if="vm.success">
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{vm.success}}
							</div>
						</div>
						<div ng-if="vm.error">
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{vm.error}}
							</div>
						</div>
						<div class="row m-b-30">
							<div class="col-lg-8">
								<div class="form-group">
									<div class="inline-group">
										<label>Ancien mot de passe<span class="required">*</span></label>
										<div class="inline-div">
											<input type="password" name="password" ng-model="vm.password" minlength="4" class="form-control" data-error="Mot de passe 4 caractères au minimum"
											 placeholder="Ancien mot de passe" required>
										</div>
									</div>
									<div class="succes-rappelerlock with-errors"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>NOUVEAU MOT DE PASSE<span class="required">*</span></label>
										<div class="inline-div">
											<input type="password" name="password" ng-model="vm.newPassword" class="form-control" minlength="4"
											 data-error="Nouveau mot de passe 4 caractères au minimum" id="inputChangePassword" placeholder="NOUVEAU MOT DE PASSE"
											 required>
										</div>
									</div>
									<div class="succes-rappelerlock with-errors"></div>
								</div>
								<div class="form-group">
									<div class="inline-group">
										<label>Confirmer nouveau MOT DE PASSE<span class="required">*</span></label>
										<div class="inline-div">
											<input type="password" name="password" ng-model="vm.renewPassword" class="form-control" minlength="4"
											 data-match="#inputChangePassword" data-error="Nouveau mot de passe 4 caractères au minimum"
											 data-match-error="Les nouveaux mots de passe ne se correspondent pas" placeholder="Confirmer nouveau MOT DE PASSE"
											 required>
										</div>
									</div>
									<div class="succes-rappelerlock with-errors"></div>
								</div>
							</div>
						</div>
						<div class="form-group text-center m-t-50">
							<button type="submit" class="button button-pink">Modifier</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>