<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="journal-content">
					<ul>
						<div class="success-souscription">
							<p ng-if="vm.treatmentSinisters.length === 0" class="icon-souscription">
								<span class="icon icon-aide color-pink" style="text-align:center;"></span>
							</p>
							<li ng-if="vm.treatmentSinisters.length === 0">
								<h4 class="title-section-simple color-grey">Vous n'avez aucun sinistre en cours de traitement</h4>
							</li>
							<li ng-if="vm.treatmentSinisters.length > 0">
								<span class="icon icon-check color-skyblue"></span>
								<h4 ng-if="vm.treatmentSinisters.length > 1">Vous avez
									<strong>{{vm.treatmentSinisters.length}}</strong> sinistres en cours de traitement.</h4>
								<h4 ng-if="vm.treatmentSinisters.length === 1">Vous avez
									<strong>{{vm.treatmentSinisters.length}}</strong> sinistre en cours de traitement.</h4>
								<div class="info">
									<p>
										<strong>Contactez-nous pour vérifier l’avacement de votre demande</strong>
									</p>
									<p>
										<span class="color-blue">Par tél :</span> 01 77 66 40 89 (Appel gratuit. - Du Lundi au Vendredi, de 9h à
										18h.)</p>
									<p>
										<span class="color-blue">Par Email :</span> contact@vetoptim.fr</p>
								</div>
							</li>
							<li ng-repeat="sinister in vm.treatmentSinisters">
								<div class="info-sinistre">
									<p class="uppercase" ng-if="!sinister.contract">aucun contrat choisie</p>
									<p ng-if="sinister.contract.effectDate">DATE D’EFFET :
										<strong>{{sinister.contract.effectDate | effectDateFormat}}</strong>
									</p>
									<p ng-if="sinister.contract.quotation[0].offerType==='RC'">TYPE D’ASSURANCE :
										<strong>RESPONSABILITÉ CIVILE</strong></p>
									<p ng-if="sinister.contract.quotation[0].offerType==='MRP'">TYPE D’ASSURANCE :
										<strong>MULTIRISQUE PROFESSIONELLE</strong></p>
									<p ng-if="sinister.contract.quotation[0].offerType==='RC + MRP'">TYPE D’ASSURANCE :
										<strong>RESPONSABILITÉ CIVILE + MULTIRISQUE PROFESSIONELLE</strong></p>
									<p ng-if="sinister.contract.quotation[0].offerType==='MRP + RC'">TYPE D’ASSURANCE :
										<strong>MULTIRISQUE PROFESSIONELLE + RESPONSABILITÉ CIVILE</strong>
									</p>
									<p ng-if="sinister.contract.reference">CONTRAT :
										<strong>N°{{sinister.contract.reference}}</strong>
									</p>
								</div>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>