<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="success-souscription">
					<p class="icon-souscription"><span class="icon icon-check color-skyblue"></span></p>
					<h2 class="title-section-simple color-grey">MISE À JOUR {{vm.mySpaceUpdatedTarget}} EFFECTUÉE AVEC SUCCÈS</h2>
					<div class="division"></div>
				</div>
			</div>
		</div>
	</div>
</div>