<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="header-title bg-blue">
    <div class="container">
        <h2><span class=""></span>Suppression de compte</h2>
    </div>
</div>
<div class="content-section">
    <div class="container" ng-controller="SimulationCRController as vm">
        <div class="row" ng-init="vm.checkSignedContract()">
            <div class="col-lg-4 col-2">
                <%- partial('../../components/profile-menu'); %>
            </div>
            <div ng-if="vm.error">
                <div class="mes-information">
                    <div class="remove-account">
                        <i class="fa fa-times-circle"></i>
                        <p>Vous ne pouvez pas supprimer votre compte puisque vous avez un contrat actif.</p>
                    </div>
                </div>
            </div>
            <div ng-if="!vm.error" class="col-lg-8 col-10">
                <div class="mes-information">
                    <div class="remove-account">
                        <i class="fa fa-trash-o"></i>
                        <p>Conformément à la loi sur la protection des données personnelles vous avez la possibilité de
                            supprimer votre compte ainsi que toutes les données s'y rattachant.</p>
                        <p>Attention cette action est irréversible. Il nous sera impossible de récupérer vos données si
                            vous changez d'avis.</p>
                        <p>Vous pouvez <a href="/contact" class="color-skyblue">contacter un de nos conseillers</a>
                            pour tout complément d'information par téléphone au ou bien par email</p>
                        <p class="bold">Êtes vous sûr de vouloir supprimer votre compte?</p>
                        <a href="/supprimer-check" class="button button-pink "><span class="icon fa fa-trash-o"></span>SUPPRIMER
                            MON COMPTE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>