<%- partial('../../partials/header-page', {'title': 'MON ESPACE'}); %>
<div class="header-title bg-blue">
	<div class="container">
		<h2><span class=""></span>Suppression de compte</h2>
	</div>
</div>
<div class="content-section" ng-controller="SimulationCRController as vm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-2">
				<%- partial('../../components/profile-menu'); %>
			</div>
			<div class="col-lg-8 col-10">
				<div class="mes-information">
					<div class="remove-account">
						<i class="fa fa-trash-o"></i>
						<p class="bold">Entrez votre mot de passe pour pouvoir supprimer votre compte</p>
						<form class="steps-form" ng-submit="vm.deleteAccount()" method="post" name="supprimerCompteForm" data-toggle="validator"
						 role="form">
							<div class="row">
								<div class="col-lg-6 offset-lg-3">
									<div class="form-group">
										<div class="inline-group">
											<input type="password" name="password" ng-model="vm.password" minlength="4" class="form-control" id="inputPassword"
											 data-error="Veuillez entrer votre mot de passe" placeholder="MOT DE PASSE" required>
										</div>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<div class="inline-group">
											<input type="password" name="password" ng-model="vm.confirmPassword" class="form-control" minlength="4"
											 data-match="#inputPassword" data-match-error="Les mots de passe ne se correspondent pas" placeholder="Confirmer votre MOT DE PASSE"
											 required>
										</div>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="form-group text-center m-t-50">
								<button type="submit" class="button button-pink"><span class="icon fa fa-trash-o"></span>SUPPRIMER MON COMPTE</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>