<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="success-souscription">
                    <p class="icon-souscription"><span class="icon fa fa-trash-o"></span></p>
                    <h2 class="title-section-simple color-grey">Compte supprimé !</h2>
                    <h3>VOTRE COMPTE À ÉTÉ BIEN SUPPRIMÉ</h3>
                    <div class="division"></div>
                    <div class="souscription-link m-t-40">
                        <p>Conformément à la réglementation GPDR vôtre compte ainsi que toutes vos informations
                            personnelles sur nos systèmes ont été supprimées.</p>
                        <div class="m-b-30"></div>
                        <a href="/" class="button button-skyblue"><span class="icon icon-user"></span>Retour à la page
                            d'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>