Nom:
<%= user.name %>
<br>
Prénom:
<%= user.lastname %>
<br>
Référence client:
<%= adhesion.leaderReference %>
<br>
Date de naissance du dirigeant:
<%= user.leader[0].leaderBirthdate %>
<br>
<% if (user.leader[0].haveConjoint) { %>
Date de naissance du conjoint:
<%= user.leader[0].conjointBirthdate %>
<% } %>
<br>
<% if (user.leader[0].haveChildren) { %>
Nombre d'enfants:
<%= user.leader[0].childrenNumber %>
<% } %>
<br>
Addresse:
<%= user.address[0].address %>
<br>
Code postal:
<%= user.address[0].postalCode %>
<br>
Ville:
<%= user.address[0].city %>
<br>
Siren:
<%= user.leader[0].siren %>
<br>
Raison Sociale:
<%= user.leader[0].companyName %>
<br>
Forme juridique:
<%= user.leader[0].legalForm %>
<br>
Date de début d'activité:
<%= moment(new Date(user.leader[0].startActivityDate)).format('DD/MM/YYYY') %>
<br>
Garantie individuelle Accident:
<% if(user.leader[0].indivAccident === true) { %>
inscrite
<% } else { %>
non inscrite
<% } %>
<br>
<% if (user.leader[0].indivAccident) { %>
Choix de la garantie individuelle Accident:
<%= user.leader[0].indivAccidentChoix %>
<% } %>
<br>
Garantie individuelle Enfants:
<% if(user.leader[0].indivEnfants === true) { %>
inscrite
<% } else { %>
non inscrite
<% } %>
<br>
Garantie rapatriement de Corps en terre d’origine:
<% if(user.leader[0].rapatriement === true) { %>
inscrite
<% } else { %>
non inscrite
<% } %>
<br>
<% if (user.leader[0].rapatriement) { %>
Choix de la garantie rapatriement de Corps en terre d’origine:
<%= user.leader[0].rapatriementChoix %>
<% } %>
<br>
Fractionnement:
<%= period(adhesion.fraction) %>
<br>
Date d'effet:
<%= adhesion.effectDate %>
<br>
Cotisation:
<%= currency.format(adhesion.chosenQuotation , {symbol: '€', decimal: '.', thousand: ' ', precision: 2, format: '%v %s'}) %>
<br>
Cotisation comptant:
<%= currency.format(adhesion.cashQuotation , {symbol: '€', decimal: '.', thousand: ' ', precision: 2, format: '%v %s'}) %>
<br>