Nom:
<%= user.name %>
<br>
Prénom:
<%= user.lastname %>
<br>
Référence client:
<%= adhesion.leaderReference %>
<br>
Addresse:
<%= user.address[0].address %>
<br>
Code postal:
<%= user.address[0].postalCode %>
<br>
Ville:
<%= user.address[0].city %>
<br>
Siren:
<%= user.leader[0].siren %>
<br>
Raison Sociale:
<%= user.leader[0].companyName %>
<br>
Forme juridique:
<%= user.leader[0].legalForm %>
<br>
Date de début d'activité:
<%= moment(new Date(user.leader[0].startActivityDate)).format('DD/MM/YYYY') %>
<br>
Chiffre d'affaires HT:
<%= currency.format(user.leader[0].turnover, {symbol: '€', decimal: '.', thousand: ' ', precision: 0, format: '%v %s'}) %>
<br>
Fractionnement:
<%= period(adhesion.fraction) %>
<br>
Date d'effet:
<%= adhesion.effectDate %>
<br>
Cotisation:
<%= currency.format(adhesion.chosenQuotation , {symbol: '€', decimal: '.', thousand: ' ', precision: 2, format: '%v %s'}) %>
<br>
Cotisation comptant:
<%= currency.format(adhesion.cashQuotation , {symbol: '€', decimal: '.', thousand: ' ', precision: 2, format: '%v %s'}) %>
<br>