<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contrat Vetoptim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        p {
            color: blue;
            margin-left: 20px;
            font-size: 20px;
        }
    </style>
</head>

<body>

    <div>
        <p>Civilité :
            <%= user.title %>
        </p>
        <p>nom :
            <%= user.name %>
        </p>
        <p>prénom :
            <%= user.lastname %>
        </p>
        <p>mobile :
            <%= user.mobile %>
        </p>
        <p>email :
            <%= user.email %>
        </p>
        <p>siret :
            <%= user.customer[0].siret %>
        </p>
        <p>forme légale :
            <%= user.customer[0].legalForm %>
        </p>
        <p>Date de début d'activité :
            <%= moment(new Date(user.customer[0].startActivityDate)).format('DD-MM-YYYY') %>
        </p>
        <p>En structure clinique/hopital :
            <%= user.customer[0].structure ? 'oui' : 'non' %>
        </p>
        <p>Appartenez-vous à une centrale de référencement :
            <%= user.customer[0].centralRef ? 'oui' : 'non' %>
        </p>
        <p>En tant que libéral en cabinet individuel :
            <%= user.customer[0].liberal ? 'oui' : 'non' %>
        </p>
        <p>En tant que collaborateur libéral :
            <%= user.customer[0].liberalCollaborator ? 'oui' : 'non' %>
        </p>
        <p>Date effet :
            <%= adhesion.effectDate %>
        </p>
        <p>Période :
            <%= calculatePeriod(adhesion.fraction) %>
        </p>
        <p>Type d'offre :
            <%= adhesion.offerType %>
        </p>
        <p>Activité :
            <%= user.customer[0].activity %>
        </p>
        <p>Cotisation :
            <%= currencyFormatter.format(adhesion.chosenQuotation, {symbol: '€', decimal: '.', thousand: ' ', precision: 2, format: '%v %s'}) %>
        </p>
    </div>

</body>

</html>