footer{
	color: $white;
	padding: 50px 0 20px;
	background: url(../images/externe/footer-bg.png) no-repeat center top fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	.logo{
		img{
			width: 200px;
		}
	}
	h4{
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		&:after{
			content: '';
		    display: block;
		    width: 60px;
		    height: 3px;
		    background-color: $white;
		    margin-top: 10px
		}
	}
	ul{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			padding: 5px 0;
			a{
				font-size: 14px;
				display: block;
				line-height: 15px;
				font-weight: 300;
			}
		}
		&.social-network{
			li{
				a{
					i{
						border: 2px solid $white;
					}
					&:hover{
						i{
							background-color: $white;
							color: $skyblue;
						}
					}
				}
			}
		}
		&.footer-menu{
			text-align: center;
    		margin-top: 30px;
			li{
				list-style: none;
				display: inline-block;
				a{
					text-transform: uppercase;
					border-right: 1px solid $white;
					padding: 0 10px;
				}
				&:last-child{
					a{
						border-right: none;
					}
				}
			}
		}
	}
	form{
		&.newsletter{
			margin-top: 20px;
			width: 80%;
			display: flex;
			input{
				border-radius: 8px 0 0 8px;
				width: 80%;
				display: inline-block;
				height: 50px;
				padding: 14px 20px;
				background-color: #bbc6d6;
    			font-size: 14px;
			}
			button{
				border-radius: 0 8px 8px 0;
				display: inline-block;
				width: 20%;
				border: none;
				background-color: $skyblue;
				color: $white;
				cursor: pointer;
			}
		}
	}
}