form {
  &.steps-form {
    .info-alert {
      text-align: right;
      display: block;
      font-size: 12px;
      font-family: Lato, sans-serif;
      font-style: italic;
      margin-top: 10px;
    }
    label {
      font-size: 14px;
    }
    .inline-group {
      display: flex;
      &.inline-group-flex {
        label,
        .inline-div {
          width: auto;
        }
      }
      .icon-font {
        margin-right: 15px;
        i {
          position: relative;
          top: 6px;
          font-size: 28px;
          color: $blue;
        }
      }
      label {
        width: 140px;
        margin: 0 15px 0 0;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        &.form-check-label,
        &.label-radio,
        &.label-checkbox {
          width: auto;
        }
      }
      .inline-div {
        width: calc(100% - 150px);
        display: flex;
        &.inline-date {
          select {
            width: 30%;
            margin-right: 10px;
          }
          input {
            width: 40%;
          }
          span {
            &.calendar {
              margin-left: 10px;
              position: relative;
              top: 9px;
              &:before {
                color: $grey;
                font-size: 24px;
              }
            }
            &.heure {
              width: 160px;
              position: relative;
              top: 10px;
            }
          }
        }
        .btn-edit {
          margin-left: 5px;
          span {
            &.icon {
              position: relative;
              top: 10px;
            }
          }
        }
      }
    }

    input,
    textarea,
    select {
      font-size: 14px;
      text-transform: none;
      font-weight: 300;
      border-radius: 10px;
    }
    input {
      padding: 20px;
    }
    input[type='number'] {
      padding: 0 20px;
      height: 42px;
    }
    textarea {
      padding: 20px;
    }
    select {
      padding: 0px 20px;
      height: 42px;
    }
    .form-left,
    .form-right {
      position: relative;
      padding: 20px;
      overflow: hidden;
      h4 {
        font-size: 18px;
        font-weight: 700;
        padding-left: 40px;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      span {
        &.icon {
          position: absolute;
          left: -20px;
          top: -20px;
          padding: 22px;
          background-color: $skyblue;
          border-radius: 100%;
          &:before {
            position: relative;
            top: 7px;
            left: 7px;
            font-size: 24px;
          }
        }
      }
    }
    .form-left {
      background-color: $grey-light;
    }
    .form-right {
      background-color: $grey;
      h4 {
        color: $white;
      }
      label {
        color: $white;
        span {
          &.required {
            color: $white;
          }
        }
      }
    }
    .form-full {
      .inline-group {
        label,
        .inline-div {
          width: auto;
        }
        .inline-div {
          &.without-input {
            select {
              width: 150px;
            }
          }
        }
      }
    }
    .hide-element-bg {
      background-color: $grey-light;
      padding: 10px 20px;
      position: relative;
      label {
        width: 110px;
      }
      .inline-div {
        width: calc(100% - 110px);
      }
      &:before {
        bottom: 100%;
        left: 80px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $grey-light;
        border-width: 10px;
        margin-left: -40px;
      }
      .ng-scope {
        border-bottom: 2px solid $white;
        margin-bottom: 10px;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }
  &.register-form {
    .form-group {
      position: relative;
      margin-bottom: 30px;
      &.has-error {
        .form-control {
          border-color: #a94442;
        }
      }
      .form-control {
        resize: none;
        border: 0;
        color: $white;
        background-color: transparent;
        border-bottom: 2px solid $white;
        border-radius: 0 !important;
        padding: 10px 10px 10px 35px;
        height: 50px;
        max-width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear;
      }
      input::placeholder,
      textarea::placeholder {
        color: #fff9;
      }
      span {
        &.icon {
          position: absolute;
          top: 15px;
          left: 4px;
        }
      }
    }
    a {
      &.learn-more {
        display: block;
        margin-top: 15px;
      }
    }
  }
  label {
    span {
      &.required {
        display: contents;
        color: $grey;
      }
    }
    &.label-radio,
    &.label-checkbox {
      position: relative;
      padding: 10px 10px 10px 35px;
      cursor: pointer;
      display: inline-block;
      max-width: 230px;
      &.full-w {
        max-width: 100%;
        padding: 5px 10px 10px 35px;
      }
      &.big-label {
        padding: 0;
        margin-bottom: 0;
      }
      span {
        &.icon {
          position: relative;
          top: 3px;
          margin-right: 10px;
          &:before {
            font-size: 28px;
            font-weight: 700;
          }
        }
      }
      .color-blue {
        font-size: 20px;
        font-weight: 700;
        span {
          &.icon {
            &:before {
              color: $blue;
            }
          }
        }
      }
      .color-skyblue {
        font-size: 20px;
        font-weight: 700;
        span {
          &.icon {
            &:before {
              color: $skyblue;
            }
          }
        }
      }
      .color-pink {
        font-size: 20px;
        font-weight: 700;
        span {
          &.icon {
            &:before {
              color: $pink;
            }
          }
        }
      }
      input {
        position: absolute;
        left: 4px;
        top: 10px;
        opacity: 0;
      }
      input:checked ~ .radio:before {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
      }
      input:checked ~ .checkbox:before {
        -webkit-transform: rotate(-45deg) scale(1, 1);
        -moz-transform: rotate(-45deg) scale(1, 1);
        -ms-transform: rotate(-45deg) scale(1, 1);
        -o-transform: rotate(-45deg) scale(1, 1);
        transform: rotate(-45deg) scale(1, 1);
      }
      .radio {
        position: absolute;
        top: 11px;
        left: 4px;
        margin: 0 1rem 0 0;
        cursor: pointer;
        &:before {
          -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
          -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
          transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
          -webkit-transform: scale(0, 0);
          -moz-transform: scale(0, 0);
          -ms-transform: scale(0, 0);
          -o-transform: scale(0, 0);
          transform: scale(0, 0);
          content: '';
          position: absolute;
          left: 4px;
          top: 0;
          z-index: 1;
          width: 12px;
          height: 12px;
          border: 2px solid $blue;
          background: $blue;
          border-radius: 50%;
        }
        &:after {
          content: '';
          position: absolute;
          top: -4px;
          left: 0;
          width: 20px;
          height: 20px;
          background: #fff;
          border: 2px solid #00158847;
          border-radius: 50%;
        }
      }
      .checkbox {
        position: absolute;
        top: 10px;
        left: 4px;
        margin: 0 1rem 0 0;
        cursor: pointer;
        &:before {
          -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
          -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
          transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
          -webkit-transform: rotate(-45deg) scale(0, 0);
          -moz-transform: rotate(-45deg) scale(0, 0);
          -ms-transform: rotate(-45deg) scale(0, 0);
          -o-transform: rotate(-45deg) scale(0, 0);
          transform: rotate(-45deg) scale(0, 0);
          content: '';
          position: absolute;
          left: 5px;
          top: -4px;
          z-index: 1;
          width: 20px;
          height: 10px;
          border: 3px solid $blue;
          border-top-style: none;
          border-right-style: none;
        }
        &:after {
          content: '';
          position: absolute;
          top: -4px;
          left: 0;
          width: 20px;
          height: 20px;
          border: 2px solid #00158847;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
  }
  .periodicite {
    ul {
      display: flex;
      width: 100%;
      padding: 0px;
      margin: 0px;
      li {
        list-style: none;
        width: 25%;
        text-align: center;
        background-color: $grey-light;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        label {
          display: block;
          padding: 40px 15px;
          height: 100%;
          input:checked ~ .radiobox:before {
            -webkit-transform: rotate(-45deg) scale(1, 1);
            -moz-transform: rotate(-45deg) scale(1, 1);
            -ms-transform: rotate(-45deg) scale(1, 1);
            -o-transform: rotate(-45deg) scale(1, 1);
            transform: rotate(-45deg) scale(1, 1);
          }
          .radiobox {
            position: absolute;
            margin: 0 1rem 0 0;
            cursor: pointer;
            top: 28px;
            left: 45%;
            &:before {
              -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
              -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
              transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
              -webkit-transform: rotate(-45deg) scale(0, 0);
              -moz-transform: rotate(-45deg) scale(0, 0);
              -ms-transform: rotate(-45deg) scale(0, 0);
              -o-transform: rotate(-45deg) scale(0, 0);
              transform: rotate(-45deg) scale(0, 0);
              content: '';
              position: absolute;
              left: 6px;
              top: 3px;
              z-index: 1;
              width: 10px;
              height: 6px;
              border: 2px solid $white;
              border-top-style: none;
              border-right-style: none;
            }
            &:after {
              content: '';
              position: absolute;
              top: -4px;
              left: 0;
              width: 22px;
              height: 22px;
              background: #fff;
              border: 2px solid #fff;
              border-radius: 50%;
            }
          }
          .label-text {
            position: relative;
            top: 20px;
            span {
              display: block;
              &.title-label {
                font-weight: 700;
              }
              &.month {
                color: $pink;
                font-size: 14px;
                strong {
                  font-weight: 700;
                  font-size: 24px;
                }
              }
              &.year {
                color: $pink;
                font-size: 16px;
                i {
                  font-style: unset;
                  font-size: 12px;
                }
              }
            }
          }
        }
        &:hover {
          background-color: #d4dbe4;
          /*color: #fff;
					label{
						.label-text{
    						span{
								color: $white;
							}
						}
					}*/
        }
        &.bg-pink {
          background-color: $pink;
          color: $white;
          -ms-transform: scale(1.05); /* IE 9 */
          -webkit-transform: scale(1.05); /* Safari 3-8 */
          transform: scale(1.05);
          label {
            .radiobox {
              &:after {
                background-color: $pink;
              }
            }
            .label-text {
              span {
                &.month,
                &.year {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
  .big-check {
    label {
      .checkbox {
        &:before {
          top: -6px;
          width: 34px;
          height: 14px;
          border-color: $pink;
        }
        &:after {
          width: 30px;
          height: 30px;
          border-color: $pink;
          border-radius: 8px;
        }
      }
    }
  }
  .required-info {
    p {
      color: $pink;
      margin: 0;
      font-size: 14px;
    }
  }

  .file-upload {
    display: flex;
    .label-upload-title {
      position: relative;
      top: 7px;
      margin-right: 20px;
    }
    .button {
      line-height: 40px;
      width: 250px;
      margin: auto;
    }
    .input-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .input-file + .js-labelFile {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 4px 10px;
      cursor: pointer;
    }
    .input-file + .js-labelFile .icon:before {
      content: '\f093';
    }
    .input-file + .js-labelFile.has-file .icon:before {
      content: '\f00c';
      color: #fff;
    }
    .input-file + .js-labelFile:hover .icon:before {
      color: $skyblue;
    }
  }

  .form-check-validation {
    label {
      font-size: 14px;
      font-weight: 300;
      max-width: 100%;
      padding: 10px 10px 10px 35px;
      .checkbox {
        top: 14px;
      }
    }
  }
  .has-error .form-control {
    border-color: #ccc;
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .succes-rappelerlock.with-errors {
    text-align: right;
    color: #a94442;
    display: block;
    font-size: 12px;
    font-family: Lato, sans-serif;
    font-style: italic;
  }
}
.form-wizard {
  form {
    &.steps-form {
      .checkbox-radio {
        .inline-group {
          label {
            width: 100%;
          }
        }
      }
    }
  }
}
