body {
  font-family: 'GalanoGrotesque';
  font-weight: 500;
  font-size: 16px;
  color: $grey;
  position: relative;
}
/* body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
input,
a,
a:hover,
a:focus,
button,
button:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.division {
  background-color: $skyblue;
  width: 70px;
  height: 4px;
  margin: 20px auto !important;
}
.division-full {
  background-color: #bbc7d7;
  width: 100%;
  height: 1px;
}
.light {
  font-weight: 300 !important;
}
.bold {
  font-weight: 700 !important;
}
.size-14 {
  font-size: 14px;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.capitalize {
  text-transform: capitalize;
}
.text-justify {
  text-align: justify;
}
.button {
  cursor: pointer;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  .button-text-small {
    display: block;
    text-transform: none;
    font-size: 12px;
    font-weight: 300;
  }
  .icon {
    margin-right: 10px;
  }
  .icon-right {
    margin-left: 10px;
  }
}
.button-pink {
  background-color: $pink;
  color: $white;
  border: 1px solid $pink;
  &:hover,
  &:focus {
    color: $pink;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $pink;
      }
    }
  }
}
.button-blue {
  background-color: $blue;
  color: $white;
  border: 1px solid $blue;
  &:hover,
  &:focus {
    color: $blue;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $blue;
      }
    }
  }
}
.button-skyblue {
  background-color: $skyblue;
  color: $white;
  border: 1px solid $skyblue;
  &:hover,
  &:focus {
    color: $skyblue;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $skyblue;
      }
    }
  }
}
.button-green {
  background-color: $green;
  color: $white;
  border: 1px solid $green;
  &:hover,
  &:focus {
    color: $green;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $green;
      }
    }
  }
}
.button-grey {
  background-color: $grey;
  color: $white;
  border: 1px solid $grey;
  &:hover,
  &:focus {
    color: $grey;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $grey;
      }
    }
  }
}
.button-grey-light {
  background-color: $grey-light;
  color: $white;
  border: 1px solid $grey-light;
  &:hover,
  &:focus {
    color: $grey-light;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $grey-light;
      }
    }
  }
}
.button-white {
  background-color: $pink;
  color: $white;
  border: 1px solid $white;
  &:hover,
  &:focus {
    color: $pink;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $pink;
      }
    }
  }
}
.button-white-over {
  background-color: transparent;
  color: $white;
  border: 2px solid $white;
  &:hover,
  &:focus {
    color: $skyblue;
    background-color: $white;
    .icon,
    .icon-right {
      &:before {
        color: $skyblue;
      }
    }
  }
}
.button-skyblue-over {
  background-color: $white;
  color: $skyblue;
  border: 2px solid $skyblue;
  padding: 12px 15px;
  &:hover,
  &:focus {
    color: $white;
    background-color: $skyblue;
    .icon,
    .icon-right {
      &:before {
        color: $white;
      }
    }
  }
  .icon,
  .icon-right {
    &:before {
      color: $skyblue;
    }
  }
}
.button-blue-over {
  background-color: $white;
  color: $blue;
}
.btn-return {
  margin-bottom: 30px;
  a {
    color: $blue;
    font-size: 14px;
    text-transform: uppercase;
    .icon {
      margin-right: 5px;
      &:before {
        color: $blue;
      }
    }
  }
}
.learn-more {
  font-size: 14px;
  text-decoration: underline;
  margin-top: 10px;
  .icon-right-rotate {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 5px;
    display: inline-block;
    &:before {
      color: $grey;
    }
    &.icon-blue {
      &::before {
        color: $blue;
      }
    }
  }
}
.btn-edit {
  span {
    &.icon {
      &:before {
        color: $grey;
      }
    }
  }
}
.border-r {
  border-right: 1px solid #bbc7d7;
}
.section-padder {
  padding: 50px 0;
  &.choisir-vetoptim {
    padding: 30px 0;
  }
}
.choisir-vetoptim {
  &.avantage-home {
    padding-top: 30px;
    .title-section {
      margin-bottom: 30px;
    }
  }
}
.d-block {
  display: block !important;
}
.color-white {
  color: $white;
}
.color-pink {
  color: $pink;
}
.color-green {
  color: $green;
}
.color-skyblue {
  color: $skyblue;
}
.color-blue {
  color: $blue;
}
.color-grey {
  color: $grey;
}
.color-black {
  color: black;
  text-decoration: underline;
}
.color-red {
  color: red;
}
.bord {
  border: 3px solid red;
  width: 40%;
}
.bord-medium {
  border: 3px solid red;
  width: 20% !important;
}
.bord-small {
  border: 3px solid red;
  width: 12% !important;
}
.bg-pink {
  background-color: $pink;
}
.bg-green {
  background-color: $green;
}
.bg-skyblue {
  background-color: $skyblue;
}
.bg-blue {
  background-color: $blue;
}
.bg-grey {
  background-color: $grey;
}
.bg-grey-light {
  background-color: $grey-light;
}
.l-height-30 {
  line-height: 30px;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.w-full-imp {
  width: 100% !important;
}
.max-w-full {
  max-width: 100% !important;
}
.w-30-100 {
  width: 30% !important;
}
.w-70-100 {
  width: 70% !important;
}
.w-200 {
  width: 200px !important;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-20-imp {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-b-100 {
  margin-bottom: 100px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.padder-15 {
  padding: 15px;
}
.padder-20 {
  padding: 20px;
}
.padder-30 {
  padding: 30px;
}
.padder-v-60 {
  padding: 60px 0;
}
.padder-v-80 {
  padding: 80px 0;
}
.padder-h-20 {
  padding: 0 20px;
}
.font-s-12 {
  font-size: 12px;
}
.font-s-18 {
  font-size: 18px;
}
.font-s-22 {
  font-size: 22px;
}
.title-section {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase;
  &:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: auto;
    margin-top: 10px;
  }
  &.color-grey {
    &:after {
      background-color: $grey;
    }
  }
  &.color-white {
    &:after {
      background-color: $white;
    }
  }
  &.color-blue {
    &:after {
      background-color: $blue;
    }
  }
}
.title-section-simple {
  font-weight: 700;
  font-size: 26px;
  position: relative;
  text-transform: uppercase;
}
.title-section-small {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase;
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 5px;
  }
  &.color-blue {
    &:after {
      background-color: $blue;
    }
  }
  &.color-grey {
    &:after {
      background-color: $grey;
    }
  }
  &.color-white {
    &:after {
      background-color: $white;
    }
  }
}
.title-contact {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
  position: relative;
}
.title-offre {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  margin: 0;
  &.color-blue {
    color: $blue;
    span {
      &:before {
        color: $blue;
      }
    }
  }
  &.color-skyblue {
    color: $skyblue;
    span {
      &:before {
        color: $skyblue;
      }
    }
  }
  span {
    position: relative;
    top: 2px;
    margin-right: 10px;
    font-size: 24px;
    &:before {
      font-weight: 700;
    }
  }
}
.header-title {
  color: $white;
  padding: 10px 0;
  h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-transform: uppercase;
    span {
      &.icon {
        position: relative;
        top: 6px;
        margin-right: 10px;
        &:before {
          font-size: 34px;
          font-weight: 700;
        }
      }
    }
  }
}
.menu-title {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 15px;
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 10px;
  }
  &.color-skyblue {
    &:after {
      background-color: $skyblue;
    }
  }
}
.form-title-recap {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  a {
    &.btn-edit {
      position: absolute;
      right: 0;
    }
  }
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}
/* Tooltip */
.tooltip {
  .tooltip-inner {
    background-color: $grey;
  }
  .arrow {
    &:before {
      border-top-color: $grey;
    }
  }
}

/* Section Panel Intervention */
.panel-intervention {
  position: relative;
  background-color: $grey-light;
  padding: 20px 30px 50px;
  border-left: 5px solid;
  margin-bottom: 50px;
  .panel-intervention-content {
    position: relative;
    max-width: 60%;
    z-index: 2;
    .icon {
      display: block;
      margin-bottom: 10px;
      &:before {
        font-size: 38px;
        font-weight: 700;
      }
    }
    h3 {
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 15px;
      display: inline-block;
      color: $white;
      a {
        display: block;
        padding: 6px;
        cursor: auto;
      }
      span {
        &.btn-accordion {
          float: right;
          cursor: pointer;
          width: 30px;
          height: 30px;
          line-height: 22px;
          text-align: center;
          display: none;
          &:before {
            content: '\F067';
            font-family: 'FontAwesome';
            display: inline-block;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transition: transform 0.25s linear;
            -webkit-transition: -webkit-transform 0.25s linear;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
          &.active {
            &:before {
              content: '\F068';
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        padding-left: 20px;
        &:before {
          content: '';
          width: 12px;
          height: 12px;
          display: inline-block;
          margin-left: -20px;
          margin-right: 5px;
        }
        a {
          text-decoration: underline;
          span {
            &.icon {
              display: none;
              margin-right: 5px;
              &:before {
                font-size: 14px;
              }
            }
          }
          &.btn-search {
            display: none;
            width: 10%;
            text-align: center;
            border-right: none;
            position: relative;
            span {
              position: absolute;
              top: 50%;
              right: 5px;
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
              &:before {
                font-size: 18px;
                color: $grey;
              }
            }
          }
        }
      }
    }
  }
  .panel-intervention-img {
    img {
      max-height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }
  a {
    &.button {
      position: absolute;
      bottom: -22px;
      left: 50%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 2;
    }
  }
  &.panel-blue {
    border-color: $blue;
    .icon {
      &:before {
        color: $blue;
      }
    }
    h3 {
      a {
        background-color: $blue;
      }
    }
    ul {
      li {
        &:before {
          background-color: $blue;
        }
      }
    }
  }
  &.panel-skyblue {
    border-color: $skyblue;
    .icon {
      &:before {
        color: $skyblue;
      }
    }
    h3 {
      a {
        background-color: $skyblue;
      }
    }
    ul {
      li {
        &:before {
          background-color: $skyblue;
        }
      }
    }
  }
  &.panel-green {
    border-color: $green;
    .icon {
      &:before {
        color: $green;
      }
    }
    h3 {
      a {
        background-color: $green;
      }
    }
    ul {
      li {
        &:before {
          background-color: $green;
        }
      }
    }
  }
  &.panel-pink {
    border-color: $pink;
    .icon {
      &:before {
        color: $pink;
      }
    }
    h3 {
      a {
        background-color: $pink;
      }
    }
    ul {
      li {
        &:before {
          background-color: $pink;
        }
      }
    }
  }
}
.vetos-100 {
  border-top: 3px solid #00b2e2;
  border-bottom: 3px solid #00b2e2;
  display: inline-block;
  p {
    margin: 0;
    color: #001588;
    font-size: 28px;
    font-weight: 700;
  }
}
/* Section POURQUOI VETOPTIM ? */
.section-advantage {
  background: url(../images/externe/offre-bg.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  color: $white;
  text-align: center;
  span {
    &.icon {
      &:before {
        color: $blue;
        font-size: 38px;
        font-weight: 700;
      }
    }
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 70px;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
  }
  hr {
    background-color: $blue;
  }
  .advantage-desc {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
}
.section-testimony {
  .testimony-carousel {
    .item {
      .item-testimony {
        display: flex;
        .testimony-img {
          width: 40%;
          display: inline-block;
          img {
            margin: auto;
            border-radius: 100%;
            width: 180px;
            height: 180px;
            object-fit: cover;
          }
        }
        .testimony-body {
          text-align: center;
          h4 {
            margin: 0;
            font-size: 20px;
            font-weight: 400;
            color: #4a596e;
            margin-bottom: 15px;
          }
          p {
            color: #bbc6d6;
            margin: 7px auto;
            width: 75%;
          }
        }
        .testimony-content {
          display: inline-block;
          width: 60%;
          margin-left: 20px;
          h4 {
            font-size: 22px;
            margin: 0;
            &.testimony-name {
              font-size: 20px;
              font-weight: 300;
              color: #4a596e;
              margin-bottom: 7px;
            }
          }
          ul {
            &.testimony-rank {
              margin: 0;
              padding: 0;
              li {
                display: inline-block;
                span {
                  display: block;
                  width: 30px;
                  height: 6px;
                  background-color: #bbc6d6;
                  &.active {
                    background-color: $skyblue;
                  }
                }
              }
            }
          }
          p {
            font-weight: 300;
            color: #bbc6d6;
            margin: 7px 0;
          }
          span {
            &.testimony-date {
              font-weight: 300;
              color: #72839c;
            }
          }
        }
      }
    }
  }
}
.section-dirigeants-carousel {
  .dirigeants-carousel {
    .item {
      .vertical {
        display: table;
        height: 100%;
        width: 100%;
        .content {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .section-image {
        text-align: center;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          border: 5px solid $grey-light;
          margin: auto;
          margin-bottom: 15px;
        }
        .title {
          color: $grey;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        .job {
          color: $skyblue;
        }
      }
      .section-description {
        .title {
          color: $grey;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        ul {
          padding-left: 18px;
          margin: 0;
          margin-bottom: 20px;
          li {
            p {
              font-size: 14px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
.section-devis {
  background-color: $pink;
  color: $white;
  h3 {
    text-transform: uppercase;
  }
  p {
    text-transform: uppercase;
    margin: 0;
  }
  a {
    &.button {
      position: relative;
      top: 11px;
    }
  }
}
.section-advantage-carousel {
  .advantage-carousel {
    .item {
      text-align: center;
      padding: 0 15px;
      span {
        &.icon {
          display: block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          margin: auto;
          margin-bottom: 10px;
          border-radius: 100%;
          &:before {
            font-size: 26px;
          }
          &.icon-skyblue {
            background-color: $skyblue;
          }
          &.icon-blue {
            background-color: $blue;
          }
          &.icon-pink {
            background-color: $pink;
          }
          &.icon-green {
            background-color: $green;
          }
          &.icon-grey {
            background-color: $grey;
          }
        }
      }
      h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
.section-partner {
  .partner-carousel {
    .item {
      padding: 15px;
    }
    .owl-dots {
      text-align: center;
      margin-top: 50px;
      .owl-dot {
        &.active {
          span {
            background-color: #bbc6d6;
          }
        }
        span {
          width: 10px;
          height: 10px;
          margin: 5px 2px;
          border: 1px solid #bbc6d6;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity 0.2s ease;
          border-radius: 30px;
        }
      }
    }
  }
}
.offres-carousel {
  &.owl-carousel {
    .owl-dots {
      .owl-dot {
        &.active {
          span {
            background-color: $white;
          }
        }
        span {
          border: 1px solid $white;
        }
      }
    }
  }
}
.owl-carousel {
  .owl-dots {
    text-align: center;
    margin-top: 10px;
    .owl-dot {
      &.active {
        span {
          background-color: #bbc6d6;
        }
      }
      span {
        width: 10px;
        height: 10px;
        margin: 5px 2px;
        border: 1px solid #bbc6d6;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 0.2s ease;
        border-radius: 30px;
      }
    }
  }
}
/* Contenu */
.content-section {
  margin: 20px 0 50px;
  min-height: 50vh;
}

/* Contenu vertical */
.content-table {
  display: table;
  width: 100%;
  height: 100%;
  .content-vertical {
    display: table-cell;
    vertical-align: middle;
  }
}

/* Information Texte */
.text-information-content {
  .responsabilite-content {
    height: 100%;
    display: table;
    ul {
      &.responsabilite-liste {
        margin: 0;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

/* Contenu centré */
.center-content {
  width: 80%;
  margin: auto;
  text-align: center;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
  }
  p {
    font-weight: 300;
  }
}

/* Offres */
.section-offre {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  .offre-details {
    position: relative;
    width: calc(100% - 285px);
    background-color: $grey-light;
    .detail-content {
      padding: 30px 20px 60px 20px;
      h5 {
        font-size: 16px;
        text-transform: uppercase;
      }
      .offre-content {
        margin-top: 20px;
        padding-left: 36px;
        ul {
          padding: 0;
          margin: 0;
          margin-bottom: 10px;
          li {
            list-style: none;
            font-weight: 300;
            i {
              color: $green;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .garantie {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
      background-color: $skyblue;
      a {
        display: block;
        padding: 10px;
        color: $white;
        font-weight: 700;
        font-size: 14px;
        span {
          &.icon {
            position: relative;
            top: 4px;
            margin-right: 5px;
            &:before {
              color: $white;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .offre-check {
    width: 100px;
  }
  .offre-price {
    width: 185px;
  }
  .offre-check,
  .offre-price {
    position: relative;
    padding: 30px 15px;
    display: inline-block;
    background-color: #d4dbe4;
    .offre-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 30px 15px;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      label {
        left: 10px;
        .checkbox {
          &:before {
            top: -6px;
            width: 34px;
            height: 14px;
            border-color: $pink;
          }
          &:after {
            width: 30px;
            height: 30px;
            border-color: $pink;
            border-radius: 8px;
          }
        }
      }
      p {
        color: $pink;
        margin: 0;
        font-weight: 300;
        line-height: 28px;
        position: relative;
        &.big-price {
          text-align: center;
          line-height: 10px;
          margin-top: 10px;
          span {
            font-size: 36px;
            font-weight: 700;
          }
          &.euro {
            font-size: 24px;
            font-weight: 700;
            position: absolute;
            top: -4px;
          }
        }
        &.periode {
          text-align: center;
          span {
            font-size: 13px;
            font-weight: 500;
          }
        }
        &.price {
          font-size: 13px;
          text-align: right;
          font-weight: 500;
          span {
            &.euro {
              font-size: 14px;
              font-weight: 500;
              position: absolute;
              top: -2px;
            }
            &.periode {
              font-size: 15px;
              font-weight: 500;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}
.banner-combine {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  .content-combine {
    position: relative;
    width: calc(100% - 100px);
    background-color: $grey;
    padding: 10px 50px 10px 70px;
    border-radius: 8px 0 0 8px;
    p {
      margin: 0;
      color: $white;
      line-height: 20px;
      span {
        color: $green;
      }
    }
    span {
      &.icon {
        position: absolute;
        left: 22px;
        top: 50%;
        transform: translateY(-50%);
        &:before {
          font-size: 26px;
        }
      }
    }
  }
  .link-combine {
    width: 100px;
    background-color: #d4dbe4;
    border-radius: 0 8px 8px 0;
    a {
      display: block;
      height: 100%;
      position: relative;
      span {
        &.icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          &:before {
            font-size: 22px;
            color: $grey;
          }
        }
      }
    }
  }
}
.offre-table-recap {
  display: flex;
  .left {
    position: relative;
    width: calc(100% - 220px);
    border-right: 1px solid $white;
    ul {
      position: relative;
      padding: 0;
      padding-bottom: 52px;
      margin: 0;
      height: 100%;
      background-color: $grey-light;
      &.reduction-padding {
        li {
          padding-right: 170px;
        }
      }
      li {
        list-style: none;
        border-bottom: 1px solid $white;
        padding: 14px 20px;
        position: relative;
        &.list-child {
          border-bottom: none;
        }
        &.valeur {
          font-size: 14px;
          &.garantie {
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: $skyblue;
            padding: 0;
            a {
              display: block;
              padding: 14px 20px;
              color: $white;
              font-weight: 700;
              span {
                &.icon {
                  color: $skyblue;
                }
              }
            }
          }
          span {
            &.icon {
              position: relative;
              top: 4px;
              margin-right: 5px;
              &:before {
                font-size: 20px;
              }
            }
          }
        }
        .btn-edit {
          margin-right: 10px;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .reduction {
      background-color: $grey;
      padding: 15px;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      right: 0;
      max-width: 160px;
      text-align: center;
      &.bottom {
        top: auto;
        bottom: 52px;
      }
      h4 {
        color: $green;
        font-size: 18px;
      }
      p {
        color: $white;
        font-size: 12px;
        margin: 0;
      }
    }
  }
  .right {
    position: relative;
    width: 220px;
    position: relative;
    background-color: #d4dbe4;
    .offre-price {
      position: relative;
      height: 100%;
      padding: 30px 15px;
      background-color: #d4dbe4;
    }
    .periodicite {
      height: 100%;
      ul {
        display: block;
        height: 100%;
        li {
          width: 100%;
          height: 50%;
          border: 1px solid #f5416c;
          label {
            .label-text {
              position: absolute;
              top: 60%;
              left: 0;
              width: 100%;
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
              .title-label {
                text-transform: uppercase;
              }
            }
            .radiobox {
              top: calc(50% - 60px);
            }
          }
        }
      }
    }
    .offre-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 30px 15px;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      label {
        left: 10px;
        .checkbox {
          &:before {
            top: -6px;
            width: 34px;
            height: 14px;
            border-color: $pink;
          }
          &:after {
            width: 30px;
            height: 30px;
            border-color: $pink;
            border-radius: 8px;
          }
        }
      }
      p {
        color: $pink;
        margin: 0;
        font-weight: 300;
        line-height: 28px;
        position: relative;
        &.big-price {
          text-align: center;
          line-height: 10px;
          margin-top: 10px;
          span {
            font-size: 36px;
            font-weight: 700;
          }
          &.euro {
            font-size: 24px;
            font-weight: 700;
            position: absolute;
            top: -4px;
          }
        }
        &.periode {
          text-align: center;
          span {
            font-size: 13px;
            font-weight: 500;
          }
        }
        &.price {
          font-size: 13px;
          text-align: right;
          font-weight: 500;
          span {
            &.euro {
              font-size: 14px;
              font-weight: 500;
              position: absolute;
              top: -2px;
            }
            &.periode {
              font-size: 15px;
              font-weight: 500;
              padding-left: 5px;
            }
          }
        }

        span {
          &.big-price {
            font-size: 36px;
            font-weight: 700;
          }
          &.euro {
            font-size: 24px;
            font-weight: 700;
            position: absolute;
            top: -4px;
          }
          &.periode {
            font-size: 15px;
            font-weight: 700;
            padding-left: 4px;
          }
        }
        &.price {
          font-size: 16px;
          text-align: right;
          font-weight: 500;
          span {
            &.euro {
              font-size: 14px;
              font-weight: 500;
              position: absolute;
              top: -2px;
            }
            &.periode {
              font-size: 15px;
              font-weight: 500;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
  &.inline-franchise {
    .left {
      width: calc(100% - 400px);
    }
    .right {
      width: 400px;
      background-color: $grey-light;
      ul {
        display: inline-table;
        li {
          display: inline-block;
          width: 49%;
          height: 130px;
          margin: 0 2px;
          label {
            padding: 10px;
            margin: 0;
            .radiobox {
              top: calc(50% - 50px);
            }
          }
        }
      }
    }
  }
}
.panel-offre {
  position: relative;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 30px;
  height: 100%;
  .panel-offre-header {
    margin-bottom: 20px;
    img {
      max-height: 320px;
      max-width: 100%;
      width: auto;
    }
  }
  .panel-offre-body {
    h3 {
      color: $blue;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 15px;
      position: relative;
      text-transform: uppercase;
    }
    p {
      font-weight: 300;
    }
  }
  .panel-offre-footer {
    min-height: 135px;
    .panel-offre-footer-absolute {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      a {
        display: block;
        width: 375px;
        margin: auto;
        margin-bottom: 15px;
      }
    }
  }
}
.table-recap {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: flex;
      &.date-effect {
        .left {
          width: 30%;
        }
        .right {
          width: 70%;
        }
      }
      .left {
        width: calc(100% - 100px);
      }
      .right {
        width: 100px;
        text-align: right;
        .form-group {
          margin: 0;
        }
        .inline-group {
          .inline-div {
            width: 100%;
          }
        }
      }
      h4 {
        font-size: 18px;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
}
/* Responsibilité Civil */
.responsabilite-section {
  .icon {
    display: block;
    margin-bottom: 15px;
    &:before {
      color: $skyblue;
      font-size: 38px;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    text-transform: uppercase;
  }
  .responsabilite-carousel {
    display: block;
  }
  .responsabilite-mobile {
    display: none;
    p {
      margin: 0;
    }
  }
}
.responsabilite-content {
  margin: auto;
  ul {
    &.nav-tabs {
      margin-top: 40px;
      border: none;
      .nav-item {
        border-right: 1px solid #fff;
        .nav-link {
          border: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          background-color: #bbc7d7;
          color: $blue;
          padding: 12px 10px 12px;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          &.active {
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1.05);
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1.05);
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1.05);
            transition: all 200ms ease-in;
            transform: scale(1.05);
            background-color: $blue;
            color: $white;
          }
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .tab-content {
    > .tab-pane {
      .tab-header {
        display: none;
        position: relative;
        a {
          display: block;
          padding: 20px 40px 20px 20px;
          color: $blue;
          font-weight: 700;
          background-color: #bbc7d7;
          span {
            position: absolute;
            right: 15px;
            &:before {
              content: '\F067';
              font-family: 'FontAwesome';
              display: inline-block;
              vertical-align: middle;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              transition: transform 0.25s linear;
              -webkit-transition: -webkit-transform 0.25s linear;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
          &.active {
            background-color: $blue;
            color: $white;
            span {
              &:before {
                content: '\F068';
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .tab-body {
        display: block;
        background-color: $grey-light;
        padding: 30px;
        .garanties {
          ul {
            &.liste-garantie {
              margin: 0;
              padding: 0;
              overflow: auto;
              &::-webkit-scrollbar {
                width: 5px;
              }

              /* Track */
              &::-webkit-scrollbar-track {
                background: #f1f1f1;
              }

              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: #888;
              }

              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                background: #555;
              }
            }
          }
        }
      }
    }
  }
}
/* Table Paiement */
.table-payment {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  .payment-info {
    width: calc(100% - 210px);
    padding: 50px 30px;
    background-color: $grey-light;
    p {
      margin: 0;
      font-size: 14px;
    }
    .form-group {
      margin-bottom: 0;
      select {
        padding: 2px 10px;
        height: 34px;
        max-width: 209px;
        font-size: 14px;
      }
    }
  }
  .payment-price {
    position: relative;
    width: 210px;
    padding: 30px 20px;
    display: inline-block;
    background-color: #d4dbe4;
    a {
      &.btn-edit {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    .payment-content {
      position: relative;
      text-align: center;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      p {
        margin: 0;
        &.big-periode {
          line-height: 7px;
          font-weight: 500;
          margin-bottom: 10px;
          font-size: 13px;
        }
      }
      .big-price {
        font-weight: 700;
        font-size: 28px;
      }
      .price {
        font-weight: 500;
        font-size: 14px;
      }
      .periode {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
}

/* Popup Garantie */
.garanties {
  margin: 50px 0;
  ul {
    &.liste-garantie {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: flex;
        width: 100%;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
        .left,
        .right {
          padding: 20px;
          &.bg-blue {
            background-color: $blue;
            color: $white;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
          }
          &.bg-skyblue {
            background-color: $skyblue;
            color: $white;
            text-align: center;
            text-transform: uppercase;
          }
          .content {
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }

        .left {
          width: 30%;
          background-color: #d4dbe4;
          &.bg-none {
            background-color: transparent;
          }
          h5 {
            margin: 0;
            i {
              font-size: 14px;
              width: 20px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              background-color: $blue;
              border-radius: 100%;
              color: $white;
              cursor: pointer;
            }
          }
        }
        .right {
          width: 70%;
          background-color: $grey-light;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

/* Souscription Success */
.success-souscription {
  text-align: center;
  p {
    &.icon-souscription {
      margin-bottom: 20px;
      .icon {
        &:before {
          color: $pink;
          font-weight: 700;
          font-size: 48px;
        }
        &.color-blue {
          &:before {
            color: $blue;
          }
        }
        &.color-skyblue {
          &:before {
            color: $skyblue;
          }
        }
        &.color-green {
          &:before {
            color: $green;
          }
        }
      }
    }
  }

  h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      color: $skyblue;
      font-weight: 700;
    }
    &:after {
      content: '';
      width: 70px;
      height: 4px;
      margin: 30px auto;
      // background-color: $grey;
      display: block;
    }
  }
  p {
    margin: 0;
  }
  .division {
    margin: auto;
  }
}

ul {
  /* Liste Combine */
  &.liste-combine {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    li {
      list-style: none;
      margin-bottom: 30px;
      background-color: $grey-light;
      padding: 20px;
      display: flex;
      &:last-child {
        margin-bottom: 0;
      }
      .li-left {
        width: 70%;
        h3 {
          text-transform: uppercase;
        }
        p {
          padding-left: 35px;
          margin-top: 20px;
          margin-bottom: 0;
          text-align: justify;
        }
      }
      .li-right {
        position: relative;
        width: 30%;
        text-align: center;
        .li-content {
          position: relative;
          top: 50%;
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          a {
            &.learn-more {
              display: block;
            }
          }
        }
      }
    }
  }
  /* Liste conditions */
  &.conditions {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      .icon {
        position: relative;
        top: 2px;
        margin-right: 10px;
        &:before {
          color: $skyblue;
        }
      }
    }
  }
  /* Liste des responsabilités */
  &.responsabilite-liste {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      .garanties {
        margin: 30px 0;
        &.multiple {
          ul {
            &.liste-garantie {
              li {
                .left {
                  padding: 20px 10px;
                  &.bg-none {
                    background-color: transparent;
                  }
                  .content {
                    p {
                      margin: 0;
                    }
                  }
                }
                .right {
                  padding: 0;
                  ul {
                    &.right-liste {
                      display: flex;
                      height: 100%;
                      padding: 0;
                      margin: 0;
                      &.header {
                        li {
                          background-color: #00b2e2;
                          color: $white;
                        }
                      }
                      li {
                        display: inline-block;
                        width: 16.66%;
                        margin-bottom: 0;
                        border-left: 2px solid $grey-light;
                        border-right: 2px solid $grey-light;
                        &:first-child {
                          border-left: none;
                        }
                        &:last-child {
                          border-right: none;
                        }
                      }
                    }
                  }
                  .content {
                    padding: 20px 10px;
                    text-align: center;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        ul {
          &.liste-garantie {
            li {
              .left {
                h5 {
                  font-size: 16px;
                }
              }
              .right {
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
  /* Liste Garanties */
  &.garanties-liste {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      .garanties {
        margin: 30px 0;
        &.multiple {
          &.rcms-garanties {
            ul {
              &.liste-garantie {
                li {
                  .left {
                    width: 60%;
                  }
                  .right {
                    width: 40%;
                    &.bg-skyblue {
                      background-color: $skyblue;
                    }
                  }
                }
              }
            }
          }
          ul {
            &.liste-garantie {
              li {
                .left-nature {
                  text-align: center;
                  padding: 20px 10px;
                  background-color: #001588;
                  color: #fff;
                  width: 30%;
                  border-left: 2px solid $grey-light;
                  border-right: 2px solid $grey-light;
                  .content {
                    p {
                      margin: 0;
                    }
                  }
                }
                .left {
                  padding: 20px 10px;
                  .content {
                    p {
                      margin: 0;
                    }
                  }
                }
                .right {
                  padding: 0;
                  ul {
                    &.right-liste {
                      display: flex;
                      height: 100%;
                      padding: 0;
                      margin: 0;
                      &.header {
                        li {
                          background-color: #00b2e2;
                          color: #fff;
                        }
                      }
                      li {
                        display: inline-block;
                        width: 33%;
                        margin-bottom: 0;
                        border-left: 2px solid $grey-light;
                        border-right: 2px solid $grey-light;
                        &:first-child {
                          border-left: none;
                        }
                        &:last-child {
                          border-right: none;
                        }
                      }
                    }
                  }
                  .content {
                    padding: 20px 10px;
                    text-align: center;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        ul {
          &.liste-garantie {
            li {
              .left {
                h5 {
                  font-size: 16px;
                }
              }
              .right {
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
  /* Liste Garanties RC */
  &.garanties-rc-liste {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      .garanties {
        margin: 30px 0;
        &.multiple {
          ul {
            &.liste-garantie {
              li {
                .left-nature {
                  text-align: center;
                  padding: 20px 10px;
                  background-color: #001588;
                  color: #fff;
                  width: 33%;
                  .content {
                    p {
                      margin: 0;
                    }
                  }
                }
                .left {
                  padding: 20px 10px;
                  width: 33%;
                  .content {
                    p {
                      margin: 0;
                    }
                  }
                }
                .right {
                  padding: 0;
                  ul {
                    &.right-liste {
                      display: flex;
                      height: 100%;
                      padding: 0;
                      margin: 0;
                      &.header {
                        li {
                          background-color: #00b2e2;
                          color: #fff;
                        }
                      }
                      li {
                        display: inline-block;
                        width: 50%;
                        margin-bottom: 0;
                        border-left: 2px solid $grey-light;
                        border-right: 2px solid $grey-light;
                        &:first-child {
                          border-left: none;
                        }
                        &:last-child {
                          border-right: none;
                        }
                      }
                    }
                  }
                  .content {
                    padding: 20px 10px;
                    text-align: center;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        ul {
          &.liste-garantie {
            li {
              .left {
                h5 {
                  font-size: 16px;
                }
              }
              .right {
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
  /* Métier liste */
  &.metier-liste {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding-left: 25px;
      position: relative;
      line-height: 30px;
      margin-bottom: 20px;
      margin-left: 20px;
      &:before {
        content: '\f00c';
        font-family: 'FontAwesome';
        display: inline-block;
        position: absolute;
        left: 0;
        color: $green;
      }
    }
  }
  /* responsabilite-societale liste */
  &.responsabilite-liste {
    padding: 0;
    margin: 30px;
    li {
      list-style: none;
      padding-left: 25px;
      position: relative;
      line-height: 30px;
      margin-bottom: 20px;
      text-align: justify;
      &:before {
        content: '\f00c';
        font-family: 'FontAwesome';
        display: inline-block;
        position: absolute;
        left: 0;
        color: $green;
      }
    }
  }
  /* Contact Info Liste */
  &.contact-info {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      display: flex;
      span {
        &.info {
          display: inline-block;
          width: 80px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
  /* social Network */
  &.social-network {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    li {
      display: inline-block;
      margin-right: 5px;
      a {
        i {
          width: 40px;
          height: 40px;
          line-height: 40px;
          border: 2px solid $grey;
          border-radius: 100%;
          text-align: center;
          font-size: 18px;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
        &:hover {
          i {
            background-color: $grey;
            color: $white;
          }
        }
      }
    }
  }
}
.phone-contact {
  display: inline-block;
  position: relative;
  text-align: center;
  span {
    display: block;
    line-height: 18px;
    color: $pink;
    &.appel {
      font-size: 10px;
      line-height: 12px;
    }
    &.icon {
      text-align: center;
      margin-bottom: 5px;
      &:before {
        color: $pink;
        font-size: 28px;
      }
    }
  }
}
.section-sidebar {
  position: fixed;
  z-index: 9;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: $grey;
  width: 100px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 0 15px;
      a {
        text-align: center;
        color: $white;
        border-bottom: 1px solid #fff;
        padding: 15px 0;
        display: inline-block;
        width: 100%;
        font-size: 12px;
        text-transform: uppercase;
        span {
          display: block;
          &.icon {
            margin-bottom: 8px;
            &:before {
              font-size: 24px;
              color: #bbc6d6;
            }
          }
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}
/* Formulaire Informations */
.form-informations {
  .form-box {
    display: none;
  }
}
/* Contact */
.contact-map-section {
  position: relative;
  .map-canvas {
    background-color: $grey-light;
    width: 100%;
    height: 600px;
  }
}
/* Page erreur */
.error-content {
  h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
  }
  .error-code {
    color: $pink;
    margin: 30px 0;
  }
  p {
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      a {
        color: $blue;
      }
    }
  }
}
