.left-navbar {
  width: 140px;
  height: 100vh;
  background-color: $blue;
  display: inline-block;
  float: left;
  ul {
    &.navbar-list {
      height: 100%;
      padding: 0 20px;
      li {
        &.list-li {
          list-style: none;
          height: 20%;
          text-align: center;
          display: table;
          width: 100%;
          border-bottom: 1px solid #fff;
          a {
            &.list-link {
              color: #fff;
              display: table-cell;
              vertical-align: middle;
              text-transform: uppercase;
              span {
                &.icon {
                  display: block;
                  margin-bottom: 10px;
                  &:before {
                    font-size: 24px;
                  }
                }
              }
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
.btn-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  background-color: #001588;
  text-align: center;
  display: table;
  z-index: 5;
  a,
  a:hover {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    .icon {
      display: block;
      margin-bottom: 5px;
      &:before {
        font-size: 24px;
      }
    }
  }
}
.top-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 13;
  ul {
    &.top-header-liste {
      margin: 0 auto 0 auto;
      width: 100%;
      display: flex;
      padding: 0px;
      li {
        list-style: none;
        width: 25%;
        .top-header-section {
          height: 10px;
          /*cursor: pointer;*/
          &.top-header-pink {
            background-color: $pink;
            .top-header-content {
              background-color: $pink;
            }
          }
          &.top-header-green {
            background-color: $green;
            .top-header-content {
              background-color: $green;
            }
          }
          &.top-header-skyblue {
            background-color: $skyblue;
            .top-header-content {
              background-color: $skyblue;
            }
          }
          &.top-header-blue {
            background-color: $blue;
            .top-header-content {
              background-color: $blue;
            }
          }
          .top-header-content {
            position: relative;
            text-align: center;
            padding: 14px 20px;
            background-color: #fff;
            top: 10px;
            transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            transform: rotateX(-75deg);
            -o-transform: rotateX(-75deg);
            -moz-transform: rotateX(-75deg);
            -webkit-transform: rotateX(-75deg);
            visibility: hidden;
            opacity: 0;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -webkit-transform-origin: 0% 0%;
            -o-transition: -o-transform 0.3s, opacity 0.3s;
            -ms-transition: -ms-transform 0.3s, opacity 0.3s;
            -moz-transition: -moz-transform 0.3s, opacity 0.3s;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            a {
              display: block;
              .icon {
                &:before {
                  font-size: 38px;
                  font-weight: 700;
                }
              }
              h2 {
                color: white;
                font-size: 20px;
                font-weight: 700;
                margin-top: 5px;
              }
            }
          }
        }
      }
      /*&:hover{
				li{
					.top-header-section{
						.top-header-content{
							display: block;
							transform: rotateX(0deg);
						    -o-transform: rotateX(0deg);
						    -moz-transform: rotateX(0deg);
						    -webkit-transform: rotateX(0deg);
						    opacity: 1;
						    visibility: visible;
						}
					}
				}		
			}*/
    }
  }
}
.header-page {
  position: relative;
  /* background: url(../images/externe/top-header-bg.png) no-repeat center fixed; 
	-webkit-background-size: cover;
	background-size: cover; */
  padding: 30px 0;
  min-height: 180px;
  .top-header-content {
    display: flex;
  }
  .logo {
    position: relative;
    z-index: 12;
    img {
      width: 200px;
    }
  }
  .menu-center {
    position: relative;
    top: 28px;
    display: inline-block;
    width: calc(100% - 400px);
    padding: 0 10px;
    margin-left: 20px;
    ul {
      text-align: left;
      margin: 0 auto 0 auto;
      width: 100%;
      display: table;
      padding: 0px;
      li {
        text-align: center;
        display: table-cell;
        padding-bottom: 10px;
        span {
          &.icon {
            display: block;
            &:before {
              font-size: 18px;
              font-weight: 600;
            }
            &.icon-blue {
              &:before {
                color: $blue;
              }
            }
            &.icon-green {
              &:before {
                color: $green;
              }
            }
            &.icon-skyblue {
              &:before {
                color: $skyblue;
              }
            }
            &.icon-pink {
              &:before {
                color: $pink;
              }
            }
            &.icon-grey {
              &:before {
                color: $grey;
              }
            }
          }
        }
        a {
          &.menu-link {
            text-transform: uppercase;
            margin-top: 10px;
            display: block;
            color: $blue;
            line-height: 16px;
            padding: 0 15px;
            font-size: 14px;
            border-right: 1px solid $blue;
          }
        }
        &:last-child {
          a {
            &.menu-link {
              border-right: none;
            }
          }
        }
        ul {
          &.sub-menu {
            position: absolute;
            width: auto;
            min-width: 180px;
            top: 65px;
            z-index: 10;
            margin: 0px;
            padding: 2px;
            transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            transform: rotateX(-75deg);
            -o-transform: rotateX(-75deg);
            -moz-transform: rotateX(-75deg);
            -webkit-transform: rotateX(-75deg);
            visibility: hidden;
            opacity: 0;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -webkit-transform-origin: 0% 0%;
            -o-transition: -o-transform 0.3s, opacity 0.3s;
            -ms-transition: -ms-transform 0.3s, opacity 0.3s;
            -moz-transition: -moz-transform 0.3s, opacity 0.3s;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            li {
              position: relative;
              margin: 0px;
              display: block;
              text-align: left;
              background-color: $grey-light;
              border-bottom: 2px solid $white;
              padding-bottom: 0;
              a {
                display: block;
                color: $blue;
                padding: 5px 10px;
                font-size: 12px;
                text-transform: uppercase;
              }
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
        &:hover {
          ul {
            &.sub-menu {
              display: block;
              transform: rotateX(0deg);
              -o-transform: rotateX(0deg);
              -moz-transform: rotateX(0deg);
              -webkit-transform: rotateX(0deg);
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .nav-info-right {
    float: right;
    text-align: center;
    position: relative;
    top: 7px;
    width: 215px;
    a {
      display: block;
      text-align: center;
      &.phone-number {
        color: $pink;
      }
    }
  }
  .header-page-desc {
    display: inline-block;
    position: relative;
    text-align: center;
    span {
      display: block;
      line-height: 18px;
      color: $pink;
      &.appel {
        font-size: 10px;
        line-height: 12px;
      }
      &.icon {
        text-align: center;
        margin-bottom: 5px;
        &:before {
          color: $pink;
          font-size: 28px;
        }
      }
    }
  }
  .header-page-mobile {
    display: none;
    a {
      margin-left: 10px;
      &.connect {
        span {
          &.icon {
            position: relative;
            top: -5px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            background-color: $skyblue;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            &:before {
              font-size: 28px;
              color: $white;
            }
            &.icon-blue {
              background-color: $blue;
            }
          }
        }
      }
      .icon {
        &:before {
          font-size: 38px;
        }
        &.icon-phone {
          &:before {
            color: $pink;
          }
        }
        &.icon-user {
          &:before {
            color: $skyblue;
          }
        }
      }
    }
  }
  a {
    &.button {
      vertical-align: top;
    }
    &.connect {
      &.button {
        border: none;
        padding: 7px 0;
        white-space: nowrap;
        overflow: hidden;
        span {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: $skyblue;
          border-radius: 100%;
          &.icon-blue {
            background-color: $blue;
          }
          &:before {
            color: $white;
          }
        }
        &:hover,
        &:focus {
          background-color: $white;
          color: $skyblue;
        }
        &.button-blue-over {
          &:hover,
          &:focus {
            background-color: $white;
            color: $blue;
          }
        }
      }
    }
  }
  .title-top {
    position: absolute;
    bottom: 20px;
    color: $grey;
    font-size: 26px;
    font-weight: 700;
    &:after {
      content: '';
      width: 60px;
      height: 3px;
      background-color: #bbc7d7;
      display: block;
      margin-top: 7px;
    }
  }
}
.front {
  .header-page {
    background: transparent;
    padding: 30px 0 20px 0;
    min-height: auto;
  }
}
.button-menu-open {
  //display: inline-block;
  display: none;
  position: relative;
  top: 20px;
  margin-left: 30px;
  span {
    display: block;
    font-size: 15px;
    color: #001588;
    font-weight: 500;
    text-align: center;
    &.icon {
      &:before {
        color: $blue;
        font-size: 40px;
      }
    }
  }
}
.nav-close {
  height: 180px;
  .button-menu-close {
    opacity: 0;
    float: right;
    position: relative;
    top: 70px;
    right: 25px;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    span {
      &.icon {
        &:before {
          color: $blue;
          font-size: 38px;
          font-weight: 500;
        }
      }
    }
  }
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 390px;
  width: calc(50% - 170px);
  background-color: $white;
  color: $blue;
  transition: all 0.25s ease;
  transform: translate(-100%);
  z-index: 11;
  .nav-content {
    width: 370px;
    margin-left: auto;
    margin-right: 30px;
    padding-left: 30px;
    ul {
      &.menu-liste {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        li {
          list-style: none;
          margin-bottom: 15px;
          a {
            font-size: 15px;
            font-weight: 700;
          }
          &.sub-menu {
            &.active {
              ul {
                display: block;
              }
            }
            a {
              -webkit-transition: all 200ms ease-in;
              -moz-transition: all 200ms ease-in;
              -o-transition: all 200ms ease-in;
              -ms-transition: all 200ms ease-in;
              transition: all 200ms ease-in;
              span {
                display: inline-block;
                &.icon {
                  position: relative;
                  top: 2px;
                  margin-right: 8px;
                  &.icon-blue {
                    &:before {
                      color: $blue;
                    }
                  }
                  &.icon-green {
                    &:before {
                      color: $green;
                    }
                  }
                  &.icon-pink {
                    &:before {
                      color: $pink;
                    }
                  }
                  &.icon-skyblue {
                    &:before {
                      color: $skyblue;
                    }
                  }
                  &:before {
                    font-weight: 700;
                  }
                }
              }
            }
            span {
              display: inline-block;
              &.btn-accordion {
                float: right;
                cursor: pointer;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #bbc7d7;
                border-radius: 100%;
                &:before {
                  content: '\f067';
                  font-family: 'FontAwesome';
                  vertical-align: middle;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  transition: transform 0.25s linear;
                  -webkit-transition: -webkit-transform 0.25s linear;
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
                &.active {
                  &:before {
                    content: '\f068';
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                  }
                }
              }
            }
            ul {
              display: none;
              margin-top: 10px;
              padding-left: 30px;
              li {
                margin-bottom: 5px;
                margin-left: 0;
                margin-right: 0;
                border-bottom: none;
                a {
                  font-size: 14px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}
.menu-open {
  .menu {
    transform: translate(0);
    box-shadow: 1px 0 10px 5px rgba(66, 66, 65, 0.5);
    .button-menu-close {
      opacity: 1;
    }
  }
}

.blocker {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
