.modal {
  &.modal-fullscreen {
    padding-right: 0 !important;
    .modal-dialog {
      max-width: 100%;
      margin: 0;
      .modal-content {
        border-radius: 0;
        min-height: 100vh;
        &.modal-login {
          background-color: $skyblue;
          color: $white;
          .modal-body {
            button {
              &.close {
                i {
                  color: $white;
                }
              }
            }
          }
        }
        &.modal-connect {
          background-color: #ffffffe9;
          color: $blue;
          .modal-body {
            button {
              &.close {
                i {
                  color: $grey;
                }
              }
            }
          }
        }
        &.modal-appel {
          background-color: #f5416ce9;
          color: $white;
          .modal-body {
            button {
              &.close {
                i {
                  color: $white;
                }
              }
            }
            h3 {
              font-weight: 700;
            }
            p {
              margin: 0;
            }
            a {
              &.button {
                margin-top: 50px;
                min-width: 250px;
                &:hover,
                &:focus {
                  color: $pink;
                }
              }
            }
          }
        }
        .modal-body {
          padding: 0;
          button {
            &.close {
              position: absolute;
              top: 20px;
              right: 20px;
              box-shadow: none;
              opacity: 1;
              z-index: 2;
              i {
                font-size: 26px;
              }
            }
          }
          .menu-vertical {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            width: 100%;
            padding: 30px;
            -ms-transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            -moz-transform: translateY(-50%) translateX(-50%);
            -o-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
            ul {
              padding: 0;
              margin: 0;
              li {
                list-style: none;
                a {
                  font-weight: 700;
                  font-size: 18px;
                  padding: 15px 0;
                  display: inline-block;
                  position: relative;
                  &.color-pink {
                    &:hover {
                      color: $pink;
                    }
                    &:before {
                      background: $pink;
                    }
                  }
                  &:before {
                    left: 0;
                    bottom: 10px;
                    width: 100%;
                    height: 2px;
                    background: $blue;
                    transform: scaleX(0);
                  }
                  &:before,
                  &:after {
                    content: '';
                    position: absolute;
                    transition: transform 0.5s ease;
                  }
                  &:hover {
                    &:before {
                      transform: scaleX(1);
                    }
                  }
                }
              }
            }
          }
          .nav-tabs {
            border-bottom: none;
            .nav-item {
              &:first-child {
                margin-left: -15px;
              }
              &:last-child {
                margin-right: -15px;
              }
              .nav-link {
                background-color: $blue;
                padding: 24px 10px;
                text-transform: uppercase;
                border: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                transform: skew(-15deg);
                &.active {
                  color: $white;
                  background-color: $skyblue;
                }
                span {
                  transform: skew(15deg);
                  display: inline-block;
                }
              }
            }
          }
          .tab-content {
            .tab-pane {
              .form-content {
                position: relative;
                min-height: calc(100vh - 69px);
                text-align: center;
                width: 100%;
                .form-vertical {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  -ms-transform: translateY(-50%) translateX(-50%);
                  -webkit-transform: translateY(-50%) translateX(-50%);
                  -moz-transform: translateY(-50%) translateX(-50%);
                  -o-transform: translateY(-50%) translateX(-50%);
                  transform: translateX(-50%) translateY(-50%);
                  width: 100%;
                  max-width: 700px;
                  padding: 50px;
                  h3 {
                    color: $blue;
                    font-size: 22px;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                  }
                }
              }
            }
          }
          .garanties {
            &.pmr-garanties {
              .content-modal {
                ul {
                  &.liste-garantie {
                    top: 75px;
                  }
                }
              }
            }
            &.rcms-garanties {
              ul {
                &.liste-garantie {
                  li {
                    .left {
                      width: 60%;
                    }
                    .right {
                      width: 40%;
                    }
                  }
                }
              }
            }
            .fixed-title {
              position: fixed;
              top: 40px;
              left: 0;
              width: 100%;
            }
            .content-modal {
              margin-top: 110px;
              ul {
                &.liste-garantie {
                  position: relative;
                  top: 83px;
                  li {
                    &.fixed-head {
                      position: fixed;
                      top: 110px;
                      margin: auto;
                      z-index: 1;
                    }
                  }
                }
              }
            }
            ul {
              &.liste-garantie {
                margin: 0;
                padding: 0;
                max-height: calc(100vh - 220px);
                overflow: auto;
                &::-webkit-scrollbar {
                  width: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                  background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: #888;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                  background: #555;
                }
                .right {
                  ul {
                    &.right-liste {
                      li {
                        border-top: 2px solid $grey-light;
                        border-bottom: 2px solid $grey-light;
                        &:last-child {
                          border-right: 2px solid $grey-light;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.modal-center {
    .modal-dialog {
      top: 50%;
      transform: translateY(-50%);
      max-width: 680px;
      .modal-content {
        position: relative;
        .modal-body {
          padding: 50px;
          button {
            &.close {
              position: absolute;
              top: 20px;
              right: 20px;
              box-shadow: none;
              opacity: 1;
              z-index: 2;
              i {
                color: $grey;
              }
            }
          }
          .popup-content {
            text-align: center;
            span {
              &.icon {
                &:before {
                  color: $skyblue;
                  font-size: 36px;
                }
              }
            }
            h2 {
              margin-top: 10px;
            }
            h3 {
              font-size: 22px;
              margin-bottom: 30px;
            }
            a {
              display: inline-block;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
.cookies {
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  background-color: #485865eb;
  z-index: 9;
  color: $white;
  width: 100%;
  font-size: 14px;
  display: flex;
  .left {
    display: inline-block;
    width: 80%;
  }
  .right {
    display: inline-block;
    width: 19%;
    text-align: right;
    position: relative;
    height: 100%;
    vertical-align: middle;
  }
  button {
    &.close {
      position: absolute;
      top: 5px;
      right: 20px;
      text-shadow: none;
      opacity: 1;
      i {
        color: $white;
      }
    }
  }
}
