.profile-menu {
  background-color: $grey-light;
  padding: 20px 0;
  ul {
    padding: 0;
    margin: 0;
    li {
      position: relative;
      list-style-type: none;
      margin: 5px 0;
      a {
        position: relative;
        color: $skyblue;
        padding: 10px 40px 10px 30px;
        display: block;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        span {
          &.icon {
            margin-right: 10px;
            &:before {
              color: $skyblue;
            }
          }
          &.accordion {
            display: inline-block;
            position: absolute;
            right: 15px;
            &:before {
              content: '\F067';
              font-family: 'FontAwesome';
              display: inline-block;
              vertical-align: middle;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              transition: transform 0.25s linear;
              -webkit-transition: -webkit-transform 0.25s linear;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }
        &.active {
          background-color: $white;
          border-left: 3px solid $skyblue;
          span {
            &.accordion {
              &:before {
                content: '\F068';
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      ul {
        &.sub-liste {
          display: none;
          li {
            a {
              font-size: 14px;
              padding: 5px 10px 5px 70px;
              &.active {
                border-left: none;
              }
            }
          }
        }
      }
      &.color-pink {
        a {
          color: $pink;
          span {
            &.icon {
              &:before {
                color: $pink;
                font-size: 20px;
              }
            }
          }
          &.active {
            border-left: 3px solid $pink;
          }
        }
      }
    }
  }
}
.journal-content {
  ul {
    padding: 0;
    margin: 0;
    li {
      position: relative;
      list-style: none;
      margin-bottom: 40px;
      padding-left: 40px;
      margin-left: 0;
      &:last-child {
        margin-bottom: 0;
      }
      h4 {
        position: relative;
        padding-right: 30px;
        font-size: 20px;
        margin: 0;
        text-align: left;
        strong {
          font-size: 22px;
        }
        .btn-edit {
          position: absolute;
          top: 0;
          right: 5px;
          span {
            &:before {
              color: $grey;
            }
          }
        }
      }
      span {
        &.icon {
          position: absolute;
          left: 0;
          top: -3px;
          &:before {
            color: $grey;
            font-weight: 700;
            font-size: 30px;
          }
          &.color-pink {
            &:before {
              color: $pink;
            }
          }
          &.color-blue {
            &:before {
              color: $blue;
            }
          }
          &.color-skyblue {
            &:before {
              color: $skyblue;
            }
          }
          &.color-green {
            &:before {
              color: $green;
            }
          }
        }
        &.date {
          display: block;
          font-size: 12px;
          font-weight: 300;
          margin-bottom: 10px;
        }
      }
      a {
        &.btn-souscription {
          font-size: 14px;
          color: $blue;
          border-bottom: 1px solid;
          span {
            &.icon-bottom {
              -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
              margin-left: 5px;
              display: inline-block;
              &:before {
                color: $blue;
              }
            }
          }
        }
      }
      .info {
        background-color: #def4fb;
        padding: 20px;
        margin-top: 40px;
        p {
          margin: 0;
        }
      }
      .info-sinistre {
        background-color: #f2f3f6;
        padding: 20px;
        margin-top: 40px;
        p {
          margin: 0;
        }
      }
    }
  }
  .section-pagination {
    margin-top: 50px;
    ul {
      li {
        padding-left: 20px;
        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-radius: 50%;
          background-color: #f2f3f6;
        }
        &.active {
          a {
            color: #fff;
            background-color: #00b2e2;
          }
        }
      }
    }
  }
}
.remove-account {
  text-align: center;
  i {
    font-size: 60px;
    color: $pink;
    margin-bottom: 20px;
  }
}
