@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
@media (max-height: 760px) {
  .home-slider {
    .home-slider-carousel {
      .item {
        .slider-vertical {
          .slider-content {
            .division {
              margin: 10px 0;
            }
            h2 {
              font-size: 28px;
            }
            h3 {
              font-size: 22px;
            }
            a {
              margin-top: 0;
            }
          }
        }
      }
    }
    .home-slider-notif {
      p {
        font-size: 30px;
        &.big-100 {
          font-size: 4em;
        }
      }
      &.big-notif {
        position: initial;
        max-width: 340px;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .panel-offre {
    .panel-offre-footer {
      min-height: 180px;
    }
  }
}
@media (max-width: 1199px) {
  .header-page {
    .top-header-content {
      display: block;
      position: relative;
    }
    .menu-center {
      display: none;
    }
    .button-menu-open {
      display: inline-block;
    }
    .nav-info-right {
      width: auto;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      a {
        display: inline-block;
        &.phone-number {
          position: relative;
          top: 10px;
          margin-right: 10px;
        }
      }
    }
    .header-page-desc {
      top: 3px;
      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 991px) {
  .front {
    .header-page {
      padding: 10px 0;
    }
  }
  .header-page {
    .nav-info-right {
      a {
        &.phone-number {
          display: none;
        }
      }
      .header-page-desc,
      .espace-assure {
        display: none;
      }
      .header-page-mobile {
        display: inline-block;
        position: relative;
        top: 10px;
      }
    }
    .logo {
      img {
        width: 150px;
      }
    }
  }
  .nav-close {
    .button-menu-close {
      top: 60px;
    }
  }
  .home-slider {
    .home-slider-carousel {
      .owl-item {
        .item {
          .item-content {
            .slider-vertical {
              .slider-content {
                h2 {
                  font-size: 20px;
                }
                h3 {
                  font-size: 18px;
                }
                p {
                  font-size: 14px;
                }
                a {
                  margin-top: 10px;
                  min-width: 150px;
                  padding: 14px 15px;
                  font-size: 14px;
                }
              }
            }
            .slider-image-content {
              .home-slider-notif {
                p {
                  &.big-100 {
                    font-size: 3.9em;
                  }
                  font-size: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
  .panel-offre {
    .panel-offre-footer {
      .panel-offre-footer-absolute {
        a {
          width: 100%;
        }
      }
    }
  }
  .responsabilite-content {
    width: 100%;
  }
  .form-informations {
    .form-descktop {
      display: none;
    }
    .form-box {
      display: block;
    }
  }
  .responsabilite-section {
    .responsabilite-carousel {
      display: none;
    }
    .responsabilite-mobile {
      display: block;
    }
  }
  .profile-menu {
    ul {
      li {
        a {
          padding: 10px 0;
          text-align: center;
          span {
            &.texte,
            &.accordion {
              display: none;
            }
            &.icon {
              margin-right: 0;
              font-size: 24px;
            }
          }
        }
        &:hover,
        &:focus {
          .sub-liste {
            width: 230px;
            position: absolute;
            z-index: 6;
            left: 100%;
            margin-top: 0;
            top: 0;
            display: block !important;
            li {
              margin: 0;
              a {
                background-color: $grey-light;
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
  .modal.modal-fullscreen {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .garanties {
            .fixed-title {
              top: 20px;
            }
            .content-modal {
              ul {
                &.liste-garantie {
                  top: 122px;
                  max-height: calc(100vh - 270px);
                  li {
                    &.fixed-head {
                      top: 80px;
                    }
                  }
                }
              }
            }
            &.pmr-garanties {
              .content-modal {
                ul {
                  &.liste-garantie {
                    top: 52px;
                    max-height: calc(100vh - 210px);
                    li {
                      &.fixed-head {
                        top: 80px;
                      }
                    }
                  }
                }
              }
            }
            &.md-garanties {
              .content-modal {
                ul {
                  &.liste-garantie {
                    top: 52px;
                    max-height: calc(100vh - 210px);
                    li {
                      &.fixed-head {
                        top: 80px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .garanties {
    ul {
      &.liste-garantie {
        li {
          .left,
          .right {
            padding: 15px;
          }
          h5 {
            font-size: 18px;
          }
          h6 {
            font-size: 16px;
          }
        }
      }
    }
  }
  ul,
  ul.garanties-rc-liste {
    li {
      .garanties.multiple {
        ul {
          &.liste-garantie {
            li {
              display: block;
              margin-bottom: 10px;
              .left-nature {
                width: 100%;
                margin-bottom: 4px;
              }
              .left {
                width: 100%;
                &.bg-none {
                  padding: 0;
                }
                .content {
                  top: auto;
                  -ms-transform: none;
                  -webkit-transform: none;
                  -moz-transform: none;
                  -o-transform: none;
                  transform: none;
                }
              }
              .right {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  ul {
    &.garanties-liste {
      li {
        .garanties {
          &.multiple {
            &.rcms-garanties {
              ul {
                &.liste-garantie {
                  li {
                    .left,
                    .right {
                      width: 100%;
                      .content {
                        top: auto;
                        -ms-transform: none;
                        -webkit-transform: none;
                        -moz-transform: none;
                        -o-transform: none;
                        transform: none;
                      }
                    }
                  }
                }
              }
            }
            ul {
              &.liste-garantie {
                li {
                  .left-nature {
                    width: 100%;
                    border-right: none;
                    border-left: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .logo {
      img {
        width: 150px;
      }
    }
    h4 {
      text-align: center;
      &:after {
        margin: 13px auto;
      }
    }
    ul {
      &.social-network {
        text-align: center;
        margin-bottom: 20px;
      }
    }
    form {
      &.newsletter {
        margin: auto;
      }
    }
  }
}
@media (min-width: 768px) {
  .responsabilite-content {
    .tab-content {
      > .tab-pane {
        .tab-body {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .section-devis {
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .home-slider {
    max-height: 665px;
    .home-slider-carousel {
      height: calc(100vh - 115px);
      min-height: auto;
      .owl-item {
        .item {
          height: calc(100vh - 115px);
          display: block;
          position: relative;
          overflow: hidden;
          min-height: auto;
          .item-content {
            position: absolute;
            display: block;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            overflow: hidden;
            height: auto;
            .slider-vertical {
              display: block;
              margin: 20px 0;
              .slider-content {
                width: 100%;
                text-align: center;
                top: auto;
                .division {
                  display: none;
                }
                h2 {
                  font-size: 20px;
                }
                h3 {
                  font-size: 18px;
                }
                a {
                  margin-top: 10px;
                }
                .desktop-content {
                  display: none;
                }
                .home-slider-notif {
                  p {
                    &.big-100 {
                      font-size: 3.6em;
                    }
                  }
                }
              }
            }
            .mobile-content {
              display: block;
            }
            .slider-image-content {
              position: relative;
              height: 32vh;
              margin-bottom: 10px;
              .slider-image {
                position: relative;
                top: auto;
                right: auto;
                width: 100%;
                height: 100%;
                min-height: auto;
                img {
                  max-height: calc(100% - 40px);
                  width: auto;
                  margin: auto;
                }
              }
              .home-slider-notif {
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                padding: 0;
                margin-left: 0;
                p {
                  font-size: 20px;
                  &.big-100 {
                    font-size: 4em;
                  }
                }
                &.big-notif {
                  position: initial;
                  max-width: 340px;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }

      .owl-dots {
        bottom: -30px;
      }
    }
  }
  .bg-grey-light {
    .border-r {
      border-right: none;
    }
  }
  .modal {
    &.modal-fullscreen {
      .modal-dialog {
        .modal-content {
          .modal-body {
            .garanties {
              &.garanties-rc {
                .content-modal {
                  ul {
                    &.liste-garantie {
                      top: 38px;
                      max-height: calc(100vh - 200px);
                      li {
                        &.fixed-head {
                          .right {
                            display: none;
                          }
                        }
                        .right {
                          ul {
                            &.right-liste {
                              li {
                                display: flex;
                                .content {
                                  &:nth-child(1) {
                                    background-color: $skyblue;
                                    color: $white;
                                    width: 30%;
                                  }
                                  &:nth-child(2) {
                                    width: 70%;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ul {
    &.garanties-rc-liste {
      li {
        .garanties.multiple {
          ul {
            &.liste-garantie {
              li {
                .right {
                  ul {
                    &.right-liste {
                      display: block;
                      li {
                        display: block;
                        width: 100%;
                        border-right: none;
                        border-left: none;
                        border-bottom: 4px solid #f2f3f6;
                        .content {
                          font-size: 12px;
                          top: auto;
                          -ms-transform: none;
                          -webkit-transform: none;
                          -moz-transform: none;
                          -o-transform: none;
                          transform: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ul {
    &.garanties-liste {
      li {
        .garanties {
          &.multiple {
            ul {
              &.liste-garantie {
                li {
                  .right {
                    .content {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ul {
    &.responsabilite-liste {
      li {
        .garanties {
          &.multiple {
            ul {
              &.liste-garantie {
                li {
                  .left {
                    padding: 10px 5px;
                    h5 {
                      font-size: 14px;
                    }
                  }
                  .right {
                    .content {
                      padding: 10px 2px;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .responsabilite-content {
    ul {
      &.nav-tabs {
        display: none;
      }
    }
    .tab-content {
      margin-top: 40px;
      > .tab-pane {
        display: block;
        margin-bottom: 10px;
        .tab-header {
          display: block;
        }
        .tab-body {
          display: none;
        }
      }
    }
  }
  .panel-offre {
    .panel-offre-footer {
      min-height: auto;
      .panel-offre-footer-absolute {
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
      }
    }
  }
  .section-offre {
    display: block;
    padding-bottom: 60px;
    .offre-check,
    .offre-details,
    .offre-price {
      display: block;
      width: 100%;
      padding: 20px;
    }
    .offre-details {
      .detail-content {
        padding: 0;
        padding-bottom: 30px;
      }
    }
    .offre-check {
      position: absolute;
      bottom: 0;
      padding: inherit;
      .offre-content {
        text-align: center;
        label {
          left: auto;
        }
      }
    }
    .offre-price {
      border-bottom: 1px solid $grey-light;
      .offre-content {
        position: relative;
        padding: 0;
        text-align: center;
        top: auto;
        left: 0;
        transform: none;
        p {
          &.price {
            text-align: center;
          }
        }
      }
    }
  }
  .banner-combine {
    .content-combine {
      width: calc(100% - 70px);
    }
    .link-combine {
      width: 70px;
    }
  }
  .offre-table-recap {
    display: block;
    .left,
    .right {
      width: 100%;
    }
    .left {
      border-bottom: 1px solid $white;
      ul {
        padding-bottom: 0;
        li {
          padding-right: 20px;
          &.valeur {
            &.garantie {
              position: relative;
            }
          }
        }
      }
      .reduction {
        position: relative;
        width: 100%;
        max-width: 100%;
        &.bottom {
          top: auto;
          bottom: auto;
        }
      }
    }
    .right {
      .periodicite {
        ul {
          display: flex;
          li {
            width: 50%;
            height: 100%;
            display: inline-table;
            label {
              .label-text {
                top: 60px;
                transform: none;
              }
            }
          }
        }
      }
      .offre-content {
        position: relative;
        left: 0;
        top: auto;
        transform: none;
        text-align: center;
        padding: 0;
        p {
          &.price {
            text-align: center;
          }
        }
      }
    }
    &.inline-franchise {
      .left,
      .right {
        width: 100%;
      }
      .right {
        .periodicite {
          ul {
            display: inline-table;
            li {
              width: 49.2%;
              display: inline-table;
              float: none;
            }
          }
        }
      }
    }
  }
  .table-recap {
    ul {
      li {
        &.date-effect {
          display: block;
          .left,
          .right {
            width: 100%;
          }
          .left {
            margin-bottom: 10px;
          }
        }
        h4 {
          font-size: 16px;
        }
      }
    }
  }
  .table-payment {
    display: block;
    .payment-info {
      width: 100%;
      border-bottom: 1px solid $white;
      .m-b-10 {
        margin-bottom: 20px;
      }
    }
    .payment-price {
      width: 100%;
      .payment-content {
        top: auto;
        transform: none;
      }
    }
  }
  .choisir-vetoptim,
  .section-devis {
    display: none;
  }
  .responsabilite-section {
    .responsabilite-mobile {
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .cookies {
    display: block;
    .left {
      display: block;
      width: 100%;
    }
    .right {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 15px;
    }
  }
  form {
    .periodicite {
      ul {
        display: inline-block;
        li {
          width: 50%;
          display: inline-block;
          float: left;
          border: 1px solid $white;
          min-height: 174px;
          label {
            padding: 40px 15px;
            &.label-radio,
            &.label-checkbox {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  ul {
    &.liste-combine {
      li {
        display: block;
        .li-left,
        .li-right {
          width: 100%;
        }
        .li-left {
          p {
            width: 100%;
          }
        }
        .li-right {
          margin-top: 20px;
          .li-content {
            top: auto;
            transform: none;
          }
        }
      }
    }
  }
}
@media (max-width: 718px) {
  .front .section-sidebar {
    display: none;
  }
  .section-sidebar {
    top: auto;
    left: 0;
    bottom: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      li {
        display: inline-block;
        width: 20%;
        padding: 15px 0;
        height: 80px;
        &.devis-none {
          width: 10%;
        }
        a {
          position: relative;
          border-bottom: none;
          border-right: 1px solid $white;
          height: 100%;
          padding: 0 15px;
          span {
            &.icon {
              margin-bottom: 2px;
            }
            &.link {
              position: absolute;
              left: 50%;
              -ms-transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              bottom: 0;
              line-height: 12px;
            }
          }
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .section-offre {
    .offre-details {
      .detail-content {
        .offre-content {
          padding-left: 0;
        }
      }
    }
  }
  .success-souscription {
    .souscription-link {
      a {
        display: block;
      }
      span {
        &.or-link {
          display: block;
          margin: 20px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .h4,
  h4 {
    font-size: 1.2rem;
  }
  .content-section {
    margin: 20px 0 30px;
  }
  .hidden-mobile {
    display: none;
  }
  .section-padder {
    padding: 30px 0;
  }
  .button {
    font-size: 14px;
    padding: 10px 20px;
    .button-text-small {
      font-size: 10px;
    }
  }
  .title-section {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .header-title {
    padding: 5px 0;
    h2 {
      font-size: 16px;
      span {
        &.icon {
          top: 5px;
          &:before {
            font-size: 24px;
          }
        }
      }
    }
  }
  .title-section-small {
    font-size: 18px;
  }
  .center-content {
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  .title-offre {
    font-size: 16px;
  }
  .title-section-simple {
    font-size: 22px;
  }
  .button-menu-open {
    margin-left: 20px;
  }
  .header-page {
    padding: 10px 0 30px;
    .title-top {
      font-size: 22px;
    }
  }
  .form-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .modal {
    &.modal-fullscreen {
      .modal-dialog {
        .modal-content {
          .modal-body {
            button {
              &.close {
                top: 8px;
                right: 10px;
              }
            }
            .nav-tabs {
              .nav-item {
                .nav-link {
                  padding: 40px 10px 15px;
                }
              }
            }
            .garanties {
              &.pmr-garanties {
                .content-modal {
                  ul {
                    &.liste-garantie {
                      top: 42px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .garanties {
    ul {
      &.liste-garantie {
        li {
          .left,
          .right {
            padding: 12px;
          }
          .left {
            width: 35%;
          }
          .right {
            width: 65%;
          }
          h5 {
            font-size: 16px;
          }
          h6 {
            font-size: 14px;
          }
        }
      }
    }
  }
  .menu {
    min-width: 340px;
    .nav-content {
      width: 320px;
      margin-right: 15px;
      padding-left: 15px;
      ul {
        &.menu-liste {
          li {
            a {
              font-size: 14px;
            }
            &.sub-menu {
              ul {
                li {
                  a {
                    font-size: 13px;
                  }
                }
              }
              span {
                &.btn-accordion {
                  width: 26px;
                  height: 26px;
                  line-height: 26px;
                  &:before {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .panel-intervention {
    padding: 0;
    margin-bottom: 10px;
    .panel-intervention-content {
      max-width: 100%;
      h3 {
        padding: 20px 35px 20px 15px;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: $grey;
        display: block;
        span {
          &.icon {
            position: relative;
            top: 2px;
            display: inline-block;
            margin-bottom: 0;
            &:before {
              color: $grey;
              font-size: 20px;
            }
          }
          &.btn-accordion {
            display: inline-block;
            position: absolute;
            right: 5px;
            float: none;
          }
        }
        a {
          display: inline-block;
          background-color: transparent;
        }
      }
      ul {
        display: none;
        li {
          position: relative;
          border-top: 1px solid $white;
          padding: 12px 10px 12px 30px;
          display: flex;
          width: 100%;
          &:before {
            content: none;
          }
          a {
            color: $blue;
            font-size: 13px;
            text-decoration: none;
            display: block;
            width: 90%;
            border-right: 2px solid $white;
            span {
              &.icon {
                display: inline-block;
              }
            }
            &.btn-search {
              display: block;
            }
          }
        }
      }
      &.active {
        ul {
          display: block;
        }
      }
    }
    .panel-intervention-img {
      display: none;
    }
    a {
      &.button {
        display: none;
      }
    }
  }
  .home-slider {
    .home-slider-carousel {
      .item {
        .slider-vertical {
          .slider-content {
            a {
              width: 100%;
            }
          }
        }
        .slider-image {
          img {
            max-height: 35vh;
            width: auto;
          }
        }
      }
    }
  }
  .center-content {
    width: 100%;
  }
  .panel-offre {
    padding: 0;
  }
  ul {
    &.liste-combine {
      li {
        .li-left {
          p {
            padding-left: 0;
          }
        }
      }
    }
  }
  .responsabilite-section {
    .responsabilite-mobile {
      .padder-15 {
        padding: 12px;
      }
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
      }
      span {
        &.icon {
          &:before {
            font-size: 28px;
          }
        }
      }
    }
  }
  .section-advantage {
    h3 {
      font-size: 20px;
      min-height: auto;
    }
    .advantage-desc {
      margin-top: 20px;
      p {
        margin: 0;
      }
    }
  }
  .mobile-accordion {
    h4 {
      position: relative;
      background-color: #bbc7d7;
      color: $blue;
      border-bottom: none;
      padding: 20px 40px 20px 20px;
      margin-bottom: 15px;
      span {
        position: absolute;
        right: 15px;
        &:before {
          content: '\F067';
          font-family: 'FontAwesome';
          display: inline-block;
          vertical-align: middle;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transition: transform 0.25s linear;
          -webkit-transition: -webkit-transform 0.25s linear;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
      &.active {
        span {
          &:before {
            content: '\F068';
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }
    .accordion-content {
      display: none;
    }
  }
  form {
    &.steps-form {
      .inline-group {
        display: block;
        &.price {
          display: flex;
        }
        label {
          margin: 0 20px 10px 0;
          width: 100%;
          display: block;
        }
        .inline-div {
          width: 100%;
          display: block;
          &.inline-date {
            width: 100%;
            display: flex;
          }
          &.inline-div-flex {
            display: flex;
          }
        }
      }
    }
    label {
      &.label-radio,
      &.label-checkbox {
        max-width: 100%;
      }
    }
  }
  form {
    .file-upload {
      display: block;
      .label-upload-title {
        top: 0;
      }
    }
  }
  .offre-table-recap {
    &.inline-franchise {
      .right {
        .periodicite {
          ul {
            li {
              width: 49%;
            }
          }
        }
      }
    }
  }
  footer {
    form {
      &.newsletter {
        width: 100%;
      }
    }
    ul {
      li {
        a {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
  .section-sidebar {
    ul {
      li {
        a {
          padding: 0 10px;
          font-size: 12px;
        }
      }
    }
  }
  .table-payment {
    margin-bottom: 30px;
    .payment-info {
      padding: 20px;
      .form-group {
        select {
          max-width: 100%;
        }
      }
    }
    .payment-price {
      padding: 20px;
    }
  }
  .success-souscription {
    h3 {
      font-size: 18px;
      margin: 20px 0;
    }
  }
  .journal-content {
    h4 {
      font-size: 12px !important;
    }
  }
  .form-wizard {
    form {
      &.steps-form {
        h4 {
          font-size: 16px;
          span {
            font-size: 16px;
            b {
              font-size: 18px;
            }
          }
        }
        .check-bottom {
          margin-bottom: 40px;
        }
        .checkbox-radio {
          .inline-group {
            display: block;
            label,
            .inline-div {
              width: 100%;
              display: block;
            }
            label {
              background-color: $grey-light;
              padding: 20px;
              &.label-radio {
                .radio,
                .checkbox {
                  top: 21px;
                  right: 30px;
                  left: auto;
                }
              }
            }
            .inline-div {
              .form-check-inline {
                display: block;
                width: 100%;
              }
              &.without-input {
                background-color: $grey-light;
                padding: 20px;
                display: flex;
                select {
                  width: 100%;
                }
              }
            }
            &.hide-element-bg {
              display: flex;
              label {
                display: flex;
                width: 70px;
                margin: 0;
                margin-right: 10px;
                padding: 0;
              }
              .inline-div {
                display: flex;
                width: calc(100% - 70px);
                select {
                  padding: 0px 8px;
                }
              }
            }
          }
        }
        .inline-div {
          .form-check-inline {
            display: block;
            width: 100%;
          }
          &.select-desktop {
            display: none !important;
          }
          &.select-mobile {
            display: block !important;
            margin: 20px 0;
            text-align: center;
          }
        }
      }
    }
  }
  footer {
    padding: 20px 0;
    ul {
      &.footer-menu {
        margin-top: 20px;
      }
    }
  }
}
@media (max-width: 380px) {
  .panel-intervention {
    .panel-intervention-content {
      ul {
        li {
          a {
            &.btn-search {
              span {
                right: 2px;
              }
            }
          }
        }
      }
    }
  }
  .header-page {
    .logo {
      img {
        width: 120px;
      }
    }
  }
  .home-slider {
    .home-slider-carousel {
      .item {
        height: calc(100vh - 128px);
      }
    }
  }
  footer {
    .logo {
      img {
        width: 120px;
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1352px) {
  .section-sidebar {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1153px) {
  .section-sidebar {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 896px) {
  .section-sidebar {
    display: none;
  }
}
