.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;

  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animate-out {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
.home-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background-color: $white;
  /* display: inline-block;
	float: left;
	width: calc(100% - 140px);
	background: url(../images/externe/slider-bg.png) no-repeat center fixed; 
	-webkit-background-size: cover;
	background-size: cover; */
  .home-slider-carousel {
    position: relative;
    height: calc(100vh - 392px);
    max-height: 518px;
    min-height: 400px;
    .item {
      height: calc(100vh - 392px);
      max-height: 518px;
      min-height: 400px;
      width: 100%;
      .item-content {
        display: table;
        height: 100%;
        width: 100%;
        .slider-image-content {
          .slider-image {
            position: absolute;
            bottom: 0;
            right: 1%;
            width: 50%;
            max-height: calc(100vh - 382px);
            min-height: 390px;
          }
          .home-slider-notif {
            position: absolute;
            bottom: 5px;
            left: 26px;
            border-top: 3px solid $skyblue;
            border-bottom: 3px solid $skyblue;
            z-index: 1;
            p {
              &.big-100 {
                font-size: 4.6em;
              }
              margin: 0;
              color: $blue;
              font-size: 28px;
              font-weight: 700;
            }
            &.big-notif {
              max-width: none;
              margin: initial;
            }
          }
        }
        .slider-vertical {
          display: table-cell;
          vertical-align: middle;
          .slider-content {
            width: 50%;
            z-index: 1;
            position: relative;
            top: -30px;
            h2 {
              color: $blue;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 24px;
              margin: 0;
            }
            h3 {
              color: $blue;
              font-size: 24px;
              font-weight: 500;
              text-transform: uppercase;
              line-height: 1.2;
            }
            h4 {
              color: $skyblue;
              font-size: 20px;
              text-transform: uppercase;
              line-height: 1.2;
            }
            p {
              font-size: 18px;
              font-weight: 300;
              margin: 0;
            }
            a {
              min-width: 200px;
              margin-top: 20px;
            }
            .home-slider-notif {
              display: inline-block;
              border-top: 3px solid $skyblue;
              border-bottom: 3px solid $skyblue;
              z-index: 1;
              p {
                &.big-100 {
                  font-size: 4.6em;
                }
                margin: 0;
                color: $blue;
                font-size: 28px;
                font-weight: 700;
              }
              &.big-notif {
                max-width: none;
                margin: initial;
              }
            }
          }
        }
        .mobile-content {
          display: none;
          text-align: center;
        }
      }
    }
    .owl-nav,
    .owl-dots {
      position: absolute;
      bottom: 20px;
    }
    .owl-dots {
      width: 100%;
      text-align: center;
      .owl-dot {
        display: inline-block;
        zoom: 1;
      }
    }
  }
}
