#loader-app{
    background-color: #fff;
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    color: #00b2e2;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.skype-loader {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    margin-bottom: 40px;
}

.skype-loader .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
}

.skype-loader .dot:nth-child(1) {
    animation-delay: 0.2s;
}

.skype-loader .dot:nth-child(2) {
    animation-delay: 0.35s;
}

.skype-loader .dot:nth-child(3) {
    animation-delay: 0.45s;
}

.skype-loader .dot:nth-child(4) {
    animation-delay: 0.55s;
}

.skype-loader .dot:after, .skype-loader .dot .first {
content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #00b2e2;
    border-radius: 50%;
    left: 50%;
    margin-left: -4px;
}

.skype-loader .dot .first {
    background: #fff;
    margin-top: -4px;
    animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    animation-delay: 0.2s;
}

@keyframes dotrotate { 
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); }
}

@keyframes dotscale { 
    0%, 10% { width: 16px; height: 16px; margin-left: -8px;  margin-top: -4px; } 
    50% { width: 8px; height: 8px; margin-left: -4px; margin-top: 0; }
    90%, 100% { width: 16px; height: 16px;  margin-left: -8px;  margin-top: -4px; }
}