.widget-offre {
  background-color: $grey-light;
  padding: 30px 20px;
  .widget-offre-desc {
    h4 {
      font-size: 18px;
      color: $blue;
      font-weight: 700;
      span {
        margin-right: 5px;
        font-size: 32px;
        &:before {
          color: $blue;
        }
      }
    }
    p {
      font-weight: 300;
    }
    a {
      &.button {
        padding: 8px 15px 12px 15px;
      }
      &.learn-more {
        display: block;
      }
    }
    ul {
      &.liste-garantie {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          padding-left: 20px;
          &:before {
            content: '';
            background-color: $blue;
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-left: -20px;
            margin-right: 10px;
            vertical-align: top;
            position: relative;
            top: 7px;
          }
          h4 {
            display: inline-block;
          }
        }
      }
    }
  }
}
.widget-service {
  background-color: $grey-light;
  padding: 0 20px;
  ul {
    &.liste-service {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        position: relative;
        border-bottom: 1px solid #fff;
        padding: 20px 0;
        &:last-child {
          border-bottom: none;
        }
        span {
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          &:before {
            color: $skyblue;
            font-size: 28px;
            font-weight: 700;
          }
        }
        p {
          color: $blue;
          margin: 0;
          padding-left: 50px;
        }
      }
    }
  }
  .postule {
    padding: 50px 0;
  }
}
