@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?62cmuh');
  src: url('../fonts/icomoon.eot?62cmuh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?62cmuh') format('truetype'),
    url('../fonts/icomoon.woff?62cmuh') format('woff'),
    url('../fonts/icomoon.svg?62cmuh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activite:before {
  content: '\e900';
  color: #fff;
}
.icon-aide:before {
  content: '\e901';
  color: #fff;
}
.icon-arrow-right:before {
  content: '\e902';
  color: #fff;
}
.icon-backpack:before {
  content: '\e903';
  color: #fff;
}
.icon-calendar:before {
  content: '\e904';
  color: #fff;
}
.icon-check:before {
  content: '\e905';
  color: #fff;
}
.icon-collaborateur:before {
  content: '\e906';
  color: #fff;
}
.icon-combine:before {
  content: '\e907';
  color: #fff;
}
.icon-commercial:before {
  content: '\e908';
  color: #fff;
}
.icon-conseiller:before {
  content: '\e909';
  color: #fff;
}
.icon-contact:before {
  content: '\e90a';
  color: #fff;
}
.icon-contrats:before {
  content: '\e90b';
  color: #fff;
}
.icon-devis:before {
  content: '\e90c';
  color: #fff;
}
.icon-dirigants:before {
  content: '\e90d';
  color: #fff;
}
.icon-edit:before {
  content: '\e90e';
  color: #fff;
}
.icon-envelope:before {
  content: '\e90f';
  color: #fff;
}
.icon-euro:before {
  content: '\e910';
  color: #fff;
}
.icon-eye:before {
  content: '\e911';
  color: #fff;
}
.icon-flag:before {
  content: '\e912';
  color: #fff;
}
.icon-interrogation:before {
  content: '\e913';
  color: #fff;
}
.icon-journal:before {
  content: '\e914';
  color: #fff;
}
.icon-men:before {
  content: '\e915';
  color: #fff;
}
.icon-menu:before {
  content: '\e916';
  color: #fff;
}
.icon-menu-close:before {
  content: '\e917';
  color: #fff;
}
.icon-menu-open:before {
  content: '\e918';
  color: #fff;
}
.icon-multirisque:before {
  content: '\e919';
  color: #fff;
}
.icon-neswletter:before {
  content: '\e91a';
  color: #fff;
}
.icon-offre:before {
  content: '\e91b';
  color: #fff;
}
.icon-phone:before {
  content: '\e91c';
  color: #fff;
}
.icon-pourcentage:before {
  content: '\e91d';
  color: #fff;
}
.icon-responsabilite:before {
  content: '\e91e';
  color: #fff;
}
.icon-return:before {
  content: '\e91f';
  color: #fff;
}
.icon-salarier:before {
  content: '\e920';
  color: #fff;
}
.icon-sauvgarde:before {
  content: '\e921';
  color: #fff;
}
.icon-search:before {
  content: '\e922';
  color: #fff;
}
.icon-securise:before {
  content: '\e923';
  color: #fff;
}
.icon-services:before {
  content: '\e924';
  color: #fff;
}
.icon-simplicite:before {
  content: '\e925';
  color: #fff;
}
.icon-sinistre:before {
  content: '\e926';
  color: #fff;
}
.icon-solutions:before {
  content: '\e927';
  color: #fff;
}
.icon-solution-unique:before {
  content: '\e928';
  color: #fff;
}
.icon-souscris:before {
  content: '\e929';
  color: #fff;
}
.icon-user:before {
  content: '\e92a';
  color: #fff;
}
.icon-vetoptim:before {
  content: '\e92b';
  color: #fff;
}
.icon-vieprive:before {
  content: '\e92c';
  color: #fff;
}
.icon-women:before {
  content: '\e92d';
  color: #fff;
}
