@font-face {
  font-family: 'GalanoGrotesque';
  src: url('../fonts/GalanoGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GalanoGrotesque-Bold.woff') format('woff'),
    url('../fonts/GalanoGrotesque-Bold.ttf') format('truetype'),
    url('../fonts/GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GalanoGrotesque';
  src: url('../fonts/GalanoGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GalanoGrotesque-Medium.woff') format('woff'),
    url('../fonts/GalanoGrotesque-Medium.ttf') format('truetype'),
    url('../fonts/GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GalanoGrotesque';
  src: url('../fonts/GalanoGrotesque-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GalanoGrotesque-Light.woff') format('woff'),
    url('../fonts/GalanoGrotesque-Light.ttf') format('truetype'),
    url('../fonts/GalanoGrotesque-Light.svg#GalanoGrotesque-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/GalanoGrotesque-Light.woff2') format('woff2'),
        url('../fonts/GalanoGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/GalanoGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/GalanoGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/GalanoGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/GalanoGrotesque-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} */

$white: #fff;
$pink: #f5416c;
$green: #c3d82e;
$skyblue: #00b2e2;
$blue: #001588;
$grey: #485865;
$grey-light: #f2f3f6;

@import 'utils';
@import 'navbar';
@import 'slider';
@import 'footer';
@import 'widget';
@import 'form';
@import 'popup';
@import 'profile';
@import 'layout';
@import 'responsive';
