<div class="pcoded" ng-controller="AdminController as vm">
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a href="/admin">
                            <img class="img-fluid" src="../../images/externe/logo-footer.png" alt="Theme-Logo" width="90" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <div>
                            <ul class="nav-left">
                                <li>
                                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                                </li>
                            </ul>
                            <ul class="nav-right">
                                <li class="user-profile header-notification">
                                    <a href="#!">
                                        <img src="../../images/externe/testimony2.jpg" alt="User-Profile-Image">
                                        <span>{{vm.user.lastname}} {{vm.user.name}}</span>
                                        <i class="ti-angle-down"></i>
                                    </a>
                                    <ul class="show-notification profile-notification">
                                        <li>
                                            <a href="user-profile.html">
                                                <i class="ti-user"></i> Profil
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logoutAdmin">
                                                <i class="ti-layout-sidebar-left"></i> Déconnexion
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar" pcoded-header-position="relative">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40" src="../../images/externe/testimony2.jpg" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>{{vm.user.lastname}} {{vm.user.name}}</span>
                                        <span id="more-details">Administrateur<i class="ti-angle-down"></i></span>
                                    </div>
                                </div>
    
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="user-profile.html"><i class="ti-user"></i>Profil</a>
                                            <a href="/logoutAdmin"><i class="ti-layout-sidebar-left"></i>Déconnexion</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" menu-title-theme="theme5">Modules</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class=" ">
                                    <a href="/admin/users/index">
                                        <span class="pcoded-micon"><i class="ti-user"></i></span>
                                        <span class="pcoded-mtext" data-i18n="">Utilisateurs</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                            <div class="pcoded-inner-content">
                                <div class="main-body">
                                    <div class="page-wrapper">
                                        <div class="page-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>Ajouter utilisateur</h5>
                                                        </div>
                                                        <div class="card-block">
                                                            <form ng-submit="vm.saveUser()" method="post" data-toggle="validator" role="form">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Nom</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" name="name" ng-model="vm.name" pattern="^[a-zA-Z]+$" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Prénom</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" name="lastname" ng-model="vm.lastname" pattern="^[a-zA-Z]+$" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Civilité</label>
                                                                    <div class="col-sm-6">
                                                                        <select ng-model="vm.title" class="form-control">
                                                                            <option value="">Veuillez choisir votre civilité</option>
                                                                            <option value="monsieur">Monsieur</option>
                                                                            <option value="madame">Madame</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Email</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="email" class="form-control" ng-model="vm.email">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Mot de passe</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="password" ng-model="vm.password" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Téléphone Mobile</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" ng-model="vm.mobile" pattern="^[0-9 +]+$">
                                                                    </div>
                                                                </div>
                                                                <div ng-if="vm.error">
                                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                        {{vm.error}}
                                                                    </div>
                                                                </div>
                                                                <div ng-if="vm.success">
                                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                        {{vm.success}}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group text-center m-t-50">
                                                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>