<div id="pcoded" class="pcoded" ng-controller="AdminController as vm">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <a href="/admin">
                        <img class="img-fluid" src="../../images/externe/logo-footer.png" alt="Theme-Logo" width="90" />
                    </a>
                    <a class="mobile-options">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <div class="navbar-container container-fluid">
                    <div>
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="../../images/externe/testimony2.jpg" alt="User-Profile-Image">
                                    <span>{{vm.user.lastname}} {{vm.user.name}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="#!">
                                            <i class="ti-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-profile.html">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email-inbox.html">
                                            <i class="ti-email"></i> My Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="auth-lock-screen.html">
                                            <i class="ti-lock"></i> Lock Screen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/logoutAdmin">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar" pcoded-header-position="relative">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-header">
                                <img class="img-40" src="../../images/externe/testimony2.jpg" alt="User-Profile-Image">
                                <div class="user-details">
                                    <span>{{vm.user.lastname}} {{vm.user.name}}</span>
                                    <span id="more-details">Administrateur<i class="ti-angle-down"></i></span>
                                </div>
                            </div>

                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">
                                        <a href="user-profile.html"><i class="ti-user"></i>Profil</a>
                                        <a href="/logoutAdmin"><i class="ti-layout-sidebar-left"></i>Déconnexion</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" menu-title-theme="theme5">Modules</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class=" ">
                                <a href="/admin/users/index">
                                    <span class="pcoded-micon"><i class="ti-user"></i></span>
                                    <span class="pcoded-mtext" data-i18n="">Utilisateurs</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-header">
                                    <div class="page-header-title">
                                        <a href="/admin/users/create"><button class="btn btn-primary">Ajouter utilisateur</button></a>
                                    </div>
                                </div>
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Liste des utilisateurs</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="dt-responsive table-responsive">
                                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>Civilité</th>
                                                                    <th>Nom</th>
                                                                    <th>Prénom</th>
                                                                    <th>Téléphone Mobile</th>
                                                                    <th>Email</th>
                                                                    <th>Administrateur</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody ng-init="vm.listUsers()">
                                                                <tr ng-repeat="user in vm.users">
                                                                    <td>{{ user.title }}</td>
                                                                    <td>{{ user.name }}</td>
                                                                    <td>{{ user.lastname }}</td>
                                                                    <td>{{ user.mobile }}</td>
                                                                    <td>{{ user.email }}</td>
                                                                    <td ng-ifwarra="user.isAdmin===true" class="text-center"><span><i class="ti-check"></i></span></td>
                                                                    <td ng-if="user.isAdmin===false" class="text-center"><span><i class="ti-close"></i></span></td>
                                                                    <td ng-if="user.isAdmin===false" class="text-center">
                                                                        <a href="/admin/users/update?user={{user.id}}">
                                                                            <span><i class="ti-pencil-alt"></i></span>
                                                                        </a>
                                                                        <button class="sweet"><span><i class="ti-trash"></i></span></button>
                                                                    </td>
                                                                    <td ng-if="user.isAdmin===true" class="text-center">
                                                                        <span><i class="ti-lock"></i></span>
                                                                        <span><i class="ti-lock"></i></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>