<div ng-controller="CMSController as vm">
    <h2>Créer une page</h2>
    <form ng-submit="vm.createPage()">
        <input type="text" ng-model="vm.pageTitle" />
        <textarea froala ng-model="vm.pageHtml"></textarea>
        <div>
            <button type="submit" class="button-red">JE CREE UNE PAGE</button>
        </div>
        <div ng-if="vm.error">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{vm.error}}
            </div>
        </div>
    </form>
</div>