<%- partial('../partials/header-page', {'title': ''}); %>
<div class="header-title bg-blue">
    <div class="container">
        <h2><span class="icon icon-aide">DEMANDE DE DEVIS PERSONNALISÉ</span></h2>
    </div>
</div>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } %>
    <div class="container">
        <div class="success-souscription">
            <p class="icon-souscription"><span class="icon icon-souscris"></span></p>
            <h2 class="title-section-simple color-grey">DEMANDE DE DEVIS PERSONNALISÉ ENVOYÉE !</h2>
            <h3>UN CONSEILER VA PRENDRE CONTACT AVEC VOUS SELON VOTRE DISPONIBILITÉ</h3>
            <div class="division"></div>
            <div class="souscription-link m-t-40">
                <a href="javascript:void(0)" ng-click="vm.backCustomRate()" class="button button-skyblue"><span class="icon icon-contrats"></span>Retour</a>
                <span class="or-link m-l-15 m-r-15">Ou</span>
                <a href="/" class="button button-blue"><span class="icon icon-user"></span>Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>