<%- partial('../partials/header-page', {'title': ''}); %>
<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="error-content">
					<h2>OUPS !</h2>
					<h3>La page que vous cherchez semble introuvable</h3>
					<div class="error-code">
						<p>Code d’erreur : 404</p>
					</div>
					<p>Voici quelques liens utiles à la place :</p>
					<ul>
						<li><a href="/">Page d’accueil</a></li>
						<li><a href="">Nos offres</a></li>
						<li><a href="">Nos thématiques</a></li>
						<li><a href="/contact">Contactez-nous</a></li>
						<li><a href="">Etre rappelé</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<img src="images/externe/erreur.jpg" class="img-fluid">
			</div>
		</div>
	</div>
</div>
<%- partial('../components/right-sidebar'); %>