<div class="header-title bg-blue">
	<div class="container">
		<% if (type==='CR') { %>
		<h2>
			<span class="icon icon-responsabilite"></span>RESPONSABILITÉ CIVILE PRO
			<span class="hidden-mobile"> (RC)</span>
		</h2>
		<% } else if (type==='PMR') { %>
		<h2>
			<span class="icon-responsabilite"></span>MULTIRISQUE PRO</h2>
		<% } else if (type==='PMRCR') { %>
		<h2>
			<span class="icon-responsabilite"></span>MULTIRISQUE + RC PRO</h2>
		<% } %>
	</div>
</div>
<div class="content-section">
	<div class="container" <% if (type==='CR' ) { %>
		ng-controller="SimulationCRController as vm">
		<% } else if (type==='PMR') { %>
		ng-controller="SimulationPMRController as vm">
		<% } else if (type==='PMRCR') { %>
		ng-controller="SimulationPMRCRController as vm">
		<% } %>
		<div class="sticky-content m-b-50" <% if (type==='CR' ) { %>
			ng-init='vm.authenticated();'>
			<% } else if (type==='PMR') { %>
			ng-init='vm.authenticated();vm.pmrWarranty();'>
			<% } else if (type==='PMRCR') { %>
			ng-init='vm.authenticated();vm.pmrCrWarranty();'>
			<% } %>
			<% if (type==='CR') { %>
			<div class="offre-details">
				<div class="offre-content">
					<h5 class="color-blue">LISTE DES GARANTIES </h5>
					<ul>
						<li>
							<i class="fa fa-check"></i>R.C.Exploitation
							<ul>
								<li>
									<i class="fa fa-check"></i>Dommages corporels, matériels et immatériels confondus
									<br>sans pouvoir dépasser pour : {{ 7000000 | currencyFormat }} par sinistre </li>
								<li>
									<i class="fa fa-check"></i>Maladies professionnelles et faute inexcusable : {{ 1000000 | currencyFormat }} par
									année d’assurance
									et quelque soit le nombre de victime </li>
								<li>
									<i class="fa fa-check"></i>Dommages matériels et immatériels consécutifs : {{ 1000000 | currencyFormat }} par
									sinistre </li>
								<li>
									<i class="fa fa-check"></i>Dommages immatériels non consécutifs : Non garantis </li>
							</ul>
						</li>
						<li>
							<i class="fa fa-check"></i>R.C.Vol
							<ul>
								<li>
									<i class="fa fa-check"></i>Tous dommages confondus : {{ 30000 | currencyFormat }} par sinistre </li>
							</ul>
						</li>
						<li>
							<i class="fa fa-check"></i>Effets personnels des préposés
							<ul>
								<li>
									<i class="fa fa-check"></i>Dommages matériels : {{ 30000 | currencyFormat }} par sinistre </li>
							</ul>
						</li>
						<li>
							<i class="fa fa-check"></i>Détériorations accidentelles aux véhicules des clients en stationnement dans
							l’enceinte de l’établissement
							exploité par l’assuré
							<ul>
								<li>
									<i class="fa fa-check"></i>Dommages matériels : {{ 50000 | currencyFormat }} par sinistre </li>
							</ul>
						</li>
						<li>
							<i class="fa fa-check"></i>Atteintes à l’environnement
							<ul>
								<li>
									<i class="fa fa-check"></i>Dommages corporels, matériels et immatériels confondus sans pouvoir dépasser
									<br>pour : {{ 600000 | currencyFormat }} par année d’assurance </li>
								<li>
									<i class="fa fa-check"></i>Dommages matériels et immatériels : {{ 800000 | currencyFormat }} par sinistre </li>
							</ul>
						</li>
						<li>
							<i class="fa fa-check"></i>Responsabilité Civile Professionnelle et Après Livraison de produits
							<ul>
								<li>
									<i class="fa fa-check"></i>Dommages corporels, matériels et immatériels confondus sans pouvoir dépasser
									<br>pour : {{ 3000000 | currencyFormat }} par sinistre et par année d’assurance </li>
								<li>
									<i class="fa fa-check"></i>Dommages matériels et immatériels consécutifs y compris dommages
									<br>aux animaux: {{ 1000000 | currencyFormat }} par sinistre et par année d’assurance avec un maximum de {{
									30000
									| currencyFormat }} par animal </li>
								<li>
									<i class="fa fa-check"></i>Dommages matériels et immatériels consécutifs aux biens confiés
									<br>chez l’assuré (hors animaux ): {{ 50000 | currencyFormat }} par sinistre et par année d’assurance </li>
								<li>
									<i class="fa fa-check"></i>Dommages causés par des produits vendus ou fabriqués par l’assuré : {{ 1000000 |
									currencyFormat }} par
									sinistre et par année d’assurance </li>
								<li>
									<i class="fa fa-check"></i>Dommages immatériels non consécutifs : {{ 150000 | currencyFormat }} par sinistre
									et par année d’assurance
								</li>
							</ul>
						</li>
						<li>
							<i class="fa fa-check"></i>Défense pénale et recours suite à accident
							<ul>
								<li>
									<i class="fa fa-check"></i>Tous frais confondus : {{ 15000 | currencyFormat }} par sinistre et {{ 50000 |
									currencyFormat }} par
									année d’assurance </li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<% } else if (type==='PMR') { %>
			<div class="offre-details">
				<div class="offre-content">
					<h5>LISTE DES GARANTIES </h5>
					<ul>
						<li>
							<i class="fa fa-check"></i>Incendie et événements annexes : {{ vm.incendieEvenement | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Incendie / Reconstitution d'archives : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Tempête / grêle et neige / gel : {{ vm.tempeteGrele | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Tempête / Reconstitution d'archives : {{ 3656 | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Vandalisme : {{ vm.vandalisme | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Vandalisme / Reconstitution d'archives  : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Dommages électriques : maximum {{ 15000 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Bris de machines : maximum {{ 60000 | currencyFormat }} par sinistre dans la limite
							de {{ 20000 | currencyFormat
							}} par machine </li>
						<li>
							<i class="fa fa-check"></i>Tous risques ordinateurs portable : maximum {{ 10000 | currencyFormat }} par sinistre
							et par an </li>
						<li>
							<i class="fa fa-check"></i>Marchandises en chambre froide (vaccin inclus) : maximum {{ 10000 | currencyFormat }}
							par sinistre </li>
						<li>
							<i class="fa fa-check"></i>Dégâts des eaux : {{ vm.degatEaux | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>DDE / Reconstitution d'archives : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Bris de glaces et Enseignes : {{ 15000 | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Bris de glaces des vérandas : {{ 10000 | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Vol : {{ vm.vol | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Vol / Reconstitution d'archives : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>En tiroir-caisse : {{ 2500 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>En coffre-fort : {{ 5000 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Vol / Agression dans les locaux et fonds transportés : {{ 5000 | currencyFormat }}
						</li>
						<li>
							<i class="fa fa-check"></i>Garantie des événements non dénommés : {{ 50000 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Garantie des évènements naturels à caractère exceptionnel : {{
							vm.garantieEvenementNaturel | currencyFormat
							}} </li>
						<li>
							<i class="fa fa-check"></i>Garantie automatique des investissements : limité à {{ 50000 | currencyFormat }} par
							sinistre et par an
						</li>
						<li>
							<i class="fa fa-check"></i>Assurance du mobilier personnel et des biens confiés : maximum {{ 3000 |
							currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Dont Objets précieux : 10% pour les objets précieux, mini {{ 2000 | currencyFormat }}
							et maximum {{ 5000
							| currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Détériorations accidentelles aux véhicules des clients en stationnement dans
							l’enceinte
							<br> de l’établissement exploité par l’assuré : limité à {{ 50000 | currencyFormat }} par sinistre et par an
						</li>
						<li>
							<i class="fa fa-check"></i>Pertes de recette ou honoraires (période d'indemnisation PI de 12 Mois) : {{
							vm.perteRecettes | currencyFormat
							}} </li>
						<li>
							<i class="fa fa-check"></i>Perte de valeur vénale du fond de commerce : {{ vm.perteValeurVenale | currencyFormat
							}} </li>
						<li>
							<i class="fa fa-check"></i>Frais supplémentaires : {{ vm.fraiSupplementaires | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Dommages aux marchandises et matériels transportés pour compte propre : limité à {{
							10000 | currencyFormat
							}} par sinistre et par an </li>
						<li>
							<i class="fa fa-check"></i>Contenu garanti : pour les garanties incendie, tempêtes, vandalisme, dégâts des eaux
							: limité à {{ 5000
							| currencyFormat }}par sinistre et par an </li>
						<li>
							<i class="fa fa-check"></i>Contenu garanti : pour la garantie vol : limité à {{ 2500 | currencyFormat }} par
							sinistre et par an </li>
					</ul>
					<h5>AUTRES GARANTIES</h5>
					<ul>
						<li>
							<i class="fa fa-check"></i>Catastrophes naturelles</li>
						<li>
							<i class="fa fa-check"></i>Vol / Espèces ou valeurs mobilières</li>
						<li>
							<i class="fa fa-check"></i>Vol / Autres fonds et valeurs </li>
						<li>
							<i class="fa fa-check"></i>Dommages lors des salons, des foires et manifestations</li>
						<li>
							<i class="fa fa-check"></i>Biens mobiliers professionnels en tous lieux</li>
						<li>
							<i class="fa fa-check"></i>Assistance</li>
						<li>
							<i class="fa fa-check"></i>Attentats et actes de terrorisme</li>
					</ul>
				</div>
			</div>
			<% } else { %>
			<div class="offre-details">
				<div class="offre-content">
					<h5>LISTE DES GARANTIES </h5>
					<ul>
						<li>
							<i class="fa fa-check"></i>Incendie et événements annexes : {{ vm.incendieEvenement | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Incendie / Reconstitution d'archives : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Tempête / grêle et neige / gel : {{ vm.tempeteGrele | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Tempête / Reconstitution d'archives : {{ 3656 | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Vandalisme : {{ vm.vandalisme | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Vandalisme / Reconstitution d'archives  : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Dommages électriques : maximum {{ 15000 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Bris de machines : maximum {{ 60000 | currencyFormat }} par sinistre dans la limite
							de {{ 20000 | currencyFormat
							}} par machine </li>
						<li>
							<i class="fa fa-check"></i>Tous risques ordinateurs portable : maximum {{ 10000 | currencyFormat }} par sinistre
							et par an </li>
						<li>
							<i class="fa fa-check"></i>Marchandises en chambre froide (vaccin inclus) : maximum {{ 10000 | currencyFormat }}
							par sinistre </li>
						<li>
							<i class="fa fa-check"></i>Dégâts des eaux : {{ vm.degatEaux | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>DDE / Reconstitution d'archives : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Bris de glaces et Enseignes : {{ 15000 | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Bris de glaces des vérandas : {{ 10000 | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Vol : {{ vm.vol | currencyFormat }}</li>
						<li>
							<i class="fa fa-check"></i>Vol / Reconstitution d'archives : {{ 3656 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>En tiroir-caisse : {{ 2500 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>En coffre-fort : {{ 5000 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Vol / Agression dans les locaux et fonds transportés : {{ 5000 | currencyFormat }}
						</li>
						<li>
							<i class="fa fa-check"></i>Garantie des événements non dénommés : {{ 50000 | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Garantie des évènements naturels à caractère exceptionnel : {{
							vm.garantieEvenementNaturel | currencyFormat
							}} </li>
						<li>
							<i class="fa fa-check"></i>Garantie automatique des investissements : limité à {{ 50000 | currencyFormat }} par
							sinistre et par
							an </li>
						<li>
							<i class="fa fa-check"></i>Assurance du mobilier personnel et des biens confiés : maximum {{ 3000 |
							currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Dont Objets précieux : 10% pour les objets précieux, mini {{ 2000 | currencyFormat }}
							et maximum {{ 5000
							| currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Détériorations accidentelles aux véhicules des clients en stationnement dans
							l’enceinte
							<br> de l’établissement exploité par l’assuré : limité à {{ 50000 | currencyFormat }} par sinistre et par an
						</li>
						<li>
							<i class="fa fa-check"></i>Pertes de recette ou honoraires (période d'indemnisation PI de 12 Mois) : {{
							vm.perteRecettes | currencyFormat
							}} </li>
						<li>
							<i class="fa fa-check"></i>Perte de valeur vénale du fond de commerce : {{ vm.perteValeurVenale | currencyFormat
							}} </li>
						<li>
							<i class="fa fa-check"></i>Frais supplémentaires : {{ vm.fraiSupplementaires | currencyFormat }} </li>
						<li>
							<i class="fa fa-check"></i>Dommages aux marchandises et matériels transportés pour compte propre : limité à {{
							10000 | currencyFormat
							}} par sinistre et par an </li>
						<li>
							<i class="fa fa-check"></i>Contenu garanti : pour les garanties incendie, tempêtes, vandalisme, dégâts des eaux
							: limité à {{ 5000
							| currencyFormat }}par sinistre et par an </li>
						<li>
							<i class="fa fa-check"></i>Contenu garanti : pour la garantie vol : limité à {{ 2500 | currencyFormat }} par
							sinistre et par an
						</li>
					</ul>
					<h5>AUTRES GARANTIES</h5>
					<ul>
						<li>
							<i class="fa fa-check"></i>Catastrophes naturelles</li>
						<li>
							<i class="fa fa-check"></i>Vol / Espèces ou valeurs mobilières</li>
						<li>
							<i class="fa fa-check"></i>Vol / Autres fonds et valeurs </li>
						<li>
							<i class="fa fa-check"></i>Dommages lors des salons, des foires et manifestations</li>
						<li>
							<i class="fa fa-check"></i>Biens mobiliers professionnels en tous lieux</li>
						<li>
							<i class="fa fa-check"></i>Assistance</li>
						<li>
							<i class="fa fa-check"></i>Attentats et actes de terrorisme</li>
					</ul>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>