<div class="home-slider">
	<div class="header-page">
		<%- partial('../partials/header-top'); %>
	</div>
	<div class="container">
		<div class="home-slider-carousel owl-carousel owl-theme">
			<div class="item">
				<div class="item-content">
					<div class="slider-vertical" data-animation-in="fadeInLeft">
						<div class="slider-content">
							<h2>le 1 er courtier d'assurance</h2>
							<div class="m-b-20"></div>
							<div class="home-slider-notif big-notif" data-animation-in="fadeInLeft">
								<p class="big-100">100%vétos</p>
							</div>
						</div>
					</div>
					<div class="slider-image-content">
						<div class="slider-image" data-animation-in="fadeInRight">
							<img src="images/externe/slide0.png">
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item-content">
					<div class="slider-vertical" data-animation-in="fadeInLeft">
						<div class="slider-content">
							<h4>RESPONSABILITÉ CIVILE PROFESSIONNELLE</h4>
							<h2>Des produits d'assurance uniques, exclusivement dédiés aux vétérinaires</h2>
							<!-- <h3>ET VOTRE ASSURANCE ?</h3> -->
							<div class="division"></div>
							<div class="desktop-content" data-animation-in="fadeInLeft">
								<p>Découvrez ce que Vetoptim vous propose de mieux</p>
								<a href="/responsabilite-civile" class="button button-skyblue">EN SAVOIR PLUS</a>
							</div>
						</div>
					</div>
					<div class="slider-image-content">
						<div class="slider-image" data-animation-in="fadeInRight">
							<img src="images/externe/slide1.png">
						</div>
						<div class="home-slider-notif" data-animation-in="fadeInLeft">
							<p>100%vétos</p>
						</div>
					</div>
					<div class="mobile-content" data-animation-in="fadeInLeft">
						<p>Découvrez ce que Vetoptim vous propose de mieux</p>
						<a href="/responsabilite-civile" class="button button-skyblue">EN SAVOIR PLUS</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item-content">
					<div class="slider-vertical" data-animation-in="fadeInLeft">
						<div class="slider-content">
							<h4>MULTIRISQUE PROFESSIONNELLE</h4>
							<h2>VOUS ÊTES VÉTÉRINAIRE, VOTRE MÉTIER EST UNIQUE</h2>
							<h3>ET VOTRE ASSURANCE ?</h3>
							<div class="division"></div>
							<div class="desktop-content" data-animation-in="fadeInLeft">
								<!-- <p>Découvrez ce que le 1er courtier 100% VETOS vous propose de mieux</p> -->
								<a href="/multirisque-professionelles" class="button button-skyblue">EN SAVOIR PLUS</a>
							</div>
						</div>
					</div>
					<div class="slider-image-content">
						<div class="slider-image" data-animation-in="fadeInRight">
							<img src="images/externe/slide2.png">
						</div>
						<div class="home-slider-notif" data-animation-in="fadeInLeft">
							<p>100%vétos</p>
						</div>
					</div>
					<div class="mobile-content" data-animation-in="fadeInLeft">
						<!-- <p>Découvrez ce que le 1er courtier 100% VETOS vous propose de mieux</p> -->
						<a href="/multirisque-professionelles" class="button button-skyblue">EN SAVOIR PLUS</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item-content">
					<div class="slider-vertical" data-animation-in="fadeInLeft">
						<div class="slider-content">
							<h4>Responsabilité civile des vétérinaires</h4>
							<h2>Le seul contrat qui garantit tous les intervenants</h2>
							<!-- <h3>ET VOTRE ASSURANCE ?</h3> -->
							<div class="division"></div>
							<div class="desktop-content" data-animation-in="fadeInLeft">
								<!-- <p>Découvrez ce que le 1er courtier 100% VETOS vous propose de mieux</p> -->
								<a href="/responsabilite-civile" class="button button-skyblue">EN SAVOIR PLUS</a>
							</div>
						</div>
					</div>
					<div class="slider-image-content">
						<div class="slider-image" data-animation-in="fadeInRight">
							<img src="images/externe/slide3.png">
						</div>
						<div class="home-slider-notif" data-animation-in="fadeInLeft">
							<p>100%vétos</p>
						</div>
					</div>
					<div class="mobile-content" data-animation-in="fadeInLeft">
						<!-- <p>Découvrez ce que le 1er courtier 100% VETOS vous propose de mieux</p> -->
						<a href="/responsabilite-civile" class="button button-skyblue">EN SAVOIR PLUS</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="choisir-vetoptim avantage-home">
		<div class="container">
			<%- partial('../components/avantages-vetoptim'); %>
		</div>
	</div>
</div>

<div class="section-padder section-intervention">
	<div class="container" id="interventions" ng-controller="SimulationCRController as vm">
		<%- partial('../components/domaines-interventions'); %>
	</div>
</div>
<div class="section-padder section-advantage">
	<div class="container">
		<h2 class="title-section color-white">DÉCOUVREZ TOUTES NOS OFFRES</h2>
		<div class="offres-carousel owl-carousel owl-theme">
			<div class="item">
				<span class="icon icon-activite"></span>
				<h3>100%
					<br>VÉTOS</h3>
				<hr>
				<div class="advantage-desc">
					<p>Nos offres et vos interlocuteurs sont 100 % Vétos.
						<br>Nous accompagnons votre pratique de l’Art vétérinaire</p>
				</div>
			</div>
			<div class="item">
				<span class="icon icon-solution-unique"></span>
				<h3>DES SOLUTIONS
					<br>UNIQUES</h3>
				<hr>
				<div class="advantage-desc">
					<p>À votre écoute, nous anticipons, innovons, diagnostiquons, concevons et élaborons des solutions uniques, des
						plus simples
						aux plus sophistiquées.</p>
				</div>
			</div>
			<div class="item">
				<span class="icon icon-simplicite"></span>
				<h3>OPTIMALE PAR
					<br>SA SIMPLICITÉ</h3>
				<hr>
				<div class="advantage-desc">
					<p>Des conditions de souscription simple et rapide.
						<br>Un espace personnel pour faciliter la gestion de vos contrats</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-padder section-testimony">
	<div class="container">
		<h2 class="title-section color-blue">LE SAVIEZ VOUS ?</h2>
		<div class="testimony-carousel owl-carousel owl-theme">
			<div class="item">
				<div class="item-testimony">
					<div class="testimony-body">
						<h4>EN CAS DE SINISTRE INCENDIE, DEGATS DES EAUX...
							<br>QU'AVEZ-VOUS PREVU?</h4>
						<p>Certains contrats ne vous couvrent ni pour la perte d'exploitation, ni pour la perte de votre chiffre
							d'affaire;
							Avec le contrat VETOPTIM vous avez
							une
							garantie qui couvre vos frais supplémentaires et vos pertes de revenus.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item-testimony">
					<div class="testimony-body">
						<h4>VOTRE PROTECTION PEUT-ÊTRE
							<br>ENGAGÉE</h4>
						<p>Certains contrats du marché ne couvrent pas
							<strong>tous les actes des collaborateurs libéraux, des itinérants et de vos ASV</strong>. En cas de sinistre,
							<strong>votre responsabilité peut-être engagée</strong> au titre de l’activité professionnelle.
							<br> Le contrat RC Pro VETOPTIM vous protège sur toutes ces situation. Vous travaillez en toute sérénité</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% if ( !req.user || req.user && !req.user.isCommercial) { %>
<div class="padder-v-60 section-devis">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>OBTENEZ UN TARIF EN QUELQUES SECONDES</h3>
			</div>
			<div class="col-md-6 text-center">
				<a href="/offres" class="button button-white">
					<span class="icon icon-pourcentage"></span>FAIRE UNE SIMULATION</a>
			</div>
		</div>
	</div>
</div>
<% } %>
<div class="section-padder section-partner">
	<div class="container">
		<h2 class="title-section color-blue">NOS PARTENAIRES</h2>
		<div class="partner-carousel owl-carousel owl-theme">
			<div class="item">
				<img src="images/externe/partner1.png">
			</div>
			<div class="item">
				<img src="images/externe/partner2.png">
			</div>
			<div class="item">
				<img src="images/externe/partner3.png">
			</div>
			<div class="item">
				<img src="images/externe/partner4.png">
			</div>
			<div class="item">
				<a href="https://www.adnvetconseil.fr/" target="_blank"><img src="images/externe/partner7.png"></a>
			</div>
			<div class="item">
				<img src="images/externe/partner5.png">
			</div>
			<div class="item">
				<img src="images/externe/partner6.png">
			</div>
			<div class="item">
				<a href="https://www.axa.fr/" target="_blank"><img src="images/externe/partner8.png"></a>
			</div>
		</div>
	</div>
</div>