<div ng-controller="CMSController as vm">
    <h2>Mes page</h2>
    <ul class="example-animate-container">
        <li ng-repeat="page in vm.user.user.page">
            {{ page.title }} <a href="#" ng-click="vm.updatePage(page.id)">Modifier</a> <a href="#" ng-click="vm.deletePage(page.id)">Supprimer</a>
        </li>
        <li ng-if="vm.user.user.page.length === 0">
            <strong>Aucune page trouvée</strong>
        </li>
    </ul>
</div>