<%- partial('../partials/header-page', {'title': ''}); %>
<% if(type !== 'MD' || type !== 'RCMS') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2><span class="icon icon-securise"></span>Connexion</h2>
    </div>
</div>
<% } else { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2><span class="icon icon-securise"></span>Connexion</h2>
    </div>
</div>
<% } %>
<div class="content-section" <% if (type==='CR' ) { %>
    ng-controller="SimulationCRController as vm">
    <% } else if (type==='PMR') { %>
    ng-controller="SimulationPMRController as vm">
    <% } else if (type==='PMRCR') { %>
    ng-controller="SimulationPMRCRController as vm">
    <% } else if (type==='MD') { %>
    ng-controller="SimulationMDController as vm">
    <% } else if (type==='RCMS') { %>
    ng-controller="SimulationRCMSController as vm">
    <% } %>
    <div class="container">
        <div class="btn-return">
            <a href="javascript:history.back()
            "><span class="icon icon-return"></span>RETOUR</a>
        </div>
        <div class="success-souscription m-t-80">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="icon-souscription"><span class="icon icon-securise"></span></p>
                    <h2 class="title-section-simple color-grey">Connectez-vous à votre compte !</h2>
                    <h3>Vous avez déjà un compte avec l'email<br><b>{{ vm.email }}</b></h3>
                    <div class="division"></div>
                    <div class="m-b-20"></div>
                    <p>Veuillez vous connecter à votre compte pour pouvoir continuer</p>
                    <br>
                    <a href="/register" class="button button-skyblue"><span class="icon icon-user"></span>Connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>