<%- partial('../partials/header-page', {'title': ''}); %>
<% if(type !== 'MD' || type !== 'RCMS') { %>
<div class="header-title bg-blue">
    <div class="container">
        <h2>
            <span class="icon icon-contact"></span>Compte créé</h2>
    </div>
</div>
<% } else { %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon icon-contact"></span>Compte créé</h2>
    </div>
</div>
<% } %>
<div class="content-section" ng-controller="SimulationCRController as vm">
    <div class="container">
        <div class="success-souscription m-t-80">
            <div class="row m-b-50">
                <div class="col-md-8 offset-md-2">
                    <p class="icon-souscription">
                        <span class="icon icon-contact"></span>
                    </p>
                    <h2 class="title-section-simple color-grey">Félicitations</h2>
                    <h3>Votre compte a été créé avec succès</h3>
                    <div class="division"></div>
                    <div class="m-b-20"></div>
                    <p>Veuillez consulter votre adresse email
                        <b>{{ vm.registrationEmail }} </b> afin d'activer votre compte
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="div-form">
                        <form class="steps-form" ng-submit="vm.verifyActivationCode()" data-toggle="validator" role="form">
                            <h4 class="form-title-recap color-skyblue">Veuillez saisir le code d'activation reçu dans
                                votre email</h4>
                            <div class="form-group">
                                <input type="text" name="verifCode" class="form-control" ng-model="vm.verifCode"
                                    placeholder="CODE D'ACTIVATION" required>
                            </div>
                            <div ng-if="vm.error">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{vm.error}}
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="button button-skyblue">Vérifier</button>
                                <br>
                            </div>
                        </form>
                    </div>
                    <br>
                    <p>
                        <a href="javascript:void(0)" class="color-skyblue underline" ng-click="vm.getResendActivationEmail()">Renvoyer
                            le lien</a>
                    </p>
                    <br>
                    <div ng-if="vm.success">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{vm.success}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="/register" class="button button-skyblue"><span class="icon icon-user"></span>Se connecter</a> -->
        </div>
    </div>
</div>