<%- partial('../partials/header-page', {'title': 'Connexion / Inscription'}); %>
<div class="content-section">
    <div class="container">
        <div class="row m-t-50" ng-controller="AuthController as vm">
            <div class="col-md-4 offset-md-1">
                <div class="div-form">
                    <form class="steps-form" ng-submit="vm.login()" data-toggle="validator" role="form">
                        <h4 class="form-title-recap color-skyblue">J’AI UN COMPTE</h4>
                        <div class="form-group">
                            <input type="text" name="login" class="form-control" ng-model="vm.user.login" placeholder="IDENTIFIANT"
                                required>
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" ng-model="vm.user.password" class="form-control"
                                placeholder="MOT DE PASSE" required>
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <% if ( !_.isUndefined(success) ) { %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= success %>
                        </div>
                        <% } %>
                        <% if ( !_.isUndefined(error) ) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= error %>
                        </div>
                        <% } %>
                        <div ng-if="vm.loginSuccess">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{vm.loginSuccess}}
                            </div>
                        </div>
                        <div ng-if="vm.loginError">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{vm.loginError}}
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="button button-skyblue">Connexion</button><br>
                            <a href="javascript:void(0)" class="learn-more toggle-form">Mot de passe oublié ?</a>
                        </div>
                    </form>
                </div>
                <div class="div-form" style="display: none;">
                    <form class="steps-form" ng-submit="vm.getResetPassword()" data-toggle="validator" role="form">
                        <h4 class="form-title-recap color-skyblue">MOT DE PASSE OUBLIÉ ?</h4>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" ng-model="vm.user.resetemail"
                                placeholder="EMAIL" required>
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <div ng-if="vm.resetSuccess">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{vm.resetSuccess}}
                            </div>
                        </div>
                        <div ng-if="vm.resetError">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{vm.resetError}}
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="button button-skyblue">Envoyer</button><br>
                            <a href="javascript:void(0)" class="learn-more toggle-form">Connexion ?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <form class="steps-form" ng-submit="vm.register()" data-toggle="validator" role="form">
                    <h4 class="form-title-recap color-skyblue">JE CRÉE MON COMPTE</h4>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" ng-model="vm.user.emailr" placeholder="EMAIL"
                            required>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="N° Télephone" ng-model="vm.user.mobiler"
                            required>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPasswordRegister" ng-model="vm.user.passwordr"
                            data-minlength="4" placeholder="Mot de passe" data-error="4 caractères au minimum" required>
                        <div class="help-block with-errors text-right"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" data-match="#inputPasswordRegister"
                            data-match-error="Confirmation de mot de passe invalide" placeholder="Confirmation de votre mot de passe"
                            required>
                        <div class="help-block with-errors text-right"></div>
                    </div>

                    <div ng-if="vm.registerSuccess">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{vm.registerSuccess}}
                        </div>
                    </div>
                    <div ng-if="vm.registerError">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{vm.registerError}}
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="button button-skyblue">CRÉER UN COMPTE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>