<!-- Formulaire de réinitialisation du mot de passe -->
<div class="content-section">
    <div class="container">
        <div class="row m-t-50">
            <div class="col-md-5 offset-md-3 m-t-50">
                <h4 class="form-title-recap color-skyblue">Réinitialiser le mot de passe</h4>
                <div class="step-content login">
                    <form method="post" action="/resetPassword" data-toggle="validator">
                        <input type="hidden" name="token" value="<%=token%>" />
                        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                        <% if (admin) { %>
                        <input type="hidden" name="admin" value="<%=admin%>" />
                        <% } %>
                        <div class="form-group">
                            <input type="password" name="password" id="inputPasswordReset" class="form-control"
                                data-minlength="4" placeholder="Nouveau mot de passe" data-error="Veuillez renseigner le nouveau mot de passe"
                                required="">
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" data-match="#inputPasswordReset" class="form-control" data-minlength="4"
                                placeholder="Confirmer le nouveau mot de passe" data-error="Veuillez confirmer le mot de passe"
                                data-match-error="Ceux-ci ne correspondent pas" required="">
                            <div class="help-block with-errors text-right"></div>
                        </div>
                        <% if ( !_.isUndefined(error) ) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= error %>
                        </div>
                        <% } %>
                        <div class="form-group text-center">
                            <button type="submit" class="button button-skyblue">Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>