<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-blue">
	<div class="container">
		<h2>
			<span class="icon icon-responsabilite"></span>MULTIRISQUE PROFESSIONNELLE DES VÉTÉRINAIRES
		</h2>
	</div>
</div>
<div class="content-section" ng-controller="OfferTypeChooser as vm">
	<div class="container">
		<div class="btn-return">
			<a href="javascript:history.back()" class="">
				<span class="icon icon-return"></span>RETOUR</a>
		</div>
		<div class="center-content">
			<!-- <h2 class="color-blue">MULTIRISQUE PROFESSIONNELLE DES VETERINAIRES</h2> -->
			<h4 class="color-blue uppercase">Des garanties 100% Vétos, pour une protection optimale de votre activité</h4>
		</div>
		<div class="responsabilite-section text-center m-t-40">
			<div class="row">
				<div class="col-xl-4 d-none d-xl-block">
					<img src="images/externe/offremrp.png" height="200px">
				</div>
				<div class="col-xl-8 col-lg-12">
					<div class="responsabilite-carousel owl-carousel owl-theme">
						<div class="item">
							<h3 class="color-blue">UNE COTISATION AU JUSTE PRIX</h3>
							<p>Calculée en fonction de votre chiffre d’affaires à l’euro près, pour s’adapter au mieux aux besoins de chaque
								vétérinaire !
							</p>
						</div>
						<div class="item">
							<h3 class="color-blue">PLUS DE PROXIMITÉ</h3>
							<p>Un accompagnement personnalisé, avec des points réguliers, pour s’assurer que vos garanties sont toujours en
								adéquation
								avec l’évolution de votre activité.</p>
						</div>
						<div class="item">
							<h3 class="color-blue">UNE COUVERTURE ÉTENDUE</h3>
							<p>Vous êtes couvert en cas de perte d'activité, mais aussi dédommagé pour vos<br> frais annexes !
								<br>(ex : réinstallation provisoire)
							</p>
						</div>
						<div class="item">
							<h3 class="color-blue">UNE FIDÉLITÉ RÉCOMPENSÉE</h3>
							<p>Vous ouvrez un second cabinet ?
								<br>Nous vous assurons un tarif fixe encore plus avantageux.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="responsabilite-mobile">
				<div class="row row-eq-height m-b-30">
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">UNE COTISATION AU JUSTE PRIX</h3>
							<p>Calculée en fonction de votre chiffre d’affaires à l’euro près, pour s’adapter au mieux aux besoins de chaque
								vétérinaire !
							</p>
						</div>
					</div>
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">PLUS DE PROXIMITÉ</h3>
							<p>Un accompagnement personnalisé, avec des points réguliers, pour s’assurer que vos garanties sont toujours en
								adéquation
								avec l’évolution de votre activité.</p>
						</div>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full m-">
							<h3 class="color-blue">UNE COUVERTURE MAXIMALE</h3>
							<p>Vous êtes couvert en cas de perte d'activité, mais aussi dédommagé pour vos frais annexes !
								<br>(ex : réinstallation provisoire)
							</p>
						</div>
					</div>
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full m-">
							<h3 class="color-blue">UNE FIDÉLITÉ RÉCOMPENSÉE</h3>
							<p>Vous ouvrez un second cabinet ?
								<br>Nous vous assurons un tarif fixe encore plus avantageux.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-t-30 m-b-40 division-full"></div>
		<div class="responsabilite-content">
			<div class="text-center" ng-controller="OfferTypeChooser as vm">
				<% if ( !req.user || req.user && !req.user.isCommercial) { %>
				<a href="javascript:void(0)" ng-click="vm.setOfferType('PMR')" class="button button-pink disabled"><span class="icon icon-pourcentage"></span>
					JE FAIS UNE SIMULATION <span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
				<% } else { %>
				<a href="javascript:void(0)" ng-click="vm.setCommercialOfferType('PMR')" class="button button-pink disabled"><span
					 class="icon icon-pourcentage"></span> AJOUTER
					CONTRAT <span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
				<% } %>
				</a>
			</div>
			<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="bref-tab" data-toggle="tab" href="#bref" role="tab" aria-controls="bref"
					 aria-selected="true">
						<span>EN BREF</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail"
					 aria-selected="false">
						<span>EN DÉTAILS</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="savoir-tab" data-toggle="tab" href="#savoir" role="tab" aria-controls="savoir"
					 aria-selected="false">
						<span>BON À SAVOIR</span>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="bref" role="tabpanel" aria-labelledby="bref-tab">
					<div class="tab-header">
						<a class="uppercase" href="">en bref
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<p>L'assurance multirisque professionnelle est une assurance complète qui couvre les biens mobiliers et
							immobiliers de votre clinique. C’est une assurance indispensable car elle garantit les biens
							et l’activité de l’entreprise, assurant ainsi sa pérennité.
						</p>
						<h4 class="form-title-recap color-skyblue m-b-20-imp uppercase">ET EN PLUS…</h4>
						<ul class="responsabilite-liste">
							<li>
								<p>Contenu garanti jusqu’à
									<span class="bold">400 000 €</span>
								</p>
							</li>
							<li>
								<p>Garantie des marchandises et vaccins en chambre froide jusqu’à
									<span class="bold">10 000 €</span>, notre protection s’adapte à votre métier.
								</p>
							<li>
								<p>Bris de glace et enseigne couverts jusqu’à
									<span class="bold">15 000 €</span>.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="detail" role="tabpanel" aria-labelledby="detail-tab">
					<div class="tab-header">
						<a class="uppercase" href="">en détails
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<ul class="garanties-liste">
							<li>
								<div class="garanties multiple">
									<ul class="liste-garantie">
										<li>
											<div class="left-nature">NATURE DE LA GARANTIE</div>
											<div class="right">
												<ul class="right-liste header">
													<li>
														<div class="content">SOUSCRITE</div>
													</li>
													<li>
														<div class="content">LIMITE DE GARANTIES</div>
													</li>
													<li>
														<div class="content">CAPITAUX</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Incendie et évènements annexes</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">100%</span> du capital contenu</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Incendie / Reconstitution d'archives</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Tempête - grêle et neige -gel</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">100%</span> du capital contenu</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Tempête / Reconstitution d'archives</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Vandalisme</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">100%</span> du capital contenu</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Vandalisme / Reconstitution d'archives</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Catastrophes naturelles</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Dommages électriques</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															maxi
															<span class="bold color-skyblue">{{ 15000 | currencyFormat }} </span>par risque</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 15000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Bris de machines</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<p>maxi
																<span class="bold color-skyblue">{{ 60000 | currencyFormat }}</span> par sinistre</p>
															<p>dans la limite de
																<span class="bold color-skyblue">{{ 20000 | currencyFormat }}</span> par machine
														</div>
														</p>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 20000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Tous risques ordinateurs portables</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															maxi
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span> par sinistre et par an</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Marchandise en chambre froide (vaccin inclus)</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															maxi
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span> par sinistre</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Dégâts des eaux</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">100 %</span> du capital contenu</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>DDE / Reconstitution d'archives</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Bris de glaces et Enseignes</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 15000 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 15000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Bris de glaces et vérandas</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Vol</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">50 %</span> du capital contenu</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 200000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Vol / Reconstitution d'archives</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 3705 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Vol / Espèces ou valeurs mobilières (2)</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>En tiroir-caisse</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>En coffre-fort</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Vol / Autres fonds et valeurs</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">NON</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Vol / Agression dans les locaux et fonds transportés</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Garantie des évènements non dénommés</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Garantie des évènements naturels à caractère exceptionnel</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">100 % </span> du capital contenu</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 400000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Garantie automatique des investissements</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															limité à
															<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span> par sinistre et par an</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Assurance du mobilier, objets personnels et des biens confiés</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">15% </span>du capital VOL
															<br>maxi
															<span class="bold color-skyblue">{{ 30000 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 30000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Dont Objets de valeur et Objets précieux</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															dont
															<span class="bold color-skyblue">20 %</span> pour les objets précieux, maxi
															<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Détériorations accidentelles aux véhicules des clients en stationnement dans l’enceinte de
														l’établiessement
														exploité par l’assuré</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															limité à
															<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span> par sinistre et par an
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Pertes de recette ou honoraires (période d’indemnisatiion PI de 12 mois)</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">100 %</span> du chiffre d’affaires
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 700000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Perte de valeur vénale du fond de commerce</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">100 %</span> du chiffre d’affaires
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 700000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais supplémentaires</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">20 %</span> du capital assuré en pertes de recettes
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 140000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Pertes d’exploitation</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">NON</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Responsabilité civile entreprise</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Protection juridique</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Pack installations des énergies renouvelables</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">NON</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Dommages lors des salons, des foires et manifestations</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Dommages aux marchandises et matériels transportés pour compte propre</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															limité à
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span> par sinistre et par an
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 10000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Biens mobiliers professionels en tous lieux :</h5>
												</div>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Contenu garanti : pour les garanties incendie, tempêtes, vandalisme, dégâts des eaux</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															limité à
															<span class="bold color-skyblue">{{ 50000 | currencyFormat }}</span> par sinistre et par an
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 5000 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Contenu garanti : pour la garantie vol</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															limité à
															<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span> par sinistre et par an
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 2500 | currencyFormat }}</span>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Assistance</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Attentats et actes de terrorisme</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">OUI</div>
													</li>
													<li>
														<div class="content">
															Sans objet
														</div>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="savoir" role="tabpanel" aria-labelledby="savoir-tab">
					<div class="tab-header">
						<a class="uppercase" href="">bon à savoir
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<p>Si vous ouvrez un cabinet secondaire, vous bénéficiez automatiquement de 10% de réduction sur votre second
							contrat,
							votre fidélité est récompensée.</p>
						<p>Vos locaux sont garantis sans déclaration jusqu’à 1000 m2 pour un même risque à la même adresse, vous pouvez
							ainsi
							décider d’agrandir votre surface sans avoir besoin de faire des déclarations supplémentaires, vos garanties sont
							maintenues.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="m-t-40 m-b-40 division-full"></div>
		<%- partial('../../components/avantages-vetoptim'); %>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>