<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-skyblue">
	<div class="container">
		<h2>
			<span class="icon icon-responsabilite"></span>Mutuelle des dirigeants non salariés</h2>
	</div>
</div>
<div class="content-section">
	<div class="container">
		<div class="btn-return">
			<a href="javascript:history.back()" class="">
				<span class="icon icon-return"></span>RETOUR</a>
		</div>
		<div class="center-content">
			<!-- <h2 class="color-blue">Mutuelle entreprise Santé +</h2> -->
			<h4 class="color-blue uppercase">Une complémentaire Santé performante qui s’adapte à vos besoins</h4>
		</div>
		<div class="responsabilite-section text-center m-t-40">
			<div class="row">
				<div class="col-xl-4 d-none d-xl-block">
					<img src="images/externe/intervention2.png">
				</div>
				<div class="col-xl-8 col-lg-12">
					<div class="responsabilite-carousel owl-carousel owl-theme">
						<div class="item">
							<h3 class="color-blue">DES GARANTIES QUI FONT LA DIFFERENCE</h3>
							<p>Avec la garantie assistance, pour pallier une perte d’autonomie ou faire face à un évènement imprévu:
								hospitalisation,
								y compris en ambulatoire, immobilisation à domicile, décès, maternité, pathologies lourdes.</p>
						</div>
						<div class="item">
							<h3 class="color-blue">UNE PROTECTION JURIDIQUE MEDICALE EFFICACE</h3>
							<p>Elle permet de faire valoir ses droits et de prendre en charge les frais jusqu’à 20 000 €, en cas de
								litige opposant à un professionnel de santé, ou un établissement de soins.</p>
						</div>
						<div class="item">
							<h3 class="color-blue">UNE EVOLUTION DU TARIF MAITRISEE</h3>
							<p>Pour la santé des dirigeants qu’ils soient salariés ou non, Vetoptim a choisi de travailler avec une
								mutuelle, ce qui lui permet de bénéficier d’une augmentation des cotisations modérée, car indexée sur le
								plafond mensuel de la sécurité
								sociale.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="responsabilite-mobile">
				<div class="row row-eq-height m-b-30">
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">DES GARANTIES QUI FONT LA DIFFERENCE</h3>
							<p>Avec la garantie assistance, pour pallier une perte d’autonomie ou faire face à un évènement imprévu:
								hospitalisation, y compris en ambulatoire, immobilisation à domicile, décès, maternité, pathologies lourdes.</p>
						</div>
					</div>
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">UNE PROTECTION JURIDIQUE MEDICALE EFFICACE</h3>
							<p>Elle permet de faire valoir ses droits et de prendre en charge les frais jusqu’à 20 000 Euros, en cas de
								litige opposant à un professionnel de santé, ou un établissement de soins.</p>
						</div>
					</div>
				</div>
				<div class="row row-eq-height m-b-30">
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">UNE EVOLUTION DU TARIF MAITRISEE</h3>
							<p>Pour la santé des dirigeants qu’ils soient salariés ou non, Vetoptim a choisi de travailler avec une
								mutuelle, ce qui lui permet de bénéficier d’une augmentation des cotisations modérée, car indexée sur le
								plafond mensuel de la
								sécurité sociale.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-t-30 m-b-40 division-full"></div>
		<div class="responsabilite-content">
			<div class="text-center" ng-controller="OfferTypeChooser as vm">
				<% if ( !req.user || req.user && !req.user.isCommercial) { %>
				<a href="javascript:void(0)" ng-click="vm.setOfferType('MD')" class="button button-pink disabled"><span class="icon icon-pourcentage"></span>
					JE FAIS UNE SIMULATION <span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
				<% } else { %>
				<a href="javascript:void(0)" ng-click="vm.setCommercialOfferType('MD')" class="button button-pink disabled"><span
					 class="icon icon-pourcentage"></span> AJOUTER
					CONTRAT <span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
				<% } %>
			</div>
			<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="bref-tab" data-toggle="tab" href="#bref" role="tab" aria-controls="bref"
					 aria-selected="true">
						<span>EN BREF</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail"
					 aria-selected="false">
						<span>EN DÉTAILS</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="savoir-tab" data-toggle="tab" href="#savoir" role="tab" aria-controls="savoir"
					 aria-selected="false">
						<span>BON À SAVOIR</span>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="bref" role="tabpanel" aria-labelledby="bref-tab">
					<div class="tab-header">
						<a class="uppercase" href="">en bref
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<ul class="responsabilite-liste">
							<li>
								<h4 class="form-title-recap color-skyblue m-b-20-imp uppercase">ET EN PLUS…</h4>
								<p>Contrat éligible à la loi Madelin.</p>
								<p>6 formules au choix</p>
								<p>Les enfants sont couverts jusqu’à 26 ans.</p>
								<p>Souscription sans limite d’âge.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="detail" role="tabpanel" aria-labelledby="detail-tab">
					<div class="tab-header">
						<a href="">EN DÉTAILS
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<ul class="garanties-liste">
							<li>
								<div class="garanties multiple">
									<ul class="liste-garantie">
										<li class="m-b-20-imp">
											<div class="left bg-none"></div>
											<div class="right">
												<ul class="right-liste header">
													<li>
														<div class="content">1</div>
													</li>
													<li>
														<div class="content">2</div>
													</li>
													<li>
														<div class="content">3</div>
													</li>
													<li>
														<div class="content">4</div>
													</li>
													<li>
														<div class="content">5</div>
													</li>
													<li>
														<div class="content">6</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="d-block">
											<h4 class="form-title-recap color-skyblue m-b-20-imp">HOSPITALISATION MÉDICALE OU CHIRURGICALE</h4>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais de séjours</h5>
													<p class="font-s-12">ÉTABLISSEMENTS CONVENTIONNÉS</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais de séjours</h5>
													<p class="font-s-12">ÉTABLISSEMENTS NON CONVENTIONNÉS</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">175%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Actes en secteur Hospitalier, honoraires chirurgicaux</h5>
													<p class="font-s-12">Chirurgie, Anesthésie, Réanimation: MÉDECINS ADHÉRENTS OPTAM/OPTAM-CO</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
													<li>
														<div class="content">250%</div>
													</li>
													<li>
														<div class="content">300%</div>
													</li>
													<li>
														<div class="content">400%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Actes en secteur Hospitalier, honoraires chirurgicaux</h5>
													<p class="font-s-12">Chirurgie, Anesthésie, Réanimation: MÉDECINS NON ADHÉRENTS OPTAM/OPTAM-CO</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">175%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Chambre particulière Hors ambulatoire</h5>
													<p class="font-s-12">Maladie, Chirurgie, Maternité: DURÉE ILLIMITÉE</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">35 €/jour</div>
													</li>
													<li>
														<div class="content">45 €/jour</div>
													</li>
													<li>
														<div class="content">65 €/jour</div>
													</li>
													<li>
														<div class="content">75 €/jour</div>
													</li>
													<li>
														<div class="content">85 €/jour</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Chambre particulière Hors ambulatoire</h5>
													<p class="font-s-12">Réadaptation fonctionnelle, Rééducation, Moyens séjours, Cures, Convalescence,
														Psychiatrie: DURÉE LIMITÉE À
														60 JOURS/AN</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">30 €/jour</div>
													</li>
													<li>
														<div class="content">40 €/jour</div>
													</li>
													<li>
														<div class="content">60 €/jour</div>
													</li>
													<li>
														<div class="content">70 €/jour</div>
													</li>
													<li>
														<div class="content">80 €/jour</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Forfait Journalier Hospitalier</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
													<li>
														<div class="content">Frais réels</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais de transport</h5>
													<p class="font-s-12">si acceptés par le Régime Obligatoire</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">115%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">135%</div>
													</li>
													<li>
														<div class="content">145%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais d’accompagnement</h5>
													<p class="font-s-12">Conjoint, Ascendants, Descendants</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">0,75%
															<br>PMSS / jour</div>
													</li>
													<li>
														<div class="content">1,00%
															<br>PMSS / jour</div>
													</li>
													<li>
														<div class="content">1,25%
															<br>PMSS / jour</div>
													</li>
													<li>
														<div class="content">1,50%
															<br>PMSS / jour</div>
													</li>
													<li>
														<div class="content">1,50%
															<br>PMSS / jour</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Forfait naissance ou adoption</h5>
													<p class="font-s-12">PAR ENFANT</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">100 €</div>
													</li>
													<li>
														<div class="content">150 €</div>
													</li>
													<li>
														<div class="content">200 €</div>
													</li>
													<li>
														<div class="content">250 €</div>
													</li>
													<li>
														<div class="content">300 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="d-block">
											<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">MÉDECINE DE VILLE</h4>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Honoraires médicaux - Consultations Visites - Actes de spécialités (ATM)</h5>
													<p class="font-s-12">MÉDECINS ADHÉRENTS OPTAM/OPTAM-CO</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
													<li>
														<div class="content">250%</div>
													</li>
													<li>
														<div class="content">350%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Honoraires médicaux - Consultations Visites - Actes de spécialités (ATM)</h5>
													<p class="font-s-12">MÉDECINS NON ADHÉRENTS OPTAM/OPTAM-CO</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">175%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Radiologie</h5>
													<p class="font-s-12">MÉDECINS ADHÉRENTS OPTAM/OPTAM-CO</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
													<li>
														<div class="content">250%</div>
													</li>
													<li>
														<div class="content">300%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Radiologie</h5>
													<p class="font-s-12">MÉDECINS NON ADHÉRENTS OPTAM/OPTAM-CO</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">175%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais pharmaceutiques, vaccins et homéopathie</h5>
													<p class="font-s-12">REMBOURSÉS À 65 %</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais pharmaceutiques, vaccins et homéopathie</h5>
													<p class="font-s-12">REMBOURSÉS À 30 %</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Frais pharmaceutiques, vaccins et homéopathie</h5>
													<p class="font-s-12">REMBOURSÉS À 15 %</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Auxiliaires Médicaux</h5>
													<p class="font-s-12">Orthophonistes, infirmiers, kinésithérapeutes, orthoptistes</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
													<li>
														<div class="content">250%</div>
													</li>
													<li>
														<div class="content">350%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Analyse - Actes de Biologie</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
													<li>
														<div class="content">250%</div>
													</li>
													<li>
														<div class="content">350%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Fournitures et accessoires</h5>
													<p class="font-s-12">remboursés par le Régime Obligatoire</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="d-block">
											<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">MÉDECINE NATURELLE ET PRÉVENTION</h4>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Cures thermales</h5>
													<p class="font-s-12">prises en charge par le Régime Obligatoire Honoraires, Soins, Frais de transport,
														Hébergement (PAR AN ET PAR
														BÉNÉFICIAIRE)
													</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100% + forfait 150 €</div>
													</li>
													<li>
														<div class="content">100% + forfait 200 €</div>
													</li>
													<li>
														<div class="content">100% + forfait 250 €</div>
													</li>
													<li>
														<div class="content">100% + forfait 300 €</div>
													</li>
													<li>
														<div class="content">100% + forfait 400 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Médecines Douces
														<span class="font-s-12">(consultations non remboursées par le RO)</span>
													</h5>
													<p class="font-s-12">Osthéopathie, éthiopathie, chiropractie, acupuncture, homéopathie, pédicure,
														diététicien (PRISE EN CHARGE 30€/CONSULTATION)</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">30 €</div>
													</li>
													<li>
														<div class="content">60 €</div>
													</li>
													<li>
														<div class="content">90 €</div>
													</li>
													<li>
														<div class="content">120 €</div>
													</li>
													<li>
														<div class="content">150 €</div>
													</li>
													<li>
														<div class="content">180 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Actes de Prévention</h5>
													<p class="font-s-12">remboursés par le Régime Obligatoire</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">100%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Dépistage et Prévention non remboursés par le RO</h5>
													<p class="font-s-12">se reporter aux conditions générales : (PAR AN ET PAR BÉNÉFICIAIRE)</p>
													<p class="font-s-12">- Vaccin anti-grippe</p>
													<p class="font-s-12">- Vaccins prescrits non remboursés par le RO</p>
													<p class="font-s-12">- Vaccins recommandés aux voyageurs (fièvres jaune, rage, typhoïde, hépatite A,
														méningite à méningocoques...)</p>
													<p class="font-s-12">- Traitement antipaludéen pour les voyages</p>
													<p class="font-s-12">- Substituts nicotiniques pour arrêter de fumer (en complément de la Sécurité
														sociale)</p>
													<p class="font-s-12">- Médicaments de l’ostéoporose</p>
													<p class="font-s-12">- Matériel de surveillance d’hypertension homologués AFSSAPS</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100 € / an / benéf</div>
													</li>
													<li>
														<div class="content">100 € / an / benéf</div>
													</li>
													<li>
														<div class="content">100 € / an / benéf</div>
													</li>
													<li>
														<div class="content">100 € / an / benéf</div>
													</li>
													<li>
														<div class="content">150 € / an / benéf</div>
													</li>
													<li>
														<div class="content">150 € / an / benéf</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Forfait contraception</h5>
													<p class="font-s-12">tous moyens de contraception prescrits, non remboursés par le RO</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">1% PMSS</div>
													</li>
													<li>
														<div class="content">1,5% PMSS</div>
													</li>
													<li>
														<div class="content">2% PMSS</div>
													</li>
													<li>
														<div class="content">3,10% PMSS</div>
													</li>
													<li>
														<div class="content">3,10% PMSS</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="d-block">
											<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">DENTAIRE</h4>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Soins</h5>
													<p class="font-s-12">remboursables par le Régime Obligatoire</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">110%</div>
													</li>
													<li>
														<div class="content">120%</div>
													</li>
													<li>
														<div class="content">130%</div>
													</li>
													<li>
														<div class="content">140%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Prothèses dentaires et Orthodontie</h5>
													<p class="font-s-12">remboursables par le Régime Obligatoire dont piliers de bridge-inlays et onlays et
														inlays-cores</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">125%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">200%</div>
													</li>
													<li>
														<div class="content">250%</div>
													</li>
													<li>
														<div class="content">300%</div>
													</li>
													<li>
														<div class="content">400%</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Dentaire</h5>
													<p class="font-s-12">non remboursable par le Régime Obligatoire Prothèses dentaires, orthodontie,
														Implants, Parodontologie (PAR
														AN ET PAR BÉNÉFICIAIRE)</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">200 €</div>
													</li>
													<li>
														<div class="content">300 €</div>
													</li>
													<li>
														<div class="content">400 €</div>
													</li>
													<li>
														<div class="content">500 €</div>
													</li>
													<li>
														<div class="content">600 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="d-block">
											<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">OPTIQUE</h4>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Equipement
														<span class="font-s-12">Monture + 2 Verres simples</span>
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100 €</div>
													</li>
													<li>
														<div class="content">210 €</div>
													</li>
													<li>
														<div class="content">230 €</div>
													</li>
													<li>
														<div class="content">280 €</div>
													</li>
													<li>
														<div class="content">310 €</div>
													</li>
													<li>
														<div class="content">450 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Equipement
														<span class="font-s-12">Monture + 2 Verres complexes</span>
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">200 €</div>
													</li>
													<li>
														<div class="content">270 €</div>
													</li>
													<li>
														<div class="content">320 €</div>
													</li>
													<li>
														<div class="content">400 €</div>
													</li>
													<li>
														<div class="content">470 €</div>
													</li>
													<li>
														<div class="content">700 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Equipement
														<span class="font-s-12">Monture + 2 Verres très complexes</span>
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">200 €</div>
													</li>
													<li>
														<div class="content">370 €</div>
													</li>
													<li>
														<div class="content">390 €</div>
													</li>
													<li>
														<div class="content">650 €</div>
													</li>
													<li>
														<div class="content">780 €</div>
													</li>
													<li>
														<div class="content">800 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Equipement
														<span class="font-s-12">Monture + 1 Verre simple + 1 Verre complexe</span>
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">150 €</div>
													</li>
													<li>
														<div class="content">240 €</div>
													</li>
													<li>
														<div class="content">275 €</div>
													</li>
													<li>
														<div class="content">340 €</div>
													</li>
													<li>
														<div class="content">390 €</div>
													</li>
													<li>
														<div class="content">575 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Equipement
														<span class="font-s-12">Monture + 1 Verre simple + 1 Verre très complexe</span>
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">150 €</div>
													</li>
													<li>
														<div class="content">290 €</div>
													</li>
													<li>
														<div class="content">310 €</div>
													</li>
													<li>
														<div class="content">465 €</div>
													</li>
													<li>
														<div class="content">545 €</div>
													</li>
													<li>
														<div class="content">625 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Equipement
														<span class="font-s-12">Monture + 1 Verre complexe + 1 Verre très complexe</span>
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">200 €</div>
													</li>
													<li>
														<div class="content">320 €</div>
													</li>
													<li>
														<div class="content">355 €</div>
													</li>
													<li>
														<div class="content">525 €</div>
													</li>
													<li>
														<div class="content">625 €</div>
													</li>
													<li>
														<div class="content">750 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Lentilles</h5>
													<p class="font-s-12">remboursables par le Régime Obligatoire (PAR AN ET PAR BÉNÉFICIAIRE)</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">100% + 4,50% PMSS</div>
													</li>
													<li>
														<div class="content">100% + 6% PMSS</div>
													</li>
													<li>
														<div class="content">100% + 7% PMSS</div>
													</li>
													<li>
														<div class="content">100% + 9% PMSS</div>
													</li>
													<li>
														<div class="content">100% + 10% PMSS</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Lentilles</h5>
													<p class="font-s-12">non remboursables par le Régime Obligatoire (PAR AN ET PAR BÉNÉFICIAIRE)</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">4,50% PMSS</div>
													</li>
													<li>
														<div class="content">6% PMSS</div>
													</li>
													<li>
														<div class="content">7% PMSS</div>
													</li>
													<li>
														<div class="content">9% PMSS</div>
													</li>
													<li>
														<div class="content">10% PMSS</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Chirurgie corrective ou réfractive</h5>
													<p class="font-s-12">non remboursable par le Régime Obligatoire Myopie, Hypermétropie, Astigmatisme,
														Presbytie (PAR OEIL / PAR AN
														ET PAR BÉNÉFICIAIRE)</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">-</div>
													</li>
													<li>
														<div class="content">150 €</div>
													</li>
													<li>
														<div class="content">250 €</div>
													</li>
													<li>
														<div class="content">350 €</div>
													</li>
													<li>
														<div class="content">450 €</div>
													</li>
													<li>
														<div class="content">600 €</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="d-block">
											<h4 class="form-title-recap color-skyblue m-b-20-imp m-t-40">APPAREILLAGE</h4>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Prothèses auditives</h5>
													<p class="font-s-12">remboursables par le Régime Obligatoire</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">115%</div>
													</li>
													<li>
														<div class="content">165%</div>
													</li>
													<li>
														<div class="content">265%</div>
													</li>
													<li>
														<div class="content">315%</div>
													</li>
													<li>
														<div class="content">315% + forfait 200 € / an</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5>Orthopédie et prothèses diverses</h5>
													<p class="font-s-12">remboursables par le Régime Obligatoire</p>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">100%</div>
													</li>
													<li>
														<div class="content">110%</div>
													</li>
													<li>
														<div class="content">150%</div>
													</li>
													<li>
														<div class="content">250%</div>
													</li>
													<li>
														<div class="content">300%</div>
													</li>
													<li>
														<div class="content">300%</div>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="savoir" role="tabpanel" aria-labelledby="savoir-tab">
					<div class="tab-header">
						<a class="uppercase" href="">bon à savoir
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<p>Le remboursement rapide et simple des frais médicaux.</p>
						<p>Un tiers payant simple et facile d’accès sur présentation de la carte APIVIA Mutuelle, pour une couverture
							maximale.</p>
						<p>La liberté de choisir son professionnel de santé.</p>
						<p>Un service de télémédecine ou des médecins et spécialistes aident à la compréhension d’un symptôme, et peuvent
							en
							cas de besoin, délivrer une ordonnance électronique.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="m-t-40 m-b-40 division-full"></div>
		<%- partial('../../components/avantages-vetoptim'); %>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>