<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-blue">
	<div class="container">
		<h2>
			<span class="icon icon-activite"></span>PROTECTION DE L’ACTIVITÉ</h2>
	</div>
</div>
<div class="content-section">
	<div class="container">
		<div class="btn-return">
			<a href="javascript:history.back()" class="">
				<span class="icon icon-return"></span>RETOUR</a>
		</div>
		<div class="center-content">
			<!-- <h2 class="color-blue">ACTIVITÉ PROFESSIONNELLE</h2> -->
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
				dolore magna
				aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
				ut
				aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
				consequat,
				vel illum dolore</p>
		</div>
		<div class="bg-grey-light padder-30 m-t-50">
			<h2 class="title-section-small color-blue">DECOUVREZ NOS OFFRES</h2>
			<div class="row row-eq-height">
				<div class="col-md-6 border-r">
					<div class="panel-offre">
						<div class="panel-offre-header">
							<img src="images/externe/offer1.png">
						</div>
						<div class="panel-offre-body">
							<h3>RESPONSABILITÉ CIVILE PRO</h3>
							<p>Le seul contrat qui garantit tous les intervenants.</p>
						</div>
						<div class="panel-offre-footer">
							<div class="panel-offre-footer-absolute" ng-controller="OfferTypeChooser as vm">
								<a href="/responsabilite-civile" class="button button-blue">VOIR L’OFFRE</a>
								<% if ( !req.user || req.user && !req.user.isCommercial) { %>
								<a href="javascript:void(0)" ng-click="vm.setOfferType('CR')" class="button button-pink disabled">JE FAIS UNE
									SIMULATION<span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
								<% } else { %>
								<a href="javascript:void(0)" ng-click="vm.setCommercialOfferType('CR')" class="button button-pink disabled">AJOUTER
									CONTRAT<span class="button-text-small">Le
										parcours en ligne est simple, rapide et sécurisé</span></a>
								<% } %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel-offre">
						<div class="panel-offre-header">
							<img src="images/externe/intervention3.png">
						</div>
						<div class="panel-offre-body">
							<h3>MULTIRISQUE PRO</h3>
							<p>Des garanties 100% Vétos, pour une protection optimale de votre activité</p>
						</div>
						<div class="panel-offre-footer">
							<div class="panel-offre-footer-absolute" ng-controller="OfferTypeChooser as vm">
								<a href="/multirisque-professionelles" class="button button-blue">VOIR L’OFFRE</a>
								<% if ( !req.user || req.user && !req.user.isCommercial) { %>
								<a href="javascript:void(0)" ng-click="vm.setOfferType('PMR')" class="button button-pink disabled">JE FAIS UNE
									SIMULATION<span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
								<% } else { %>
								<a href="javascript:void(0)" ng-click="vm.setCommercialOfferType('PMR')" class="button button-pink disabled">AJOUTER
									CONTRAT<span class="button-text-small">Le
										parcours en ligne est simple, rapide et sécurisé</span></a>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- A vérifier  -->
			<!-- <div class="row row-eq-height">
				<div class="col-md-6 border-r">
					<div class="panel-offre">
						<div class="panel-offre-header">
							<img src="images/externe/intervention1.png">
						</div>						
						<div class="panel-offre-body">
							<h3>RESPONSABILITÉ CIVILE DES MANDATAIRES SOCIAUX</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim</p>
						</div>
						<div class="panel-offre-footer">
							<div class="panel-offre-footer-absolute">
								<a href="#" class="button button-blue">VOIR L’OFFRE</a>
								<a href="#" class="button button-pink disabled"><span class="icon icon-pourcentage"></span>JE FAIS UNE SIMULATION<span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel-offre">
						<div class="panel-offre-header">
							<img src="images/externe/intervention2.png">
						</div>						
						<div class="panel-offre-body">
							<h3>ASSURANCE AUTO</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim</p>
						</div>
						<div class="panel-offre-footer">
							<div class="panel-offre-footer-absolute">
								<a href="#" class="button button-blue">VOIR L’OFFRE</a>
								<a href="#" class="button button-pink disabled"><span class="icon icon-pourcentage"></span>JE FAIS UNE SIMULATION<span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
		<div class="m-t-50 m-b-40 division-full"></div>
		<div class="section-intervention">
			<h2 class="title-section color-blue">VETOPTIM C'EST AUSSI</h2>
			<div class="row row-eq-height">
				<div class="col-lg-6">
					<div class="panel-intervention equal-height panel-green">
						<div class="panel-intervention-content">
							<h3>
								<span class="icon icon-salarier"></span>
								<a href="javascript:void(0)">PROTECTION DES SALARIÉS</a>
								<span class="btn-accordion"></span>
							</h3>
							<ul>
								<li>
									<a href="javascript:void(0)">Santé</a>
									<a href="javascript:void(0)" class="btn-search">
										<span class="icon-search"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">Prévoyance</a>
									<a href="javascript:void(0)" class="btn-search">
										<span class="icon-search"></span>
									</a>
								</li>
							</ul>
						</div>
						<div class="panel-intervention-img">
							<img src="images/externe/intervention3.png">
						</div>
						<a href="javascript:void(0)" class="button button-blue">VOIR LES OFFRES</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="panel-intervention equal-height panel-pink">
						<div class="panel-intervention-content">
							<h3>
								<span class="icon icon-vieprive"></span>
								<a href="javascript:void(0)">PROTECTION DE LA VIE PRIVÉE</a>
								<span class="btn-accordion"></span>
							</h3>
							<ul>
								<li>
									<a href="javascript:void(0)">Auto</a>
									<a href="javascript:void(0)" class="btn-search">
										<span class="icon-search"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">Habitation</a>
									<a href="javascript:void(0)" class="btn-search">
										<span class="icon-search"></span>
									</a>
								</li>
							</ul>
						</div>
						<div class="panel-intervention-img">
							<img src="images/externe/intervention4.png">
						</div>
						<a href="javascript:void(0)" class="button button-blue">VOIR LES OFFRES</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>