<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-blue">
	<div class="container">
		<h2>
			<span class="icon icon-responsabilite"></span>RESPONSABILITÉ CIVILE PROFESSIONNELLE DES VÉTÉRINAIRES
		</h2>
	</div>
</div>
<div class="content-section">
	<div class="container">
		<div class="btn-return">
			<a href="javascript:history.back()" class="">
				<span class="icon icon-return"></span>RETOUR</a>
		</div>
		<div class="center-content">
			<!-- <h2 class="color-blue uppercase">responsabilité civile professionnelle
					<br>des vétérinaires</h2> -->
			<h4 class="color-blue uppercase">le seul contrat qui garantit tous les intervenants
			</h4>
			<!-- <div class="panel-intervention-img">
					<img style="height: 250px;" src="images/externe/intervention1.png">
				</div> -->
		</div>
		<div class="responsabilite-section text-center m-t-40">
			<div class="row">
				<div class="col-xl-4 d-none d-xl-block">
					<img src="images/externe/offer1.png" height="200px">
				</div>
				<div class="col-xl-8 col-lg-12">
					<div class="responsabilite-carousel owl-carousel owl-theme">
						<div class="item">
							<h3 class="color-blue">LE SAVEZ-VOUS ?</h3>
							<p>Les contrats du marché sont standards et ne couvrent pas les actes de vos collaborateurs libéraux & des
								itinérants.</p>
						</div>
						<div class="item">
							<h3 class="color-blue">OPTEZ POUR PLUS DE SÉRÉNITÉ AU QUOTIDIEN</h3>
							<p>En cas de sinistre, votre responsabilité peut être engagée au titre de votre activité professionnelle ainsi
								que celle de vos intervenants extérieurs.</p>
						</div>
						<div class="item">
							<h3 class="color-blue">UNE COUVERTURE OPTIMALE</h3>
							<p>Il couvre votre cabinet, tous vos collaborateurs ainsi que les intervenants extérieurs.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="responsabilite-mobile">
				<div class="row row-eq-height m-b-30">
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">LE <br>SAVEZ-VOUS ?</h3>
							<p>Les contrats du marché sont standard et ne couvrent pas les actes de vos collaborateurs libéraux & des
								itinérants.</p>
						</div>
					</div>
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">OPTEZ POUR PLUS DE SÉRÉNITÉ AU QUOTIDIEN</h3>
							<p>En cas de sinistre, votre responsabilité peut être engagée au titre de votre activité professionnelle ainsi
								que celle de vos intervenants extérieurs.</p>
						</div>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-6">
						<div class="bg-grey-light padder-15 h-full">
							<h3 class="color-blue">UNE COUVERTURE OPTIMALE</h3>
							<p>Il couvre votre cabinet, tous vos collaborateurs ainsi que les intervenants extérieurs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-t-30 m-b-40 division-full"></div>
		<div class="responsabilite-content">
			<div class="text-center" ng-controller="OfferTypeChooser as vm">
				<% if ( !req.user || req.user && !req.user.isCommercial) { %>
				<a href="javascript:void(0)" ng-click="vm.setOfferType('CR')" class="button button-pink disabled"><span class="icon icon-pourcentage"></span>
					JE FAIS UNE SIMULATION <span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
				<% } else { %>
				<a href="javascript:void(0)" ng-click="vm.setCommercialOfferType('CR')" class="button button-pink disabled"><span
					 class="icon icon-pourcentage"></span> AJOUTER
					CONTRAT <span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
				<% } %>
				</a>
			</div>
			<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="bref-tab" data-toggle="tab" href="#bref" role="tab" aria-controls="bref"
					 aria-selected="true">
						<span>EN BREF</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail"
					 aria-selected="false">
						<span>EN DÉTAILS</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="savoir-tab" data-toggle="tab" href="#savoir" role="tab" aria-controls="savoir"
					 aria-selected="false">
						<span>BON À SAVOIR</span>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="bref" role="tabpanel" aria-labelledby="bref-tab">
					<div class="tab-header">
						<a href="">EN BREF
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<p>La responsabilité civile professionnelle vétérinaire est obligatoire pour exercer votre activité : Elle doit
							couvrir la clinique, ses dirigeants, les vétérinaires et autres salariés.</p>
						<h4 class="form-title-recap color-skyblue m-b-20-imp uppercase">ET EN PLUS…</h4>
						<ul class="responsabilite-liste">
							<li>
								<p>Des garanties construites avec des vétérinaires, pour une protection optimisée.</p>
							</li>
							<li>
								<p>La seule RESPONSABILITÉ CIVILE PROFESSIONNELLE qui couvre tous les intervenants de la clinique sans
									déclaration nominative.</p>
							</li>
							<li>
								<p>Une défense pénale couverte jusqu’à <span class="bold">50 000 €</span> pour une protection maximale.</p>
							</li>
							<li>
								<p>Une couverture par animal jusqu’à <span class="bold">30 000 €</span>.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="detail" role="tabpanel" aria-labelledby="detail-tab">
					<div class="tab-header">
						<a href="">EN DÉTAILS
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<ul class="garanties-rc-liste">
							<li>
								<div class="garanties multiple">
									<ul class="liste-garantie">
										<li>
											<div class="left-nature">GARANTIES</div>
											<div class="right">
												<ul class="right-liste header">
													<li>
														<div class="content">NATURE DES DOMMAGES</div>
													</li>
													<li>
														<div class="content">MONTANTS MAXIMA DES GARANTIES</div>
													</li>
													<li>
														<div class="content">FRANCHISE PAR SINISTRE</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5 class="bold">1. RC. Exploitation</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">
															<p>Dommages
																<strong>corporels, matériels</strong> et
																<strong>immatériels</strong> confondus
																<strong>sans pouvoir dépasser pour</strong> :</p>
															<p>- maladies professionnelles et faute inexcusable</p>
															<p>- dommages
																<strong>matériels</strong> et
																<strong>immatériels consécutifs</strong>
															</p>
															<p>- dommages
																<strong>immatériels non consécutifs</strong>
															</p>
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 7000000 | currencyFormat}}</span> par sinistre</p>
															<p>
																<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par année d'assurance et quelque
																soit le nombre de victime</p>
															<p>
																<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par sinistre</p>
															<p>
																<span class="bold color-skyblue">non garantis</span>
															</p>
													</li>
													<li>
														<div class="content">
															<p> Néant</p>
															<br>
															<p>
																<span class="bold color-skyblue">{{ 500 | currencyFormat}}</span>
															</p>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5 class="bold">2. RC. VOL
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content bold">
															Tous dommages confondus
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 30000 | currencyFormat}}</span> par sinistre
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
															</p>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5 class="bold">3. Effets personnels des préposés
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">
															Dommages
															<strong>matériels</strong>
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 30000 | currencyFormat}}</span> par sinistre
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
															</p>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5 class="bold">4. Détériorations accidentelles aux véhicules des clients en stationnement dans
														l’enceinte de l’établissement
														exploité par l’assuré
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">
															<p>Dommages
																<strong>matériels</strong>
															</p>
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 50000 | currencyFormat}}</span> par sinistre
															</p>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">10% </span>du montants
																<br> des dommages
																<br> Mini
																<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
																<br> Maxi
																<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
															</p>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5 class="bold">5. Atteintes à l’environnement
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">
															<p>Dommages
																<strong>corporels, matériels et immatériels</strong> confondus
																<strong>sans pouvoir dépasser pour </strong>:</p>
															<p>- dommages
																<strong>matériels et immatériels</strong>
															</p>
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 600000 | currencyFormat}}</span> par année d'assurance</p>
															<p>
																<span class="bold color-skyblue">{{ 80000 | currencyFormat}}</span> par sinistre</p>
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
																<br>
																<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
															</p>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5 class="bold">6. Responsabilité Civile Professionnelle et Après Livraison de produits
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">
															<p>Dommages corporels, matériels et immatériels confondus sans pouvoir dépasser pour :</p>
															<p>- dommages
																<strong>matériels et immatériels consécutifs</strong>(y compris dommages aux animaux)</p>
															<p>- dommages
																<strong>matériels et immatériels consécutifs</strong> aux biens confiés chez l’assuré (hors animaux
																selon paragraphe
																56 b) des Conditions Générales)</p>
															<p>- dommages causés par des produits vendus ou fabriqués par l’assuré</p>
															<p>- dommages
																<strong>immatériels non consécutifs</strong>
															</p>
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 3000000 | currencyFormat}}</span> par sinistre et par année
																d'assurance dont :</p>
															<p>
																<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par sinistre et par année
																d'assurance avec un maximum de {{ 30000 |
																currencyFormat}} par animal</p>
															<p>
																<span class="bold color-skyblue">{{ 50000 | currencyFormat}}</span> par sinistre et par année</p>
															<p>
																<span class="bold color-skyblue">{{ 1000000 | currencyFormat}}</span> par sinistre et par année
																d'assurance </p>
															</p>
															<p>
																<span class="bold color-skyblue">{{ 150000 | currencyFormat}}</span> par sinistre et par année
																d'assurance </p>
															</p>
														</div>
													</li>
													<li>
														<div class="content">
															<p>
																<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
															</p>
															<br>
															<p>
																<span class="bold color-skyblue">10% </span>du montants
																<br> des dommages
																<br> Mini
																<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
																<br> Maxi
																<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
															</p>
															<br>
															<p>
																<span class="bold color-skyblue">{{ 500 | currencyFormat}}</span>
															</p>
															<br>
															<p>
																<span class="bold color-skyblue">{{ 1000 | currencyFormat}}</span>
															</p>
															<br>
															<p>
																<span class="bold color-skyblue">{{ 1500 | currencyFormat}}</span>
															</p>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<div class="left">
												<div class="content">
													<h5 class="bold">7. Défense pénale
														<br>et recours suite à accident
													</h5>
												</div>
											</div>
											<div class="right">
												<ul class="right-liste">
													<li>
														<div class="content">
															Tous frais confondus
														</div>
													</li>
													<li>
														<div class="content">
															<span class="bold color-skyblue">{{ 15000 | currencyFormat}}</span> par sinistre
															<br> et
															<span class="bold color-skyblue">{{ 50000 | currencyFormat}}</span> par année d'assurance
														</div>
													</li>
													<li>
														<div class="content">
															<p>Seuil d’intervention en recours :
																<span class="bold color-skyblue">{{ 300 | currencyFormat}}</span>
															</p>
														</div>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="savoir" role="tabpanel" aria-labelledby="savoir-tab">
					<div class="tab-header">
						<a href="">BON À SAVOIR
							<span></span>
						</a>
					</div>
					<div class="tab-body">
						<p>Vétérinaires libéraux, vétérinaires salariés, collaborateurs libéraux, itinérants, ASV et collaborateurs de la
							clinique,
							tous les intervenants sont couverts sans déclaration nominative !</p>
						<ul class="responsabilite-liste">
							<li>
								<h4 class="form-title-recap color-skyblue m-b-20-imp">Comparez !</h4>
								<p>Alors que la plupart des assurances vous propose un montant garanti pour couvrir l’ensemble des animaux en
									cas de sinistre, nous vous proposons un montant de 30 000 € par animal.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="m-t-40 m-b-40 division-full"></div>
		<%- partial('../../components/avantages-vetoptim'); %>
	</div>
</div>
<%- partial('../../components/right-sidebar'); %>