<%- partial('../../partials/header-page', {'title': ''}); %>
<div class="header-title bg-skyblue">
    <div class="container">
        <h2>
            <span class="icon icon-responsabilite"></span>Résponsabilité civile des dirigeants</h2>
    </div>
</div>
<div class="content-section">
    <div class="container">
        <div class="btn-return">
            <a href="javascript:history.back()" class="">
                <span class="icon icon-return"></span>RETOUR</a>
        </div>
        <div class="center-content">
            <!-- <h2 class="color-blue">Mutuelle entreprise Santé +</h2> -->
            <h4 class="color-blue uppercase">Résponsabilité civile des dirigeants</h4>
        </div>
        <div class="responsabilite-section text-center m-t-40">
            <div class="row">
                <div class="col-xl-4 d-none d-xl-block">
                    <img src="images/externe/intervention2.png">
                </div>
                <div class="col-xl-8 col-lg-12">
                    <div class="responsabilite-carousel owl-carousel owl-theme">
                        <div class="item">
                            <h3 class="color-blue">UN RISQUE QUI VOUS<br> CONCERNE TOUS</h3>
                            <p>Quel que soit la forme juridique de votre entreprise, que vous soyez vétérinaire,
                                dirigeant de droit ou de fait , vous pouvez être mis en cause et redevable sur votre
                                patrimoine personnel.
                            </p>
                        </div>
                        <div class="item">
                            <h3 class="color-blue">UNE COUVERTURE OPTIMALE</h3>
                            <p>Parce que vous prenez chaque jour des décisions susceptibles d’engager votre
                                responsabilité personnelle et votre patrimoine, le contrat VETOPTIM prend en charge les
                                frais de défense, et les dommages que vous êtes tenu de régler, suite à toute
                                réclamation introduite à votre encontre, y compris une réclamation sociale.
                            </p>
                        </div>
                        <div class="item">
                            <h3 class="color-blue">Les avantages du<br> contrat VETOPTIM</h3>
                            <p>Un accompagnement personnalisé en cas de sinistre.<br>
                                Une souscription simplifiée <br>jusqu’à 5 M d’€ de CA.<br>
                                Un contrat lisible et clair.<br>
                                Un tarif compétitif.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="responsabilite-mobile">
                <div class="row row-eq-height m-b-30">
                    <div class="col-6">
                        <div class="bg-grey-light padder-15 h-full">
                            <h3 class="color-blue">UN RISQUE QUI VOUS<br> CONCERNE TOUS</h3>
                            <p>Quel que soit la forme juridique de votre entreprise, que vous soyez vétérinaire,
                                dirigeant de droit ou de fait , vous pouvez être mis en cause et redevable sur votre
                                patrimoine personnel.
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-grey-light padder-15 h-full">
                            <h3 class="color-blue">UNE COUVERTURE OPTIMALE</h3>
                            <p>Parce que vous prenez chaque jour des décisions susceptibles d’engager votre
                                responsabilité personnelle et votre patrimoine, le contrat VETOPTIM prend en charge les
                                frais de défense, et les dommages que vous êtes tenu de régler, suite à toute
                                réclamation introduite à votre encontre, y compris une réclamation sociale.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row-eq-height m-b-30">
                    <div class="col-6">
                        <div class="bg-grey-light padder-15 h-full">
                            <h3 class="color-blue">Les avantages du contrat VETOPTIM</h3>
                            <p>Un accompagnement personnalisé en cas de sinistre.<br>
                                Une souscription simplifiée jusqu’à 5 M d’€ de CA.<br>
                                Un contrat lisible et clair.<br>
                                Un tarif compétitif.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-t-30 m-b-40 division-full"></div>
        <div class="responsabilite-content">
            <div class="text-center" ng-controller="OfferTypeChooser as vm">
                <% if ( !req.user || req.user && !req.user.isCommercial) { %>
                <a href="javascript:void(0)" ng-click="vm.setOfferType('RCMS')" class="button button-pink disabled"><span
                        class="icon icon-pourcentage"></span>
                    JE FAIS UNE SIMULATION <span class="button-text-small">Le parcours en ligne est simple, rapide et
                        sécurisé</span></a>
                <% } else { %>
                <a href="javascript:void(0)" ng-click="vm.setCommercialOfferType('RCMS')" class="button button-pink disabled"><span
                        class="icon icon-pourcentage"></span> AJOUTER
                    CONTRAT <span class="button-text-small">Le parcours en ligne est simple, rapide et sécurisé</span></a>
                <% } %>
            </div>
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="bref-tab" data-toggle="tab" href="#bref" role="tab" aria-controls="bref"
                        aria-selected="true">
                        <span>EN BREF</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail"
                        aria-selected="false">
                        <span>EN DÉTAILS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="savoir-tab" data-toggle="tab" href="#savoir" role="tab" aria-controls="savoir"
                        aria-selected="false">
                        <span>BON À SAVOIR</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="bref" role="tabpanel" aria-labelledby="bref-tab">
                    <div class="tab-header">
                        <a class="uppercase" href="">en bref
                            <span></span>
                        </a>
                    </div>
                    <div class="tab-body">
                        <ul class="responsabilite-liste">
                            <li>
                                <p>Tous les jours, dans l’exercice de votre fonction de dirigeant, vous prenez des
                                    décisions susceptibles de vous amener à devoir rendre compte devant différentes
                                    autorités.
                                </p>
                            </li>
                            <li>
                                <p>En tant que Dirigeant de droit ou de fait vous exposez votre patrimoine personnel,
                                    l’organisation et la sérénité de votre vie professionnelle et familiale : votre
                                    responsabilité peut être recherchée par vos salariés, vos fournisseurs ou vos
                                    clients,
                                </p>
                            </li>
                        </ul>
                        <p>C’est pourquoi la garantie Responsabilité Civile des Mandataires Sociaux (RCMS), est une
                            garantie indispensable pour les vétérinaires qui exercent des fonctions de gestionnaires
                            d’entreprises ou de président d’association,
                        </p>
                    </div>
                </div>
                <div class="tab-pane" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                    <div class="tab-header">
                        <a href="">EN DÉTAILS
                            <span></span>
                        </a>
                    </div>
                    <div class="tab-body">
                        <ul class="garanties-liste">
                            <li>
                                <div class="garanties multiple rcms-garanties">
                                    <ul class="liste-garantie">
                                        <li>
                                            <div class="left bg-blue">
                                                <div class="content">
                                                    <h5>Responsabilité des Dirigeants</h5>
                                                </div>
                                            </div>
                                            <div class="right bg-skyblue">
                                                <div class="content">
                                                    <h6>
                                                        Limite de Garantie par Période d’Assurance
                                                        selon l’option choisie dans le tableau
                                                        ci-dessus
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-block m-t-40">
                                            <h4 class="form-title-recap color-skyblue m-b-20-imp">Dont en sous-limites
                                                pour les
                                                Dirigeants personnes
                                                physiques:</h4>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Reconstitution de garantie « personnes physiques »</p>
                                                    <p>- Reconstitution de garantie « administrateurs indépendants »</p>
                                                    <p>- Réclamations Sociale</p>
                                                    <p>- Atteinte à l’environnement</p>
                                                    <p>- Hygiènes & Sécurité</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        <span class="bold color-skyblue">100%</span> de la limite
                                                        applicable au
                                                        contrat
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Anciens dirigeants</p>
                                                    <p>- Plaider coupable</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        <span class="bold color-skyblue">100%</span> de la limite
                                                        applicable au
                                                        contrat
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-block m-t-40">
                                            <h4 class="form-title-recap color-skyblue m-b-20-imp">Dont en sous-limites
                                                à partir de
                                                600 000 € de couverture
                                                pour les Dirigeants personnes morales:</h4>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Personne morale administrateur « montante »</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        Néant
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Personne morale administrateur « descendante »</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        <span class="bold color-skyblue">100%</span> de la limite
                                                        applicable au
                                                        contrat
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Réclamation « boursière »</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        Néant
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Faute « non séparable »</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        <span class="bold color-skyblue">100%</span> de la limite
                                                        applicable au
                                                        contrat
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Réclamations « conjointes »</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        <span class="bold color-skyblue">100%</span> de la limite
                                                        applicable au
                                                        contrat
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Fonds de prévention des entreprises en difficulté</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        <span class="bold color-skyblue">100%</span> de la limite
                                                        applicable au
                                                        contrat
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-block m-t-40">
                                            <h4 class="form-title-recap color-skyblue m-b-20-imp">Services et
                                                assistances:</h4>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Relations publiques, Image & Soutien psychologique</p>
                                                    <p>- Frais de prévention</p>
                                                    <p>- Procédure d’extradition</p>
                                                    <p>- Procédure de privation de biens ou liberté</p>
                                                    <p>- Frais de constitution de caution</p>
                                                    <p>- Contrôle fiscal</p>
                                                    <p>- Crise</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        <span class="bold color-skyblue">100%</span> de la limite
                                                        applicable au
                                                        contrat
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-block m-t-40">
                                            <h4 class="form-title-recap color-skyblue m-b-20-imp">Extensions:</h4>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>- Filiale</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        Incluse
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <div class="content">
                                                    <p>Franchise par sinistre</p>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="content">
                                                    <p>
                                                        Néant
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="savoir" role="tabpanel" aria-labelledby="savoir-tab">
                    <div class="tab-header">
                        <a class="uppercase" href="">bon à savoir
                            <span></span>
                        </a>
                    </div>
                    <div class="tab-body">
                        <p>En tant que dirigeant, votre responsabilité civile personnelle peut être engagée, pour de
                            nombreux motifs pas toujours faciles à appréhender, en voici quelques exemples :</p>
                        <ul class="responsabilite-liste">
                            <li>
                                <p>Violation des statuts de l’entreprise (ex : non respect des règles entre associés en
                                    matière d’investissements).
                                </p>
                            </li>
                            <li>
                                <p>Violation des dispositions législatives ou règlementaires (ex : accident du travail,
                                    non respect des règles en matière d’hygiène, de sécurité etc…)
                                </p>
                            </li>
                            <li>
                                <p>Faute de gestion (ex : souscription disproportionnées d’emprunts)
                                </p>
                            </li>
                        </ul>
                        <p>La loi ne prévoit aucune exonération, ni aucune limite à cette responsabilité</p>
                        <p>C’est pourquoi avec la garantie Responsabilité civile des Mandataires Sociaux (RCMS), que
                            vous propose VETOPTIM, vous bénéficiez d’une protection renforcée avec</p>
                        <ul>
                            <li>Une <span class="bold">garantie de frais de dépense</span> dès que votre responsabilité
                                est mise en cause</li>
                            <li>Une <span class="bold">assurance des conséquences financières</span> de votre
                                responsabilité</li>
                        </ul>
                        <p>Objet du contrat VETOPTIM Responsabilité du dirigeant:</p>
                        <p>Votre assurance prend en charge les frais de défense encourus par les assurés, et les
                            dommages qu’ils sont tenus de régler, suite à toute réclamation introduite à leur encontre,
                            y compris une réclamation sociale, sur le fondement d’une faute.</p>
                        <p>Les «+» de votre contrat: </p>
                        <ul>
                            <li>Un tarif compétitif</li>
                            <li>Un contrat lisible et clair</li>
                            <li>Une souscription simplifiée jusqu’à 5 M d’€ de CA</li>
                            <li>Un accompagnement personnalisé en cas de sinistre</li>
                            <li>Un assureur de renommée internationale spécialisé dans gestion et la maitrise des
                                risques du chef d’entreprise (HYALIN)</li>
                            <li>Pas de sous limite de garantie pour les Dirigeants personnes physiques</li>
                            <li>Pas de sous limite de garantie jusqu’à 600 000 € de couverture pour les Dirigeants
                                personnes morales</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-t-40 m-b-40 division-full"></div>
        <%- partial('../../components/avantages-vetoptim'); %>
    </div>
</div>
<%- partial('../../components/right-sidebar'); %>